Github Repo/Node Red Code/Siri Controls/Siri - Control Relays.txt
[{"id":"7263490b.360ea8","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":631.7500381469727,"y":54.583335876464844,"wires":[]},{"id":"6b500bf3.768b04","type":"rpi-gpio out","z":"3d8a9e5d.123382","name":"Relay 1 - Pin 11 GPIO 17","pin":"11","set":true,"level":"1","out":"out","x":1440.7083053588867,"y":150.91668319702148,"wires":[]},{"id":"46385aec.aa8794","type":"rpi-gpio out","z":"3d8a9e5d.123382","name":"Relay 2 - Pin 13 GPIO 27","pin":"13","set":true,"level":"1","out":"out","x":1432.4583053588867,"y":218.41668701171875,"wires":[]},{"id":"b63a3f4c.8cedc","type":"rpi-gpio out","z":"3d8a9e5d.123382","name":"Relay 3 - Pin 15 GPIO 22","pin":"15","set":true,"level":"1","out":"out","x":1440.9582977294922,"y":278.16668033599854,"wires":[]},{"id":"1fa4482.9b805b8","type":"inject","z":"3d8a9e5d.123382","name":"Relay 1 on","topic":"","payload":"relay one on","payloadType":"str","repeat":"","crontab":"","once":false,"x":331.5833511352539,"y":175.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"d6065e3a.ae3e5","type":"inject","z":"3d8a9e5d.123382","name":"Relay 1 off","topic":"","payload":"relay one off","payloadType":"str","repeat":"","crontab":"","once":false,"x":332.5833511352539,"y":216.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"657d5ead.c0419","type":"inject","z":"3d8a9e5d.123382","name":"Relay 2 on","topic":"","payload":"relay two on","payloadType":"str","repeat":"","crontab":"","once":false,"x":333.5833511352539,"y":259.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"52088f8b.d188b","type":"inject","z":"3d8a9e5d.123382","name":"Relay 2 off","topic":"","payload":"relay two off","payloadType":"str","repeat":"","crontab":"","once":false,"x":334.5833511352539,"y":298.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"51c90eca.5e859","type":"inject","z":"3d8a9e5d.123382","name":"Relay 3 on","topic":"","payload":"relay three on","payloadType":"str","repeat":"","crontab":"","once":false,"x":332.8333549499512,"y":339.00003719329834,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"e8b55df0.3c8c2","type":"inject","z":"3d8a9e5d.123382","name":"Relay 3 off","topic":"","payload":"relay three off","payloadType":"str","repeat":"","crontab":"","once":false,"x":330.5833549499512,"y":378.2500295639038,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"1ae486fd.103889","type":"switch","z":"3d8a9e5d.123382","name":"Relay One Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"relay 1 on","vt":"str"},{"t":"eq","v":"relay 1 off","vt":"str"},{"t":"eq","v":"relay 2 on","vt":"str"},{"t":"eq","v":"relay 2 off","vt":"str"},{"t":"eq","v":"relay 3 on","vt":"str"},{"t":"eq","v":"relay 3 off","vt":"str"},{"t":"eq","v":"garage door open","vt":"str"},{"t":"eq","v":"garage door close","vt":"str"}],"checkall":"true","outputs":8,"x":882.083366394043,"y":119.7500228881836,"wires":[["22f48d8.e39c172","6693ce87.11918"],["22f48d8.e39c172","6693ce87.11918"],["44f47143.2288f","6693ce87.11918"],["44f47143.2288f","6693ce87.11918"],["6b6fcbb0.683d54","6693ce87.11918"],["6b6fcbb0.683d54","6693ce87.11918"],["22f48d8.e39c172"],["22f48d8.e39c172"]]},{"id":"319da802.1c06e8","type":"function","z":"3d8a9e5d.123382","name":"Split Data - Relay Controls","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // llok for word relay\n    { \n    if (msgdata[i] == \"relay\")\n        {\n        var relay_index = i;\n        //node.send ({payload:[msgdata[relay_index]]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"one\")\n        {\n        var one_index = i;\n        var relay_number = 1;\n        //node.send ({payload:[msgdata[one_index]]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word two\n    { \n    if (msgdata[i] == \"two\")\n        {\n        var two_index = i;\n        var relay_number = 2;\n        //node.send ({payload:[msgdata[two_index]]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word three\n    { \n    if (msgdata[i] == \"three\")\n        {\n        var three_index = i;\n        var relay_number = 3;\n        //node.send ({payload:[msgdata[three_index]]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word on\n    { \n    if (msgdata[i] == \"on\")\n        {\n        var on_index = i;\n        var relay_mode = 'on';\n        //var d_msg = (\"relay \" + relay_number + \" on\");\n        //return [\"relay \" + relay_number + \" on\"];\n        //node.send ({payload:[msgdata[on_index]]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word off\n    { \n    if (msgdata[i] == \"off\")\n        {\n        var off_index = i;\n        var relay_mode = 'off';\n        //var d_msg = (\"relay \" + relay_number + \" off\");\n        //return [\"relay \" + relay_number + \" off\"];\n        //node.send ({payload:[msgdata[off_index]]});\n        }\n    }\n\n//send to output on off signals to the three ports    \nif (relay_number == 1)\n    {\n    //var d_msg = (\"relay \" + relay_number + \" off\");\n    //return [\"relay \" + relay_number + \" off\"];\n    node.send ({payload:[\"relay 1 \" + relay_mode]});\n    \n    //node.send ({payload:[\"relay \" + relay_number + \" on/off\"]});\n    //return ['out 1',null,null];\n    }\nif (relay_number == 2)\n    {\n    node.send ({payload:[\"relay 2 \" + relay_mode]});        \n    //node.send ({payload:[null,\"relay 2 \" + relay_mode,null]});        \n    \n    //return [null,'out 2',null];\n    }\nif (relay_number == 3)\n    {\n    node.send ({payload:[\"relay 3 \" + relay_mode]});    \n    //node.send ({payload:[null,null,\"relay 3 \" + relay_mode]});    \n    //node.send ({payload:[\"relay \" + relay_number + \" on/off\"]});\n    //return [null,null,'out 3'];\n    }\n\n//node.send ({payload:[datalength]});\n\nreturn [null];\n\n\n\n\n//working code\n//var msgdata = msg.payload.split(\" \");\n//var datalength = msgdata.length;\n//node.send ({payload:[msgdata[0]]});\n//node.send ({payload:[msgdata[1]]});\n//node.send ({payload:[msgdata[2]]});\n//node.send ({payload:[datalength]});\n//return [null];\n","outputs":"1","noerr":0,"x":619.0000762939453,"y":119.50003242492676,"wires":[["1ae486fd.103889","6a8316e2.b0d348"]]},{"id":"22f48d8.e39c172","type":"function","z":"3d8a9e5d.123382","name":"Relay 1 Control","func":"msg = msg.payload;\nvar relay_mode;\nif (msg == \"relay 1 on\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nif (msg == \"relay 1 off\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }\nif (msg == \"garage door open\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nif (msg == \"garage door close\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }    \nreturn [null];  ","outputs":1,"noerr":0,"x":1193.9582061767578,"y":150.8333683013916,"wires":[["6b500bf3.768b04"]]},{"id":"44f47143.2288f","type":"function","z":"3d8a9e5d.123382","name":"Relay 2 Control","func":"msg = msg.payload;\nvar relay_mode;\nif (msg == \"relay 2 off\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }\nif (msg == \"relay 2 on\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nreturn [null];  ","outputs":1,"noerr":0,"x":1199.9999465942383,"y":218.33335137367249,"wires":[["46385aec.aa8794"]]},{"id":"6b6fcbb0.683d54","type":"function","z":"3d8a9e5d.123382","name":"Relay 3 Control","func":"msg = msg.payload;\nvar relay_mode;\nif (msg == \"relay 3 off\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }\nif (msg == \"relay 3 on\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nreturn [null];  ","outputs":1,"noerr":0,"x":1201.2499465942383,"y":278.3333513736725,"wires":[["b63a3f4c.8cedc"]]},{"id":"6693ce87.11918","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":1235.624900817871,"y":72.77789115905762,"wires":[]},{"id":"6a8316e2.b0d348","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":869.3750839233398,"y":205.6944456100464,"wires":[]},{"id":"6538f0c9.e0ec3","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":422.7083206176758,"y":48.61111640930176,"wires":[]},{"id":"547cf1f1.f0e47","type":"link in","z":"3d8a9e5d.123382","name":"Relay Data From Siri","links":["5ba4435b.ef26fc"],"x":252.07146167755127,"y":60.61905336380005,"wires":[["6538f0c9.e0ec3","7263490b.360ea8","319da802.1c06e8"]]}]