Github Repo/Node Red Code/Siri Controls/Siri - Air Con Data.txt
[{"id":"d4b3121c.172cc","type":"function","z":"21331932.c3a986","name":"Split Data -  Air Conditioner Zone stuff","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"Zone\")\n        {\n        var Aircon_index = i;\n        //var relay_number = 1;\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word on\n    { \n    if (msgdata[i] == \"on\")\n        {\n        var on_index = i;\n        var aircon_pwr = 'on';\n        //node.send ({payload:[\"Aircon on\"]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word off\n    { \n    if (msgdata[i] == \"off\")\n        {\n        var off_index = i;\n        var aircon_pwr = 'off';\n        //node.send ({payload:[\"Aircon off\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word zone 1\n    { \n    if (msgdata[i] == \"one\")\n        {\n        var zone_index = i;\n        var aircon_zone = 1;\n        //node.send ({payload:[\"Aircon zone 1\"]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word to\n    { \n    if (msgdata[i] == \"to\")\n        {\n        var zone_index = i;\n        var aircon_zone = 2;\n        //node.send ({payload:[\"Aircon zone 2\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word zone 2\n    { \n    if (msgdata[i] == \"two\")\n        {\n        var zone_index = i;\n        var aircon_zone = 2;\n        //node.send ({payload:[\"Aircon zone 2\"]});\n        }\n    }\n\nif (aircon_zone == 1)\n    {\n    if (aircon_pwr == 'on')\n        {\n        node.send ({payload:[\"Aircon zone 1 on\"]});    \n        }\n    if (aircon_pwr == 'off')\n        {\n        node.send ({payload:[\"Aircon zone 1 off\"]});    \n        }\n    }\nif (aircon_zone == 2)\n    {\n    if (aircon_pwr == 'on')\n        {\n        node.send ({payload:[\"Aircon zone 2 on\"]});    \n        }\n    if (aircon_pwr == 'off')\n        {\n        node.send ({payload:[\"Aircon zone 2 off\"]});    \n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":699.2142944335938,"y":461.4444456100464,"wires":[["42d47ad4.ff2ee4","39a3d08e.44e77"]]},{"id":"42d47ad4.ff2ee4","type":"debug","z":"21331932.c3a986","name":"","active":true,"console":"false","complete":"false","x":1136.6428909301758,"y":400.7103633880615,"wires":[]},{"id":"fa58e6ee.56f7a8","type":"function","z":"21331932.c3a986","name":"Split Data -  Air Conditioner Heat Cooling Selection","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar aircon_ctl = 0;\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"Aircon\")\n        {\n        var Aircon_index = i;\n        aircon_ctl = 1;\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word on\n    { \n    if (msgdata[i] == \"on\")\n        {\n        var on_index = i;\n        var aircon_pwr = 'on';\n        //node.send ({payload:[\"Aircon on\"]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word off\n    { \n    if (msgdata[i] == \"off\")\n        {\n        var off_index = i;\n        var aircon_pwr = 'off';\n        //node.send ({payload:[\"Aircon off\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word heat\n    { \n    if (msgdata[i] == \"heat\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'heat';\n        //node.send ({payload:[\"Aircon heating\"]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word cool\n    { \n    if (msgdata[i] == \"cool\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'cool';\n        //node.send ({payload:[\"Aircon cooling\"]});\n        }\n    }\n\n\nif (aircon_ctl == 1)\n    {\n    if (aircon_pwr == 'on')\n        {\n        node.send ({payload:[\"Aircon on\"]});\n        }\n    if (aircon_pwr == 'off')\n        {\n        node.send ({payload:[\"Aircon off\"]});\n        }\n    }\n\nif (aircon_mode == 'cool')\n    {\n    if (aircon_pwr == 'on')\n        {\n        node.send ({payload:[\"Aircon cooling on\"]});\n        }\n    if (aircon_pwr == 'off')\n        {\n        node.send ({payload:[\"Aircon cooling off\"]});\n        }\n    }\nif (aircon_mode == 'heat')\n    {\n    if (aircon_pwr == 'on')\n        {\n        node.send ({payload:[\"Aircon heating on\"]});\n        }\n    if (aircon_pwr == 'off')\n        {\n        node.send ({payload:[\"Aircon heating off\"]});\n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":716.8333587646484,"y":654.7777900695801,"wires":[["42d47ad4.ff2ee4","39a3d08e.44e77"]]},{"id":"f0c323b7.cdb0c","type":"inject","z":"21331932.c3a986","name":"Zone One On","topic":"","payload":"zone one on","payloadType":"str","repeat":"","crontab":"","once":false,"x":144.3333282470703,"y":442.66669178009033,"wires":[["d4b3121c.172cc"]]},{"id":"313a0791.6f45d8","type":"inject","z":"21331932.c3a986","name":"Zone One Off","topic":"","payload":"zone one off","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.1666717529297,"y":480.11110496520996,"wires":[["d4b3121c.172cc"]]},{"id":"cf02ae9b.5daab","type":"inject","z":"21331932.c3a986","name":"Zone Two Off","topic":"","payload":"zone two off","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.1666717529297,"y":554.1111106872559,"wires":[["d4b3121c.172cc"]]},{"id":"582d0556.d5506c","type":"inject","z":"21331932.c3a986","name":"Zone Two On","topic":"","payload":"zone two on","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.1666717529297,"y":519.1111087799072,"wires":[["d4b3121c.172cc"]]},{"id":"8afb2604.98c778","type":"function","z":"21331932.c3a986","name":"Split Data -  Air Conditioner Temperature Controls","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar preset_mode = \"\";\nfor (i = 0; i < msgdata.length; i++) // look for the word temp\n    { \n    if (msgdata[i] == \"temp\")\n        {\n        var ctl_index = i;\n        var aircon_ctl = 'temp';\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word temp\n    { \n    if (msgdata[i] == \"temperature\")\n        {\n        var ctl_index = i;\n        var aircon_ctl = 'temp';\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word heat\n    { \n    if (msgdata[i] == \"heat\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'heat';\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word heating\n    { \n    if (msgdata[i] == \"heating\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'heat';\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word cooling\n    { \n    if (msgdata[i] == \"cooling\")\n        {\n        var cool_index = i;\n        var aircon_mode = 'cool';\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word cool\n    { \n    if (msgdata[i] == \"cool\")\n        {\n        var cool_index = i;\n        var aircon_mode = 'cool';\n        }\n    }\n    \nfor (i = 0; i < msgdata.length; i++) // look for the word preset\n    { \n    if (msgdata[i] == \"preset\")\n        {\n        var preset_index = i;\n        preset_mode = 'preset';\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word up\n    { \n    if (msgdata[i] == \"up\")\n        {\n        var sliding_temp_index = i;\n        var sliding_aircon_temp = 'up';\n        }\n    }\n    \nfor (i = 0; i < msgdata.length; i++) // look for the word down\n    { \n    if (msgdata[i] == \"down\")\n        {\n        var sliding_temp_index = i;\n        var sliding_aircon_temp = 'down';\n        }\n    }\n\nif (aircon_mode == 'cool')\n    {\n    if (sliding_aircon_temp == 'up')\n        {\n        node.send ({payload:[\"Aircon cooling up\"]});\n        }\n    if (sliding_aircon_temp == 'down')\n        {\n        node.send ({payload:[\"Aircon cooling down\"]});\n        }\n    }\n\nif (aircon_mode == 'heat')\n    {\n    if (sliding_aircon_temp == 'up')\n        {\n        node.send ({payload:[\"Aircon heating up\"]});\n        }\n    if (sliding_aircon_temp == 'down')\n        {\n        node.send ({payload:[\"Aircon heating down\"]});\n        }\n    }\n\nif (preset_mode == 'preset')\n    {\n    if (aircon_mode == 'heat')\n        {\n        node.send ({payload:[\"Aircon heating preset\"]});\n        }\n    if (aircon_mode == 'cool')\n        {\n        node.send ({payload:[\"Aircon cooling preset\"]});\n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":735.4048004150391,"y":550.6706624031067,"wires":[["42d47ad4.ff2ee4","39a3d08e.44e77"]]},{"id":"39b7160b.482fba","type":"function","z":"21331932.c3a986","name":"Split Data -  Air Conditioner Heat Cooling","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"Aircon\")\n        {\n        var Aircon_index = i;\n        var relay_number = 1;\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word on\n    { \n    if (msgdata[i] == \"on\")\n        {\n        var on_index = i;\n        var aircon_pwr = 'on';\n        node.send ({payload:[\"Aircon on\"]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word off\n    { \n    if (msgdata[i] == \"off\")\n        {\n        var off_index = i;\n        var aircon_pwr = 'off';\n        node.send ({payload:[\"Aircon off\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word heat\n    { \n    if (msgdata[i] == \"heat\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'heat';\n        node.send ({payload:[\"Aircon heating\"]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word cool\n    { \n    if (msgdata[i] == \"cool\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'cool';\n        node.send ({payload:[\"Aircon cooling\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word up\n    { \n    if (msgdata[i] == \"up\")\n        {\n        var sliding_temp_index = i;\n        var sliding_aircon_temp = 'up';\n        node.send ({payload:[\"Aircon temp up\"]});\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word down\n    { \n    if (msgdata[i] == \"down\")\n        {\n        var sliding_temp_index = i;\n        var sliding_aircon_temp = 'down';\n        node.send ({payload:[\"Aircon temp down\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word 19\n    { \n    if (msgdata[i] == \"19\")\n        {\n        var temp_index = i;\n        var aircon_temp = '19';\n        node.send ({payload:[\"Aircon temp 19\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word 20\n    { \n    if (msgdata[i] == \"20\")\n        {\n        var temp_index = i;\n        var aircon_temp = '20';\n        node.send ({payload:[\"Aircon temp 20\"]});\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word 21\n    { \n    if (msgdata[i] == \"21\")\n        {\n        var temp_index = i;\n        var aircon_temp = '21';\n        node.send ({payload:[\"Aircon temp 21\"]});\n        }\n    }\n\n\n\n\nreturn [null];","outputs":"1","noerr":0,"x":729.8333892822266,"y":774.7777872085571,"wires":[[]]},{"id":"3ead5714.576ca8","type":"inject","z":"21331932.c3a986","name":"Heating Up","topic":"","payload":"heat up","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.1666717529297,"y":591.1111097335815,"wires":[["8a73634b.e5c36"]]},{"id":"166051d6.f93bee","type":"inject","z":"21331932.c3a986","name":"Heating Down","topic":"","payload":"heat down","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.88095092773438,"y":630.1111373901367,"wires":[["20ddf98b.4313e6"]]},{"id":"3aa916bf.bfab7a","type":"inject","z":"21331932.c3a986","name":"Cooling Up","topic":"","payload":"cool up","payloadType":"str","repeat":"","crontab":"","once":false,"x":152.1666717529297,"y":667.11110496521,"wires":[["c2ad4825.543908"]]},{"id":"e437e980.6ce7d8","type":"inject","z":"21331932.c3a986","name":"Cooling Down","topic":"","payload":"cool down","payloadType":"str","repeat":"","crontab":"","once":false,"x":142.1666717529297,"y":702.1111106872559,"wires":[["4008970f.e9f8c8"]]},{"id":"18993998.55e0c6","type":"inject","z":"21331932.c3a986","name":"Heating On","topic":"","payload":"heat on","payloadType":"str","repeat":"","crontab":"","once":false,"x":151.1666717529297,"y":738.1111116409302,"wires":[["fa58e6ee.56f7a8"]]},{"id":"8e83f72c.5e3248","type":"inject","z":"21331932.c3a986","name":"Heating Off","topic":"","payload":"heat off","payloadType":"str","repeat":"","crontab":"","once":false,"x":151.1666717529297,"y":775.1111125946045,"wires":[["fa58e6ee.56f7a8"]]},{"id":"f76eb905.99e7d8","type":"inject","z":"21331932.c3a986","name":"Cooling Off","topic":"","payload":"cool off","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.1666717529297,"y":852.1111135482788,"wires":[["fa58e6ee.56f7a8"]]},{"id":"6a6b5a08.ad0df4","type":"inject","z":"21331932.c3a986","name":"Cooling On","topic":"","payload":"cool on","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.1666717529297,"y":813.1111125946045,"wires":[["fa58e6ee.56f7a8"]]},{"id":"39a3d08e.44e77","type":"link out","z":"21331932.c3a986","name":"Link from Siri","links":["9eae1330.feb3b"],"x":1120.8986616134644,"y":557.3452949523926,"wires":[]},{"id":"9d83d8dd.95e648","type":"link in","z":"21331932.c3a986","name":"From Siri","links":["5ba4435b.ef26fc"],"x":238.0238175392151,"y":74.19048404693604,"wires":[["d4b3121c.172cc","8afb2604.98c778","fa58e6ee.56f7a8","4c59afef.6761e"]]},{"id":"4c59afef.6761e","type":"debug","z":"21331932.c3a986","name":"","active":true,"console":"false","complete":"false","x":377.2857437133789,"y":45.14285850524902,"wires":[]},{"id":"e0471ad.80cd4e8","type":"function","z":"21331932.c3a986","name":"Get Heat Set Point Value","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\":\");\n\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the words cool value\n    { \n    if (msgdata[i] == \"TEMPS\")\n        {\n        var heat_index = i;\n        var temperature_mode = 'heatset';\n        //var current_temp_value = 22;\n        //var current_temp = msgdata[i+1];\n        var heatset_temp = msgdata[i+2];\n        //var coolset_temp = msgdata[i+3];\n        node.send ({payload:[heatset_temp]}); \n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":870.0000381469727,"y":50.00001049041748,"wires":[["6999e2f6.476bfc","bd75fb3.0aeb008"]]},{"id":"46dffea1.2d44","type":"link in","z":"21331932.c3a986","name":"Temp Data from AMX","links":["ed7be37b.6435b"],"x":364.6667342185974,"y":124.95239448547363,"wires":[["878c6d13.cbd75","8811ec37.b981e"]]},{"id":"6999e2f6.476bfc","type":"debug","z":"21331932.c3a986","name":"","active":false,"console":"false","complete":"false","x":1178.7142601013184,"y":39.428582191467285,"wires":[]},{"id":"bd75fb3.0aeb008","type":"ui_gauge","z":"21331932.c3a986","name":"Heat Set Point","group":"5d55dbfd.abd6e4","order":1,"width":"3","height":"3","gtype":"gage","title":"Heat Set","label":"celcius","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"17","seg2":"19","x":1193.0001029968262,"y":73.42858028411865,"wires":[]},{"id":"1cd35e67.f020d2","type":"ui_gauge","z":"21331932.c3a986","name":"Cool Set Point","group":"5d55dbfd.abd6e4","order":5,"width":"3","height":"3","gtype":"gage","title":"Cool Set","label":"celcius","format":"{{value}}","min":"10","max":"35","colors":["#ff0000","#e6e600","#80ff00"],"seg1":"17","seg2":"20","x":1193.0001487731934,"y":146.2857608795166,"wires":[]},{"id":"ac6d8858.7abcf8","type":"ui_gauge","z":"21331932.c3a986","name":"Current Temperature","group":"5d55dbfd.abd6e4","order":9,"width":"3","height":"3","gtype":"gage","title":"Temp","label":"celcius","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"17","seg2":"19","x":1210.000144958496,"y":228.5714464187622,"wires":[]},{"id":"878c6d13.cbd75","type":"switch","z":"21331932.c3a986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"TEMPS","vt":"str"}],"checkall":"true","outputs":1,"x":521.0953941345215,"y":120.1905345916748,"wires":[["e0471ad.80cd4e8","ecabb957.d93ea8","c1e10d20.67973","f320db3a.e8d148","cc64f693.73cd68"]]},{"id":"33ebf009.aa2a3","type":"function","z":"21331932.c3a986","name":"Aircon Feedback from AMX","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\n\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the words heat value\n    { \n    if (msgdata[i] == \"Heatset\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'heat';\n        var heat_temp_value = msgdata[i+1];\n        node.send ({payload:[heat_temp_value]}); \n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the words cool value\n    { \n    if (msgdata[i] == \"Coolset\")\n        {\n        var heat_index = i;\n        var aircon_mode = 'cool';\n        var cool_temp_value = msgdata[i+1];\n        node.send ({payload:[cool_temp_value]}); \n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the words curent temp\n    { \n    if (msgdata[i] == \"CurrentTemp\")\n        {\n        var heat_index = i;\n        var temp_mode = 'Temp';\n        var current_temp_value = msgdata[i+1];\n        node.send ({payload:[temp_value]}); \n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":1204.2856903076172,"y":663.3333349227905,"wires":[[]]},{"id":"c1e10d20.67973","type":"function","z":"21331932.c3a986","name":"Get Cool Set Point","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\":\");\n\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the words cool value\n    { \n    if (msgdata[i] == \"TEMPS\")\n        {\n        var cool_index = i;\n        var temperature_mode = 'coolset';\n        //var current_temp_value = 22;\n        //var current_temp = msgdata[i+1];\n        //var heatset_temp = msgdata[i+2];\n        var coolset_temp = msgdata[i+3];\n        node.send ({payload:[coolset_temp]}); \n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":850.2857360839844,"y":87.80952835083008,"wires":[["1cd35e67.f020d2","632be80d.72a078"]]},{"id":"ecabb957.d93ea8","type":"function","z":"21331932.c3a986","name":"Get Current Temperature","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\":\");\n\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the words cool value\n    { \n    if (msgdata[i] == \"TEMPS\")\n        {\n        var temp_index = i;\n        var temperature_mode = 'temp';\n        //var current_temp_value = 22;\n        var current_temp = msgdata[i+1];\n        //var heatset_temp = msgdata[i+2];\n        //var coolset_temp = msgdata[i+3];\n        node.send ({payload:[current_temp]}); \n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":867.3809585571289,"y":124.28570365905762,"wires":[["ac6d8858.7abcf8","520e4a9c.ad60f4"]]},{"id":"632be80d.72a078","type":"debug","z":"21331932.c3a986","name":"","active":false,"console":"false","complete":"false","x":1180.1428527832031,"y":111.42856550216675,"wires":[]},{"id":"520e4a9c.ad60f4","type":"debug","z":"21331932.c3a986","name":"","active":false,"console":"false","complete":"false","x":1181.5716438293457,"y":187.14290046691895,"wires":[]},{"id":"f320db3a.e8d148","type":"debug","z":"21331932.c3a986","name":"","active":true,"console":"false","complete":"false","x":825.3810882568359,"y":162.619074344635,"wires":[]},{"id":"8811ec37.b981e","type":"debug","z":"21331932.c3a986","name":"","active":false,"console":"false","complete":"false","x":555.3810424804688,"y":75,"wires":[]},{"id":"8a73634b.e5c36","type":"ui_button","z":"21331932.c3a986","name":"Heat Up","group":"5d55dbfd.abd6e4","order":3,"width":"3","height":"1","passthru":true,"label":"Heat Up","color":"Red","bgcolor":"Grey","icon":"","payload":"heat up","payloadType":"str","topic":"","x":341.33336639404297,"y":598.5238237380981,"wires":[["8afb2604.98c778"]]},{"id":"20ddf98b.4313e6","type":"ui_button","z":"21331932.c3a986","name":"Heat Down","group":"5d55dbfd.abd6e4","order":4,"width":"3","height":"1","passthru":true,"label":"Heat Down","color":"Green","bgcolor":"Grey","icon":"","payload":"heat down","payloadType":"str","topic":"","x":348.3333053588867,"y":637.3809201717377,"wires":[["8afb2604.98c778"]]},{"id":"4008970f.e9f8c8","type":"ui_button","z":"21331932.c3a986","name":"Cool Down","group":"5d55dbfd.abd6e4","order":7,"width":"3","height":"1","passthru":true,"label":"Cool Down","color":"Red","bgcolor":"Grey","icon":"","payload":"cool down","payloadType":"str","topic":"","x":345.47620391845703,"y":717.3810362815857,"wires":[["8afb2604.98c778"]]},{"id":"c2ad4825.543908","type":"ui_button","z":"21331932.c3a986","name":"Cool Up","group":"5d55dbfd.abd6e4","order":8,"width":"3","height":"1","passthru":true,"label":"Cool Up","color":"Green","bgcolor":"Grey","icon":"","payload":"cool up","payloadType":"str","topic":"","x":342.61903381347656,"y":681.6666569709778,"wires":[["8afb2604.98c778"]]},{"id":"cc64f693.73cd68","type":"function","z":"21331932.c3a986","name":"Get Zone Settings","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\":\");\n\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the words cool value\n    { \n    if (msgdata[i] == \"ACZONES\")\n        {\n        var zone_index = i;\n        var zone_mode = 'zone';\n        var zone_one = msgdata[i+1];\n        var zone_two = msgdata[i+2];\n        node.send ({payload:[current_temp]}); \n        }\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":854.9999389648438,"y":219.99998474121094,"wires":[[]]},{"id":"47de92de.5fe73c","type":"ui_slider","z":"21331932.c3a986","name":"Heat","label":"Heat","group":"5d55dbfd.abd6e4","order":2,"width":"0","height":"0","passthru":true,"topic":"","min":0,"max":"35","step":1,"x":1143.500099182129,"y":269.6667203903198,"wires":[[]]},{"id":"eaf22ec0.2dd97","type":"ui_slider","z":"21331932.c3a986","name":"Cool","label":"Cool","group":"5d55dbfd.abd6e4","order":6,"width":"0","height":"0","passthru":true,"topic":"","min":0,"max":"35","step":1,"x":1133.333251953125,"y":314.9999771118164,"wires":[[]]},{"id":"b1228e81.80dcc","type":"inject","z":"21331932.c3a986","name":"Preset Cooling","topic":"","payload":"preset cool","payloadType":"str","repeat":"","crontab":"","once":false,"x":152.85714721679688,"y":891.4285888671875,"wires":[["36c5ff5d.60d6d"]]},{"id":"36c5ff5d.60d6d","type":"ui_button","z":"21331932.c3a986","name":"Preset Cooling","group":"5d55dbfd.abd6e4","order":11,"width":"3","height":"1","passthru":true,"label":"Preset Cooling","color":"Red","bgcolor":"Grey","icon":"","payload":"preset cool","payloadType":"str","topic":"","x":362.85716247558594,"y":895.7143402099609,"wires":[["8afb2604.98c778"]]},{"id":"7b38816b.f60c2","type":"inject","z":"21331932.c3a986","name":"Preset Heating","topic":"","payload":"preset heat","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":931.4285888671875,"wires":[["fe3c68d4.4b2358"]]},{"id":"fe3c68d4.4b2358","type":"ui_button","z":"21331932.c3a986","name":"Preset Heating","group":"5d55dbfd.abd6e4","order":10,"width":"3","height":"1","passthru":true,"label":"Preset Heating","color":"Red","bgcolor":"Grey","icon":"","payload":"preset heat","payloadType":"str","topic":"","x":371.4285583496094,"y":942.8571166992188,"wires":[["8afb2604.98c778"]]},{"id":"5d55dbfd.abd6e4","type":"ui_group","z":"","name":"Air Conditioner","tab":"e1b2ee71.36774","disp":true,"width":"6"},{"id":"e1b2ee71.36774","type":"ui_tab","z":"","name":"Air Con","icon":"dashboard"}]