Github Repo/Node Red Code/Raspi Sig Mt Waverley/Garage Door Example - RaspPi Sig Mt Waverley 16 August 2017.txt
[{"id":"5dd3bc77.3274f4","type":"inject","z":"4f386792.03db08","name":"Garage Door Open","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":227.8636474609375,"y":78.63636779785156,"wires":[["ce6a3b30.98b768"]]},{"id":"904e01e8.a1a5b","type":"inject","z":"4f386792.03db08","name":"Garage Door Close","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":230,"y":120,"wires":[["56d2a473.e681ec"]]},{"id":"ce6a3b30.98b768","type":"ui_button","z":"4f386792.03db08","name":"Open Door","group":"2fa5aafc.bd4056","order":0,"width":0,"height":0,"passthru":true,"label":"GPIO 22 - Garage Door Open","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":450,"y":80,"wires":[["d381aa19.b57af8","264e70e1.e9521"]]},{"id":"56d2a473.e681ec","type":"ui_button","z":"4f386792.03db08","name":"Close Door","group":"2fa5aafc.bd4056","order":0,"width":0,"height":0,"passthru":true,"label":"GPIO 22 - Garage  Door Close","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":450,"y":120,"wires":[["d381aa19.b57af8","264e70e1.e9521"]]},{"id":"d381aa19.b57af8","type":"debug","z":"4f386792.03db08","name":"","active":true,"console":"false","complete":"false","x":750,"y":200,"wires":[]},{"id":"264e70e1.e9521","type":"rpi-gpio out","z":"4f386792.03db08","name":"Pin 15 - GPIO 22","pin":"15","set":"","level":"0","freq":"","out":"out","x":770,"y":60,"wires":[]},{"id":"2fa5aafc.bd4056","type":"ui_group","z":"","name":"Garage Door","tab":"1f23bc9b.df8003","disp":true,"width":"6"},{"id":"1f23bc9b.df8003","type":"ui_tab","z":"","name":"GPIO Control","icon":"dashboard"}]