Github Repo/Node Red Code/RTSP Flow/Front Door Bell.txt
[{"id":"32c46d57.328b42","type":"inject","z":"10967d5.5b5d383","name":"","topic":"from actual IP camera mark","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":270.2539482116699,"y":152.15874576568604,"wires":[["4800ab64.b3d3e4"]]},{"id":"b32bf488.f20918","type":"http request","z":"10967d5.5b5d383","name":"Take Snapshot 1","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":958.1110572814941,"y":101.44444608688354,"wires":[["8f015a19.5a0d08"]]},{"id":"8f015a19.5a0d08","type":"file","z":"10967d5.5b5d383","name":"Save Snapshot 1 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1187.861183166504,"y":102.44445037841797,"wires":[]},{"id":"6d3763cb.566d8c","type":"debug","z":"10967d5.5b5d383","name":"","active":false,"console":"false","complete":"true","x":1209.1586418151855,"y":351.301598072052,"wires":[]},{"id":"7e62cae.3625134","type":"http request","z":"10967d5.5b5d383","name":"Take Snapshot 2","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":957.1110572814941,"y":140.44444608688354,"wires":[["1a7df0a.b1a450f"]]},{"id":"1a7df0a.b1a450f","type":"file","z":"10967d5.5b5d383","name":"Save Snapshot 2 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1186.361183166504,"y":139.44445037841797,"wires":[]},{"id":"3e3b9569.fece8a","type":"http request","z":"10967d5.5b5d383","name":"Take Snapshot 3","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":960.1110572814941,"y":179.44444608688354,"wires":[["42008be5.d17214"]]},{"id":"42008be5.d17214","type":"file","z":"10967d5.5b5d383","name":"Save Snapshot 3 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1187.361183166504,"y":178.44445037841797,"wires":[]},{"id":"64247942.e30fc8","type":"delay","z":"10967d5.5b5d383","name":"Shot 1 - 250ms","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":766.1110572814941,"y":101.44444608688354,"wires":[["b32bf488.f20918"]]},{"id":"813071c2.d68d9","type":"delay","z":"10967d5.5b5d383","name":"Shot 2 - 2 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":769.1110572814941,"y":140.44444608688354,"wires":[["7e62cae.3625134"]]},{"id":"b8d180bf.ef309","type":"delay","z":"10967d5.5b5d383","name":"Shot 2 -4 sec","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":757.1110572814941,"y":179.44444608688354,"wires":[["3e3b9569.fece8a"]]},{"id":"1c012851.292a78","type":"delay","z":"10967d5.5b5d383","name":"Send Images","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":758.1110572814941,"y":217.44444608688354,"wires":[["58e66eec.a3c5e","559a0716.12da48","396337cc.eb9098"]]},{"id":"4673939.80e8e6c","type":"join","z":"10967d5.5b5d383","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":853.9206657409668,"y":350.3015933036804,"wires":[["892b904c.aee0d"]]},{"id":"559a0716.12da48","type":"file in","z":"10967d5.5b5d383","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","format":"","x":430.42049407958984,"y":410.0635132789612,"wires":[["4a74e159.f5b42"]]},{"id":"396337cc.eb9098","type":"file in","z":"10967d5.5b5d383","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","format":"","x":428.03961181640625,"y":466.06351804733276,"wires":[["fc41afed.91413"]]},{"id":"58e66eec.a3c5e","type":"file in","z":"10967d5.5b5d383","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","format":"","x":427.5158462524414,"y":351.20641803741455,"wires":[["4673939.80e8e6c"]]},{"id":"4a74e159.f5b42","type":"delay","z":"10967d5.5b5d383","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870.4206047058105,"y":409.4444546699524,"wires":[["4673939.80e8e6c"]]},{"id":"fc41afed.91413","type":"delay","z":"10967d5.5b5d383","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":871.087329864502,"y":466.39681577682495,"wires":[["4673939.80e8e6c"]]},{"id":"892b904c.aee0d","type":"function","z":"10967d5.5b5d383","name":"Attach Pictures","func":"var newmsg = {};\nnewmsg.filename = \"\";\nvar today = new Date();\nvar date = today.getDate() + '-' + (today.getMonth()+1) + '-' + today.getFullYear();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar dateTime = date +' ' + time;\n//newmsg.filename = \"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg\";\n\nnewmsg.attachments = [\n    { \n        filename: \"DoorCamera1.jpg\",\n        content: msg.payload[0]\n    },\n    {\n        filename: \"DoorCamera2.jpg\",\n        content: msg.payload[1]\n    }, \n    {\n        filename: \"DoorCamera3.jpg\",\n        content: msg.payload[2]\n    }\n    ];\nnewmsg.topic = \"Front Door Bell pressed - \" + dateTime;\nnewmsg.payload = \"Front door camera\";\nnewmsg.description = \"Want this to appear in body of email\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1027.3968887329102,"y":350.5872302055359,"wires":[["6d3763cb.566d8c","4f3bd03.3cb033"]]},{"id":"4f3bd03.3cb033","type":"e-mail","z":"10967d5.5b5d383","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Email - ","x":1209.7776794433594,"y":408.58732557296753,"wires":[]},{"id":"4800ab64.b3d3e4","type":"ui_button","z":"10967d5.5b5d383","name":"Take Images","group":"7ea41db.abdf9e4","order":0,"width":0,"height":0,"passthru":true,"label":"Take Shot","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":447.8571548461914,"y":152.2857313156128,"wires":[["64247942.e30fc8","813071c2.d68d9","b8d180bf.ef309","1c012851.292a78"]]},{"id":"7ea41db.abdf9e4","type":"ui_group","z":"","name":"Snapshot","tab":"678409dc.2d6398","disp":true,"width":"2"},{"id":"678409dc.2d6398","type":"ui_tab","z":"","name":"Cameras","icon":"dashboard","order":16}]