Github Repo/Node Red Code/Working Code/Smart Gate Controller/GET HTTP Test.txt
[{"id":"4a979bf3.667264","type":"inject","z":"d3cdb796.bc5488","name":"GET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":100,"wires":[["b0c4a072.4a36c"]]},{"id":"e7de97ab.1cb768","type":"inject","z":"d3cdb796.bc5488","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":260,"wires":[["1c0381db.861c5e"]]},{"id":"b0c4a072.4a36c","type":"function","z":"d3cdb796.bc5488","name":"","func":"var boo = global.get(\"boo\");\nif (boo === \"0410\")\n msg.payload = boo;\nelse\n msg.payload = \"boo is empty\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["a7075527.e1b248"]]},{"id":"1c0381db.861c5e","type":"function","z":"d3cdb796.bc5488","name":"","func":"global.set(\"boo\", '0410');","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["1d89171f.f41f19"]]},{"id":"1d89171f.f41f19","type":"debug","z":"d3cdb796.bc5488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":280,"wires":[]},{"id":"a7075527.e1b248","type":"debug","z":"d3cdb796.bc5488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":100,"wires":[]}]