Github Repo/Node Red Code/Working Code/Smart Gate Controller/GET HTTP Camera Images V2.txt
[{"id":"41420170.13ba9","type":"http response","z":"254da8b9.1a3448","name":"","statusCode":"","headers":{},"x":610,"y":400,"wires":[]},{"id":"cfb0f783.6a4c98","type":"function","z":"254da8b9.1a3448","name":"Set Content-Type header","func":"msg.headers = {\n    \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":339,"wires":[["41420170.13ba9"]]},{"id":"c2930e65.d3f22","type":"file in","z":"254da8b9.1a3448","name":"","filename":"/tmp/example.jpg","format":"","sendError":true,"x":342,"y":280,"wires":[["cfb0f783.6a4c98"]]},{"id":"8d78cbcd.cf9fd8","type":"http in","z":"254da8b9.1a3448","name":"","url":"/testImage","method":"get","upload":false,"swaggerDoc":"","x":218,"y":235,"wires":[["c2930e65.d3f22"]]},{"id":"3bff4c.b60750b4","type":"http response","z":"254da8b9.1a3448","name":"","statusCode":"","headers":{},"x":830,"y":480,"wires":[]},{"id":"d8d509f9.ed8018","type":"function","z":"254da8b9.1a3448","name":"","func":"msg.headers = {'Content-Type' : 'image/png',}\nreturn msg;","outputs":1,"noerr":0,"x":686,"y":480,"wires":[["3bff4c.b60750b4"]]},{"id":"d7830a09.dfdaa8","type":"file in","z":"254da8b9.1a3448","name":"","filename":"/tmp/screen.png","format":"","sendError":true,"x":530,"y":480,"wires":[["d8d509f9.ed8018"]]},{"id":"fdc91c00.d476f","type":"delay","z":"254da8b9.1a3448","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369,"y":480,"wires":[["d7830a09.dfdaa8"]]},{"id":"56e7ed93.03f644","type":"http in","z":"254da8b9.1a3448","name":"","url":"/screen.png","method":"get","upload":false,"swaggerDoc":"","x":197,"y":480,"wires":[["d8e056fd.bd3798","fdc91c00.d476f"]]},{"id":"d8e056fd.bd3798","type":"exec","z":"254da8b9.1a3448","command":"fbgrab /tmp/screen.png","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":430,"y":535,"wires":[[],[],[]]}]