Github Repo/Node Red Code/Working Code/Smart Gate Controller/Internet and Stream Audio using MPD - Good Version.txt
[{"id":"3cfc1d3e.f979a2","type":"ui_dropdown","z":"ac19c660.bce2e8","name":"","label":"Station:","place":"Select option","group":"5f86900d.da32b","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Radio 1","value":"0","type":"str"},{"label":"Radio 2","value":"1","type":"str"},{"label":"Radio 3","value":"2","type":"str"},{"label":"Radio 4","value":"3","type":"str"},{"label":"Radio 5","value":"4","type":"str"},{"label":"Radio 6","value":"5","type":"str"},{"label":"Classic Rock","value":"6","type":"str"},{"label":"Planet Rock","value":"7","type":"str"},{"label":"Union Jack","value":"8","type":"str"},{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":540,"y":260,"wires":[["86102c67.d5052"]]},{"id":"373c4b25.1298b4","type":"mpd out","z":"ac19c660.bce2e8","name":"","topic":"","server":"9adc0c04.064f9","x":856,"y":432,"wires":[[]]},{"id":"8281b713.014808","type":"mpd in","z":"ac19c660.bce2e8","name":"","topic":"","server":"9adc0c04.064f9","x":196,"y":73,"wires":[["fbdb75fe.99fe48","7fa5dea5.ce45e","15fa7310.d5b88d"]]},{"id":"86102c67.d5052","type":"function","z":"ac19c660.bce2e8","name":"play x","func":"var temp = msg.payload;\n\ntemp = \"play \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":260,"wires":[["373c4b25.1298b4"]]},{"id":"fbdb75fe.99fe48","type":"function","z":"ac19c660.bce2e8","name":"Title","func":"var temp = msg.payload.currentsong.Title;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":541,"y":74,"wires":[["f4e23f12.5dce6"]]},{"id":"f4e23f12.5dce6","type":"ui_text","z":"ac19c660.bce2e8","group":"54fe9723.f3d4a8","order":4,"width":0,"height":0,"name":"","label":"Track:","format":"{{msg.payload}}","layout":"row-left","x":846,"y":75,"wires":[]},{"id":"aaf6ad4b.f4c95","type":"ui_dropdown","z":"ac19c660.bce2e8","name":"","label":"Add Playlist:","place":"Select option","group":"b11b9e.271e546","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"None","type":"str"},{"label":"Taj Mahal","value":"TajMahal","type":"str"},{"label":"The Nice","value":"TheNice","type":"str"}],"payload":"","topic":"","x":548,"y":574,"wires":[["38f94ece.a2ee12","84583580.fc5618"]]},{"id":"38f94ece.a2ee12","type":"function","z":"ac19c660.bce2e8","name":"load","func":"var temp = msg.payload;\n\nif(temp===\"None\") return null;\n\ntemp = \"load \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":573,"wires":[["373c4b25.1298b4"]]},{"id":"15fa7310.d5b88d","type":"function","z":"ac19c660.bce2e8","name":"Artist","func":"var temp = msg.payload.currentsong.Artist;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":541,"y":120,"wires":[["a0ad42e7.ee0b6"]]},{"id":"7fa5dea5.ce45e","type":"function","z":"ac19c660.bce2e8","name":"Album","func":"var temp = msg.payload.currentsong.Album;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":166,"wires":[["accfa98d.739278"]]},{"id":"accfa98d.739278","type":"ui_text","z":"ac19c660.bce2e8","group":"b11b9e.271e546","order":8,"width":0,"height":0,"name":"Album","label":"Album:","format":"{{msg.payload}}","layout":"row-left","x":846,"y":164,"wires":[]},{"id":"a0ad42e7.ee0b6","type":"ui_text","z":"ac19c660.bce2e8","group":"b11b9e.271e546","order":7,"width":0,"height":0,"name":"Artist","label":"Artist:","format":"{{msg.payload}}","layout":"row-left","x":846,"y":118,"wires":[]},{"id":"46bbb496.6bf80c","type":"ui_button","z":"ac19c660.bce2e8","name":"previous","group":"b11b9e.271e546","order":4,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-step-backward","payload":"previous","payloadType":"str","topic":"","x":532,"y":684,"wires":[["373c4b25.1298b4"]]},{"id":"dae0ec7a.11f13","type":"ui_button","z":"ac19c660.bce2e8","name":"next","group":"b11b9e.271e546","order":6,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-step-forward","payload":"next","payloadType":"str","topic":"","x":707,"y":685,"wires":[["373c4b25.1298b4"]]},{"id":"b669c654.af3778","type":"ui_button","z":"ac19c660.bce2e8","name":"","group":"b11b9e.271e546","order":2,"width":"2","height":"1","passthru":false,"label":"Clear list","color":"","bgcolor":"","icon":"","payload":"clear","payloadType":"str","topic":"","x":552,"y":637,"wires":[["373c4b25.1298b4","c029cd73.f990c"]]},{"id":"613fcc1c.0c60e4","type":"ui_switch","z":"ac19c660.bce2e8","name":"Random","label":"","group":"b11b9e.271e546","order":3,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"random 1","onvalueType":"str","onicon":"fa-random","oncolor":"#00FF00","offvalue":"random 0","offvalueType":"str","officon":"fa-random","offcolor":"#FF0000","x":597,"y":512,"wires":[["373c4b25.1298b4"]]},{"id":"1846a79f.094618","type":"ui_switch","z":"ac19c660.bce2e8","name":"PlayPause","label":"","group":"b11b9e.271e546","order":5,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"play","onvalueType":"str","onicon":"fa-play","oncolor":"#FFFFFF","offvalue":"pause","offvalueType":"str","officon":"fa-pause","offcolor":"#FFFFFF","x":605,"y":466,"wires":[["373c4b25.1298b4"]]},{"id":"7f701a0c.932a44","type":"ui_switch","z":"ac19c660.bce2e8","name":"Radio","label":"","group":"54fe9723.f3d4a8","order":1,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"fa-rss-square","oncolor":"#00FF00","offvalue":"Off","offvalueType":"str","officon":"fa-rss-square","offcolor":"#FF0000","x":213,"y":327,"wires":[["f5896477.0c2c88"]]},{"id":"b179c3ac.ed21b","type":"ui_switch","z":"ac19c660.bce2e8","name":"Music","label":"","group":"54fe9723.f3d4a8","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"my_library_music","oncolor":"#00FF00","offvalue":"Off","offvalueType":"str","officon":"my_library_music","offcolor":"#FF0000","x":216,"y":442,"wires":[["b9b559fa.d20368"]]},{"id":"f5896477.0c2c88","type":"function","z":"ac19c660.bce2e8","name":"Radio on/off","func":"var temp = msg.payload;\n\nif(temp===\"On\") \n    {\n    temp=\"Off\";\n\n    var msg1 = \n        {\n        payload:temp\n        };\n\n    var msg2 = \n        {\n        payload: \"load stations\"    \n        };\n\n    var msg3 = \n        {\n        payload: \"3\"\n        };\n\n    return [msg1,msg2,msg3];\n    }\nvar msg2 = \n    {\n    payload: \"clear\"\n    };\nreturn [null,msg2, null];","outputs":"3","noerr":0,"x":361,"y":327,"wires":[["b179c3ac.ed21b"],["373c4b25.1298b4"],["fdad1963.245898"]]},{"id":"b9b559fa.d20368","type":"function","z":"ac19c660.bce2e8","name":"Music on/off","func":"var temp = msg.payload;\n\nif(temp===\"On\") {\n    temp=\"Off\";\n\nvar msg1 = {\n    payload:temp\n};\n\nvar msg3 = { payload: \"pause\"};\n\nvar msg4 = {payload: \"None\"};\n\nvar msg5 = {payload:\"random 0\"}\n\nreturn [msg1,null,msg3,msg4,msg5];\n}\nvar msg2 = {\n    payload: \"clear\"\n};\nreturn [null,msg2,null,null,null];","outputs":"5","noerr":0,"x":364,"y":442,"wires":[["7f701a0c.932a44"],["373c4b25.1298b4"],["1846a79f.094618"],["aaf6ad4b.f4c95"],["613fcc1c.0c60e4"]]},{"id":"fdad1963.245898","type":"delay","z":"ac19c660.bce2e8","name":"100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":631,"y":344,"wires":[["3cfc1d3e.f979a2"]]},{"id":"84583580.fc5618","type":"function","z":"ac19c660.bce2e8","name":"pause","func":"var msg = {payload: \"pause\"};\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":521,"wires":[["1846a79f.094618"]]},{"id":"c029cd73.f990c","type":"function","z":"ac19c660.bce2e8","name":"None","func":"var msg = {payload: \"None\"};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":574,"wires":[["aaf6ad4b.f4c95"]]},{"id":"a59d17c4.33fd58","type":"ui_slider","z":"ac19c660.bce2e8","name":"Volume","label":"","group":"54fe9723.f3d4a8","order":3,"width":"4","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":219,"y":220,"wires":[["6f990a14.ec2b94"]]},{"id":"6f990a14.ec2b94","type":"function","z":"ac19c660.bce2e8","name":"setvol","func":"var temp = msg.payload;\n\ntemp = \"setvol \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":216,"wires":[["373c4b25.1298b4"]]},{"id":"5f86900d.da32b","type":"ui_group","z":"","name":"Radio","tab":"9c9ced92.09f92","order":2,"disp":true,"width":"6","collapse":false},{"id":"9adc0c04.064f9","type":"mpd-server","z":"","host":"localhost","port":"6600"},{"id":"54fe9723.f3d4a8","type":"ui_group","z":"","name":"Now Playing","tab":"9c9ced92.09f92","order":1,"disp":true,"width":"6","collapse":false},{"id":"b11b9e.271e546","type":"ui_group","z":"","name":"Music","tab":"9c9ced92.09f92","order":3,"disp":true,"width":"6","collapse":false},{"id":"9c9ced92.09f92","type":"ui_tab","z":"","name":"Radio/Music","icon":"dashboard","order":1}]