Github Repo/Node Red Code/Working Code/Smart Gate Controller/Internet Radio Sample MPD version.txt
[{"id":"65dc7afe.b3e4a4","type":"ui_button","z":"26ae92d8.bc5fae","name":"play","group":"8e404236.b7f3e","order":5,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-play","payload":"play","payloadType":"str","topic":"","x":1159,"y":736,"wires":[["b3759da6.ab67d"]]},{"id":"dada0819.0c2e08","type":"ui_button","z":"26ae92d8.bc5fae","name":"stop","group":"8e404236.b7f3e","order":7,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-stop","payload":"stop","payloadType":"str","topic":"","x":1159,"y":776,"wires":[["b3759da6.ab67d"]]},{"id":"b2ec5c1c.21f63","type":"ui_button","z":"26ae92d8.bc5fae","name":"previous","group":"8e404236.b7f3e","order":4,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-backward","payload":"previous","payloadType":"str","topic":"","x":1169,"y":656,"wires":[["b3759da6.ab67d"]]},{"id":"7e1802b4.8ed09c","type":"ui_button","z":"26ae92d8.bc5fae","name":"next","group":"8e404236.b7f3e","order":8,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-forward","payload":"next","payloadType":"str","topic":"","x":1159,"y":816,"wires":[["b3759da6.ab67d"]]},{"id":"58b5ca8a.4e9f54","type":"inject","z":"26ae92d8.bc5fae","name":"Stop playing","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":755,"y":107,"wires":[["b3759da6.ab67d"]]},{"id":"feff63b0.a6723","type":"ui_button","z":"26ae92d8.bc5fae","name":"pause","group":"8e404236.b7f3e","order":6,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-pause","payload":"pause","payloadType":"str","topic":"","x":1159,"y":696,"wires":[["b3759da6.ab67d"]]},{"id":"d8ff4cfd.926e6","type":"inject","z":"26ae92d8.bc5fae","name":"","topic":"","payload":"setvol 100","payloadType":"str","repeat":"","crontab":"","once":false,"x":1348,"y":725,"wires":[["b3759da6.ab67d"]]},{"id":"a06dc50d.3b8518","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":1,"width":"4","height":"1","passthru":false,"label":"Radio 10","color":"","bgcolor":"","icon":"","payload":"play 1","payloadType":"str","topic":"","x":182,"y":188,"wires":[["b3759da6.ab67d"]]},{"id":"2acca6a5.9159ba","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":2,"width":"4","height":"1","passthru":false,"label":"Q-music","color":"","bgcolor":"","icon":"","payload":"play 2","payloadType":"str","topic":"","x":181,"y":225,"wires":[["b3759da6.ab67d"]]},{"id":"f08524f4.577ed8","type":"debug","z":"26ae92d8.bc5fae","name":"","active":true,"console":"false","complete":"false","x":519,"y":106,"wires":[]},{"id":"ac6488ec.ae6ab8","type":"ui_template","z":"26ae92d8.bc5fae","group":"8e404236.b7f3e","name":"","order":1,"width":"8","height":"3","format":"<!DOCTYPE html> \n<div>\n    <h3>{{msg.payload.status.state}} met\n    {{msg.payload.currentsong.Pos}}\n    {{msg.payload.currentsong.Name}}</h3>\n    <p></p>\n    <h4>{{msg.payload.currentsong.Title}}</h4>\n</div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":341,"y":106,"wires":[["f08524f4.577ed8"]]},{"id":"5ba3a60f.28a4e8","type":"ui_button","z":"26ae92d8.bc5fae","name":"volume up","group":"8e404236.b7f3e","order":3,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"volume +2","payloadType":"str","topic":"","x":1339,"y":766,"wires":[["b3759da6.ab67d"]]},{"id":"1be6a7d9.27fee8","type":"ui_button","z":"26ae92d8.bc5fae","name":"volume down","group":"8e404236.b7f3e","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-volume-down","payload":"volume -2","payloadType":"str","topic":"","x":1339,"y":809,"wires":[["b3759da6.ab67d"]]},{"id":"d0011f20.b87c8","type":"ui_template","z":"26ae92d8.bc5fae","group":"6b6ac7e0.ec8158","name":"volume","order":1,"width":"8","height":"1","format":"<!DOCTYPE html> \n<div>\n    <h4>Volume staat op {{msg.payload.status.volume}}%</h4>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":341,"y":149,"wires":[[]]},{"id":"4c293d10.519724","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":3,"width":"4","height":"1","passthru":false,"label":"Radio 1","color":"","bgcolor":"","icon":"","payload":"play 3","payloadType":"str","topic":"","x":181,"y":262,"wires":[["b3759da6.ab67d"]]},{"id":"2cb69f62.112ff","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":4,"width":"4","height":"1","passthru":false,"label":"Radio 2","color":"","bgcolor":"","icon":"","payload":"play 4","payloadType":"str","topic":"","x":180,"y":299,"wires":[["b3759da6.ab67d"]]},{"id":"77ead82f.72a928","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":5,"width":"4","height":"1","passthru":false,"label":"3fm","color":"","bgcolor":"","icon":"","payload":"play 5","payloadType":"str","topic":"","x":171,"y":337,"wires":[["b3759da6.ab67d"]]},{"id":"8274f7b2.cec598","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":6,"width":"4","height":"1","passthru":false,"label":"3fm alternative","color":"","bgcolor":"","icon":"","payload":"play 6","payloadType":"str","topic":"","x":200,"y":374,"wires":[["b3759da6.ab67d"]]},{"id":"f3cbc00c.b75f3","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":7,"width":"4","height":"1","passthru":false,"label":"3fm talent","color":"","bgcolor":"","icon":"","payload":"play 7","payloadType":"str","topic":"","x":182,"y":410,"wires":[["b3759da6.ab67d"]]},{"id":"76aca80e.b0a1f8","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":8,"width":"4","height":"1","passthru":false,"label":"Radio 4","color":"","bgcolor":"","icon":"","payload":"play 8","payloadType":"str","topic":"","x":181,"y":447,"wires":[["b3759da6.ab67d"]]},{"id":"d398e6ae.2bff18","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":9,"width":"4","height":"1","passthru":false,"label":"Radio 4 eigentijds","color":"","bgcolor":"","icon":"","payload":"play 9","payloadType":"str","topic":"","x":211,"y":483,"wires":[["b3759da6.ab67d"]]},{"id":"c61c68c6.8acd28","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":10,"width":"4","height":"1","passthru":false,"label":"Radio 5","color":"","bgcolor":"","icon":"","payload":"play 10","payloadType":"str","topic":"","x":180,"y":520,"wires":[["b3759da6.ab67d"]]},{"id":"bd869750.46a0f8","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":11,"width":"4","height":"1","passthru":false,"label":"Radio 6","color":"","bgcolor":"","icon":"","payload":"play 11","payloadType":"str","topic":"","x":180,"y":557,"wires":[["b3759da6.ab67d"]]},{"id":"3fbdaa89.0f1446","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":12,"width":"4","height":"1","passthru":false,"label":"Radio 538","color":"","bgcolor":"","icon":"","payload":"play 12","payloadType":"str","topic":"","x":189,"y":594,"wires":[["b3759da6.ab67d"]]},{"id":"96f7002a.0202c","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":13,"width":"4","height":"1","passthru":false,"label":"Q-music Limburg","color":"","bgcolor":"","icon":"","payload":"play 13","payloadType":"str","topic":"","x":214,"y":630,"wires":[["b3759da6.ab67d"]]},{"id":"960ac27e.ea6df","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Wild radio","color":"","bgcolor":"","icon":"","payload":"play 14","payloadType":"str","topic":"","x":183,"y":667,"wires":[["b3759da6.ab67d"]]},{"id":"f04559e1.80f278","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"100% NL","color":"","bgcolor":"","icon":"","payload":"play 15","payloadType":"str","topic":"","x":181,"y":703,"wires":[["b3759da6.ab67d"]]},{"id":"e5868507.acd478","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"#Pophits","color":"","bgcolor":"","icon":"","payload":"play 16","payloadType":"str","topic":"","x":181,"y":740,"wires":[["b3759da6.ab67d"]]},{"id":"a0e27f6a.a2702","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"101 Smooth Jazz","color":"","bgcolor":"","icon":"","payload":"play 17","payloadType":"str","topic":"","x":211,"y":777,"wires":[["b3759da6.ab67d"]]},{"id":"5379ee2c.e6f3c","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"ABC Lounge","color":"","bgcolor":"","icon":"","payload":"play 18","payloadType":"str","topic":"","x":193,"y":812,"wires":[["b3759da6.ab67d"]]},{"id":"735a2d02.103104","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Hit radio","color":"","bgcolor":"","icon":"","payload":"play 20","payloadType":"str","topic":"","x":180,"y":848,"wires":[["b3759da6.ab67d"]]},{"id":"d210ade4.94ecd","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Top 20 radio","color":"","bgcolor":"","icon":"","payload":"play 21","payloadType":"str","topic":"","x":190,"y":883,"wires":[["b3759da6.ab67d"]]},{"id":"693ca391.83ab1c","type":"comment","z":"26ae92d8.bc5fae","name":"<<< --------  KLIK hier links om de database te resetten  ----------","info":"","x":1206,"y":160,"wires":[]},{"id":"f3cff491.d37ed8","type":"inject","z":"26ae92d8.bc5fae","name":"leeg database","topic":"","payload":"clear","payloadType":"str","repeat":"","crontab":"","once":false,"x":755,"y":141,"wires":[["b3759da6.ab67d"]]},{"id":"3d8c214f.c0e9ee","type":"inject","z":"26ae92d8.bc5fae","name":"load radio","topic":"","payload":"load radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":744,"y":175,"wires":[["b3759da6.ab67d"]]},{"id":"a3c496db.6a83b8","type":"inject","z":"26ae92d8.bc5fae","name":"play radio 10","topic":"","payload":"play 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":754,"y":209,"wires":[["b3759da6.ab67d"]]},{"id":"ff533e.6e57ecc","type":"comment","z":"26ae92d8.bc5fae","name":"<<< - 1 -","info":"","x":919,"y":107,"wires":[]},{"id":"18f66f78.82ffa1","type":"comment","z":"26ae92d8.bc5fae","name":"<<< - 2 -","info":"","x":920,"y":141,"wires":[]},{"id":"95757f1b.63292","type":"comment","z":"26ae92d8.bc5fae","name":"<<< - 3 -","info":"","x":920,"y":175,"wires":[]},{"id":"251b6f52.0b584","type":"comment","z":"26ae92d8.bc5fae","name":"<<< - 4 -","info":"","x":920,"y":209,"wires":[]},{"id":"8fef8e7f.739c8","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio FM","color":"","bgcolor":"","icon":"","payload":"play 22","payloadType":"str","topic":"","x":430,"y":260,"wires":[["b3759da6.ab67d"]]},{"id":"6d8f278f.8998c8","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio hits","color":"","bgcolor":"","icon":"","payload":"play 23","payloadType":"str","topic":"","x":430,"y":300,"wires":[["b3759da6.ab67d"]]},{"id":"51759f66.d919d","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio summer hits","color":"","bgcolor":"","icon":"","payload":"play 24","payloadType":"str","topic":"","x":469,"y":328,"wires":[["b3759da6.ab67d"]]},{"id":"92da615c.aeb55","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio love songs","color":"","bgcolor":"","icon":"","payload":"play 25","payloadType":"str","topic":"","x":468,"y":362,"wires":[["b3759da6.ab67d"]]},{"id":"200ce1c8.26ef2e","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio 80s hits","color":"","bgcolor":"","icon":"","payload":"play 26","payloadType":"str","topic":"","x":458,"y":396,"wires":[["b3759da6.ab67d"]]},{"id":"b6634209.b4d4a","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio 90s hits","color":"","bgcolor":"","icon":"","payload":"play 27","payloadType":"str","topic":"","x":456,"y":430,"wires":[["b3759da6.ab67d"]]},{"id":"ab5c507a.bc15","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio 2000s hits","color":"","bgcolor":"","icon":"","payload":"play 28","payloadType":"str","topic":"","x":464,"y":464,"wires":[["b3759da6.ab67d"]]},{"id":"1c870404.53aa7c","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio 10s hits","color":"","bgcolor":"","icon":"","payload":"play 29","payloadType":"str","topic":"","x":455,"y":498,"wires":[["b3759da6.ab67d"]]},{"id":"7d9c2b95.10abd4","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio lounge","color":"","bgcolor":"","icon":"","payload":"play 30","payloadType":"str","topic":"","x":454,"y":532,"wires":[["b3759da6.ab67d"]]},{"id":"990ba7f0.886638","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio smooth hits","color":"","bgcolor":"","icon":"","payload":"play 31","payloadType":"str","topic":"","x":464,"y":566,"wires":[["b3759da6.ab67d"]]},{"id":"c4425441.e71238","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio songwriter","color":"","bgcolor":"","icon":"","payload":"play 32","payloadType":"str","topic":"","x":463,"y":600,"wires":[["b3759da6.ab67d"]]},{"id":"5b2a0c0d.6c7844","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio feel good hits","color":"","bgcolor":"","icon":"","payload":"play 33","payloadType":"str","topic":"","x":472,"y":635,"wires":[["b3759da6.ab67d"]]},{"id":"edc7d6e5.71ba38","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio christmas","color":"","bgcolor":"","icon":"","payload":"play 34","payloadType":"str","topic":"","x":451,"y":670,"wires":[["b3759da6.ab67d"]]},{"id":"9eacc250.e3db2","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio bootcamp","color":"","bgcolor":"","icon":"","payload":"play 35","payloadType":"str","topic":"","x":461,"y":704,"wires":[["b3759da6.ab67d"]]},{"id":"46ab7e6c.39fb1","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio hits starter","color":"","bgcolor":"","icon":"","payload":"play 36","payloadType":"str","topic":"","x":459,"y":738,"wires":[["b3759da6.ab67d"]]},{"id":"5e67250d.63831c","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio hits gevorderd","color":"","bgcolor":"","icon":"","payload":"play 37","payloadType":"str","topic":"","x":469,"y":772,"wires":[["b3759da6.ab67d"]]},{"id":"29e89063.1fa65","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio hits expert","color":"","bgcolor":"","icon":"","payload":"play 38","payloadType":"str","topic":"","x":458,"y":807,"wires":[["b3759da6.ab67d"]]},{"id":"6e0e4633.9582d8","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio stretch & relax","color":"","bgcolor":"","icon":"","payload":"play 39","payloadType":"str","topic":"","x":467,"y":843,"wires":[["b3759da6.ab67d"]]},{"id":"3c231cf8.4faf74","type":"ui_button","z":"26ae92d8.bc5fae","name":"","group":"15013e65.436b32","order":14,"width":"4","height":"1","passthru":false,"label":"Sky radio pop-up","color":"","bgcolor":"","icon":"","payload":"play 40","payloadType":"str","topic":"","x":448,"y":878,"wires":[["b3759da6.ab67d"]]},{"id":"b3759da6.ab67d","type":"mpd out","z":"26ae92d8.bc5fae","name":"","topic":"","server":"f3a557e8.d6f6e8","x":1270,"y":500,"wires":[[]]},{"id":"3be306d4.61070a","type":"mpd in","z":"26ae92d8.bc5fae","name":"","topic":"","server":"f3a557e8.d6f6e8","x":179,"y":136,"wires":[["ac6488ec.ae6ab8","d0011f20.b87c8"]]},{"id":"8e404236.b7f3e","type":"ui_group","z":"","name":"Control","tab":"2635f4b1.962e3c","order":1,"disp":false,"width":"8"},{"id":"15013e65.436b32","type":"ui_group","z":"","name":"Zenderkeuze","tab":"2635f4b1.962e3c","order":3,"disp":false,"width":"8"},{"id":"6b6ac7e0.ec8158","type":"ui_group","z":"","name":"Radio","tab":"2635f4b1.962e3c","order":2,"disp":false,"width":"8"},{"id":"f3a557e8.d6f6e8","type":"mpd-server","z":"26ae92d8.bc5fae","host":"localhost","port":"6600"},{"id":"2635f4b1.962e3c","type":"ui_tab","z":"","name":"Web Radio","icon":"dashboard","order":1}]