Github Repo/Node Red Code/Working Code/Smart Gate Controller/Internet Radio German Version.txt
[{"id":"6deb5e09.da4e7","type":"exec","z":"1817f3f0.0d681c","command":"mplayer -slave  -input file=/tmp/mplayer-control http://81.93.193.35:8945/ > /dev/null 2>&1 &","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"FehervarRadio","x":860,"y":800,"wires":[["2406984f.307fa8"],[],[]]},{"id":"f1642c5a.5b68e","type":"exec","z":"1817f3f0.0d681c","command":"echo \"pause\" > /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause/Resume","x":420,"y":120,"wires":[[],[],[]]},{"id":"6701c9f7.b6e9e8","type":"exec","z":"1817f3f0.0d681c","command":"echo \"volume 10\" > /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume +10","x":410,"y":180,"wires":[[],[],[]]},{"id":"28efe57d.eba80a","type":"exec","z":"1817f3f0.0d681c","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill","x":390,"y":300,"wires":[["548d6342.a81a6c"],[],[]]},{"id":"57055432.7fb92c","type":"exec","z":"1817f3f0.0d681c","command":"echo \"volume -10\" > /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume -10","x":410,"y":240,"wires":[[],[],[]]},{"id":"bc891b87.0aa138","type":"exec","z":"1817f3f0.0d681c","command":"amixer ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"HDMI/AUX","x":400,"y":60,"wires":[[],[],[]]},{"id":"8f19c4c9.9ce358","type":"exec","z":"1817f3f0.0d681c","command":"echo \"quit\" > /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Quit","x":390,"y":360,"wires":[["548d6342.a81a6c"],[],[]]},{"id":"7adb3c93.1d1924","type":"exec","z":"1817f3f0.0d681c","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill","x":590,"y":800,"wires":[["b7510885.6fc338"],[],[]]},{"id":"b7510885.6fc338","type":"exec","z":"1817f3f0.0d681c","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":710,"y":800,"wires":[["6deb5e09.da4e7"],[],[]]},{"id":"d81c3c2b.54c16","type":"ui_switch","z":"1817f3f0.0d681c","name":"","label":"HDMI/AUX","group":"75934bef.33fc54","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"cset numid=3 1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"cset numid=3 2","offvalueType":"str","officon":"","offcolor":"","x":220,"y":60,"wires":[["bc891b87.0aa138"]]},{"id":"9994afee.19c4f","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"75934bef.33fc54","order":2,"width":0,"height":0,"passthru":false,"label":"volume +10","color":"","bgcolor":"","icon":"","payload":"\"volume 10\" > /tmp/mplayer-control","payloadType":"str","topic":"","x":210,"y":180,"wires":[["6701c9f7.b6e9e8"]]},{"id":"baca2df6.ca737","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"75934bef.33fc54","order":3,"width":0,"height":0,"passthru":false,"label":"volume -10","color":"","bgcolor":"","icon":"","payload":"\"volume 10\" > /tmp/mplayer-control","payloadType":"str","topic":"","x":210,"y":240,"wires":[["57055432.7fb92c"]]},{"id":"68780296.e4aa0c","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"75934bef.33fc54","order":4,"width":"0","height":"0","passthru":false,"label":"Stop/Play","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":120,"wires":[["f1642c5a.5b68e"]]},{"id":"7bdec153.5d302","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"75934bef.33fc54","order":5,"width":0,"height":0,"passthru":false,"label":"Kill","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":300,"wires":[["28efe57d.eba80a"]]},{"id":"1c0d0620.3b8b1a","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"75934bef.33fc54","order":6,"width":0,"height":0,"passthru":false,"label":"Quit","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":360,"wires":[["8f19c4c9.9ce358"]]},{"id":"8ad337da.76b3b8","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"68ae5b30.b88844","order":2,"width":0,"height":0,"passthru":true,"label":"Fehérvár Rádió","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":800,"wires":[["7adb3c93.1d1924","7173ad39.fc00f4"]]},{"id":"370f12c.59a64ee","type":"exec","z":"1817f3f0.0d681c","command":"mplayer -slave  -input file=/tmp/mplayer-control http://fehervar.kekduna.hu:8004/ > /dev/null 2>&1 &","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"KekDuna","x":840,"y":680,"wires":[["d075d2ee.9c0e2"],[],[]]},{"id":"ee7b5ccf.c3427","type":"exec","z":"1817f3f0.0d681c","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill","x":590,"y":680,"wires":[["797c7329.75d46c"],[],[]]},{"id":"797c7329.75d46c","type":"exec","z":"1817f3f0.0d681c","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":710,"y":680,"wires":[["370f12c.59a64ee"],[],[]]},{"id":"8069822f.5d632","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"68ae5b30.b88844","order":3,"width":0,"height":0,"passthru":true,"label":"Kék Duna","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":680,"wires":[["ee7b5ccf.c3427","3e968b39.427024"]]},{"id":"834558f5.1e6558","type":"ui_text","z":"1817f3f0.0d681c","group":"68ae5b30.b88844","order":1,"width":0,"height":0,"name":"","label":"Active:","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":340,"wires":[]},{"id":"2406984f.307fa8","type":"function","z":"1817f3f0.0d681c","name":"Fehérvár","func":"msg.payload = \"Fehérvár Rádió\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":800,"wires":[["3843d14a.d540ce"]]},{"id":"d075d2ee.9c0e2","type":"function","z":"1817f3f0.0d681c","name":"Kék Duna","func":"msg.payload = \"Kék Duna Rádió\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":680,"wires":[["59cc6c3b.b906f4"]]},{"id":"548d6342.a81a6c","type":"function","z":"1817f3f0.0d681c","name":"Stopped","func":"msg.payload = \"Stopped\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":340,"wires":[["834558f5.1e6558"]]},{"id":"82d9bc0c.bfc5d","type":"http in","z":"1817f3f0.0d681c","name":"","url":"/fehervarradiobe","method":"post","upload":false,"swaggerDoc":"","x":180,"y":800,"wires":[["d7c16cc2.9414f","8ad337da.76b3b8"]]},{"id":"cc13ce34.c2e11","type":"exec","z":"1817f3f0.0d681c","command":"echo \"set_property volume 100\" > /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume 100%","x":420,"y":420,"wires":[[],[],[]]},{"id":"1a1c02aa.92937d","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"75934bef.33fc54","order":7,"width":0,"height":0,"passthru":false,"label":"Volume 100%","color":"","bgcolor":"","icon":"","payload":"\"volume 10\" > /tmp/mplayer-control","payloadType":"str","topic":"","x":200,"y":420,"wires":[["cc13ce34.c2e11"]]},{"id":"6635ad61.0de044","type":"exec","z":"1817f3f0.0d681c","command":"echo \"set_property volume 80\" > /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume 50%","x":410,"y":480,"wires":[[],[],[]]},{"id":"46600875.4cd358","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"75934bef.33fc54","order":8,"width":0,"height":0,"passthru":false,"label":"Volume 80%","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":480,"wires":[["6635ad61.0de044"]]},{"id":"627e6c84.f534e4","type":"http in","z":"1817f3f0.0d681c","name":"","url":"/radiovolume50","method":"post","upload":false,"swaggerDoc":"","x":180,"y":520,"wires":[["6635ad61.0de044","d89ec77f.af88e8"]]},{"id":"8b11e1d8.a305c","type":"exec","z":"1817f3f0.0d681c","command":"mplayer -slave  -input file=/tmp/mplayer-control http://stream002.radio.hu/mr1.mp3 > /dev/null 2>&1 &","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kossuth Rádió","x":860,"y":900,"wires":[["f7b1c7d0.b7fd28"],[],[]]},{"id":"80806279.f0334","type":"exec","z":"1817f3f0.0d681c","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill","x":590,"y":900,"wires":[["3d8c8a6c.fc8bb6"],[],[]]},{"id":"3d8c8a6c.fc8bb6","type":"exec","z":"1817f3f0.0d681c","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":710,"y":900,"wires":[["8b11e1d8.a305c"],[],[]]},{"id":"226a953f.a9dcaa","type":"ui_button","z":"1817f3f0.0d681c","name":"","group":"68ae5b30.b88844","order":3,"width":0,"height":0,"passthru":true,"label":"Kossuth Rádió","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":900,"wires":[["80806279.f0334","ec36f09f.ace06"]]},{"id":"f7b1c7d0.b7fd28","type":"function","z":"1817f3f0.0d681c","name":"Kossuth","func":"msg.payload = \"Kossuth Rádió\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":900,"wires":[["a209bbe1.47f758"]]},{"id":"18123b9c.79f504","type":"http in","z":"1817f3f0.0d681c","name":"","url":"/kossuthradiobe","method":"post","upload":false,"swaggerDoc":"","x":180,"y":900,"wires":[["226a953f.a9dcaa","85d5239a.4521d"]]},{"id":"69dcbf0d.948c6","type":"function","z":"1817f3f0.0d681c","name":"msg = OK","func":"msg.payload = \"OK\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":520,"wires":[["664cc62f.9ea7b8"]]},{"id":"664cc62f.9ea7b8","type":"http response","z":"1817f3f0.0d681c","name":"send OK","statusCode":"","headers":{},"x":880,"y":520,"wires":[]},{"id":"34305478.0c24ac","type":"link in","z":"1817f3f0.0d681c","name":"Aktív rádió","links":["a209bbe1.47f758","3843d14a.d540ce","59cc6c3b.b906f4"],"x":775,"y":380,"wires":[["834558f5.1e6558"]]},{"id":"a209bbe1.47f758","type":"link out","z":"1817f3f0.0d681c","name":"","links":["34305478.0c24ac"],"x":1155,"y":900,"wires":[]},{"id":"1f39130.92777ed","type":"link in","z":"1817f3f0.0d681c","name":"Rádió Leállítva","links":["ec36f09f.ace06","7173ad39.fc00f4","3e968b39.427024"],"x":535,"y":380,"wires":[["548d6342.a81a6c"]]},{"id":"ec36f09f.ace06","type":"link out","z":"1817f3f0.0d681c","name":"","links":["1f39130.92777ed"],"x":555,"y":860,"wires":[]},{"id":"7173ad39.fc00f4","type":"link out","z":"1817f3f0.0d681c","name":"","links":["1f39130.92777ed"],"x":555,"y":760,"wires":[]},{"id":"3843d14a.d540ce","type":"link out","z":"1817f3f0.0d681c","name":"","links":["34305478.0c24ac"],"x":1155,"y":800,"wires":[]},{"id":"85d5239a.4521d","type":"link out","z":"1817f3f0.0d681c","name":"","links":["3321ff1e.3b844"],"x":335,"y":940,"wires":[]},{"id":"3321ff1e.3b844","type":"link in","z":"1817f3f0.0d681c","name":"SendOK","links":["85d5239a.4521d","d7c16cc2.9414f","bafe8fd0.e3b79","fb1a3527.0de428","d89ec77f.af88e8","98e8c31d.b5e18"],"x":540,"y":520,"wires":[["69dcbf0d.948c6"]]},{"id":"d7c16cc2.9414f","type":"link out","z":"1817f3f0.0d681c","name":"SendOK","links":["3321ff1e.3b844"],"x":335,"y":840,"wires":[]},{"id":"bf5f12b7.c0874","type":"http in","z":"1817f3f0.0d681c","name":"","url":"/kekdunaradiobe","method":"post","upload":false,"swaggerDoc":"","x":180,"y":680,"wires":[["fb1a3527.0de428","8069822f.5d632"]]},{"id":"fb1a3527.0de428","type":"link out","z":"1817f3f0.0d681c","name":"SendOK","links":["3321ff1e.3b844"],"x":335,"y":720,"wires":[]},{"id":"59cc6c3b.b906f4","type":"link out","z":"1817f3f0.0d681c","name":"","links":["34305478.0c24ac"],"x":1135,"y":680,"wires":[]},{"id":"3e968b39.427024","type":"link out","z":"1817f3f0.0d681c","name":"","links":["1f39130.92777ed"],"x":555,"y":640,"wires":[]},{"id":"d89ec77f.af88e8","type":"link out","z":"1817f3f0.0d681c","name":"SendOK","links":["3321ff1e.3b844"],"x":355,"y":520,"wires":[]},{"id":"ced16a51.e3d8d8","type":"http in","z":"1817f3f0.0d681c","name":"","url":"/radioki","method":"post","upload":false,"swaggerDoc":"","x":149,"y":564,"wires":[["98e8c31d.b5e18","28efe57d.eba80a"]]},{"id":"98e8c31d.b5e18","type":"link out","z":"1817f3f0.0d681c","name":"SendOK","links":["3321ff1e.3b844"],"x":354,"y":564,"wires":[]},{"id":"75934bef.33fc54","type":"ui_group","z":"","name":"Control","tab":"872b1f34.a4d7b","order":2,"disp":true,"width":"6"},{"id":"68ae5b30.b88844","type":"ui_group","z":"","name":"Stations","tab":"872b1f34.a4d7b","order":1,"disp":true,"width":"6"},{"id":"872b1f34.a4d7b","type":"ui_tab","z":"","name":"Online Radio","icon":"dashboard"}]