Github Repo/Node Red Code/Working Code/Smart Gate Controller/LED Dimmer.txt
[{"id":"93fc586a.9033f","type":"rpi-gpio out","z":"aaa3fa9b.9803a8","name":"LED 2 on BCM7","pin":"26","set":"","level":"0","freq":"","out":"pwm","x":640,"y":120,"wires":[]},{"id":"336cb082.8c4bb8","type":"inject","z":"aaa3fa9b.9803a8","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":196,"y":118,"wires":[["93fc586a.9033f"]]},{"id":"d54053e7.e8b3","type":"inject","z":"aaa3fa9b.9803a8","name":"5%","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":209,"y":174,"wires":[["93fc586a.9033f"]]},{"id":"e0679e8e.049f9","type":"inject","z":"aaa3fa9b.9803a8","name":"30%","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"x":212,"y":235,"wires":[["93fc586a.9033f"]]},{"id":"17954ba7.5a6f8c","type":"inject","z":"aaa3fa9b.9803a8","name":"50%","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":214,"y":291,"wires":[["93fc586a.9033f"]]},{"id":"c0344391.db8588","type":"inject","z":"aaa3fa9b.9803a8","name":"100%","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":212,"y":349,"wires":[["93fc586a.9033f"]]},{"id":"d45d3e5a.75823","type":"comment","z":"aaa3fa9b.9803a8","name":"Pins","info":"** Notes: **\nYou can't have a pin in 2 flows\nIf you add a pin into a second flow with a different type then you'll need to restart node-red","x":611,"y":208.5,"wires":[]}]