Github Repo/Node Red Code/Working Code/Smart Gate Controller/RTSP Camera Flow.txt
[{"id":"e65e3a04.f47398","type":"inject","z":"545b4d74.fd2644","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":200,"wires":[["81ba95c.5772768"]]},{"id":"a807e127.4177c","type":"exec","z":"545b4d74.fd2644","command":"avconv -i rtsp://admin@192.168.1.239:554/ch01.264 -frames 1 -qscale 1 -f image2","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"grab a frame","x":510,"y":240,"wires":[[],[],[]]},{"id":"f1132e09.1d1da","type":"inject","z":"545b4d74.fd2644","name":"Set Filename","topic":"","payload":"/home/pi/Pictures/Security/Testing/grabCam1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["81ba95c.5772768"]]},{"id":"269aeae6.e43b06","type":"debug","z":"545b4d74.fd2644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":140,"wires":[]},{"id":"f53faf4c.41cd8","type":"debug","z":"545b4d74.fd2644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":220,"wires":[]},{"id":"21937f80.347f4","type":"file","z":"545b4d74.fd2644","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":730,"y":180,"wires":[]},{"id":"e956c587.f85e58","type":"ui_template","z":"545b4d74.fd2644","group":"fbb208d4.1f9628","name":"","order":0,"width":0,"height":0,"format":"<div height=\"210\" style=\"height: 210px;\">\n<img src=\"/grab.jpg\"/ width=\"200\"><br/>\n<a href=\"/grab.jpg\" target=\"_blank\">Full screen</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":100,"wires":[[]]},{"id":"81ba95c.5772768","type":"ui_button","z":"545b4d74.fd2644","name":"Grab CAM1 image","group":"fbb208d4.1f9628","order":0,"width":"2","height":"1","passthru":true,"label":"CAM 1","color":"","bgcolor":"","icon":"","payload":"/home/pi/Pictures/Security/Testing/grabCam3.jpg","payloadType":"str","topic":"","x":430,"y":160,"wires":[["1d658810.114ce8"]]},{"id":"1d658810.114ce8","type":"exec","z":"545b4d74.fd2644","command":"avconv -i rtsp://192.168.1.239:554/user=ChrisHayes31&password=31Aussie!&channel=1&stream=1.sdp? -frames 1 -qscale 1 -f image2","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"grab a frame","x":510,"y":300,"wires":[["e956c587.f85e58","269aeae6.e43b06"],["21937f80.347f4"],["f53faf4c.41cd8"]]},{"id":"fbb208d4.1f9628","type":"ui_group","z":"","name":"Colour Buttons","tab":"11213176.b6081f","disp":true,"width":"6"},{"id":"11213176.b6081f","type":"ui_tab","z":"","name":"testing","icon":"dashboard","order":4}]