Github Repo/Node Red Code/LCD Screen/Node Red/LCD SCreen Test 20 July 2017 a.txt
[{"id":"42ac3a9a.0b9b74","type":"exec","z":"60e518a.9da73e8","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_blink_test.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Blinking Text","x":550,"y":80,"wires":[["9dcf535a.4be1f"],["728448f3.2b6838"],["b5045450.7f87a8"]]},{"id":"75fab73b.3b4da8","type":"inject","z":"60e518a.9da73e8","name":"Demo Clock","topic":"Demo Clock","payload":"demo_clock.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":140,"wires":[["cb0d9526.69dda8"]]},{"id":"9dcf535a.4be1f","type":"debug","z":"60e518a.9da73e8","name":"","active":true,"console":"false","complete":"false","x":950,"y":160,"wires":[]},{"id":"5c512a95.bf57f4","type":"inject","z":"60e518a.9da73e8","name":"Clear Screen","topic":"Clear Screen","payload":"lcdclear.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":200,"wires":[["2e9cde84.a80122"]]},{"id":"dfd80142.0d035","type":"inject","z":"60e518a.9da73e8","name":"Display Date and Time","topic":"Display Date and Time","payload":"lcd_date_time.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":260,"wires":[["2e340e7a.496b82"]]},{"id":"d4b88b55.38a8d8","type":"inject","z":"60e518a.9da73e8","name":"Display Text Right to Left","topic":"Display Text Right to Left","payload":"lcd_text_right_left.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":600,"wires":[["93bd3302.e9d57"]]},{"id":"728448f3.2b6838","type":"debug","z":"60e518a.9da73e8","name":"","active":true,"console":"false","complete":"false","x":950,"y":200,"wires":[]},{"id":"b5045450.7f87a8","type":"debug","z":"60e518a.9da73e8","name":"","active":true,"console":"false","complete":"false","x":950,"y":240,"wires":[]},{"id":"c904450e.026258","type":"inject","z":"60e518a.9da73e8","name":"Display IP address","topic":"Display IP Address","payload":"lcd_print_IP_address.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":320,"wires":[["b846ccdd.81672"]]},{"id":"93bd3302.e9d57","type":"function","z":"60e518a.9da73e8","name":"convert to python shell string","func":"msg.payload = msg.payload;\nvar s_length = msg.payload.length;\nvar str = msg.payload;\nvar line_number = str.substring(s_length-1, s_length);\nvar text_msg = str.substring(0, s_length-2);\nvar loc_msg = \"lcd_text_to_display.py\";\n//var loc_msg = \"python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/lcd_text_to_display.py\";\n//\"hello chris\" \"3\"\nvar msg1 = {payload:text_msg};\nvar msg2 = {payload:line_number};\nvar newMsg = {payload:loc_msg.concat(\" \", text_msg, \" \", line_number)};\n\n//python3 /home/pi/.node-red/lcd/lcd_text_to_display.py \"hello chris\" \"3\"\nnode.send ({payload:[newMsg.payload]}); \n//sleep\n//loc_msg = \"python3 /home/pi/.node-red/lcd/lcdclear.py\";\nreturn null;","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["d3b5e69.a5d3818"]]},{"id":"f38ef068.1557d","type":"inject","z":"60e518a.9da73e8","name":"Display Hello Chris on line 1","topic":"Display text line 1","payload":"Hello Chris,1","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":420,"wires":[["202724c.9955edc"]]},{"id":"d3b5e69.a5d3818","type":"debug","z":"60e518a.9da73e8","name":"","active":true,"console":"false","complete":"payload","x":950,"y":600,"wires":[]},{"id":"9d8598fa.487c18","type":"inject","z":"60e518a.9da73e8","name":"Display Hello Chris on line 2","topic":"Display text line 2","payload":"Hello Chris 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":460,"wires":[["202724c.9955edc"]]},{"id":"53722a79.8e8c94","type":"inject","z":"60e518a.9da73e8","name":"Display Hello Chris on line 3","topic":"Display text line 3","payload":"Hello Chris 3","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":500,"wires":[["202724c.9955edc"]]},{"id":"490ffa9b.92efa4","type":"inject","z":"60e518a.9da73e8","name":"Display Hello Chris on line 4","topic":"Display text line 4","payload":"Hello Chris 4","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":540,"wires":[["202724c.9955edc"]]},{"id":"a71612a4.b4971","type":"inject","z":"60e518a.9da73e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":80,"wires":[["42ac3a9a.0b9b74"]]},{"id":"202724c.9955edc","type":"exec","z":"60e518a.9da73e8","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_text_to_display.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"LCD Text to Display","x":570,"y":380,"wires":[["9dcf535a.4be1f"],["728448f3.2b6838"],["b5045450.7f87a8"]]},{"id":"cb0d9526.69dda8","type":"exec","z":"60e518a.9da73e8","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/demo_clock.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Demo Clock","x":550,"y":140,"wires":[["9dcf535a.4be1f"],["728448f3.2b6838"],["b5045450.7f87a8"]]},{"id":"b846ccdd.81672","type":"exec","z":"60e518a.9da73e8","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_print_IP_address.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Ip Address","x":550,"y":320,"wires":[["9dcf535a.4be1f"],["728448f3.2b6838"],["b5045450.7f87a8"]]},{"id":"2e340e7a.496b82","type":"exec","z":"60e518a.9da73e8","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_date_time.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Display Date Time","x":570,"y":260,"wires":[["9dcf535a.4be1f"],["728448f3.2b6838"],["b5045450.7f87a8"]]},{"id":"2e9cde84.a80122","type":"exec","z":"60e518a.9da73e8","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcdclear.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Clear Screen","x":550,"y":200,"wires":[["9dcf535a.4be1f"],["728448f3.2b6838"],["b5045450.7f87a8"]]}]