Github Repo/Node Red Code/LCD Screen/Node Red/LCD SCreen Test 21 July 2017 new driver.txt
[{"id":"b26af5e3.a70548","type":"exec","z":"eb8ecf12.25057","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/python_lcd/lcd/lcd_blink_test.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Blinking Text","x":490,"y":60,"wires":[["41660a1b.44bc74"],["a0ec395c.7a7848"],["1799aebb.e265d1"]]},{"id":"27793d25.1b95b2","type":"inject","z":"eb8ecf12.25057","name":"Demo Clock","topic":"Demo Clock","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":120,"wires":[["eed8c553.2415b8"]]},{"id":"41660a1b.44bc74","type":"debug","z":"eb8ecf12.25057","name":"","active":true,"console":"false","complete":"false","x":890,"y":140,"wires":[]},{"id":"9bbc24fe.1ba518","type":"inject","z":"eb8ecf12.25057","name":"Clear Screen","topic":"Clear Screen","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":180,"wires":[["f4355870.7a7518"]]},{"id":"c770f520.dbf738","type":"inject","z":"eb8ecf12.25057","name":"Display Date and Time","topic":"Display Date and Time","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":240,"wires":[["6c9c4cb4.3cd3d4"]]},{"id":"ee156e54.21e5a","type":"inject","z":"eb8ecf12.25057","name":"Display Text Right to Left","topic":"Display Text Right to Left","payload":"lcd_text_right_left.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":580,"wires":[["a08630e2.e339f"]]},{"id":"a0ec395c.7a7848","type":"debug","z":"eb8ecf12.25057","name":"","active":true,"console":"false","complete":"false","x":890,"y":180,"wires":[]},{"id":"1799aebb.e265d1","type":"debug","z":"eb8ecf12.25057","name":"","active":true,"console":"false","complete":"false","x":890,"y":220,"wires":[]},{"id":"2aac286f.85a4f8","type":"inject","z":"eb8ecf12.25057","name":"Display IP address","topic":"Display IP Address","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":300,"wires":[["2ed17e6e.b84bb2"]]},{"id":"a08630e2.e339f","type":"function","z":"eb8ecf12.25057","name":"convert to python shell string","func":"msg.payload = msg.payload;\nvar s_length = msg.payload.length;\nvar str = msg.payload;\nvar line_number = str.substring(s_length-1, s_length);\nvar text_msg = str.substring(0, s_length-2);\nvar loc_msg = \"lcd_text_to_display.py\";\n//var loc_msg = \"python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/lcd_text_to_display.py\";\n//\"hello chris\" \"3\"\nvar msg1 = {payload:text_msg};\nvar msg2 = {payload:line_number};\nvar newMsg = {payload:loc_msg.concat(\" \", text_msg, \" \", line_number)};\n\n//python3 /home/pi/.node-red/lcd/lcd_text_to_display.py \"hello chris\" \"3\"\nnode.send ({payload:[newMsg.payload]}); \n//sleep\n//loc_msg = \"python3 /home/pi/.node-red/lcd/lcdclear.py\";\nreturn null;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["edf60ebb.f09ec"]]},{"id":"edfbd0fd.82749","type":"inject","z":"eb8ecf12.25057","name":"Display Hello Chris on line 1","topic":"Display text line 1","payload":"\"Chris -1\" 1 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":400,"wires":[["711c9a15.6046d4"]]},{"id":"edf60ebb.f09ec","type":"debug","z":"eb8ecf12.25057","name":"","active":false,"console":"false","complete":"payload","x":890,"y":580,"wires":[]},{"id":"7a2cdea.db24c2","type":"inject","z":"eb8ecf12.25057","name":"Display Hello Chris on line 2","topic":"Display text line 2","payload":"\"Chris-2\" 2 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":440,"wires":[["711c9a15.6046d4"]]},{"id":"d907b684.655748","type":"inject","z":"eb8ecf12.25057","name":"Display Hello Chris on line 3","topic":"Display text line 3","payload":"\"Chris-3\" 3 3","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":480,"wires":[["711c9a15.6046d4"]]},{"id":"72fe60bf.b43cc","type":"inject","z":"eb8ecf12.25057","name":"Display Hello Chris on line 4","topic":"Display text line 4","payload":"\"Chris-4\" 4 4","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":520,"wires":[["711c9a15.6046d4"]]},{"id":"d7d98284.c94d","type":"inject","z":"eb8ecf12.25057","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":60,"wires":[["b26af5e3.a70548"]]},{"id":"711c9a15.6046d4","type":"exec","z":"eb8ecf12.25057","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/python_lcd/lcd/i2c_lcd_print.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"LCD Text to Display","x":510,"y":360,"wires":[["41660a1b.44bc74"],["a0ec395c.7a7848"],["1799aebb.e265d1"]]},{"id":"eed8c553.2415b8","type":"exec","z":"eb8ecf12.25057","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/python_lcd/lcd/demo_clock.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Demo Clock","x":490,"y":120,"wires":[["41660a1b.44bc74"],["a0ec395c.7a7848"],["1799aebb.e265d1"]]},{"id":"2ed17e6e.b84bb2","type":"exec","z":"eb8ecf12.25057","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/python_lcd/lcd/lcd_print_IP_address.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Ip Address","x":490,"y":300,"wires":[["41660a1b.44bc74"],["a0ec395c.7a7848"],["1799aebb.e265d1"]]},{"id":"6c9c4cb4.3cd3d4","type":"exec","z":"eb8ecf12.25057","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/python_lcd/lcd/lcd_date_time.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Display Date Time","x":510,"y":240,"wires":[["41660a1b.44bc74"],["a0ec395c.7a7848"],["1799aebb.e265d1"]]},{"id":"f4355870.7a7518","type":"exec","z":"eb8ecf12.25057","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/python_lcd/lcd/lcdclear.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Clear Screen","x":490,"y":180,"wires":[["41660a1b.44bc74"],["a0ec395c.7a7848"],["1799aebb.e265d1"]]}]