Github Repo/Node Red Code/Stephens Influx/Flow 4 Extract tester node.txt
[{"id":"4d4c24bf.5f5cac","type":"inject","z":"7f9687ff.704518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 0-23 * * *","once":false,"x":170,"y":160,"wires":[["75e9d62c.33db58"]]},{"id":"75e9d62c.33db58","type":"http request","z":"7f9687ff.704518","name":"","method":"GET","ret":"txt","url":"http://192.168.1.125","tls":"","x":230,"y":240,"wires":[["eb56ba7e.365ad8","833dc9cd.80f0b8"]]},{"id":"eb56ba7e.365ad8","type":"csv","z":"7f9687ff.704518","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","x":550,"y":120,"wires":[["457174b2.d94b5c","d70f0b58.d38dd8"]]},{"id":"833dc9cd.80f0b8","type":"debug","z":"7f9687ff.704518","name":"http:request_Message","active":true,"console":"false","complete":"payload","x":440,"y":240,"wires":[]},{"id":"457174b2.d94b5c","type":"debug","z":"7f9687ff.704518","name":"","active":false,"console":"false","complete":"payload","x":750,"y":120,"wires":[]},{"id":"88d37979.b3f358","type":"function","z":"7f9687ff.704518","name":"function 1","func":"var array_length = { payload: msg.payload.length };\nvar raw_text = { payload: msg.payload };\nvar t_temp = 'Temperature';\nvar t_ROM  = 'ROM';\n//var s_data = [];\n\nvar s_data1 = msg //{payload:\"test1\"};\n\nvar s_data2 = {payload:msg.payload};\nvar s_data3 = {payload:\"test3\"};\nvar s_data4 = msg.payload.split(\",\");\n\n\nfor (var i = 0; i < array_length; i++)\n    {\n    //return [s_data1, s_data2, s_data3, s_data4];\n    }\n    //var temp_dta = parse(t_data[1]);\n    //s_data.push(msg.val);\n    //return i;\n            \n   //var s_data = msg.payload['ROM'];        \n   //var t_data = msg.payload.split(',');\n    //var temp_dta = parse(t_data[1]);\n    //var maca_dta = parse(t_data[0]);\n    //return [maca_dta],[temp_dta];\n    \n\n//return msg;\nreturn s_data4;\n\n\n//get the size of the array\n//for each item in the array loop through\n//using the field names in each item\n//pass each item into influxdb\n//then stop\n//var newMsg = { payload: msg.payload.length };\n//return newMsg;","outputs":1,"noerr":0,"x":700,"y":200,"wires":[[]]},{"id":"a4cc013b.5c782","type":"debug","z":"7f9687ff.704518","name":"Extract_Message","active":true,"console":"false","complete":"payload","x":770,"y":300,"wires":[]},{"id":"844f7db6.13342","type":"function","z":"7f9687ff.704518","name":"Extract_Temps","func":"var myDataArray = msg.payload;\nvar arrayLength = myDataArray.length;\nvar t_data = [];\n/*\nfor (var i = 0; i < arrayLength; i++) \n    {\n    //msg.payload = (myDataArray[i]);\n    //t_data[i] = (myDataArray[i]);\n    //t_data[i+1] = (myDataArray[i]);\n    msg.payload = msg.payload[0][0].last;\n    return msg;\n    //return t_data[i];\n    //return msg;\n    }\n*/\nmsg.payload = msg.payload.[0].[0].last;\n//msg.payload = msg.payload[0][0].last;\nreturn msg;\n    ","outputs":1,"noerr":16,"x":670,"y":360,"wires":[[]]},{"id":"d70f0b58.d38dd8","type":"function","z":"7f9687ff.704518","name":"Extract_Test","func":"var myStringArray = msg.payload;\nvar arrayLength = myStringArray.length;\nfor (var i = 0; i < arrayLength; i++) \n    {\n    var result = (myStringArray[i]);\n    node.send({payload:result});\n    }\n return null;","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["a4cc013b.5c782"]]}]