Node Red/Node Red Code/Working Code/AMX TXC16 Simulator 14-07-2017.txt
[{"id":"da89127f.ecda9","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Pwr On/Off","group":"11a5dc34.1ca974","order":1,"width":"3","height":"1","passthru":true,"label":"Pwr On/Off","color":"","bgcolor":"RED","icon":"","payload":"1","payloadType":"num","topic":"","x":349,"y":44,"wires":[["46f0fb5b.d2ad34"]]},{"id":"53113275.aa24cc","type":"ui_button","z":"ccc6fd3a.37a0e","name":"DVD","group":"11a5dc34.1ca974","order":3,"width":"3","height":"1","passthru":true,"label":"DVD","color":"","bgcolor":"GREEN","icon":"","payload":"2","payloadType":"num","topic":"","x":369,"y":84,"wires":[["46f0fb5b.d2ad34"]]},{"id":"bb5a6e7e.7ab0d","type":"ui_button","z":"ccc6fd3a.37a0e","name":"CH Up","group":"11a5dc34.1ca974","order":5,"width":"3","height":"1","passthru":true,"label":"Ch Up","color":"","bgcolor":"BLUE","icon":"","payload":"3","payloadType":"num","topic":"","x":369,"y":124,"wires":[["46f0fb5b.d2ad34"]]},{"id":"cea7c84b.48f9c8","type":"ui_button","z":"ccc6fd3a.37a0e","name":"CH Down","group":"11a5dc34.1ca974","order":7,"width":"3","height":"1","passthru":false,"label":"Ch Down","color":"","bgcolor":"BLUE","icon":"","payload":"4","payloadType":"num","topic":"","x":359,"y":164,"wires":[["46f0fb5b.d2ad34"]]},{"id":"ed6eeb43.765468","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Vol Up","group":"11a5dc34.1ca974","order":9,"width":"3","height":"1","passthru":true,"label":"Vol Up","color":"","bgcolor":"BLUE","icon":"","payload":"5","payloadType":"num","topic":"","x":369,"y":204,"wires":[["46f0fb5b.d2ad34"]]},{"id":"327fcc17.984104","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Vol Down","group":"11a5dc34.1ca974","order":11,"width":"3","height":"1","passthru":true,"label":"Vol Down","color":"","bgcolor":"BLUE","icon":"","payload":"6","payloadType":"num","topic":"","x":359,"y":244,"wires":[["46f0fb5b.d2ad34"]]},{"id":"e18d3b3e.3c2458","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Stop/Menu","group":"11a5dc34.1ca974","order":13,"width":"3","height":"1","passthru":true,"label":"Stop/mENU","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"7","payloadType":"num","topic":"","x":349,"y":284,"wires":[["46f0fb5b.d2ad34"]]},{"id":"ce12763f.381ca8","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Left/Rwd","group":"11a5dc34.1ca974","order":15,"width":"3","height":"1","passthru":true,"label":"Left/Rwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"8","payloadType":"num","topic":"","x":359,"y":324,"wires":[["46f0fb5b.d2ad34"]]},{"id":"e5c79bc9.f6e558","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Menu/AMP","group":"11a5dc34.1ca974","order":2,"width":"3","height":"1","passthru":true,"label":"Menu/AMP","color":"","bgcolor":"GREEN","icon":"","payload":"9","payloadType":"num","topic":"","x":349,"y":364,"wires":[["46f0fb5b.d2ad34"]]},{"id":"1a0a5802.af8a48","type":"ui_button","z":"ccc6fd3a.37a0e","name":"FOX/FOX2","group":"11a5dc34.1ca974","order":4,"width":"3","height":"1","passthru":true,"label":"Fox/Fox2","color":"","bgcolor":"GREEN","icon":"","payload":"10","payloadType":"num","topic":"","x":349,"y":404,"wires":[["46f0fb5b.d2ad34"]]},{"id":"f6524e8a.3afea","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Media Player","group":"11a5dc34.1ca974","order":6,"width":"3","height":"1","passthru":true,"label":"Media Player","color":"","bgcolor":"GREEN","icon":"","payload":"11","payloadType":"num","topic":"","x":349,"y":444,"wires":[["46f0fb5b.d2ad34"]]},{"id":"97a1d48c.19b278","type":"ui_button","z":"ccc6fd3a.37a0e","name":"TV","group":"11a5dc34.1ca974","order":8,"width":"3","height":"1","passthru":true,"label":"TV","color":"","bgcolor":"GREEN","icon":"","payload":"12","payloadType":"num","topic":"","x":369,"y":484,"wires":[["46f0fb5b.d2ad34"]]},{"id":"b563f1ed.73e28","type":"ui_button","z":"ccc6fd3a.37a0e","name":"CD","group":"11a5dc34.1ca974","order":10,"width":"3","height":"1","passthru":true,"label":"CD","color":"","bgcolor":"GREEN","icon":"","payload":"13","payloadType":"num","topic":"","x":369,"y":524,"wires":[["46f0fb5b.d2ad34"]]},{"id":"a71bc0d7.129d6","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Back/Return","group":"11a5dc34.1ca974","order":12,"width":"3","height":"1","passthru":true,"label":"Back/Return","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"14","payloadType":"num","topic":"","x":349,"y":564,"wires":[["46f0fb5b.d2ad34"]]},{"id":"663048f4.da82c8","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Play/Select Ok","group":"11a5dc34.1ca974","order":14,"width":"3","height":"1","passthru":true,"label":"Play/Select Ok","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"15","payloadType":"num","topic":"","x":339,"y":604,"wires":[["46f0fb5b.d2ad34"]]},{"id":"7d9f499.a7f62b8","type":"ui_button","z":"ccc6fd3a.37a0e","name":"Right/Fwd","group":"11a5dc34.1ca974","order":16,"width":"3","height":"1","passthru":true,"label":"Right/Fwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"16","payloadType":"num","topic":"","x":359,"y":644,"wires":[["46f0fb5b.d2ad34"]]},{"id":"ff8c6941.ac3c38","type":"tcp out","z":"ccc6fd3a.37a0e","host":"192.168.1.150","port":"4052","beserver":"client","base64":false,"end":false,"name":"AMX_Netlinx","x":869,"y":284,"wires":[]},{"id":"46f0fb5b.d2ad34","type":"change","z":"ccc6fd3a.37a0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":659,"y":324,"wires":[["ff8c6941.ac3c38","6788d4eb.4839ec"]]},{"id":"77e50897.04f818","type":"inject","z":"ccc6fd3a.37a0e","name":"Power On/Off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":129,"y":44,"wires":[["da89127f.ecda9"]]},{"id":"2db763f7.48e00c","type":"inject","z":"ccc6fd3a.37a0e","name":"DVD","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":149,"y":84,"wires":[["53113275.aa24cc"]]},{"id":"150344be.dbcdbb","type":"inject","z":"ccc6fd3a.37a0e","name":"Channel Up","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":129,"y":124,"wires":[["bb5a6e7e.7ab0d"]]},{"id":"1192fa55.329ac6","type":"inject","z":"ccc6fd3a.37a0e","name":"Channel Down","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":119,"y":164,"wires":[["cea7c84b.48f9c8"]]},{"id":"33360098.885b1","type":"inject","z":"ccc6fd3a.37a0e","name":"Vol Up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":149,"y":204,"wires":[["ed6eeb43.765468"]]},{"id":"de432982.54ca28","type":"inject","z":"ccc6fd3a.37a0e","name":"Vol Down","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"x":139,"y":244,"wires":[["327fcc17.984104"]]},{"id":"a37e8012.7ae59","type":"inject","z":"ccc6fd3a.37a0e","name":"Stop/Menu","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":139,"y":284,"wires":[["e18d3b3e.3c2458"]]},{"id":"38cd92f9.2aae2e","type":"inject","z":"ccc6fd3a.37a0e","name":"Left/Rwd","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":139,"y":324,"wires":[["ce12763f.381ca8"]]},{"id":"f9c0e4e4.191638","type":"inject","z":"ccc6fd3a.37a0e","name":"Menu/Amp","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":139,"y":364,"wires":[["e5c79bc9.f6e558"]]},{"id":"56b09d22.0b8b04","type":"inject","z":"ccc6fd3a.37a0e","name":"Fox/Fox2","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":139,"y":404,"wires":[["1a0a5802.af8a48"]]},{"id":"6c297c16.f30fb4","type":"inject","z":"ccc6fd3a.37a0e","name":"Media Player","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"x":129,"y":444,"wires":[["f6524e8a.3afea"]]},{"id":"78d57e0.972fc84","type":"inject","z":"ccc6fd3a.37a0e","name":"TV","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"x":149,"y":484,"wires":[["97a1d48c.19b278"]]},{"id":"75df2036.62045","type":"inject","z":"ccc6fd3a.37a0e","name":"CD","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"x":149,"y":524,"wires":[["b563f1ed.73e28"]]},{"id":"29ddb276.6015be","type":"inject","z":"ccc6fd3a.37a0e","name":"Back/Return","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"x":129,"y":564,"wires":[["a71bc0d7.129d6"]]},{"id":"aa18bdf3.aebd1","type":"inject","z":"ccc6fd3a.37a0e","name":"Play/Select Ok","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"x":119,"y":604,"wires":[["663048f4.da82c8"]]},{"id":"9446dfb1.a7d48","type":"inject","z":"ccc6fd3a.37a0e","name":"Right/Fwd","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"x":139,"y":644,"wires":[["7d9f499.a7f62b8"]]},{"id":"6788d4eb.4839ec","type":"debug","z":"ccc6fd3a.37a0e","name":"","active":true,"console":"false","complete":"false","x":869,"y":364,"wires":[]},{"id":"11a5dc34.1ca974","type":"ui_group","z":"","name":"AMX TXC16 Simulator","tab":"33679776.9fd3d8","disp":true,"width":"6"},{"id":"33679776.9fd3d8","type":"ui_tab","z":"","name":"AMX TXC16","icon":"dashboard"}]