Node Red/Node Red Code/Working Code/Onkyo Amplifier controller.txt
[{"id":"5e038047.0cf9e","type":"ui_button","z":"7275a55e.4e71cc","name":"Volume Up","group":"bc51a4df.2ee0b8","order":2,"width":"3","height":"1","passthru":true,"label":"Volume Up","color":"","bgcolor":"BLUE","icon":"","payload":"main volume level-up","payloadType":"str","topic":"","x":490,"y":120,"wires":[["38ecde1e.070192"]]},{"id":"fdf86e51.a1f7a","type":"debug","z":"7275a55e.4e71cc","name":"","active":true,"console":"false","complete":"payload","x":1210,"y":680,"wires":[]},{"id":"4171c0aa.a6fec","type":"ui_button","z":"7275a55e.4e71cc","name":"Volume Down","group":"bc51a4df.2ee0b8","order":4,"width":"3","height":"1","passthru":true,"label":"Volume Down","color":"","bgcolor":"BLUE","icon":"","payload":"main volume level-down","payloadType":"str","topic":"","x":480,"y":160,"wires":[["38ecde1e.070192"]]},{"id":"88e13097.108d7","type":"ui_button","z":"7275a55e.4e71cc","name":"HDMI - PC - 5","group":"bc51a4df.2ee0b8","order":13,"width":"3","height":"1","passthru":true,"label":"HDMI - PC","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector pc","payloadType":"str","topic":"","x":480,"y":200,"wires":[["38ecde1e.070192"]]},{"id":"aee13890.e1cf68","type":"ui_button","z":"7275a55e.4e71cc","name":"HDMI - DVD - 10","group":"bc51a4df.2ee0b8","order":11,"width":"3","height":"1","passthru":true,"label":"HDMI - DVD","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector dvd","payloadType":"str","topic":"","x":470,"y":240,"wires":[["38ecde1e.070192"]]},{"id":"87cad7c8.2ed5a8","type":"ui_button","z":"7275a55e.4e71cc","name":"CD/TV","group":"bc51a4df.2ee0b8","order":15,"width":"3","height":"1","passthru":true,"label":"CD/TV","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector cd","payloadType":"str","topic":"","x":510,"y":400,"wires":[["38ecde1e.070192"]]},{"id":"541425f0.722e6c","type":"ui_button","z":"7275a55e.4e71cc","name":"iRadio","group":"bc51a4df.2ee0b8","order":10,"width":"3","height":"1","passthru":true,"label":"Radio","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector internet-radio","payloadType":"str","topic":"","x":510,"y":440,"wires":[["38ecde1e.070192"]]},{"id":"76b7fb35.0d6474","type":"ui_button","z":"7275a55e.4e71cc","name":"Tuner","group":"bc51a4df.2ee0b8","order":17,"width":"3","height":"1","passthru":true,"label":"Tuner","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector tuner","payloadType":"str","topic":"","x":510,"y":480,"wires":[["38ecde1e.070192"]]},{"id":"36e853c0.7f325c","type":"ui_button","z":"7275a55e.4e71cc","name":"Phono","group":"bc51a4df.2ee0b8","order":12,"width":"3","height":"1","passthru":true,"label":"Phono","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector phono","payloadType":"str","topic":"","x":510,"y":520,"wires":[["38ecde1e.070192"]]},{"id":"7a7a5427.3a650c","type":"ui_button","z":"7275a55e.4e71cc","name":"HDMI - AUX - 3","group":"bc51a4df.2ee0b8","order":9,"width":"3","height":"1","passthru":true,"label":"HDMI - AUX","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector aux","payloadType":"str","topic":"","x":480,"y":280,"wires":[["38ecde1e.070192"]]},{"id":"7a8f9019.2e871","type":"ui_button","z":"7275a55e.4e71cc","name":"HDMI - GAME - 2","group":"bc51a4df.2ee0b8","order":7,"width":"3","height":"1","passthru":true,"label":"HDMI - GAME","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector game","payloadType":"str","topic":"","x":470,"y":320,"wires":[["38ecde1e.070192"]]},{"id":"6242887a.743448","type":"ui_button","z":"7275a55e.4e71cc","name":"Volume Mute ON","group":"bc51a4df.2ee0b8","order":6,"width":"3","height":"1","passthru":true,"label":"Volume Mute On","color":"","bgcolor":"BLUE","icon":"","payload":"main audio-muting on","payloadType":"str","topic":"","x":470,"y":40,"wires":[["38ecde1e.070192"]]},{"id":"3bb14c0b.e22984","type":"ui_button","z":"7275a55e.4e71cc","name":"Volume Mute Off","group":"bc51a4df.2ee0b8","order":8,"width":"3","height":"1","passthru":true,"label":"Volume Mute Off","color":"","bgcolor":"BLUE","icon":"","payload":"main audio-muting off","payloadType":"str","topic":"","x":470,"y":80,"wires":[["38ecde1e.070192"]]},{"id":"fa030b5e.607fa8","type":"ui_button","z":"7275a55e.4e71cc","name":"Sound THX","group":"bc51a4df.2ee0b8","order":18,"width":"3","height":"1","passthru":true,"label":"Sound THX","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode thx","payloadType":"str","topic":"","x":490,"y":560,"wires":[["38ecde1e.070192"]]},{"id":"f32a7e6c.9236a","type":"ui_button","z":"7275a55e.4e71cc","name":"Sound Movies","group":"bc51a4df.2ee0b8","order":14,"width":"3","height":"1","passthru":true,"label":"Sound Movies","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode movie","payloadType":"str","topic":"","x":480,"y":600,"wires":[["38ecde1e.070192"]]},{"id":"d4d9d3ee.4e0f7","type":"ui_button","z":"7275a55e.4e71cc","name":"Sound Music","group":"bc51a4df.2ee0b8","order":16,"width":"3","height":"1","passthru":true,"label":"Sound Music","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode music","payloadType":"str","topic":"","x":490,"y":640,"wires":[["38ecde1e.070192"]]},{"id":"531d98e8.628e58","type":"ui_button","z":"7275a55e.4e71cc","name":"Power Off","group":"bc51a4df.2ee0b8","order":3,"width":"3","height":"1","passthru":true,"label":"Power Off","color":"","bgcolor":"RED","icon":"","payload":"main system-power standby","payloadType":"str","topic":"","x":500,"y":680,"wires":[["38ecde1e.070192"]]},{"id":"9480a2de.39c48","type":"ui_button","z":"7275a55e.4e71cc","name":"Power On","group":"bc51a4df.2ee0b8","order":1,"width":"3","height":"1","passthru":true,"label":"Power On","color":"","bgcolor":"RED","icon":"","payload":"main system-power on","payloadType":"str","topic":"","x":500,"y":720,"wires":[["38ecde1e.070192"]]},{"id":"28e4c6d9.de89fa","type":"ui_button","z":"7275a55e.4e71cc","name":"HDMI - SAT - 1","group":"bc51a4df.2ee0b8","order":5,"width":"3","height":"1","passthru":true,"label":"HDMI - SAT","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector sat","payloadType":"str","topic":"","x":480,"y":360,"wires":[["38ecde1e.070192"]]},{"id":"51350343.3db15c","type":"function","z":"7275a55e.4e71cc","name":"Create_Onkyo_Message_Payload","func":"var onkyo_msg = msg.payload;\n// count the length of the string\nvar onkyo_msg_len = msg.payload.length;\nonkyo_msg_len = onkyo_msg_len + 3;\n//node.send ({payload:onkyo_msg_len});\n\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x09,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send ({payload:[73,83,67,80,0,0,0,16,0,0,0,24,1,0,0,0,33,49,83,76,73,50,51,13]});\n//!xECNQSTN\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x0b,0x01,0x00,0x00,0x00,'!xECNQSTN',0x0d,0x0a]});\n//node.send({payload:['ISCP',' ',onkyo_msg_len,' ',onkyo_msg]});\nnode.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,length of string 0x0c,0x01,0x00,0x00,0x00,onkyo_msg,0x0d,0x0a]});\n//!1AMT01\n//'ISCP',$00,$00,$00,$10,$00,$00,$00,$0C,$01,$00,$00,$00,'!1PWR01', $0d\"\nreturn null;\n//return (\"ISCP\");\n//,0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a);\n//SLI05 = 09\n//MVLDOWN = 0b\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\9\\1\\0\\0\\0 !1AMT01\\r\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0  !1MVLDOWN1\\r\n\n// sending absolute volume values\n//  Scripting.SendMessage(ISCP0001600091000!1MVL0 .. hex .. 1310)\n\n//!xECNQSTN\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1NTCRIGHT\\13\\10\")\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1OSDRIGHT\\13\\10\")\n// SOURCE_CD: 73;83;67;80;0;0;0;16;0;0;0;24;1;0;0;0;33;49;83;76;73;50;51;13","outputs":1,"noerr":0,"x":1100,"y":100,"wires":[[]]},{"id":"b24ca2f3.d9a65","type":"inject","z":"7275a55e.4e71cc","name":"Volume Mute ON","topic":"","payload":"main audio-muting on","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":40,"wires":[["6242887a.743448"]]},{"id":"664a0d10.47c274","type":"inject","z":"7275a55e.4e71cc","name":"Volume Mute OFF","topic":"","payload":"main audio-muting off","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":80,"wires":[["3bb14c0b.e22984"]]},{"id":"e4f46f92.0b58c","type":"inject","z":"7275a55e.4e71cc","name":"Volume Up","topic":"main volume level-up","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":120,"wires":[["5e038047.0cf9e"]]},{"id":"1e8c994c.ac4ae7","type":"inject","z":"7275a55e.4e71cc","name":"Volume Down","topic":"","payload":"main volume level-down","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":160,"wires":[["4171c0aa.a6fec"]]},{"id":"be500a74.8085d8","type":"inject","z":"7275a55e.4e71cc","name":"HDMI - PC - 5","topic":"","payload":"main input-selector pc","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":200,"wires":[["88e13097.108d7"]]},{"id":"43004903.dd1a28","type":"inject","z":"7275a55e.4e71cc","name":"HDMI - DVD - 10","topic":"","payload":"main input-selector dvd","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":240,"wires":[["aee13890.e1cf68"]]},{"id":"d29e448d.cf9ba8","type":"inject","z":"7275a55e.4e71cc","name":"HDMI - AUX - 3","topic":"","payload":"main input-selector aux","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":280,"wires":[["7a7a5427.3a650c"]]},{"id":"6bdbf7df.171bd8","type":"inject","z":"7275a55e.4e71cc","name":"HDMI - GAME - 2","topic":"","payload":"main input-selector game","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":320,"wires":[["7a8f9019.2e871"]]},{"id":"f2acfcb7.7e9a","type":"inject","z":"7275a55e.4e71cc","name":"HDMI - SAT - 1","topic":"","payload":"main input-selector sat","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":360,"wires":[["28e4c6d9.de89fa"]]},{"id":"b27c1ff1.41c42","type":"inject","z":"7275a55e.4e71cc","name":"CD/TV","topic":"","payload":"main input-selector cd","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":400,"wires":[["87cad7c8.2ed5a8"]]},{"id":"b8f1a44.4b59258","type":"inject","z":"7275a55e.4e71cc","name":"iRadio","topic":"","payload":"main input-selector internet-radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":440,"wires":[["541425f0.722e6c"]]},{"id":"c7d63c41.e369","type":"inject","z":"7275a55e.4e71cc","name":"Tuner","topic":"","payload":"main input-selector tuner","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":480,"wires":[["76b7fb35.0d6474"]]},{"id":"59c39e45.ad1a7","type":"inject","z":"7275a55e.4e71cc","name":"Phono","topic":"","payload":"main input-selector phono","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":520,"wires":[["36e853c0.7f325c"]]},{"id":"7958149d.3ef29c","type":"inject","z":"7275a55e.4e71cc","name":"Sound THX","topic":"","payload":"main listening-mode thx","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":560,"wires":[["fa030b5e.607fa8"]]},{"id":"13f83c1b.89c9f4","type":"inject","z":"7275a55e.4e71cc","name":"Sound Movies","topic":"","payload":"main listening-mode movie","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":600,"wires":[["f32a7e6c.9236a"]]},{"id":"66c2d491.97ba8c","type":"inject","z":"7275a55e.4e71cc","name":"Sound Music","topic":"","payload":"main listening-mode music","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":640,"wires":[["d4d9d3ee.4e0f7"]]},{"id":"6638d502.4eeecc","type":"inject","z":"7275a55e.4e71cc","name":"Power Off","topic":"","payload":"main system-power standby","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":680,"wires":[["531d98e8.628e58"]]},{"id":"3630b0a9.dcc45","type":"inject","z":"7275a55e.4e71cc","name":"Power On","topic":"","payload":"main system-power on","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":720,"wires":[["9480a2de.39c48"]]},{"id":"10d6a0d4.adcd2f","type":"eiscp-in","z":"7275a55e.4e71cc","name":"Lounge Room Amplifier","controller":"e9baee17.3cb58","x":880,"y":460,"wires":[["eba396e7.be48d8"]]},{"id":"eba396e7.be48d8","type":"debug","z":"7275a55e.4e71cc","name":"","active":true,"console":"false","complete":"false","x":1100,"y":460,"wires":[]},{"id":"3055a149.e0883e","type":"eiscp-out","z":"7275a55e.4e71cc","name":"Lounge Room Onkyo Amp","controller":"e9baee17.3cb58","x":1260,"y":560,"wires":[]},{"id":"38ecde1e.070192","type":"function","z":"7275a55e.4e71cc","name":"Send to Onkyo Amp","func":"var onkyo_msg = msg.payload;\n\nnode.send ({payload:[msg.payload]}); //tuner input selected\n\n//eiscp.command(\"main power off\");\n\nreturn null;\n\n\n//command_to_iscp('main.system-power=standby') == 'PWR00'\n\n//  https://github.com/miracle2k/onkyo-eiscp/blob/master/eiscp/commands.py","outputs":1,"noerr":0,"x":880,"y":560,"wires":[["3055a149.e0883e","fdf86e51.a1f7a"]]},{"id":"bc51a4df.2ee0b8","type":"ui_group","z":"","name":"Onkyo Amplifier","tab":"69bd819e.bc6a7","disp":true,"width":"6"},{"id":"e9baee17.3cb58","type":"eiscp-controller","z":"","name":"Onkyo Amp","host":"192.168.1.196","port":"60128","model":"TX-NR626"},{"id":"69bd819e.bc6a7","type":"ui_tab","z":"","name":"Onkyo Amp","icon":"dashboard"}]