Github Repo/Node Red Code/Pi Zero Backup Node Flows/7 Segment Display 21 Sept 2017.txt
[{"id":"23d100ff.7c1b5","type":"inject","z":"cc5c7844.151608","name":"Time Clock","topic":"Seconds","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":267,"y":517,"wires":[["a42aa4be.000958"]]},{"id":"b50e69b9.b21208","type":"function","z":"cc5c7844.151608","name":"Tens Seconds","func":"// initialise the counter to 0 if it doesn't exist already\nmsg = msg.payload;\nvar counttensec = context.get('count')||0;\n//var count = context.get('count')||0;\n//count += 1;\nif (msg === 0)\n    {\n    counttensec += 1;\n    if (counttensec > 5)\n        {\n        counttensec = 0;\n        }\n    }\n// store the value back\ncontext.set('count',counttensec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:counttensec};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":596,"y":190,"wires":[["d7935965.bf7db8","9cec1bce.6293a8","27b99aa5.5ac306"]]},{"id":"f6dfcb9c.e3a5c8","type":"ui_text","z":"cc5c7844.151608","group":"7b5333b1.b7206c","order":4,"width":"1","height":"1","name":"Graphic - Seconds","label":"","format":"{{msg.payload}}","layout":"row-center","x":937,"y":69,"wires":[]},{"id":"6e07726d.bedd7c","type":"function","z":"cc5c7844.151608","name":"Seconds","func":"// initialise the counter to 0 if it doesn't exist already\nvar countsec = context.get('count')||0;\ncountsec += 1;\nif (countsec > 9)\n    {\n    countsec = 0;\n    }\n// store the value back\ncontext.set('count',countsec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countsec};\n//return {label:count,payload:count};","outputs":1,"noerr":0,"x":580,"y":126,"wires":[["e3230854.61f368","b50e69b9.b21208","f6dfcb9c.e3a5c8"]]},{"id":"e3230854.61f368","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":931,"y":128,"wires":[]},{"id":"d7935965.bf7db8","type":"ui_text","z":"cc5c7844.151608","group":"7b5333b1.b7206c","order":3,"width":"1","height":"1","name":"Graphic Tens Seconds","label":":","format":"{{msg.payload}}","layout":"row-center","x":961,"y":210,"wires":[]},{"id":"662b960f.710538","type":"ui_text","z":"cc5c7844.151608","group":"7b5333b1.b7206c","order":1,"width":"1","height":"1","name":"Graphic Minutes","label":"Min ","format":"{{msg.payload}}","layout":"row-center","x":948,"y":292,"wires":[]},{"id":"9cec1bce.6293a8","type":"function","z":"cc5c7844.151608","name":"Minutes","func":"// initialise the counter to 0 if it doesn't exist already\nmsg = msg.payload;\nvar countminutes = context.get('countmin')||0;\n//var count = context.get('countmin ')||0;\n//count += 1;\nif (msg === 0)\n    {\n    countminutes += 1;\n    if (countminutes > 9)\n        {\n        countminutes = 0;\n        }\n    }\n// store the value back\ncontext.set('countmin',countminutes);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countminutes};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":578,"y":293,"wires":[["662b960f.710538","5d3984fb.48c41c"]]},{"id":"27b99aa5.5ac306","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":919,"y":249,"wires":[]},{"id":"5d3984fb.48c41c","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":925,"y":334,"wires":[]},{"id":"5b056007.8adce","type":"function","z":"cc5c7844.151608","name":"HexOuput","func":"\nreturn msg;","outputs":"4","noerr":0,"x":1232,"y":269,"wires":[[],[],[],[]]},{"id":"a42aa4be.000958","type":"function","z":"cc5c7844.151608","name":"Decade Counter - 7490","func":"// initialise the counter to 0 if it doesn't exist already\nvar countsec = context.get('count')||0;\ncountsec += 1;\nif (countsec > 9)\n    {\n    countsec = 0;\n    }\n// store the value back\ncontext.set('count',countsec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countsec};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":561,"y":488,"wires":[["22ebf819.e58e18","692f491c.7c83c8"]]},{"id":"22ebf819.e58e18","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":860,"y":453,"wires":[]},{"id":"92082e59.3e0d3","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":859,"y":494,"wires":[]},{"id":"f70596e.de26668","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":864,"y":536,"wires":[]},{"id":"49c811be.987f8","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":858,"y":592,"wires":[]},{"id":"692f491c.7c83c8","type":"function","z":"cc5c7844.151608","name":"Convert to Hex","func":"//msg = msg.payload;\nvar newMsg = { payload: msg.payload.value };\nvar msgA = { payload:0 };\nvar msgB = { payload:0 };\nvar msgC = { payload:0 };\nvar msgD = { payload:0 };\n\nif (msg.payload === 1)\n    {\n    msgA = { payload:1 };\n    }\nif (msg.payload === 2)\n    {\n    msgB = { payload:1 };\n    }\nif (msg.payload === 3)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    }\nif (msg.payload === 4)\n    {\n    msgC = { payload:1 };\n    }\nif (msg.payload === 5)\n    {\n    msgA = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 6)\n    {\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 7)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 8)\n    {\n    msgA = { payload:0 };\n    msgB = { payload:0 };\n    msgC = { payload:0 };\n    msgD = { payload:1 };\n    }\nif (msg.payload === 9)\n    {\n    msgA = { payload:1 };\n    msgD = { payload:1 };\n    }\n\nreturn [msgA, msgB, msgC, msgD];","outputs":"4","noerr":0,"x":566,"y":589,"wires":[["92082e59.3e0d3"],["f70596e.de26668"],["49c811be.987f8"],["5208e537.9d422c"]]},{"id":"5208e537.9d422c","type":"debug","z":"cc5c7844.151608","name":"","active":false,"console":"false","complete":"false","x":861,"y":632,"wires":[]},{"id":"7b5333b1.b7206c","type":"ui_group","z":"","name":"Display 1","tab":"2b663e94.92c302","disp":true,"width":"5"},{"id":"2b663e94.92c302","type":"ui_tab","z":"","name":"Seven Segment Display","icon":"dashboard","order":19}]