Github Repo/Node Red Code/Pi Zero Backup Node Flows/AMA Data Tx-Rx 5 Sept 2017.txt
[{"id":"e434bb3d.89fd88","type":"tcp out","z":"a1e64111.9e7c5","host":"192.168.1.150","port":"4052","beserver":"client","base64":false,"end":false,"name":"to AMX:4052","x":521.666675567627,"y":61.19048309326172,"wires":[]},{"id":"9eae1330.feb3b","type":"link in","z":"a1e64111.9e7c5","name":"Send to AMX:4052","links":["39a3d08e.44e77","5881abea.11bab4","6246c92b.4def08","99f43fb6.c8479","d4f7c139.253ea","ae2e5672.954d08"],"x":237.5238271440778,"y":63.76190948486325,"wires":[["e434bb3d.89fd88","b30cd71c.1eab28"]]},{"id":"20d88c1f.1fb394","type":"tcp in","z":"a1e64111.9e7c5","name":"from AMX:4053","server":"client","host":"192.168.1.150","port":"4053","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":280.23808670043945,"y":172.6190423965454,"wires":[["ed7be37b.6435b","2328e426.dd9f8c","ab72ee3b.951f"]]},{"id":"ed7be37b.6435b","type":"link out","z":"a1e64111.9e7c5","name":"Receive from AMX:4053","links":["2e45f39f.4d6cbc","46dffea1.2d44","89528e71.ed82d"],"x":523.2381219863892,"y":154.90477180480957,"wires":[]},{"id":"b30cd71c.1eab28","type":"debug","z":"a1e64111.9e7c5","name":"","active":true,"console":"false","complete":"false","x":514.7667541503906,"y":118.93333911895752,"wires":[]},{"id":"2328e426.dd9f8c","type":"debug","z":"a1e64111.9e7c5","name":"","active":true,"console":"false","complete":"false","x":538.7667541503906,"y":222.93334102630615,"wires":[]},{"id":"4e415c8e.0894b4","type":"tcp in","z":"a1e64111.9e7c5","name":"Yahoo Weather Request from AMX","server":"client","host":"192.168.1.150","port":"4058","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":266.19054794311523,"y":495.47617906332016,"wires":[[]]},{"id":"25ff3050.5d7","type":"link out","z":"a1e64111.9e7c5","name":"Yahoo Request from AMX","links":["95301c6.0cccde"],"x":1060.4764318466187,"y":230.23811721801758,"wires":[]},{"id":"5a192d4d.732b24","type":"link in","z":"a1e64111.9e7c5","name":"Send Yahoo Weather Data to AMX - 4054","links":["6246c92b.4def08"],"x":403.33340668678284,"y":348.3333110809326,"wires":[["7b941d67.c32e84","5f251967.60dd18"]]},{"id":"5f251967.60dd18","type":"tcp out","z":"a1e64111.9e7c5","host":"192.168.1.150","port":"4054","beserver":"client","base64":false,"end":false,"name":"Send - Yahoo Data to AMX","x":734.7619514465332,"y":403.09533882141113,"wires":[]},{"id":"7b941d67.c32e84","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"payload","x":623.2381820678711,"y":336.6190929412842,"wires":[]},{"id":"ab72ee3b.951f","type":"switch","z":"a1e64111.9e7c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"CITY ","vt":"str"}],"checkall":"true","outputs":1,"x":724.5238761901855,"y":189.76188945770264,"wires":[["f4ece7c6.05b568","a23e685f.f8cff8"]]},{"id":"f4ece7c6.05b568","type":"function","z":"a1e64111.9e7c5","name":"","func":"var msg = msg.payload;\nvar newMsg = msg.replace('CITY ','');\n//console.log(ret);   //prints: 123\nnode.send ({payload:[newMsg]});\nreturn null;","outputs":1,"noerr":0,"x":911.8097190856934,"y":232.9048089981079,"wires":[["25ff3050.5d7","52664d72.63fdd4"]]},{"id":"52664d72.63fdd4","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":1141.8094520568848,"y":164.61907196044922,"wires":[]},{"id":"a23e685f.f8cff8","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":933.2381248474121,"y":141.76193141937256,"wires":[]}]