Github Repo/Node Red Code/Pi Zero Backup Node Flows/AMA Data Tx-Rx 21 Sept 2017.txt
[{"id":"9eae1330.feb3b","type":"link in","z":"a1e64111.9e7c5","name":"Send to AMX:4052","links":["27181e18.9e3a72","2d5e47c7.a35468","39a3d08e.44e77","5511623c.05eccc","72539b5e.4a0634","99f43fb6.c8479","ac5f5b42.017828","d455e782.d60a88","d4f7c139.253ea"],"x":245.5238561630249,"y":92.76191329956055,"wires":[["b30cd71c.1eab28","776140e2.ffaac"]]},{"id":"20d88c1f.1fb394","type":"tcp in","z":"a1e64111.9e7c5","name":"from AMX:4053","server":"client","host":"192.168.1.150","port":"4053","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":230.2380828857422,"y":212.61905765533447,"wires":[["ed7be37b.6435b","2328e426.dd9f8c","ab72ee3b.951f"]]},{"id":"ed7be37b.6435b","type":"link out","z":"a1e64111.9e7c5","name":"Receive from AMX:4053","links":["2e45f39f.4d6cbc","46dffea1.2d44","89528e71.ed82d","ec902402.46e358"],"x":595,"y":140,"wires":[]},{"id":"b30cd71c.1eab28","type":"debug","z":"a1e64111.9e7c5","name":"","active":true,"console":"false","complete":"false","x":413.9096488952637,"y":104.64762988686562,"wires":[]},{"id":"2328e426.dd9f8c","type":"debug","z":"a1e64111.9e7c5","name":"","active":true,"console":"false","complete":"false","x":450.3382453918457,"y":361.5047559738159,"wires":[]},{"id":"25ff3050.5d7","type":"link out","z":"a1e64111.9e7c5","name":"Yahoo Request from AMX","links":["95301c6.0cccde","7dbdf31f.5b178c","bd3d201d.5f44b"],"x":817.4764175415039,"y":299.39684104919434,"wires":[]},{"id":"ab72ee3b.951f","type":"switch","z":"a1e64111.9e7c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"CITY ","vt":"str"}],"checkall":"true","outputs":1,"x":433.23815536499023,"y":301.19045066833496,"wires":[["f4ece7c6.05b568","a23e685f.f8cff8"]]},{"id":"f4ece7c6.05b568","type":"function","z":"a1e64111.9e7c5","name":"Look for CITY in String","func":"var msg = msg.payload;\nvar newMsg = msg.replace('CITY ','');\n//console.log(ret);   //prints: 123\nnode.send ({payload:[newMsg]});\nreturn null;","outputs":1,"noerr":0,"x":660.2381896972656,"y":299.47622299194336,"wires":[["25ff3050.5d7","52664d72.63fdd4"]]},{"id":"52664d72.63fdd4","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":850,"y":220,"wires":[]},{"id":"a23e685f.f8cff8","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":631.8095092773438,"y":262.33334732055664,"wires":[]},{"id":"a53ddd9f.b052","type":"switch","z":"a1e64111.9e7c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"CITY ","vt":"str"}],"checkall":"true","outputs":1,"x":539.9999885559082,"y":202.22221565246582,"wires":[[]]},{"id":"75d3d96.19f2c28","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":450,"y":400,"wires":[]},{"id":"3bee8490.b2495c","type":"link in","z":"a1e64111.9e7c5","name":"To AMX Weather Port 4056","links":["6246c92b.4def08"],"x":295,"y":440,"wires":[["75d3d96.19f2c28","2236aa34.c7a366"]]},{"id":"776140e2.ffaac","type":"tcp out","z":"a1e64111.9e7c5","host":"192.168.1.150","port":"4052","beserver":"client","base64":false,"end":false,"name":"AMX Connection :4052","x":440,"y":40,"wires":[]},{"id":"2236aa34.c7a366","type":"tcp out","z":"a1e64111.9e7c5","host":"192.168.1.150","port":"4057","beserver":"client","base64":false,"end":false,"name":"Connect to 4057 AMX Weather Port","x":520,"y":460,"wires":[]}]