Github Repo/Node Red Code/Pi Zero Backup Node Flows/AV System Flow as of 21 Sept 2017.txt
[{"id":"e06a326d.fd2e3","type":"inject","z":"7debb8d6.b21878","name":"Lounge Room","topic":"","payload":"lounge room","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":40,"wires":[["bc67c118.fe179"]]},{"id":"7d9afe37.f0484","type":"debug","z":"7debb8d6.b21878","name":"","active":true,"console":"false","complete":"false","x":1610,"y":420,"wires":[]},{"id":"332c14d1.799d3c","type":"function","z":"7debb8d6.b21878","name":"Sort Messages","func":"//node.send ({payload:[msg.payload]});\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":440,"wires":[["7d9afe37.f0484","d455e782.d60a88"]]},{"id":"bc67c118.fe179","type":"ui_button","z":"7debb8d6.b21878","name":"Lounge Room","group":"54039361.794bfc","order":1,"width":0,"height":0,"passthru":true,"label":"Lounge","color":"","bgcolor":"Green","icon":"","payload":"lounge room","payloadType":"str","topic":"","x":436,"y":40,"wires":[["332c14d1.799d3c"]]},{"id":"5072a612.0e03b8","type":"inject","z":"7debb8d6.b21878","name":"Chris Room","topic":"","payload":"chris room","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":80,"wires":[["73f2f454.5c82dc"]]},{"id":"73f2f454.5c82dc","type":"ui_button","z":"7debb8d6.b21878","name":"Chris Room","group":"54039361.794bfc","order":2,"width":0,"height":0,"passthru":true,"label":"Chris Room","color":"","bgcolor":"Green","icon":"","payload":"chris room","payloadType":"str","topic":"","x":426,"y":80,"wires":[["332c14d1.799d3c"]]},{"id":"efef8c97.4e045","type":"inject","z":"7debb8d6.b21878","name":"Bungalow Room","topic":"","payload":"bungalow room","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":120,"wires":[["9613cbc3.7631e8"]]},{"id":"9613cbc3.7631e8","type":"ui_button","z":"7debb8d6.b21878","name":"Bungalow Room","group":"54039361.794bfc","order":3,"width":0,"height":0,"passthru":true,"label":"Bungalow Room","color":"","bgcolor":"Green","icon":"","payload":"bungalow room","payloadType":"str","topic":"","x":440,"y":120,"wires":[["332c14d1.799d3c"]]},{"id":"13a52cb.4e77ad3","type":"inject","z":"7debb8d6.b21878","name":"Guest Room","topic":"","payload":"guest room","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":160,"wires":[["1c609ca3.946893"]]},{"id":"1c609ca3.946893","type":"ui_button","z":"7debb8d6.b21878","name":"Guest Room","group":"54039361.794bfc","order":5,"width":0,"height":0,"passthru":true,"label":"Guest Room","color":"","bgcolor":"Green","icon":"","payload":"guest room","payloadType":"str","topic":"","x":426,"y":160,"wires":[["332c14d1.799d3c"]]},{"id":"185e91f5.53106e","type":"inject","z":"7debb8d6.b21878","name":"Garage Area","topic":"","payload":"garage room","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["83c9970c.af4998"]]},{"id":"83c9970c.af4998","type":"ui_button","z":"7debb8d6.b21878","name":"Garage Area","group":"54039361.794bfc","order":6,"width":0,"height":0,"passthru":true,"label":"Garage Area","color":"","bgcolor":"Green","icon":"","payload":"garage room","payloadType":"str","topic":"","x":426,"y":200,"wires":[["332c14d1.799d3c"]]},{"id":"c6c4ccb.65fbc3","type":"inject","z":"7debb8d6.b21878","name":"Poolside Area","topic":"","payload":"poolside room","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":240,"wires":[["2b6f3cc8.c18204"]]},{"id":"2b6f3cc8.c18204","type":"ui_button","z":"7debb8d6.b21878","name":"Poolside Area","group":"54039361.794bfc","order":7,"width":0,"height":0,"passthru":true,"label":"Poolside Area","color":"","bgcolor":"Green","icon":"","payload":"poolside room","payloadType":"str","topic":"","x":436,"y":240,"wires":[["332c14d1.799d3c"]]},{"id":"8b8668d4.bb0898","type":"inject","z":"7debb8d6.b21878","name":"Bar Room","topic":"","payload":"bar room","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":280,"wires":[["3f870649.fded8a"]]},{"id":"3f870649.fded8a","type":"ui_button","z":"7debb8d6.b21878","name":"Bar Area","group":"54039361.794bfc","order":8,"width":0,"height":0,"passthru":true,"label":"Bar Araea","color":"","bgcolor":"Green","icon":"","payload":"bar room","payloadType":"str","topic":"","x":416,"y":280,"wires":[["332c14d1.799d3c"]]},{"id":"20088534.6aedda","type":"inject","z":"7debb8d6.b21878","name":"BBQ Area","topic":"","payload":"bbq room","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["790820d4.bf037"]]},{"id":"790820d4.bf037","type":"ui_button","z":"7debb8d6.b21878","name":"BBQ Area","group":"54039361.794bfc","order":9,"width":0,"height":0,"passthru":true,"label":"BBQ Area","color":"","bgcolor":"Green","icon":"","payload":"bbq room","payloadType":"str","topic":"","x":420,"y":320,"wires":[["332c14d1.799d3c"]]},{"id":"9d44468f.d0e8b8","type":"inject","z":"7debb8d6.b21878","name":"Office Area","topic":"","payload":"office room","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":360,"wires":[["15c88395.a7de1c"]]},{"id":"15c88395.a7de1c","type":"ui_button","z":"7debb8d6.b21878","name":"Office Area","group":"54039361.794bfc","order":4,"width":0,"height":0,"passthru":true,"label":"Office Area","color":"","bgcolor":"Green","icon":"","payload":"office room","payloadType":"str","topic":"","x":426,"y":360,"wires":[["332c14d1.799d3c"]]},{"id":"b199842d.dcac78","type":"inject","z":"7debb8d6.b21878","name":"Foxtel 1","topic":"","payload":"foxtel 1 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":480,"wires":[["9ad7b9fb.8c77f8"]]},{"id":"9ad7b9fb.8c77f8","type":"ui_button","z":"7debb8d6.b21878","name":"Foxtel 1","group":"972a9ad3.b11828","order":1,"width":"3","height":"1","passthru":true,"label":"Foxtel 1","color":"","bgcolor":"","icon":"","payload":"foxtel 1 selected","payloadType":"str","topic":"","x":420,"y":480,"wires":[["332c14d1.799d3c"]]},{"id":"8ac6191a.b01488","type":"inject","z":"7debb8d6.b21878","name":"Foxtel 2","topic":"","payload":"foxtel 2 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":520,"wires":[["c9cdc88e.a6ec88"]]},{"id":"c9cdc88e.a6ec88","type":"ui_button","z":"7debb8d6.b21878","name":"Foxtel 2","group":"972a9ad3.b11828","order":2,"width":"3","height":"1","passthru":true,"label":"Foxtel 2","color":"","bgcolor":"","icon":"","payload":"foxtel 2 selected","payloadType":"str","topic":"","x":420,"y":520,"wires":[["332c14d1.799d3c"]]},{"id":"f07617da.595918","type":"inject","z":"7debb8d6.b21878","name":"DVD","topic":"","payload":"dvd selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":560,"wires":[["c8f64773.9fd278"]]},{"id":"c8f64773.9fd278","type":"ui_button","z":"7debb8d6.b21878","name":"DVD","group":"972a9ad3.b11828","order":3,"width":"3","height":"1","passthru":true,"label":"DVD","color":"","bgcolor":"","icon":"","payload":"dvd selected","payloadType":"str","topic":"","x":410,"y":560,"wires":[["332c14d1.799d3c"]]},{"id":"5fd11315.01c41c","type":"inject","z":"7debb8d6.b21878","name":"CD","topic":"","payload":"cd selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":600,"wires":[["cc0e141c.5c91c8"]]},{"id":"cc0e141c.5c91c8","type":"ui_button","z":"7debb8d6.b21878","name":"CD","group":"972a9ad3.b11828","order":5,"width":"3","height":"1","passthru":true,"label":"CD","color":"","bgcolor":"","icon":"","payload":"cd selected","payloadType":"str","topic":"","x":410,"y":600,"wires":[["332c14d1.799d3c"]]},{"id":"3225e956.4ecef6","type":"inject","z":"7debb8d6.b21878","name":"Digital TV","topic":"","payload":"digital tv selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":640,"wires":[["e40fc0db.73951"]]},{"id":"e40fc0db.73951","type":"ui_button","z":"7debb8d6.b21878","name":"Digital TV","group":"972a9ad3.b11828","order":4,"width":"3","height":"1","passthru":true,"label":"Digital TV","color":"","bgcolor":"","icon":"","payload":"digital tv selected","payloadType":"str","topic":"","x":420,"y":640,"wires":[["332c14d1.799d3c"]]},{"id":"f6bbed8b.d6668","type":"inject","z":"7debb8d6.b21878","name":"Phono","topic":"","payload":"phono selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":720,"wires":[["e9e06e5e.a5d6f"]]},{"id":"e9e06e5e.a5d6f","type":"ui_button","z":"7debb8d6.b21878","name":"Phono","group":"972a9ad3.b11828","order":14,"width":"3","height":"1","passthru":true,"label":"Phono","color":"","bgcolor":"","icon":"","payload":"phono selected","payloadType":"str","topic":"","x":410,"y":720,"wires":[["332c14d1.799d3c"]]},{"id":"67e06cee.3fd2c4","type":"inject","z":"7debb8d6.b21878","name":"Camera - 1 - Front Door","topic":"","payload":"camera 1 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":760,"wires":[["1e3444c9.7338db"]]},{"id":"1e3444c9.7338db","type":"ui_button","z":"7debb8d6.b21878","name":"Camera - 1 - Front Door","group":"972a9ad3.b11828","order":7,"width":"3","height":"1","passthru":true,"label":"Camera - 1 Front Dr","color":"","bgcolor":"Blue","icon":"","payload":"camera 1 selected","payloadType":"str","topic":"","x":470,"y":760,"wires":[["332c14d1.799d3c"]]},{"id":"54956de.c003594","type":"inject","z":"7debb8d6.b21878","name":"Camera - 2","topic":"","payload":"camera 2 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":800,"wires":[["61a19ce9.b04db4"]]},{"id":"61a19ce9.b04db4","type":"ui_button","z":"7debb8d6.b21878","name":"Camera - 2","group":"972a9ad3.b11828","order":8,"width":"3","height":"1","passthru":true,"label":"Camera - 2","color":"","bgcolor":"Blue","icon":"","payload":"camera 2 selected","payloadType":"str","topic":"","x":430,"y":800,"wires":[["332c14d1.799d3c"]]},{"id":"5165b694.7f3ed8","type":"inject","z":"7debb8d6.b21878","name":"Camera - 2","topic":"","payload":"camera 2 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":840,"wires":[["ecce5405.d3e738"]]},{"id":"ecce5405.d3e738","type":"ui_button","z":"7debb8d6.b21878","name":"Camera - 3","group":"972a9ad3.b11828","order":9,"width":"3","height":"1","passthru":true,"label":"Camera - 3","color":"","bgcolor":"Blue","icon":"","payload":"camera 3 selected","payloadType":"str","topic":"","x":430,"y":840,"wires":[["332c14d1.799d3c"]]},{"id":"a1adf435.7b6c78","type":"inject","z":"7debb8d6.b21878","name":"Camera - 4","topic":"","payload":"camera 4 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":880,"wires":[["aa6856f9.0a3848"]]},{"id":"aa6856f9.0a3848","type":"ui_button","z":"7debb8d6.b21878","name":"Camera - 4","group":"972a9ad3.b11828","order":10,"width":"3","height":"1","passthru":true,"label":"Camera - 4","color":"","bgcolor":"Blue","icon":"","payload":"camera 4 selected","payloadType":"str","topic":"","x":430,"y":880,"wires":[["332c14d1.799d3c"]]},{"id":"16b9ea1e.4d94c6","type":"inject","z":"7debb8d6.b21878","name":"Satellite","topic":"","payload":"satellite selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":920,"wires":[["f20c8505.562508"]]},{"id":"f20c8505.562508","type":"ui_button","z":"7debb8d6.b21878","name":"Satellite","group":"972a9ad3.b11828","order":11,"width":"3","height":"1","passthru":true,"label":"Satellite","color":"","bgcolor":"","icon":"","payload":"satellite selected","payloadType":"str","topic":"","x":420,"y":920,"wires":[["332c14d1.799d3c"]]},{"id":"244c4b67.17c7d4","type":"inject","z":"7debb8d6.b21878","name":"Radio","topic":"","payload":"radio selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":960,"wires":[["97e660b1.9204f"]]},{"id":"97e660b1.9204f","type":"ui_button","z":"7debb8d6.b21878","name":"Radio","group":"972a9ad3.b11828","order":12,"width":"3","height":"1","passthru":true,"label":"Radio","color":"","bgcolor":"","icon":"","payload":"radio selected","payloadType":"str","topic":"","x":410,"y":960,"wires":[["332c14d1.799d3c"]]},{"id":"31fd524.c8d83ae","type":"inject","z":"7debb8d6.b21878","name":"Radio Mic","topic":"","payload":"radio mic selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1000,"wires":[["7d164ddf.bfdff4"]]},{"id":"7d164ddf.bfdff4","type":"ui_button","z":"7debb8d6.b21878","name":"Radio Mic","group":"972a9ad3.b11828","order":13,"width":"3","height":"1","passthru":true,"label":"Radio Mic","color":"","bgcolor":"","icon":"","payload":"radio mic selected","payloadType":"str","topic":"","x":420,"y":1000,"wires":[["332c14d1.799d3c"]]},{"id":"18154a18.6e8236","type":"inject","z":"7debb8d6.b21878","name":"Media Player","topic":"","payload":"media player selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":680,"wires":[["8214c726.a719f8"]]},{"id":"8214c726.a719f8","type":"ui_button","z":"7debb8d6.b21878","name":"Media Player","group":"972a9ad3.b11828","order":6,"width":"3","height":"1","passthru":true,"label":"Media Player","color":"","bgcolor":"","icon":"","payload":"media player selected","payloadType":"str","topic":"","x":430,"y":680,"wires":[["332c14d1.799d3c"]]},{"id":"e3c8690a.788b48","type":"inject","z":"7debb8d6.b21878","name":"Xbox","topic":"","payload":"xbox selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1040,"wires":[["effa48d2.8de308"]]},{"id":"effa48d2.8de308","type":"ui_button","z":"7debb8d6.b21878","name":"Xbox","group":"972a9ad3.b11828","order":15,"width":"3","height":"1","passthru":true,"label":"Xbox","color":"","bgcolor":"","icon":"","payload":"xbox selected","payloadType":"str","topic":"","x":410,"y":1040,"wires":[["332c14d1.799d3c"]]},{"id":"c757857b.9276a8","type":"inject","z":"7debb8d6.b21878","name":"Wii","topic":"","payload":"wii selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1080,"wires":[["7007fd7.bb31a04"]]},{"id":"7007fd7.bb31a04","type":"ui_button","z":"7debb8d6.b21878","name":"Wii","group":"972a9ad3.b11828","order":16,"width":"3","height":"1","passthru":true,"label":"Wii","color":"","bgcolor":"","icon":"","payload":"wii selected","payloadType":"str","topic":"","x":410,"y":1080,"wires":[["332c14d1.799d3c"]]},{"id":"d391cd18.d904c","type":"inject","z":"7debb8d6.b21878","name":"System Menu","topic":"","payload":"menu selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":950,"y":560,"wires":[["bf22600a.facda"]]},{"id":"bf22600a.facda","type":"ui_button","z":"7debb8d6.b21878","name":"System Menu","group":"9ac53d1.973fac","order":2,"width":"2","height":"1","passthru":true,"label":"Sys Menu","color":"","bgcolor":"","icon":"","payload":"menu selected","payloadType":"str","topic":"","x":1180,"y":560,"wires":[["332c14d1.799d3c"]]},{"id":"b5d956d7.460b78","type":"inject","z":"7debb8d6.b21878","name":"Play","topic":"","payload":"play selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":1310,"y":80,"wires":[["ee49567e.102648"]]},{"id":"ee49567e.102648","type":"ui_button","z":"7debb8d6.b21878","name":"Play","group":"d8da8736.638928","order":1,"width":"2","height":"1","passthru":true,"label":"Play","color":"","bgcolor":"","icon":"","payload":"play selected","payloadType":"str","topic":"","x":1530,"y":80,"wires":[["332c14d1.799d3c"]]},{"id":"d7c0744a.988a58","type":"inject","z":"7debb8d6.b21878","name":"Up","topic":"","payload":"menu up selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":600,"wires":[["bac3c7e7.6314f8"]]},{"id":"bac3c7e7.6314f8","type":"ui_button","z":"7debb8d6.b21878","name":"Menu Up","group":"9ac53d1.973fac","order":3,"width":"4","height":"1","passthru":true,"label":"Menu Up","color":"","bgcolor":"","icon":"","payload":"menu up selected","payloadType":"str","topic":"","x":1160,"y":600,"wires":[["332c14d1.799d3c"]]},{"id":"7b1c3327.7d166c","type":"inject","z":"7debb8d6.b21878","name":"Stop","topic":"","payload":"stop selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":1310,"y":120,"wires":[["82a73887.2f7e78"]]},{"id":"82a73887.2f7e78","type":"ui_button","z":"7debb8d6.b21878","name":"Stop","group":"d8da8736.638928","order":1,"width":"2","height":"1","passthru":true,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"stop selected","payloadType":"str","topic":"","x":1530,"y":120,"wires":[["332c14d1.799d3c"]]},{"id":"6af52f47.85fc7","type":"inject","z":"7debb8d6.b21878","name":"Pause","topic":"","payload":"pause selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":1310,"y":160,"wires":[["34c40f8f.fe32a"]]},{"id":"34c40f8f.fe32a","type":"ui_button","z":"7debb8d6.b21878","name":"Pause","group":"d8da8736.638928","order":1,"width":"2","height":"1","passthru":true,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"pause selected","payloadType":"str","topic":"","x":1530,"y":160,"wires":[["332c14d1.799d3c"]]},{"id":"19872c23.f764a4","type":"inject","z":"7debb8d6.b21878","name":"Fwd","topic":"","payload":"forward selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":1310,"y":200,"wires":[["2b9e6388.4408fc"]]},{"id":"2b9e6388.4408fc","type":"ui_button","z":"7debb8d6.b21878","name":"Fwd","group":"d8da8736.638928","order":1,"width":"2","height":"1","passthru":true,"label":"Fwd","color":"","bgcolor":"","icon":"","payload":"forward selected","payloadType":"str","topic":"","x":1530,"y":200,"wires":[["332c14d1.799d3c"]]},{"id":"3cbc2850.7fd3e8","type":"inject","z":"7debb8d6.b21878","name":"Rwd","topic":"","payload":"rewind selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":1310,"y":240,"wires":[["55adc586.c4640c"]]},{"id":"55adc586.c4640c","type":"ui_button","z":"7debb8d6.b21878","name":"Rwd","group":"d8da8736.638928","order":1,"width":"2","height":"1","passthru":true,"label":"Rwd","color":"","bgcolor":"","icon":"","payload":"rewind selected","payloadType":"str","topic":"","x":1530,"y":240,"wires":[["332c14d1.799d3c"]]},{"id":"95548072.b9bfa","type":"inject","z":"7debb8d6.b21878","name":"Record","topic":"","payload":"record selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":1310,"y":280,"wires":[["8ac85d99.2306b"]]},{"id":"8ac85d99.2306b","type":"ui_button","z":"7debb8d6.b21878","name":"Record","group":"d8da8736.638928","order":1,"width":"2","height":"1","passthru":true,"label":"Record","color":"","bgcolor":"Red","icon":"","payload":"record selected","payloadType":"str","topic":"","x":1540,"y":280,"wires":[["332c14d1.799d3c"]]},{"id":"98571cd2.012c6","type":"inject","z":"7debb8d6.b21878","name":"Down","topic":"","payload":"menu down selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":640,"wires":[["c61c3377.71cdd"]]},{"id":"c61c3377.71cdd","type":"ui_button","z":"7debb8d6.b21878","name":"Menu Down","group":"9ac53d1.973fac","order":7,"width":"4","height":"1","passthru":true,"label":"Menu Down","color":"","bgcolor":"","icon":"","payload":"menu down selected","payloadType":"str","topic":"","x":1170,"y":640,"wires":[["332c14d1.799d3c"]]},{"id":"9f033322.659a2","type":"inject","z":"7debb8d6.b21878","name":"Left","topic":"","payload":"menu left selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":680,"wires":[["d88ac5fe.bde3f8"]]},{"id":"d88ac5fe.bde3f8","type":"ui_button","z":"7debb8d6.b21878","name":"Menu Left","group":"9ac53d1.973fac","order":4,"width":"1","height":"1","passthru":true,"label":"Left","color":"","bgcolor":"","icon":"","payload":"menu left selected","payloadType":"str","topic":"","x":1160,"y":680,"wires":[["332c14d1.799d3c"]]},{"id":"5e930e5a.1d05a","type":"inject","z":"7debb8d6.b21878","name":"Right","topic":"","payload":"menu right selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":720,"wires":[["dde4b4d1.c10698"]]},{"id":"dde4b4d1.c10698","type":"ui_button","z":"7debb8d6.b21878","name":"Menu Right","group":"9ac53d1.973fac","order":6,"width":"1","height":"1","passthru":true,"label":"Right","color":"","bgcolor":"","icon":"","payload":"menu right selected","payloadType":"str","topic":"","x":1170,"y":720,"wires":[["332c14d1.799d3c"]]},{"id":"da0f44cc.78e1f8","type":"inject","z":"7debb8d6.b21878","name":"Select","topic":"","payload":"menu select selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":760,"wires":[["465516e9.172518"]]},{"id":"465516e9.172518","type":"ui_button","z":"7debb8d6.b21878","name":"Enter","group":"9ac53d1.973fac","order":5,"width":"2","height":"1","passthru":true,"label":"Enter","color":"","bgcolor":"","icon":"","payload":"menu select selected","payloadType":"str","topic":"","x":1150,"y":760,"wires":[["332c14d1.799d3c"]]},{"id":"84aee23d.46332","type":"inject","z":"7debb8d6.b21878","name":"Channel Up","topic":"","payload":"channel up selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":60,"wires":[["3cff9a0b.d37f86"]]},{"id":"3cff9a0b.d37f86","type":"ui_button","z":"7debb8d6.b21878","name":"Channel Up","group":"bc9023f9.492d","order":1,"width":"2","height":"1","passthru":true,"label":"Up","color":"Black","bgcolor":"Yellow","icon":"","payload":"channel up selected","payloadType":"str","topic":"","x":1010,"y":60,"wires":[["332c14d1.799d3c"]]},{"id":"447e976b.cd93c8","type":"inject","z":"7debb8d6.b21878","name":"Channel Down","topic":"","payload":"channel down selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":780,"y":100,"wires":[["59a001a5.c731c"]]},{"id":"59a001a5.c731c","type":"ui_button","z":"7debb8d6.b21878","name":"Channel Down","group":"bc9023f9.492d","order":1,"width":"2","height":"1","passthru":true,"label":"Down","color":"Black","bgcolor":"Yellow","icon":"","payload":"channel down selected","payloadType":"str","topic":"","x":1020,"y":100,"wires":[["332c14d1.799d3c"]]},{"id":"d455e782.d60a88","type":"link out","z":"7debb8d6.b21878","name":"","links":["9eae1330.feb3b"],"x":1635,"y":480,"wires":[]},{"id":"3e4273e2.268cbc","type":"inject","z":"7debb8d6.b21878","name":"TV Guide","topic":"","payload":"menu tv guide selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":940,"y":800,"wires":[["7241fcb1.478a14"]]},{"id":"7241fcb1.478a14","type":"ui_button","z":"7debb8d6.b21878","name":"TV Guide","group":"9ac53d1.973fac","order":1,"width":"2","height":"1","passthru":true,"label":"TV Guide","color":"","bgcolor":"","icon":"","payload":"menu tv guide selected","payloadType":"str","topic":"","x":1160,"y":800,"wires":[["332c14d1.799d3c"]]},{"id":"b9319f1d.95e6b","type":"inject","z":"7debb8d6.b21878","name":"Power On","topic":"","payload":"power on selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":940,"y":940,"wires":[["f8f6bf9e.33f5"]]},{"id":"f8f6bf9e.33f5","type":"ui_button","z":"7debb8d6.b21878","name":"Power On","group":"4a7c41ef.e6f33","order":1,"width":"2","height":"1","passthru":true,"label":"On","color":"","bgcolor":"Green","icon":"","payload":"power on selected","payloadType":"str","topic":"","x":1160,"y":940,"wires":[["332c14d1.799d3c"]]},{"id":"e538dfd2.435f9","type":"inject","z":"7debb8d6.b21878","name":"Power Off","topic":"","payload":"power off selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":940,"y":980,"wires":[["e77ec44b.109478"]]},{"id":"e77ec44b.109478","type":"ui_button","z":"7debb8d6.b21878","name":"Power Off","group":"4a7c41ef.e6f33","order":1,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"Red","icon":"","payload":"power off selected","payloadType":"str","topic":"","x":1160,"y":980,"wires":[["332c14d1.799d3c"]]},{"id":"e8868858.c48098","type":"inject","z":"7debb8d6.b21878","name":"Lounge System Off","topic":"","payload":"system power off selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":970,"y":1020,"wires":[["6916cf5b.3e7e9"]]},{"id":"6916cf5b.3e7e9","type":"ui_button","z":"7debb8d6.b21878","name":"Lounge System Off","group":"4a7c41ef.e6f33","order":1,"width":"2","height":"1","passthru":true,"label":"System Off","color":"Black","bgcolor":"Cyan","icon":"","payload":"system power off selected","payloadType":"str","topic":"","x":1190,"y":1020,"wires":[["332c14d1.799d3c"]]},{"id":"6fa9816d.d111c","type":"inject","z":"7debb8d6.b21878","name":"Back","topic":"","payload":"menu back selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":840,"wires":[["acf3e32.986582"]]},{"id":"acf3e32.986582","type":"ui_button","z":"7debb8d6.b21878","name":"Back","group":"9ac53d1.973fac","order":8,"width":"4","height":"1","passthru":true,"label":"Back","color":"","bgcolor":"","icon":"","payload":"menu back selected","payloadType":"str","topic":"","x":1150,"y":840,"wires":[["332c14d1.799d3c"]]},{"id":"426cfdf9.8d9334","type":"ui_button","z":"7debb8d6.b21878","name":"Planner","group":"9ac53d1.973fac","order":8,"width":"4","height":"1","passthru":true,"label":"Planner","color":"","bgcolor":"","icon":"","payload":"menu planner selected","payloadType":"str","topic":"","x":1160,"y":880,"wires":[["332c14d1.799d3c"]]},{"id":"9168da76.3f0328","type":"inject","z":"7debb8d6.b21878","name":"Planner","topic":"","payload":"menu planner selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":880,"wires":[["426cfdf9.8d9334"]]},{"id":"54039361.794bfc","type":"ui_group","z":"","name":"Rooms","tab":"b09bb5f3.5f9aa8","disp":true,"width":"3"},{"id":"972a9ad3.b11828","type":"ui_group","z":"","name":"Sources","tab":"b09bb5f3.5f9aa8","disp":true,"width":"6"},{"id":"9ac53d1.973fac","type":"ui_group","z":"","name":"Menu Controls","tab":"b09bb5f3.5f9aa8","disp":true,"width":"4"},{"id":"d8da8736.638928","type":"ui_group","z":"","name":"Transport","tab":"b09bb5f3.5f9aa8","disp":true,"width":"2"},{"id":"bc9023f9.492d","type":"ui_group","z":"","name":"Channels","tab":"b09bb5f3.5f9aa8","disp":true,"width":"2"},{"id":"4a7c41ef.e6f33","type":"ui_group","z":"","name":"Power","tab":"b09bb5f3.5f9aa8","disp":true,"width":"2"},{"id":"b09bb5f3.5f9aa8","type":"ui_tab","z":"","name":"AV System","icon":"dashboard","order":1}]