Github Repo/Node Red Code/Pi Zero Backup Node Flows/Foxtel 14 Sept 2017.txt
[{"id":"c99ed534.555e48","type":"debug","z":"670fd5ec.f18b6c","name":"","active":true,"console":"false","complete":"false","x":1150,"y":460,"wires":[]},{"id":"44ce1225.6c0adc","type":"function","z":"670fd5ec.f18b6c","name":"Sort Messages","func":"//node.send ({payload:[msg.payload]});\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":500,"wires":[["c99ed534.555e48","72539b5e.4a0634"]]},{"id":"ae1782a3.da103","type":"inject","z":"670fd5ec.f18b6c","name":"System Menu","topic":"","payload":"menu selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":60,"wires":[["6ce54ff6.494e9"]]},{"id":"6ce54ff6.494e9","type":"ui_button","z":"670fd5ec.f18b6c","name":"System Menu","group":"ead1a965.b3d428","order":2,"width":"2","height":"1","passthru":true,"label":"Sys Menu","color":"","bgcolor":"","icon":"","payload":"menu selected","payloadType":"str","topic":"","x":400,"y":60,"wires":[["44ce1225.6c0adc"]]},{"id":"bd4881fd.7eac9","type":"inject","z":"670fd5ec.f18b6c","name":"Up","topic":"","payload":"menu up selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["f6a80baf.59db78"]]},{"id":"f6a80baf.59db78","type":"ui_button","z":"670fd5ec.f18b6c","name":"Menu Up","group":"ead1a965.b3d428","order":3,"width":"4","height":"1","passthru":true,"label":"Menu Up","color":"","bgcolor":"","icon":"","payload":"menu up selected","payloadType":"str","topic":"","x":380,"y":100,"wires":[["44ce1225.6c0adc"]]},{"id":"d0ee74f3.08cae8","type":"inject","z":"670fd5ec.f18b6c","name":"Down","topic":"","payload":"menu down selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":140,"wires":[["288682a1.28350e"]]},{"id":"288682a1.28350e","type":"ui_button","z":"670fd5ec.f18b6c","name":"Menu Down","group":"ead1a965.b3d428","order":7,"width":"4","height":"1","passthru":true,"label":"Menu Down","color":"","bgcolor":"","icon":"","payload":"menu down selected","payloadType":"str","topic":"","x":390,"y":140,"wires":[["44ce1225.6c0adc"]]},{"id":"f69b6138.ece6a","type":"inject","z":"670fd5ec.f18b6c","name":"Left","topic":"","payload":"menu left selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":180,"wires":[["67a1812d.1c81c"]]},{"id":"67a1812d.1c81c","type":"ui_button","z":"670fd5ec.f18b6c","name":"Menu Left","group":"ead1a965.b3d428","order":4,"width":"1","height":"1","passthru":true,"label":"Left","color":"","bgcolor":"","icon":"","payload":"menu left selected","payloadType":"str","topic":"","x":390,"y":180,"wires":[["44ce1225.6c0adc"]]},{"id":"96e9b853.fbbd58","type":"inject","z":"670fd5ec.f18b6c","name":"Right","topic":"","payload":"menu right selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":220,"wires":[["1ac7f6cb.bd4c89"]]},{"id":"1ac7f6cb.bd4c89","type":"ui_button","z":"670fd5ec.f18b6c","name":"Menu Right","group":"ead1a965.b3d428","order":6,"width":"1","height":"1","passthru":true,"label":"Right","color":"","bgcolor":"","icon":"","payload":"menu right selected","payloadType":"str","topic":"","x":390,"y":220,"wires":[["44ce1225.6c0adc"]]},{"id":"fbba4ceb.e555e","type":"inject","z":"670fd5ec.f18b6c","name":"Select","topic":"","payload":"menu select selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":260,"wires":[["5bdd1da.22653e4"]]},{"id":"5bdd1da.22653e4","type":"ui_button","z":"670fd5ec.f18b6c","name":"Enter","group":"ead1a965.b3d428","order":5,"width":"2","height":"1","passthru":true,"label":"Enter","color":"","bgcolor":"","icon":"","payload":"menu select selected","payloadType":"str","topic":"","x":370,"y":260,"wires":[["44ce1225.6c0adc"]]},{"id":"72539b5e.4a0634","type":"link out","z":"670fd5ec.f18b6c","name":"","links":["9eae1330.feb3b"],"x":1135,"y":540,"wires":[]},{"id":"561941cf.1a1dc","type":"inject","z":"670fd5ec.f18b6c","name":"TV Guide","topic":"","payload":"menu tv guide selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":300,"wires":[["36c77eaf.98ffe2"]]},{"id":"36c77eaf.98ffe2","type":"ui_button","z":"670fd5ec.f18b6c","name":"TV Guide","group":"ead1a965.b3d428","order":1,"width":"2","height":"1","passthru":true,"label":"TV Guide","color":"","bgcolor":"","icon":"","payload":"menu tv guide selected","payloadType":"str","topic":"","x":380,"y":300,"wires":[["44ce1225.6c0adc"]]},{"id":"8a04275a.3d7198","type":"inject","z":"670fd5ec.f18b6c","name":"Power On","topic":"","payload":"power on selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":440,"wires":[["355fbc41.8acd94"]]},{"id":"355fbc41.8acd94","type":"ui_button","z":"670fd5ec.f18b6c","name":"Power On","group":"df52530d.2ccd5","order":1,"width":"2","height":"1","passthru":true,"label":"On","color":"","bgcolor":"Green","icon":"","payload":"power on selected","payloadType":"str","topic":"","x":390,"y":440,"wires":[["44ce1225.6c0adc"]]},{"id":"32aa5af5.6ff7d6","type":"inject","z":"670fd5ec.f18b6c","name":"Power Off","topic":"","payload":"power off selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":480,"wires":[["8f9b1e9f.870e1"]]},{"id":"8f9b1e9f.870e1","type":"ui_button","z":"670fd5ec.f18b6c","name":"Power Off","group":"df52530d.2ccd5","order":1,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"Red","icon":"","payload":"power off selected","payloadType":"str","topic":"","x":390,"y":480,"wires":[["44ce1225.6c0adc"]]},{"id":"5554cd33.b80c94","type":"inject","z":"670fd5ec.f18b6c","name":"Back","topic":"","payload":"menu back selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":340,"wires":[["b8056463.f3c7a8"]]},{"id":"b8056463.f3c7a8","type":"ui_button","z":"670fd5ec.f18b6c","name":"Back","group":"ead1a965.b3d428","order":8,"width":"4","height":"1","passthru":true,"label":"Back","color":"","bgcolor":"","icon":"","payload":"menu back selected","payloadType":"str","topic":"","x":370,"y":340,"wires":[["44ce1225.6c0adc"]]},{"id":"786f77c.7acda88","type":"inject","z":"670fd5ec.f18b6c","name":"Play","topic":"","payload":"play selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":680,"wires":[["3cb6bc49.4a18a4"]]},{"id":"3cb6bc49.4a18a4","type":"ui_button","z":"670fd5ec.f18b6c","name":"Play","group":"7ef6c24.6d4293c","order":1,"width":"2","height":"1","passthru":true,"label":"Play","color":"","bgcolor":"","icon":"","payload":"play selected","payloadType":"str","topic":"","x":370,"y":680,"wires":[["44ce1225.6c0adc"]]},{"id":"d8db3daa.50808","type":"inject","z":"670fd5ec.f18b6c","name":"Stop","topic":"","payload":"stop selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":720,"wires":[["22efa778.5c0408"]]},{"id":"22efa778.5c0408","type":"ui_button","z":"670fd5ec.f18b6c","name":"Stop","group":"7ef6c24.6d4293c","order":1,"width":"2","height":"1","passthru":true,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"stop selected","payloadType":"str","topic":"","x":370,"y":720,"wires":[["44ce1225.6c0adc"]]},{"id":"4e81681f.a3c448","type":"inject","z":"670fd5ec.f18b6c","name":"Pause","topic":"","payload":"pause selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":760,"wires":[["f29fa8b3.aac9a8"]]},{"id":"f29fa8b3.aac9a8","type":"ui_button","z":"670fd5ec.f18b6c","name":"Pause","group":"7ef6c24.6d4293c","order":1,"width":"2","height":"1","passthru":true,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"pause selected","payloadType":"str","topic":"","x":370,"y":760,"wires":[["44ce1225.6c0adc"]]},{"id":"b9160fcc.7e5a2","type":"inject","z":"670fd5ec.f18b6c","name":"Fwd","topic":"","payload":"forward selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":800,"wires":[["c61b45fa.9231f8"]]},{"id":"c61b45fa.9231f8","type":"ui_button","z":"670fd5ec.f18b6c","name":"Fwd","group":"7ef6c24.6d4293c","order":1,"width":"2","height":"1","passthru":true,"label":"Fwd","color":"","bgcolor":"","icon":"","payload":"forward selected","payloadType":"str","topic":"","x":370,"y":800,"wires":[["44ce1225.6c0adc"]]},{"id":"5bf1880b.d60f08","type":"inject","z":"670fd5ec.f18b6c","name":"Rwd","topic":"","payload":"rewind selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":840,"wires":[["5aac9158.cda15"]]},{"id":"5aac9158.cda15","type":"ui_button","z":"670fd5ec.f18b6c","name":"Rwd","group":"7ef6c24.6d4293c","order":1,"width":"2","height":"1","passthru":true,"label":"Rwd","color":"","bgcolor":"","icon":"","payload":"rewind selected","payloadType":"str","topic":"","x":370,"y":840,"wires":[["44ce1225.6c0adc"]]},{"id":"6bbfa8a8.bd76e8","type":"inject","z":"670fd5ec.f18b6c","name":"Record","topic":"","payload":"record selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":880,"wires":[["536ace79.bfc3a"]]},{"id":"536ace79.bfc3a","type":"ui_button","z":"670fd5ec.f18b6c","name":"Record","group":"7ef6c24.6d4293c","order":1,"width":"2","height":"1","passthru":true,"label":"Record","color":"","bgcolor":"Red","icon":"","payload":"record selected","payloadType":"str","topic":"","x":380,"y":880,"wires":[["44ce1225.6c0adc"]]},{"id":"5b3cc4e8.fa17ec","type":"inject","z":"670fd5ec.f18b6c","name":"Channel Up","topic":"","payload":"channel up selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":580,"wires":[["50af9769.4bfdf8"]]},{"id":"50af9769.4bfdf8","type":"ui_button","z":"670fd5ec.f18b6c","name":"Channel Up","group":"559385b.02b737c","order":1,"width":"2","height":"1","passthru":true,"label":"Up","color":"Black","bgcolor":"Yellow","icon":"","payload":"channel up selected","payloadType":"str","topic":"","x":390,"y":580,"wires":[["44ce1225.6c0adc"]]},{"id":"43431d93.12f714","type":"inject","z":"670fd5ec.f18b6c","name":"Channel Down","topic":"","payload":"channel down selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":620,"wires":[["33d88de.3cb9972"]]},{"id":"33d88de.3cb9972","type":"ui_button","z":"670fd5ec.f18b6c","name":"Channel Down","group":"559385b.02b737c","order":1,"width":"2","height":"1","passthru":true,"label":"Down","color":"Black","bgcolor":"Yellow","icon":"","payload":"channel down selected","payloadType":"str","topic":"","x":400,"y":620,"wires":[["44ce1225.6c0adc"]]},{"id":"d8b1935.90ef17","type":"inject","z":"670fd5ec.f18b6c","name":"Red","topic":"","payload":"menu red selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":100,"wires":[["f37f6c83.1f722"]]},{"id":"f37f6c83.1f722","type":"ui_button","z":"670fd5ec.f18b6c","name":"Red","group":"832fee48.858da","order":8,"width":"2","height":"1","passthru":true,"label":"Red","color":"","bgcolor":"Red","icon":"","payload":"menu red selected","payloadType":"str","topic":"","x":970,"y":100,"wires":[["44ce1225.6c0adc"]]},{"id":"27253185.25173e","type":"inject","z":"670fd5ec.f18b6c","name":"Green","topic":"","payload":"menu green selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":140,"wires":[["c91521a8.67acc"]]},{"id":"c91521a8.67acc","type":"ui_button","z":"670fd5ec.f18b6c","name":"Green","group":"832fee48.858da","order":8,"width":"2","height":"1","passthru":true,"label":"Green","color":"","bgcolor":"Green","icon":"","payload":"menu green selected","payloadType":"str","topic":"","x":970,"y":140,"wires":[["44ce1225.6c0adc"]]},{"id":"b086661f.11abd8","type":"inject","z":"670fd5ec.f18b6c","name":"Yellow","topic":"","payload":"menu yellow selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":180,"wires":[["f200d0ae.17002"]]},{"id":"f200d0ae.17002","type":"ui_button","z":"670fd5ec.f18b6c","name":"Yellow","group":"832fee48.858da","order":8,"width":"2","height":"1","passthru":true,"label":"Yellow","color":"Black","bgcolor":"Yellow","icon":"","payload":"menu yellow selected","payloadType":"str","topic":"","x":970,"y":180,"wires":[["44ce1225.6c0adc"]]},{"id":"e52ffab1.df0348","type":"inject","z":"670fd5ec.f18b6c","name":"Blue","topic":"","payload":"menu blue selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":220,"wires":[["39faaf66.3154e"]]},{"id":"39faaf66.3154e","type":"ui_button","z":"670fd5ec.f18b6c","name":"Blue","group":"832fee48.858da","order":8,"width":"2","height":"1","passthru":true,"label":"Blue","color":"","bgcolor":"Blue","icon":"","payload":"menu red selected","payloadType":"str","topic":"","x":970,"y":220,"wires":[["44ce1225.6c0adc"]]},{"id":"c1392308.ff501","type":"ui_button","z":"670fd5ec.f18b6c","name":"Foxtel 2 IQ2","group":"a312a95.b5d6c58","order":2,"width":"3","height":"1","passthru":true,"label":"Foxtel 2 - IQ2","color":"","bgcolor":"","icon":"","payload":"foxtel 2 selected","payloadType":"str","topic":"","x":1150,"y":740,"wires":[["44ce1225.6c0adc"]]},{"id":"d5a9cb35.494ff8","type":"inject","z":"670fd5ec.f18b6c","name":"Foxtel 2","topic":"","payload":"foxtel 2 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":854,"y":740,"wires":[["c1392308.ff501"]]},{"id":"f6d110c1.eedaa","type":"inject","z":"670fd5ec.f18b6c","name":"Foxtel 1","topic":"","payload":"foxtel 1 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":854,"y":700,"wires":[["7060012a.9e113"]]},{"id":"7060012a.9e113","type":"ui_button","z":"670fd5ec.f18b6c","name":"Foxtel 1 IQ3","group":"a312a95.b5d6c58","order":1,"width":"3","height":"1","passthru":true,"label":"Foxtel 1 - IQ3","color":"","bgcolor":"","icon":"","payload":"foxtel 1 selected","payloadType":"str","topic":"","x":1150,"y":700,"wires":[["44ce1225.6c0adc"]]},{"id":"5754bf56.aa787","type":"ui_button","z":"670fd5ec.f18b6c","name":"Planner","group":"ead1a965.b3d428","order":8,"width":"4","height":"1","passthru":true,"label":"Planner","color":"","bgcolor":"","icon":"","payload":"menu planner selected","payloadType":"str","topic":"","x":380,"y":380,"wires":[["44ce1225.6c0adc"]]},{"id":"54470d15.342724","type":"inject","z":"670fd5ec.f18b6c","name":"Planner","topic":"","payload":"menu planner selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":380,"wires":[["5754bf56.aa787"]]},{"id":"ead1a965.b3d428","type":"ui_group","z":"","name":"Menu Controls","tab":"b5ac6643.bc3f28","order":3,"disp":true,"width":"4"},{"id":"df52530d.2ccd5","type":"ui_group","z":"","name":"Power","tab":"b5ac6643.bc3f28","order":7,"disp":true,"width":"2"},{"id":"7ef6c24.6d4293c","type":"ui_group","z":"","name":"Transport","tab":"b5ac6643.bc3f28","order":5,"disp":true,"width":"2"},{"id":"559385b.02b737c","type":"ui_group","z":"","name":"Channels","tab":"b5ac6643.bc3f28","order":4,"disp":true,"width":"2"},{"id":"832fee48.858da","type":"ui_group","z":"","name":"Functions","tab":"b5ac6643.bc3f28","order":6,"disp":true,"width":"2"},{"id":"a312a95.b5d6c58","type":"ui_group","z":"","name":"Box Selection","tab":"b5ac6643.bc3f28","order":1,"disp":true,"width":"3"},{"id":"b5ac6643.bc3f28","type":"ui_tab","z":"","name":"Foxtel","icon":"dashboard","order":2}]