Github Repo/Node Red Code/Pi Zero Backup Node Flows/Foxtel and TV Channels 4-10-2017.txt
[{"id":"59d81574.8c5d3c","type":"function","z":"b7c58027.cd9ca","name":"Search for Channel Word","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar room_rx; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word channel\n    { \n    if (msgdata[i] == \"channel\")\n        {\n        room_rx = 1;\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":1350,"y":220,"wires":[["6db8d41b.5ba74c","14b7b2fd.043e2d"]]},{"id":"6db8d41b.5ba74c","type":"debug","z":"b7c58027.cd9ca","name":"","active":false,"console":"false","complete":"false","x":1590,"y":220,"wires":[]},{"id":"f5060db6.143af","type":"inject","z":"b7c58027.cd9ca","name":"Relax","topic":"","payload":"relax","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":800,"wires":[["88e3d5f6.0223a8"]]},{"id":"82370010.2cb69","type":"inject","z":"b7c58027.cd9ca","name":"Fox 8","topic":"","payload":"eight","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":80,"wires":[["f7448c72.270fb"]]},{"id":"ace2716.a69b89","type":"inject","z":"b7c58027.cd9ca","name":"ABC","topic":"","payload":"abc","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":40,"wires":[["a0633c85.7d43d"]]},{"id":"31d30056.ccf86","type":"inject","z":"b7c58027.cd9ca","name":"TV 1","topic":"","payload":"tv1","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":40,"wires":[["11ce06e2.747759"]]},{"id":"3d1f11d1.b5043e","type":"inject","z":"b7c58027.cd9ca","name":"Country","topic":"","payload":"**channel 815","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":760,"wires":[["2a8d923e.acf53e"]]},{"id":"f4d96c29.28e4d","type":"inject","z":"b7c58027.cd9ca","name":"Premiere Movies","topic":"","payload":"**channel 401","payloadType":"str","repeat":"","crontab":"","once":false,"x":1080,"y":1080,"wires":[["c3a2acf9.065b1"]]},{"id":"c56dfbd7.808058","type":"link in","z":"b7c58027.cd9ca","name":"","links":["21973875.8ab2d8","fede0184.ab34e"],"x":1235,"y":120,"wires":[["59d81574.8c5d3c","56858fb5.67d53"]]},{"id":"e2782a20.a557d8","type":"inject","z":"b7c58027.cd9ca","name":"Seven","topic":"","payload":"**channel 107","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":80,"wires":[["3141c271.18ba2e"]]},{"id":"99436f0a.6c832","type":"inject","z":"b7c58027.cd9ca","name":"Nine","topic":"","payload":"nine","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":120,"wires":[["444d1ce1.dbfb24"]]},{"id":"9ef7528.a8997b","type":"inject","z":"b7c58027.cd9ca","name":"Ten","topic":"","payload":"**channel 110","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":160,"wires":[["2c6d69d7.dc5af6"]]},{"id":"8a2ba5f3.eb9d08","type":"inject","z":"b7c58027.cd9ca","name":"SBS","topic":"","payload":"sbs","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":200,"wires":[["50f56a44.ca5294"]]},{"id":"e2e74955.2823c8","type":"link out","z":"b7c58027.cd9ca","name":"","links":["a44d5248.dcfe","172d30fd.a329cf"],"x":1935,"y":580,"wires":[]},{"id":"23323b9d.8329b4","type":"inject","z":"b7c58027.cd9ca","name":"Disney","topic":"","payload":"disney","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1120,"wires":[["e70e2720.adacc8"]]},{"id":"9a207776.383f18","type":"inject","z":"b7c58027.cd9ca","name":"Family Movies","topic":"","payload":"family","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":1160,"wires":[["a0ce6363.244ea"]]},{"id":"f44cf906.6bed18","type":"inject","z":"b7c58027.cd9ca","name":"NRL Footy","topic":"","payload":"nrl","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1000,"wires":[["b4373557.d0aea8"]]},{"id":"cad977eb.cf55f8","type":"inject","z":"b7c58027.cd9ca","name":"AFL Footy","topic":"","payload":"afl","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1040,"wires":[["bb59e99b.393fe8"]]},{"id":"1bc0ed2.82b7013","type":"inject","z":"b7c58027.cd9ca","name":"ABC News","topic":"","payload":"news","payloadType":"str","repeat":"","crontab":"","once":false,"x":760,"y":240,"wires":[["3907885b.2a2508"]]},{"id":"91c59950.a04b48","type":"inject","z":"b7c58027.cd9ca","name":"Weather Channel","topic":"","payload":"weather","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1040,"wires":[["7e37e7c6.840e28"]]},{"id":"56858fb5.67d53","type":"debug","z":"b7c58027.cd9ca","name":"","active":true,"console":"false","complete":"false","x":1390,"y":120,"wires":[]},{"id":"11ce06e2.747759","type":"ui_button","z":"b7c58027.cd9ca","name":"TV1","group":"de2a518e.ece63","order":2,"width":"3","height":"1","passthru":true,"label":"TV 1","color":"","bgcolor":"","icon":"","payload":"tv1","payloadType":"str","topic":"","x":490,"y":40,"wires":[["14b7b2fd.043e2d"]]},{"id":"f7448c72.270fb","type":"ui_button","z":"b7c58027.cd9ca","name":"Fox 8","group":"de2a518e.ece63","order":1,"width":"3","height":"1","passthru":true,"label":"Fox 8","color":"","bgcolor":"","icon":"","payload":"eight","payloadType":"str","topic":"","x":490,"y":80,"wires":[["14b7b2fd.043e2d"]]},{"id":"a0633c85.7d43d","type":"ui_button","z":"b7c58027.cd9ca","name":"ABC","group":"69ad80af.ac65f","order":0,"width":"3","height":"1","passthru":true,"label":"ABC","color":"","bgcolor":"","icon":"","payload":"abc","payloadType":"str","topic":"","x":1010,"y":40,"wires":[["14b7b2fd.043e2d"]]},{"id":"3141c271.18ba2e","type":"ui_button","z":"b7c58027.cd9ca","name":"Seven","group":"69ad80af.ac65f","order":0,"width":"3","height":"1","passthru":true,"label":"Seven","color":"","bgcolor":"","icon":"","payload":"seven","payloadType":"str","topic":"","x":1010,"y":80,"wires":[["14b7b2fd.043e2d"]]},{"id":"444d1ce1.dbfb24","type":"ui_button","z":"b7c58027.cd9ca","name":"Nine","group":"69ad80af.ac65f","order":0,"width":"3","height":"1","passthru":true,"label":"Nine","color":"","bgcolor":"","icon":"","payload":"nine","payloadType":"str","topic":"","x":1010,"y":120,"wires":[["14b7b2fd.043e2d"]]},{"id":"2c6d69d7.dc5af6","type":"ui_button","z":"b7c58027.cd9ca","name":"Ten","group":"69ad80af.ac65f","order":0,"width":"3","height":"1","passthru":true,"label":"Ten","color":"","bgcolor":"","icon":"","payload":"ten","payloadType":"str","topic":"","x":1010,"y":160,"wires":[["14b7b2fd.043e2d"]]},{"id":"50f56a44.ca5294","type":"ui_button","z":"b7c58027.cd9ca","name":"SBS","group":"69ad80af.ac65f","order":0,"width":"3","height":"1","passthru":true,"label":"SBS","color":"","bgcolor":"","icon":"","payload":"sbs","payloadType":"str","topic":"","x":1010,"y":200,"wires":[["14b7b2fd.043e2d"]]},{"id":"3907885b.2a2508","type":"ui_button","z":"b7c58027.cd9ca","name":"ABC News","group":"12be8cc2.dc3763","order":0,"width":0,"height":0,"passthru":true,"label":"ABC News","color":"","bgcolor":"","icon":"","payload":"news","payloadType":"str","topic":"","x":1030,"y":240,"wires":[["14b7b2fd.043e2d"]]},{"id":"bb59e99b.393fe8","type":"ui_button","z":"b7c58027.cd9ca","name":"AFL Footy","group":"1e15be2f.0484b2","order":0,"width":"2","height":"1","passthru":true,"label":"AFL Footy","color":"","bgcolor":"","icon":"","payload":"afl","payloadType":"str","topic":"","x":1330,"y":1040,"wires":[["14b7b2fd.043e2d"]]},{"id":"a807aa4f.62d318","type":"ui_button","z":"b7c58027.cd9ca","name":"Discovery","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"Discovery","color":"","bgcolor":"","icon":"","payload":"discovery","payloadType":"str","topic":"","x":500,"y":1120,"wires":[["14b7b2fd.043e2d"]]},{"id":"a299b12c.07aac","type":"ui_button","z":"b7c58027.cd9ca","name":"Smooth","group":"7fd69d12.64d544","order":0,"width":"3","height":"1","passthru":true,"label":"Smooth","color":"","bgcolor":"","icon":"","payload":"smooth","payloadType":"str","topic":"","x":1320,"y":720,"wires":[["14b7b2fd.043e2d"]]},{"id":"ab4a511b.c1b2a","type":"ui_button","z":"b7c58027.cd9ca","name":"Thriller","group":"7f735fc5.4d509","order":8,"width":"3","height":"1","passthru":true,"label":"Thriller","color":"","bgcolor":"","icon":"","payload":"thriller","payloadType":"str","topic":"","x":1320,"y":1200,"wires":[["14b7b2fd.043e2d"]]},{"id":"4aff8e6f.461ca","type":"inject","z":"b7c58027.cd9ca","name":"Discovery Channel","topic":"","payload":"discovery","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1120,"wires":[["a807aa4f.62d318"]]},{"id":"94b8ba4d.c014c8","type":"inject","z":"b7c58027.cd9ca","name":"Thriller","topic":"","payload":"thriller","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1200,"wires":[["ab4a511b.c1b2a"]]},{"id":"a148bf32.732da","type":"inject","z":"b7c58027.cd9ca","name":"Smooth","topic":"","payload":"smooth","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":720,"wires":[["a299b12c.07aac"]]},{"id":"2a8d923e.acf53e","type":"ui_button","z":"b7c58027.cd9ca","name":"Country","group":"7fd69d12.64d544","order":0,"width":"3","height":"1","passthru":true,"label":"Country","color":"","bgcolor":"","icon":"","payload":"country","payloadType":"str","topic":"","x":1320,"y":760,"wires":[["14b7b2fd.043e2d"]]},{"id":"88e3d5f6.0223a8","type":"ui_button","z":"b7c58027.cd9ca","name":"Relax","group":"7fd69d12.64d544","order":0,"width":"3","height":"1","passthru":true,"label":"Relax","color":"","bgcolor":"","icon":"","payload":"relax","payloadType":"str","topic":"","x":1310,"y":800,"wires":[["14b7b2fd.043e2d"]]},{"id":"f9c46e27.fab74","type":"inject","z":"b7c58027.cd9ca","name":"774","topic":"","payload":"774","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":840,"wires":[["6ca325f4.bb47dc"]]},{"id":"6ca325f4.bb47dc","type":"ui_button","z":"b7c58027.cd9ca","name":"Melbourne Radio - 774","group":"7fd69d12.64d544","order":0,"width":"3","height":"1","passthru":true,"label":"774","color":"","bgcolor":"","icon":"","payload":"774","payloadType":"str","topic":"","x":1370,"y":840,"wires":[["14b7b2fd.043e2d"]]},{"id":"a0ce6363.244ea","type":"ui_button","z":"b7c58027.cd9ca","name":"Family Movies","group":"7f735fc5.4d509","order":5,"width":"3","height":"1","passthru":true,"label":"Family Movies","color":"","bgcolor":"","icon":"","payload":"family","payloadType":"str","topic":"","x":1340,"y":1160,"wires":[["14b7b2fd.043e2d"]]},{"id":"e70e2720.adacc8","type":"ui_button","z":"b7c58027.cd9ca","name":"Disney Movies","group":"7f735fc5.4d509","order":4,"width":"3","height":"1","passthru":true,"label":"Disney Movies","color":"","bgcolor":"","icon":"","payload":"disney","payloadType":"str","topic":"","x":1340,"y":1120,"wires":[["14b7b2fd.043e2d"]]},{"id":"c3a2acf9.065b1","type":"ui_button","z":"b7c58027.cd9ca","name":"Premiere Movies","group":"7f735fc5.4d509","order":2,"width":"3","height":"1","passthru":true,"label":"Premiere Movies","color":"","bgcolor":"","icon":"","payload":"premiere","payloadType":"str","topic":"","x":1350,"y":1080,"wires":[["14b7b2fd.043e2d"]]},{"id":"7e37e7c6.840e28","type":"ui_button","z":"b7c58027.cd9ca","name":"Weather","group":"12be8cc2.dc3763","order":2,"width":"3","height":"1","passthru":true,"label":"Weather","color":"","bgcolor":"","icon":"","payload":"weather","payloadType":"str","topic":"","x":500,"y":1040,"wires":[["14b7b2fd.043e2d"]]},{"id":"52c02ceb.595ab4","type":"inject","z":"b7c58027.cd9ca","name":"Sky Channel","topic":"","payload":"sky","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1000,"wires":[["459d1e07.b4f66"]]},{"id":"d0dd7e0a.7ecde","type":"ui_button","z":"b7c58027.cd9ca","name":"National Geographic Channel","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"Nat Geographic","color":"","bgcolor":"","icon":"","payload":"national","payloadType":"str","topic":"","x":570,"y":1080,"wires":[["14b7b2fd.043e2d"]]},{"id":"5eb3ce37.fc098","type":"inject","z":"b7c58027.cd9ca","name":"National Geographic Channel","topic":"","payload":"national","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1080,"wires":[["d0dd7e0a.7ecde"]]},{"id":"841b3083.7b099","type":"ui_button","z":"b7c58027.cd9ca","name":"History Channel","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"History Channel","color":"","bgcolor":"","icon":"","payload":"history","payloadType":"str","topic":"","x":520,"y":1160,"wires":[["14b7b2fd.043e2d"]]},{"id":"8fbc950e.73fa48","type":"inject","z":"b7c58027.cd9ca","name":"History Channel","topic":"","payload":"history","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1160,"wires":[["841b3083.7b099"]]},{"id":"7ba3f0dc.21cdb","type":"ui_button","z":"b7c58027.cd9ca","name":"Science Channel","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"Science Channel","color":"","bgcolor":"","icon":"","payload":"science","payloadType":"str","topic":"","x":530,"y":1200,"wires":[["14b7b2fd.043e2d"]]},{"id":"514a054a.0e150c","type":"inject","z":"b7c58027.cd9ca","name":"Science Channel","topic":"","payload":"science","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1200,"wires":[["7ba3f0dc.21cdb"]]},{"id":"4b423f12.6e1bc","type":"ui_button","z":"b7c58027.cd9ca","name":"Animal Channel","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"Animal Channel","color":"","bgcolor":"","icon":"","payload":"animal","payloadType":"str","topic":"","x":520,"y":1240,"wires":[["14b7b2fd.043e2d"]]},{"id":"33a97490.ece00c","type":"inject","z":"b7c58027.cd9ca","name":"Animal Channel","topic":"","payload":"animal","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1240,"wires":[["4b423f12.6e1bc"]]},{"id":"b4373557.d0aea8","type":"ui_button","z":"b7c58027.cd9ca","name":"NRL Footy","group":"1e15be2f.0484b2","order":0,"width":"2","height":"1","passthru":true,"label":"NRL Footy","color":"","bgcolor":"","icon":"","payload":"nrl","payloadType":"str","topic":"","x":1330,"y":1000,"wires":[["14b7b2fd.043e2d"]]},{"id":"e5e90f05.0a084","type":"function","z":"b7c58027.cd9ca","name":"Lookup Words Files","func":"var newmsg = {};\nvar inputstring = msg.topic;\nvar channels = Object.keys(msg.payload);\nvar oldpayload = msg.payload;\nvar foundChannel = \"\";\n\n\nfor (var i=0; i<channels.length; i++) {\n    if (inputstring.indexOf(channels[i]) !=-1) {\n        foundChannel = channels[i];\n        var channelNumber = oldpayload[channels[i]];\n        var result = \"**channel \" + channelNumber;\n        break;\n    }\n}\n\nnewmsg.payload = result;\n\n/*\nnewmsg.payload = {\n    inputstring: inputstring,\n    channels: channels,\n    oldpayload: oldpayload,\n    foundChannel: foundChannel,\n    result: result\n};\n*/\nreturn newmsg;","outputs":1,"noerr":0,"x":1720,"y":600,"wires":[["ca856302.84dcd","e2e74955.2823c8"]]},{"id":"f0c3e275.1f012","type":"file in","z":"b7c58027.cd9ca","name":"","filename":"/home/pi/Documents/Foxtel_Words.txt","format":"utf8","x":1290,"y":600,"wires":[["38cfcd5f.543412"]]},{"id":"38cfcd5f.543412","type":"json","z":"b7c58027.cd9ca","name":"","x":1530,"y":600,"wires":[["e5e90f05.0a084"]]},{"id":"ca856302.84dcd","type":"debug","z":"b7c58027.cd9ca","name":"","active":true,"console":"false","complete":"false","x":1990,"y":520,"wires":[]},{"id":"14b7b2fd.043e2d","type":"change","z":"b7c58027.cd9ca","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":600,"wires":[["f0c3e275.1f012"]]},{"id":"ccb0efeb.f301b","type":"inject","z":"b7c58027.cd9ca","name":"Turbo Channel","topic":"","payload":"turbo","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1280,"wires":[["5f2ffce9.3ee2f4"]]},{"id":"5f2ffce9.3ee2f4","type":"ui_button","z":"b7c58027.cd9ca","name":"Turbo Channel","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"Turbo Channel","color":"","bgcolor":"","icon":"","payload":"turbo","payloadType":"str","topic":"","x":520,"y":1280,"wires":[["14b7b2fd.043e2d"]]},{"id":"4fd3b581.97038c","type":"inject","z":"b7c58027.cd9ca","name":"People Channel","topic":"","payload":"people","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1320,"wires":[["77bc32b9.fbc4bc"]]},{"id":"77bc32b9.fbc4bc","type":"ui_button","z":"b7c58027.cd9ca","name":"People Channel","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"People Channel","color":"","bgcolor":"","icon":"","payload":"people","payloadType":"str","topic":"","x":520,"y":1320,"wires":[["14b7b2fd.043e2d"]]},{"id":"6aa8698b.6743e8","type":"inject","z":"b7c58027.cd9ca","name":"UKTV","topic":"","payload":"uktv","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":120,"wires":[["6428895e.1aa458"]]},{"id":"6428895e.1aa458","type":"ui_button","z":"b7c58027.cd9ca","name":"UKTV","group":"de2a518e.ece63","order":6,"width":"3","height":"1","passthru":true,"label":"UKTV","color":"","bgcolor":"","icon":"","payload":"uktv","payloadType":"str","topic":"","x":490,"y":120,"wires":[["14b7b2fd.043e2d"]]},{"id":"ca0524db.c01538","type":"inject","z":"b7c58027.cd9ca","name":"Arena","topic":"","payload":"arena","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":160,"wires":[["4d34020e.f1830c"]]},{"id":"4d34020e.f1830c","type":"ui_button","z":"b7c58027.cd9ca","name":"Arena","group":"de2a518e.ece63","order":7,"width":"3","height":"1","passthru":true,"label":"Arena","color":"","bgcolor":"","icon":"","payload":"arena","payloadType":"str","topic":"","x":490,"y":160,"wires":[["14b7b2fd.043e2d"]]},{"id":"622bbd90.455934","type":"inject","z":"b7c58027.cd9ca","name":"Lifestyle","topic":"","payload":"lifestyle","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":200,"wires":[["60e222ea.1561bc"]]},{"id":"60e222ea.1561bc","type":"ui_button","z":"b7c58027.cd9ca","name":"Lifestyle","group":"de2a518e.ece63","order":8,"width":"3","height":"1","passthru":true,"label":"Lifestyle","color":"","bgcolor":"","icon":"","payload":"lifestyle","payloadType":"str","topic":"","x":500,"y":200,"wires":[["14b7b2fd.043e2d"]]},{"id":"6b3a0d26.ea6de4","type":"inject","z":"b7c58027.cd9ca","name":"Universal","topic":"","payload":"universal","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":240,"wires":[["23a9d60d.b4dbea"]]},{"id":"23a9d60d.b4dbea","type":"ui_button","z":"b7c58027.cd9ca","name":"Universal","group":"de2a518e.ece63","order":5,"width":"3","height":"1","passthru":true,"label":"Universal","color":"","bgcolor":"","icon":"","payload":"universal","payloadType":"str","topic":"","x":500,"y":240,"wires":[["14b7b2fd.043e2d"]]},{"id":"2080450b.aa348a","type":"inject","z":"b7c58027.cd9ca","name":"Fox Classic","topic":"","payload":"classic","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":280,"wires":[["8bab755c.c54778"]]},{"id":"8bab755c.c54778","type":"ui_button","z":"b7c58027.cd9ca","name":"Fox Classic","group":"de2a518e.ece63","order":9,"width":"3","height":"1","passthru":true,"label":"Fox Classic","color":"","bgcolor":"","icon":"","payload":"classic","payloadType":"str","topic":"","x":510,"y":280,"wires":[["14b7b2fd.043e2d"]]},{"id":"9450d3e.2bfb73","type":"inject","z":"b7c58027.cd9ca","name":"Showcase","topic":"","payload":"shocase","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":320,"wires":[["7bb801ed.d9326"]]},{"id":"7bb801ed.d9326","type":"ui_button","z":"b7c58027.cd9ca","name":"Showcase","group":"de2a518e.ece63","order":11,"width":"3","height":"1","passthru":true,"label":"Showcase","color":"","bgcolor":"","icon":"","payload":"showcase","payloadType":"str","topic":"","x":510,"y":320,"wires":[["14b7b2fd.043e2d"]]},{"id":"3834e4.c48c4b1c","type":"inject","z":"b7c58027.cd9ca","name":"Funny 111","topic":"","payload":"funny","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":360,"wires":[["ec37b52f.028558"]]},{"id":"ec37b52f.028558","type":"ui_button","z":"b7c58027.cd9ca","name":"Funny 111","group":"de2a518e.ece63","order":12,"width":"3","height":"1","passthru":true,"label":"Funny 111","color":"","bgcolor":"","icon":"","payload":"funny","payloadType":"str","topic":"","x":510,"y":360,"wires":[["14b7b2fd.043e2d"]]},{"id":"1af647e6.447898","type":"inject","z":"b7c58027.cd9ca","name":"Binge","topic":"","payload":"binge","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":400,"wires":[["5a8d9d9b.f3b424"]]},{"id":"5a8d9d9b.f3b424","type":"ui_button","z":"b7c58027.cd9ca","name":"Binge","group":"de2a518e.ece63","order":13,"width":"3","height":"1","passthru":true,"label":"Binge","color":"","bgcolor":"","icon":"","payload":"binge","payloadType":"str","topic":"","x":490,"y":400,"wires":[["14b7b2fd.043e2d"]]},{"id":"f89c656e.684a88","type":"inject","z":"b7c58027.cd9ca","name":"BBC First","topic":"","payload":"first","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":440,"wires":[["94354619.d6fc78"]]},{"id":"94354619.d6fc78","type":"ui_button","z":"b7c58027.cd9ca","name":"BBC First","group":"de2a518e.ece63","order":14,"width":"3","height":"1","passthru":true,"label":"BBC First","color":"","bgcolor":"","icon":"","payload":"first","payloadType":"str","topic":"","x":500,"y":440,"wires":[["14b7b2fd.043e2d"]]},{"id":"d95cc981.0aa1e8","type":"inject","z":"b7c58027.cd9ca","name":"Thirtheen","topic":"","payload":"thirtheen","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":480,"wires":[["37204a5f.d45cd6"]]},{"id":"37204a5f.d45cd6","type":"ui_button","z":"b7c58027.cd9ca","name":"Thirtheen","group":"de2a518e.ece63","order":15,"width":"3","height":"1","passthru":true,"label":"Thirtheen","color":"","bgcolor":"","icon":"","payload":"thirtheen","payloadType":"str","topic":"","x":500,"y":480,"wires":[["14b7b2fd.043e2d"]]},{"id":"71062e16.81f41","type":"inject","z":"b7c58027.cd9ca","name":"FX","topic":"","payload":"fx","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":520,"wires":[["c911551b.3b35e8"]]},{"id":"c911551b.3b35e8","type":"ui_button","z":"b7c58027.cd9ca","name":"FX","group":"de2a518e.ece63","order":10,"width":"3","height":"1","passthru":true,"label":"FX","color":"","bgcolor":"","icon":"","payload":"fx","payloadType":"str","topic":"","x":490,"y":520,"wires":[["14b7b2fd.043e2d"]]},{"id":"54603dff.0e3134","type":"inject","z":"b7c58027.cd9ca","name":"AE","topic":"","payload":"ae","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":560,"wires":[["cded2493.f02958"]]},{"id":"cded2493.f02958","type":"ui_button","z":"b7c58027.cd9ca","name":"AE","group":"de2a518e.ece63","order":16,"width":"3","height":"1","passthru":true,"label":"AE","color":"","bgcolor":"","icon":"","payload":"ae","payloadType":"str","topic":"","x":490,"y":560,"wires":[["14b7b2fd.043e2d"]]},{"id":"459d1e07.b4f66","type":"ui_button","z":"b7c58027.cd9ca","name":"Sky News","group":"12be8cc2.dc3763","order":1,"width":"3","height":"1","passthru":true,"label":"Sky News","color":"","bgcolor":"","icon":"","payload":"sky","payloadType":"str","topic":"","x":500,"y":1000,"wires":[["14b7b2fd.043e2d"]]},{"id":"b43c6778.e52c38","type":"inject","z":"b7c58027.cd9ca","name":"Comedy","topic":"","payload":"comedy","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":600,"wires":[["4bb4b639.564c98"]]},{"id":"4bb4b639.564c98","type":"ui_button","z":"b7c58027.cd9ca","name":"Comedy","group":"de2a518e.ece63","order":4,"width":"3","height":"1","passthru":true,"label":"Comedy","color":"","bgcolor":"","icon":"","payload":"comedy","payloadType":"str","topic":"","x":500,"y":600,"wires":[["14b7b2fd.043e2d"]]},{"id":"72fd0450.61f06c","type":"inject","z":"b7c58027.cd9ca","name":"SYFI Channel","topic":"","payload":"syfi","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":640,"wires":[["2e326033.c6811"]]},{"id":"2e326033.c6811","type":"ui_button","z":"b7c58027.cd9ca","name":"SYFI Channel","group":"de2a518e.ece63","order":3,"width":"3","height":"1","passthru":true,"label":"SYFI Channel","color":"","bgcolor":"","icon":"","payload":"syfi","payloadType":"str","topic":"","x":520,"y":640,"wires":[["14b7b2fd.043e2d"]]},{"id":"413fe10d.8f997","type":"inject","z":"b7c58027.cd9ca","name":"MTV","topic":"","payload":"mtv","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":680,"wires":[["3fcd61d.489519e"]]},{"id":"3fcd61d.489519e","type":"ui_button","z":"b7c58027.cd9ca","name":"MTV","group":"de2a518e.ece63","order":17,"width":"3","height":"1","passthru":true,"label":"MTV","color":"","bgcolor":"","icon":"","payload":"mtv","payloadType":"str","topic":"","x":490,"y":680,"wires":[["14b7b2fd.043e2d"]]},{"id":"8db39c51.839ba","type":"inject","z":"b7c58027.cd9ca","name":"Food","topic":"","payload":"food","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":720,"wires":[["febc6ecf.4c2d8"]]},{"id":"febc6ecf.4c2d8","type":"ui_button","z":"b7c58027.cd9ca","name":"Food","group":"de2a518e.ece63","order":18,"width":"3","height":"1","passthru":true,"label":"Food","color":"","bgcolor":"","icon":"","payload":"food","payloadType":"str","topic":"","x":490,"y":720,"wires":[["14b7b2fd.043e2d"]]},{"id":"4b4bf042.ed901","type":"inject","z":"b7c58027.cd9ca","name":"You","topic":"","payload":"you","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":760,"wires":[["aa220bcc.4a5ea8"]]},{"id":"aa220bcc.4a5ea8","type":"ui_button","z":"b7c58027.cd9ca","name":"You","group":"de2a518e.ece63","order":19,"width":"3","height":"1","passthru":true,"label":"You","color":"","bgcolor":"","icon":"","payload":"you","payloadType":"str","topic":"","x":490,"y":760,"wires":[["14b7b2fd.043e2d"]]},{"id":"e53772f2.3c748","type":"inject","z":"b7c58027.cd9ca","name":"Home","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":800,"wires":[["744cac82.cd2514"]]},{"id":"744cac82.cd2514","type":"ui_button","z":"b7c58027.cd9ca","name":"Home","group":"de2a518e.ece63","order":20,"width":"3","height":"1","passthru":true,"label":"Home","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":490,"y":800,"wires":[["14b7b2fd.043e2d"]]},{"id":"fae574df.010c78","type":"inject","z":"b7c58027.cd9ca","name":"Go","topic":"","payload":"go","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":840,"wires":[["b605b193.51fe5"]]},{"id":"b605b193.51fe5","type":"ui_button","z":"b7c58027.cd9ca","name":"Go","group":"de2a518e.ece63","order":21,"width":"3","height":"1","passthru":true,"label":"Go","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":490,"y":840,"wires":[["14b7b2fd.043e2d"]]},{"id":"4f159eee.aefa4","type":"inject","z":"b7c58027.cd9ca","name":"Viceland","topic":"","payload":"vice","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":880,"wires":[["62737835.223d68"]]},{"id":"62737835.223d68","type":"ui_button","z":"b7c58027.cd9ca","name":"Viceland","group":"de2a518e.ece63","order":22,"width":"3","height":"1","passthru":true,"label":"Viceland","color":"","bgcolor":"","icon":"","payload":"vice","payloadType":"str","topic":"","x":500,"y":880,"wires":[["14b7b2fd.043e2d"]]},{"id":"7b5a81a9.20994","type":"inject","z":"b7c58027.cd9ca","name":"Arts","topic":"","payload":"arts","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":920,"wires":[["cbbd3895.671e88"]]},{"id":"cbbd3895.671e88","type":"ui_button","z":"b7c58027.cd9ca","name":"Arts","group":"de2a518e.ece63","order":23,"width":"3","height":"1","passthru":true,"label":"Arts","color":"","bgcolor":"","icon":"","payload":"arts","payloadType":"str","topic":"","x":490,"y":920,"wires":[["14b7b2fd.043e2d"]]},{"id":"8d827e64.a5602","type":"ui_button","z":"b7c58027.cd9ca","name":"More","group":"7f735fc5.4d509","order":1,"width":"3","height":"1","passthru":true,"label":"More","color":"","bgcolor":"","icon":"","payload":"more","payloadType":"str","topic":"","x":1310,"y":1240,"wires":[["14b7b2fd.043e2d"]]},{"id":"81235a78.d752d8","type":"inject","z":"b7c58027.cd9ca","name":"More","topic":"","payload":"more","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1240,"wires":[["8d827e64.a5602"]]},{"id":"ea7e7227.62e1f","type":"ui_button","z":"b7c58027.cd9ca","name":"Masterpiece","group":"7f735fc5.4d509","order":3,"width":"3","height":"1","passthru":true,"label":"Masterpiece","color":"","bgcolor":"","icon":"","payload":"masterpiece","payloadType":"str","topic":"","x":1330,"y":1280,"wires":[["14b7b2fd.043e2d"]]},{"id":"764133d2.5d3f1c","type":"inject","z":"b7c58027.cd9ca","name":"Masterpiece","topic":"","payload":"masterpiece","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":1280,"wires":[["ea7e7227.62e1f"]]},{"id":"3beaa45d.88068c","type":"ui_button","z":"b7c58027.cd9ca","name":"Action","group":"7f735fc5.4d509","order":6,"width":"3","height":"1","passthru":true,"label":"Action","color":"","bgcolor":"","icon":"","payload":"action","payloadType":"str","topic":"","x":1310,"y":1320,"wires":[["14b7b2fd.043e2d"]]},{"id":"85846181.e019f","type":"inject","z":"b7c58027.cd9ca","name":"Action","topic":"","payload":"action","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1320,"wires":[["3beaa45d.88068c"]]},{"id":"c4d408f0.2dfe78","type":"ui_button","z":"b7c58027.cd9ca","name":"Romance","group":"7f735fc5.4d509","order":7,"width":"3","height":"1","passthru":true,"label":"Romance","color":"","bgcolor":"","icon":"","payload":"romance","payloadType":"str","topic":"","x":1320,"y":1360,"wires":[["14b7b2fd.043e2d"]]},{"id":"ce848320.29965","type":"inject","z":"b7c58027.cd9ca","name":"Romance","topic":"","payload":"romance","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1360,"wires":[["c4d408f0.2dfe78"]]},{"id":"4f34f6b6.a07358","type":"inject","z":"b7c58027.cd9ca","name":"Knowledge Channel","topic":"","payload":"knowledge","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1360,"wires":[["149b1523.324f7b"]]},{"id":"149b1523.324f7b","type":"ui_button","z":"b7c58027.cd9ca","name":"Knowledge Channel","group":"d78bb9b1.4e7fc8","order":0,"width":"3","height":"1","passthru":true,"label":"Knowledge Channel","color":"","bgcolor":"","icon":"","payload":"knowledge","payloadType":"str","topic":"","x":540,"y":1360,"wires":[["14b7b2fd.043e2d"]]},{"id":"49e57aea.c2c5e4","type":"inject","z":"b7c58027.cd9ca","name":"Classical FM","topic":"","payload":"fm","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":880,"wires":[["44b4b1e2.03a71"]]},{"id":"44b4b1e2.03a71","type":"ui_button","z":"b7c58027.cd9ca","name":"Classical FM","group":"7fd69d12.64d544","order":0,"width":"3","height":"1","passthru":true,"label":"Classical FM","color":"","bgcolor":"","icon":"","payload":"fm","payloadType":"str","topic":"","x":1330,"y":880,"wires":[["14b7b2fd.043e2d"]]},{"id":"b09881a3.1d60e","type":"inject","z":"b7c58027.cd9ca","name":"ABC Jazz","topic":"","payload":"jazz","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":920,"wires":[["2c8ea779.d605b8"]]},{"id":"2c8ea779.d605b8","type":"ui_button","z":"b7c58027.cd9ca","name":"ABC Jazz","group":"7fd69d12.64d544","order":0,"width":"3","height":"1","passthru":true,"label":"ABC Jazz","color":"","bgcolor":"","icon":"","payload":"jazz","payloadType":"str","topic":"","x":1320,"y":920,"wires":[["14b7b2fd.043e2d"]]},{"id":"de2a518e.ece63","type":"ui_group","z":"","name":"Enternainment","tab":"db6acd14.28f61","order":2,"disp":true,"width":"6"},{"id":"69ad80af.ac65f","type":"ui_group","z":"","name":"Free to Air","tab":"db6acd14.28f61","order":1,"disp":true,"width":"3"},{"id":"12be8cc2.dc3763","type":"ui_group","z":"","name":"News","tab":"db6acd14.28f61","order":4,"disp":true,"width":"3"},{"id":"1e15be2f.0484b2","type":"ui_group","z":"","name":"Sports","tab":"db6acd14.28f61","order":6,"disp":true,"width":"2"},{"id":"d78bb9b1.4e7fc8","type":"ui_group","z":"","name":"Documentaries","tab":"db6acd14.28f61","order":3,"disp":true,"width":"6"},{"id":"7fd69d12.64d544","type":"ui_group","z":"","name":"Music and Radio","tab":"db6acd14.28f61","order":7,"disp":true,"width":"3"},{"id":"7f735fc5.4d509","type":"ui_group","z":"","name":"Movies","tab":"db6acd14.28f61","order":5,"disp":true,"width":"3"},{"id":"db6acd14.28f61","type":"ui_tab","z":"","name":"Foxtel Channels","icon":"dashboard","order":5}]