Github Repo/Node Red Code/Pi Zero Backup Node Flows/Foxtel Words.txt
[{"id":"8da8af48.6cca2","type":"function","z":"d8a0e88f.316d38","name":"Search for Channel Word","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar room_rx; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word channel\n    { \n    if (msgdata[i] == \"channel\")\n        {\n        room_rx = 1;\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":1110,"y":140,"wires":[["29b704d4.d8676c","69d4924b.3b16cc"]]},{"id":"29b704d4.d8676c","type":"debug","z":"d8a0e88f.316d38","name":"","active":true,"console":"false","complete":"false","x":1370,"y":100,"wires":[]},{"id":"d85e4807.c685b8","type":"inject","z":"d8a0e88f.316d38","name":"Relax","topic":"","payload":"relax","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":540,"wires":[["2d4091d6.815a6e"]]},{"id":"536267df.1b74e8","type":"inject","z":"d8a0e88f.316d38","name":"Fox 8","topic":"","payload":"eight","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":80,"wires":[["c2301592.6ac388"]]},{"id":"1b760a4a.b926f6","type":"inject","z":"d8a0e88f.316d38","name":"ABC","topic":"","payload":"abc","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":200,"wires":[["810de46f.8a6c88"]]},{"id":"bdcb6e0f.3584e","type":"inject","z":"d8a0e88f.316d38","name":"TV 1","topic":"","payload":"**channel 101","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":40,"wires":[["3055e171.96490e"]]},{"id":"946ecc25.abd8c","type":"inject","z":"d8a0e88f.316d38","name":"Country","topic":"","payload":"**channel 815","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":500,"wires":[["9505a9d6.d613e8"]]},{"id":"7ca75870.8f93b8","type":"inject","z":"d8a0e88f.316d38","name":"Premiere Movies","topic":"","payload":"**channel 401","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":720,"wires":[["4405d2e2.b2b56c"]]},{"id":"c7b1063c.59be18","type":"link in","z":"d8a0e88f.316d38","name":"","links":["5ba4435b.ef26fc","706e2a5b.bec1b4"],"x":935,"y":140,"wires":[["8da8af48.6cca2","acabb5b3.794d38"]]},{"id":"273f56e2.dfc85a","type":"inject","z":"d8a0e88f.316d38","name":"Seven","topic":"","payload":"**channel 107","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":240,"wires":[["a24b688e.914c98"]]},{"id":"4d8b015a.c6d43","type":"inject","z":"d8a0e88f.316d38","name":"Nine","topic":"","payload":"nine","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":280,"wires":[["507fb4ea.c97efc"]]},{"id":"e522f386.0df4","type":"inject","z":"d8a0e88f.316d38","name":"Ten","topic":"","payload":"**channel 110","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":320,"wires":[["4fdfe0c7.8b90c"]]},{"id":"e2077a88.b9e968","type":"inject","z":"d8a0e88f.316d38","name":"SBS","topic":"","payload":"sbs","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":360,"wires":[["5566b299.786d2c"]]},{"id":"27181e18.9e3a72","type":"link out","z":"d8a0e88f.316d38","name":"","links":["9eae1330.feb3b","ec902402.46e358"],"x":1795,"y":260,"wires":[]},{"id":"5bd8902c.ea62d","type":"inject","z":"d8a0e88f.316d38","name":"Disney","topic":"","payload":"disney","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":760,"wires":[["d2cded47.5d9e"]]},{"id":"250e3424.af920c","type":"inject","z":"d8a0e88f.316d38","name":"Family Movies","topic":"","payload":"family","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":800,"wires":[["2e2d62c.abb3d9e"]]},{"id":"54f31bf9.f8de04","type":"inject","z":"d8a0e88f.316d38","name":"NRL Footy","topic":"","payload":"**channel 502","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":940,"wires":[["b369173e.4d5cd8"]]},{"id":"30c65c2c.6dbf24","type":"inject","z":"d8a0e88f.316d38","name":"AFL Footy","topic":"","payload":"**channel 504","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":980,"wires":[["64a26ed6.cbec2"]]},{"id":"5d82e2ff.3e34fc","type":"inject","z":"d8a0e88f.316d38","name":"ABC News","topic":"","payload":"news","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":400,"wires":[[]]},{"id":"a13d031d.fbab7","type":"inject","z":"d8a0e88f.316d38","name":"Weather Channel","topic":"","payload":"weather","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":1080,"wires":[["f4f982fe.82dc6"]]},{"id":"acabb5b3.794d38","type":"debug","z":"d8a0e88f.316d38","name":"","active":true,"console":"false","complete":"false","x":1070,"y":100,"wires":[]},{"id":"3055e171.96490e","type":"ui_button","z":"d8a0e88f.316d38","name":"TV1","group":"d7fd96da.55f8b8","order":0,"width":"3","height":"1","passthru":true,"label":"TV 1","color":"","bgcolor":"","icon":"","payload":"TV1","payloadType":"str","topic":"","x":470,"y":40,"wires":[["69d4924b.3b16cc"]]},{"id":"c2301592.6ac388","type":"ui_button","z":"d8a0e88f.316d38","name":"Fox 8","group":"d7fd96da.55f8b8","order":0,"width":"3","height":"1","passthru":true,"label":"Fox 8","color":"","bgcolor":"","icon":"","payload":"eight","payloadType":"str","topic":"","x":470,"y":80,"wires":[["69d4924b.3b16cc"]]},{"id":"810de46f.8a6c88","type":"ui_button","z":"d8a0e88f.316d38","name":"ABC","group":"dbd565da.867158","order":0,"width":0,"height":0,"passthru":true,"label":"ABC","color":"","bgcolor":"","icon":"","payload":"abc","payloadType":"str","topic":"","x":470,"y":200,"wires":[["69d4924b.3b16cc"]]},{"id":"a24b688e.914c98","type":"ui_button","z":"d8a0e88f.316d38","name":"Seven","group":"dbd565da.867158","order":0,"width":0,"height":0,"passthru":true,"label":"Seven","color":"","bgcolor":"","icon":"","payload":"seven","payloadType":"str","topic":"","x":470,"y":240,"wires":[["69d4924b.3b16cc"]]},{"id":"507fb4ea.c97efc","type":"ui_button","z":"d8a0e88f.316d38","name":"Nine","group":"dbd565da.867158","order":0,"width":0,"height":0,"passthru":true,"label":"Nine","color":"","bgcolor":"","icon":"","payload":"nine","payloadType":"str","topic":"","x":470,"y":280,"wires":[["69d4924b.3b16cc"]]},{"id":"4fdfe0c7.8b90c","type":"ui_button","z":"d8a0e88f.316d38","name":"Ten","group":"dbd565da.867158","order":0,"width":0,"height":0,"passthru":true,"label":"Ten","color":"","bgcolor":"","icon":"","payload":"ten","payloadType":"str","topic":"","x":470,"y":320,"wires":[["69d4924b.3b16cc"]]},{"id":"5566b299.786d2c","type":"ui_button","z":"d8a0e88f.316d38","name":"SBS","group":"dbd565da.867158","order":0,"width":0,"height":0,"passthru":true,"label":"SBS","color":"","bgcolor":"","icon":"","payload":"sbs","payloadType":"str","topic":"","x":470,"y":360,"wires":[["69d4924b.3b16cc"]]},{"id":"285b50c0.d148e","type":"ui_button","z":"d8a0e88f.316d38","name":"ABC News","group":"dbd565da.867158","order":0,"width":0,"height":0,"passthru":true,"label":"ABC News","color":"","bgcolor":"","icon":"","payload":"news","payloadType":"str","topic":"","x":490,"y":400,"wires":[["69d4924b.3b16cc"]]},{"id":"64a26ed6.cbec2","type":"ui_button","z":"d8a0e88f.316d38","name":"AFL Footy","group":"d89ed43a.366b88","order":0,"width":"2","height":"1","passthru":true,"label":"AFL Footy","color":"","bgcolor":"","icon":"","payload":"fox_afl","payloadType":"str","topic":"","x":480,"y":980,"wires":[["69d4924b.3b16cc"]]},{"id":"5c49e61.edf1518","type":"ui_button","z":"d8a0e88f.316d38","name":"Discovery","group":"4d129642.0b75b8","order":0,"width":"4","height":"1","passthru":true,"label":"Discovery","color":"","bgcolor":"","icon":"","payload":"discovery","payloadType":"str","topic":"","x":480,"y":1200,"wires":[["69d4924b.3b16cc"]]},{"id":"a312c6c3.9357a8","type":"ui_button","z":"d8a0e88f.316d38","name":"Smooth","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"Smooth","color":"","bgcolor":"","icon":"","payload":"smooth","payloadType":"str","topic":"","x":480,"y":460,"wires":[["69d4924b.3b16cc"]]},{"id":"33c26444.6f88ec","type":"ui_button","z":"d8a0e88f.316d38","name":"Thriller","group":"378f857b.72384a","order":0,"width":"3","height":"1","passthru":true,"label":"Thriller","color":"","bgcolor":"","icon":"","payload":"thriller","payloadType":"str","topic":"","x":470,"y":840,"wires":[["69d4924b.3b16cc"]]},{"id":"9add96e4.202e88","type":"inject","z":"d8a0e88f.316d38","name":"Discovery Channel","topic":"","payload":"discovery","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1200,"wires":[["5c49e61.edf1518"]]},{"id":"306a655e.4b303a","type":"inject","z":"d8a0e88f.316d38","name":"Thriller","topic":"","payload":"thriller","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":840,"wires":[["33c26444.6f88ec"]]},{"id":"96285c5f.c5b14","type":"inject","z":"d8a0e88f.316d38","name":"Smooth","topic":"","payload":"smooth","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":460,"wires":[["a312c6c3.9357a8"]]},{"id":"9505a9d6.d613e8","type":"ui_button","z":"d8a0e88f.316d38","name":"Country","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"Country","color":"","bgcolor":"","icon":"","payload":"country","payloadType":"str","topic":"","x":480,"y":500,"wires":[["69d4924b.3b16cc"]]},{"id":"2d4091d6.815a6e","type":"ui_button","z":"d8a0e88f.316d38","name":"Relax","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"Relax","color":"","bgcolor":"","icon":"","payload":"relax","payloadType":"str","topic":"","x":470,"y":540,"wires":[["69d4924b.3b16cc"]]},{"id":"954ac5ff.547958","type":"inject","z":"d8a0e88f.316d38","name":"774","topic":"","payload":"abc774","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":580,"wires":[["901c6e51.ca934"]]},{"id":"901c6e51.ca934","type":"ui_button","z":"d8a0e88f.316d38","name":"Melbourne Radio - 774","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"774","color":"","bgcolor":"","icon":"","payload":"abc774","payloadType":"str","topic":"","x":520,"y":580,"wires":[["69d4924b.3b16cc"]]},{"id":"2e2d62c.abb3d9e","type":"ui_button","z":"d8a0e88f.316d38","name":"Family Movies","group":"378f857b.72384a","order":0,"width":"3","height":"1","passthru":true,"label":"Family Movies","color":"","bgcolor":"","icon":"","payload":"family","payloadType":"str","topic":"","x":500,"y":800,"wires":[["69d4924b.3b16cc"]]},{"id":"d2cded47.5d9e","type":"ui_button","z":"d8a0e88f.316d38","name":"Disney Movies","group":"378f857b.72384a","order":0,"width":"3","height":"1","passthru":true,"label":"Disney Movies","color":"","bgcolor":"","icon":"","payload":"disney","payloadType":"str","topic":"","x":500,"y":760,"wires":[["69d4924b.3b16cc"]]},{"id":"4405d2e2.b2b56c","type":"ui_button","z":"d8a0e88f.316d38","name":"Premiere Movies","group":"378f857b.72384a","order":0,"width":"3","height":"1","passthru":true,"label":"Premiere Movies","color":"","bgcolor":"","icon":"","payload":"premiere","payloadType":"str","topic":"","x":500,"y":720,"wires":[["69d4924b.3b16cc"]]},{"id":"f4f982fe.82dc6","type":"ui_button","z":"d8a0e88f.316d38","name":"Weather","group":"4d129642.0b75b8","order":0,"width":"4","height":"1","passthru":true,"label":"Weather","color":"","bgcolor":"","icon":"","payload":"weather","payloadType":"str","topic":"","x":480,"y":1080,"wires":[["69d4924b.3b16cc"]]},{"id":"d73d63ad.1fa55","type":"inject","z":"d8a0e88f.316d38","name":"Sky Channel","topic":"","payload":"sky","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1040,"wires":[["7fcbf92d.ec2ff8"]]},{"id":"7fcbf92d.ec2ff8","type":"ui_button","z":"d8a0e88f.316d38","name":"Sky News","group":"4d129642.0b75b8","order":0,"width":"4","height":"1","passthru":true,"label":"Sky News","color":"","bgcolor":"","icon":"","payload":"sky","payloadType":"str","topic":"","x":480,"y":1040,"wires":[["69d4924b.3b16cc"]]},{"id":"f7ea6161.7d84f","type":"ui_button","z":"d8a0e88f.316d38","name":"National Geographic Channel","group":"4d129642.0b75b8","order":0,"width":"4","height":"1","passthru":true,"label":"National Geographic","color":"","bgcolor":"","icon":"","payload":"geographic","payloadType":"str","topic":"","x":540,"y":1160,"wires":[["69d4924b.3b16cc"]]},{"id":"6bdf4dc.f6007b4","type":"inject","z":"d8a0e88f.316d38","name":"National Geographic Channel","topic":"","payload":"geographic","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":1160,"wires":[["f7ea6161.7d84f"]]},{"id":"c55e6357.b0daa","type":"ui_button","z":"d8a0e88f.316d38","name":"History Channel","group":"4d129642.0b75b8","order":0,"width":"4","height":"1","passthru":true,"label":"History Channel","color":"","bgcolor":"","icon":"","payload":"history","payloadType":"str","topic":"","x":500,"y":1240,"wires":[["69d4924b.3b16cc"]]},{"id":"bf3525f3.d62df8","type":"inject","z":"d8a0e88f.316d38","name":"History Channel","topic":"","payload":"history","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":1240,"wires":[["c55e6357.b0daa"]]},{"id":"ed711855.1bb178","type":"ui_button","z":"d8a0e88f.316d38","name":"Science Channel","group":"4d129642.0b75b8","order":0,"width":"4","height":"1","passthru":true,"label":"Science Channel","color":"","bgcolor":"","icon":"","payload":"science","payloadType":"str","topic":"","x":510,"y":1280,"wires":[["69d4924b.3b16cc"]]},{"id":"4fccc672.a8c0e8","type":"inject","z":"d8a0e88f.316d38","name":"Science Channel","topic":"","payload":"science","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":1280,"wires":[["ed711855.1bb178"]]},{"id":"3df9875c.42edc8","type":"ui_button","z":"d8a0e88f.316d38","name":"Animal Channel","group":"4d129642.0b75b8","order":0,"width":"4","height":"1","passthru":true,"label":"Animal Channel","color":"","bgcolor":"","icon":"","payload":"animal","payloadType":"str","topic":"","x":500,"y":1320,"wires":[["69d4924b.3b16cc"]]},{"id":"4a748a4b.be7644","type":"inject","z":"d8a0e88f.316d38","name":"Animal Channel","topic":"","payload":"animal","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":1320,"wires":[["3df9875c.42edc8"]]},{"id":"b369173e.4d5cd8","type":"ui_button","z":"d8a0e88f.316d38","name":"NRL Footy","group":"d89ed43a.366b88","order":0,"width":"2","height":"1","passthru":true,"label":"NRL Footy","color":"","bgcolor":"","icon":"","payload":"rugby","payloadType":"str","topic":"","x":490,"y":940,"wires":[["69d4924b.3b16cc"]]},{"id":"ecc379ae.4f7b88","type":"inject","z":"d8a0e88f.316d38","name":"SYFI Channel","topic":"","payload":"syfi","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":120,"wires":[["9d0cfbfa.fdfae8"]]},{"id":"9d0cfbfa.fdfae8","type":"ui_button","z":"d8a0e88f.316d38","name":"SYFI Channel","group":"d7fd96da.55f8b8","order":0,"width":"3","height":"1","passthru":true,"label":"SYFI Channel","color":"","bgcolor":"","icon":"","payload":"syfi","payloadType":"str","topic":"","x":500,"y":120,"wires":[["69d4924b.3b16cc"]]},{"id":"b5142034.61212","type":"function","z":"d8a0e88f.316d38","name":"Lookup Words Files","func":"var newmsg = {};\nvar inputstring = msg.topic;\nvar channels = Object.keys(msg.payload);\nvar oldpayload = msg.payload;\nvar foundChannel = \"\";\n\n\nfor (var i=0; i<channels.length; i++) {\n    if (inputstring.indexOf(channels[i]) !=-1) {\n        foundChannel = channels[i];\n        var channelNumber = oldpayload[channels[i]];\n        var result = \"**channel \" + channelNumber;\n        break;\n    }\n}\n\nnewmsg.payload = result;\n\n/*\nnewmsg.payload = {\n    inputstring: inputstring,\n    channels: channels,\n    oldpayload: oldpayload,\n    foundChannel: foundChannel,\n    result: result\n};\n*/\nreturn newmsg;","outputs":1,"noerr":0,"x":1673.576358795166,"y":315.64816665649414,"wires":[["dd3f75.d50fa088","27181e18.9e3a72"]]},{"id":"acdfd3d2.7fb8e","type":"file in","z":"d8a0e88f.316d38","name":"","filename":"/home/pi/Documents/Foxtel_Words.txt","format":"utf8","x":1248.0207977294922,"y":319.5370569229126,"wires":[["6fa25f0b.0681b"]]},{"id":"6fa25f0b.0681b","type":"json","z":"d8a0e88f.316d38","name":"","x":1490.659755706787,"y":314.2592353820801,"wires":[["b5142034.61212"]]},{"id":"dd3f75.d50fa088","type":"debug","z":"d8a0e88f.316d38","name":"","active":true,"console":"false","complete":"false","x":1850,"y":360,"wires":[]},{"id":"69d4924b.3b16cc","type":"change","z":"d8a0e88f.316d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":".payload.topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":913.061637878418,"y":289.50242042541504,"wires":[["acdfd3d2.7fb8e"]]},{"id":"d7fd96da.55f8b8","type":"ui_group","z":"","name":"Enternainment","tab":"88a0aab5.ff8278","disp":true,"width":"3"},{"id":"dbd565da.867158","type":"ui_group","z":"","name":"Free to Air","tab":"88a0aab5.ff8278","disp":true,"width":"2"},{"id":"d89ed43a.366b88","type":"ui_group","z":"","name":"Sports","tab":"88a0aab5.ff8278","disp":true,"width":"2"},{"id":"4d129642.0b75b8","type":"ui_group","z":"","name":"News and Documentaries","tab":"88a0aab5.ff8278","disp":true,"width":"4"},{"id":"b8840cc3.61c0d","type":"ui_group","z":"","name":"Music and Radio","tab":"88a0aab5.ff8278","disp":true,"width":"3"},{"id":"378f857b.72384a","type":"ui_group","z":"","name":"Movies","tab":"88a0aab5.ff8278","disp":true,"width":"3"},{"id":"88a0aab5.ff8278","type":"ui_tab","z":"","name":"Foxtel Channels","icon":"dashboard"}]