Github Repo/Node Red Code/Pi Zero Backup Node Flows/Foxtel test 12 Sept 2017.txt
[{"id":"8730d868.b7c988","type":"inject","z":"670fd5ec.f18b6c","name":"TV Guide","topic":"","payload":"TV Guide","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.16667175292969,"y":96,"wires":[["504f5526.38549c"]]},{"id":"e96a602a.5ea6f","type":"debug","z":"670fd5ec.f18b6c","name":"","active":true,"console":"false","complete":"false","x":621.1666870117188,"y":105,"wires":[]},{"id":"eac0b892.bb8d18","type":"ui_button","z":"670fd5ec.f18b6c","name":"TV Guide","group":"84f189ca.445768","order":0,"width":0,"height":0,"passthru":true,"label":"TV Guide","color":"","bgcolor":"","icon":"Foxtel","payload":"TV Guide","payloadType":"str","topic":"","x":462.0556106567383,"y":67.11111164093018,"wires":[["ae2e5672.954d08","e96a602a.5ea6f"]]},{"id":"504f5526.38549c","type":"ui_template","z":"670fd5ec.f18b6c","group":"84f189ca.445768","name":"TV Guide","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n\n<body>\n\n<!--p>Foxtel Buttons</p>-->\n\n<div ng-app=\"\" ng-init=\"myCol='lightblue'\">\n\n<!--input style=\"background-color:{{myCol}}\" ng-model=\"myCol\" value=\"{{myCol}}\"-->\n\n</div>\n\n<div ng-bind-html=\"msg.payload\"></div>\n\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":293.1666946411133,"y":81.22223567962646,"wires":[["eac0b892.bb8d18"]]},{"id":"ae2e5672.954d08","type":"link out","z":"670fd5ec.f18b6c","name":"Garage Door","links":["9eae1330.feb3b"],"x":595.5555419921875,"y":41.11111068725586,"wires":[]},{"id":"432cfb95.10efb4","type":"ui_template","z":"670fd5ec.f18b6c","group":"6ca24075.ee74f","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n  .filled { \n      height: 100% !important;\n \n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n   \n  .rounded {\n  border-radius: 15px 15px 15px 15px;\n  font-size: 18px;\n}\n   \n</style>\n \n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n \nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n \n$('.touched').on('mousedown', function() {\n     \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n     \n    setTimeout(restore_bg.bind(this,x),200);\n    navigator.vibrate(100);\n    });\n     \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":416.37500762939453,"y":165.24999618530273,"wires":[[]]},{"id":"f8159316.ede31","type":"ui_template","z":"670fd5ec.f18b6c","group":"6ca24075.ee74f","name":"Colour Change","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<p>Try to change the colours.</p>\n\n<div ng-app=\"\" ng-init=\"myCol='lightblue'\">\n\n<input style=\"background-color:{{myCol}}\" ng-model=\"myCol\" value=\"{{myCol}}\">\n\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":423.87500762939453,"y":341.50001525878906,"wires":[["cebb1824.3e8488"]]},{"id":"cebb1824.3e8488","type":"debug","z":"670fd5ec.f18b6c","name":"","active":true,"console":"false","complete":"false","x":720.1250457763672,"y":362.2500228881836,"wires":[]},{"id":"7abb7c64.5b5064","type":"ui_template","z":"670fd5ec.f18b6c","group":"6ca24075.ee74f","name":"","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<p>Try to change the names.</p>\n\n<div ng-app=\"myApp\" ng-controller=\"myCtrl\">\n\nFirst Name: <input type=\"text\" ng-model=\"firstName\"><br>\nLast Name: <input type=\"text\" ng-model=\"lastName\"><br>\n<br>\nFull Name: {{firstName + \" \" + lastName}}\n\n</div>\n\n<script>\nvar app = angular.module('myApp', []);\napp.controller('myCtrl', function($scope) {\n    $scope.firstName= \"John\";\n    $scope.lastName= \"Doe\";\n});\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":400,"wires":[[]]},{"id":"9b2a45ee.847f68","type":"ui_template","z":"670fd5ec.f18b6c","group":"6ca24075.ee74f","name":"Numbers","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<p>Try to multiply two numbers.</p>\n\n<div ng-app=\"\" ng-init=\"quantity=1;cost=5\">\n\n<p>Total in dollar: {{ quantity * cost }}</p>\n\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":405,"y":295,"wires":[[]]},{"id":"1302b7d7.f22a88","type":"ui_template","z":"670fd5ec.f18b6c","group":"6ca24075.ee74f","name":"Constructor","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<div ng-app=\"myApp\" w3-test-directive></div>\n\n<script> \nvar app = angular.module(\"myApp\", []);\n\napp.directive(\"w3TestDirective\", function() {\n    return {\n        template : \"I was made in a directive constructor!\"\n    };\n});\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":460,"wires":[[]]},{"id":"94851538.80b4b8","type":"ui_template","z":"670fd5ec.f18b6c","group":"6ca24075.ee74f","name":"Animate","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<style>\ndiv {\n  transition: all linear 0.5s;\n  background-color: lightblue;\n  height: 100px;\n  width: 100%;\n  position: relative;\n  top: 0;\n  left: 0;\n}\n\n.ng-hide {\n  height: 0;\n  width: 0;\n  background-color: transparent;\n  top:-200px;\n  left: 200px;\n}\n\n</style>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js\"></script>\n\n<body ng-app=\"myApp\">\n\n<h1>Hide the DIV: <input type=\"checkbox\" ng-model=\"myCheck\"></h1>\n\n<div ng-hide=\"myCheck\"></div>\n\n<script>\nvar app = angular.module('myApp', ['ngAnimate']);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":597.625072479248,"y":250.2500295639038,"wires":[[]]},{"id":"be19c79f.7cdb48","type":"ui_template","z":"670fd5ec.f18b6c","group":"84f189ca.445768","name":"Click Me","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<div ng-app=\"myApp\" ng-controller=\"myCtrl\">\n\n<button ng-click=\"count = count + 1\">Click Me!\n\nng-click=\"send({payload: 'Hello World'}\n\n\n    <p> count </p>\n</button>\n\n\n</div>\n<script>\nvar app = angular.module('myApp', []);\napp.controller('myCtrl', function($scope) {\n    $scope.count = 0;\n    \n});\n</script> \n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":205,"wires":[["1ced6ee9.74c501"]]},{"id":"1ced6ee9.74c501","type":"debug","z":"670fd5ec.f18b6c","name":"","active":true,"console":"false","complete":"false","x":431.37500762939453,"y":209.75000381469727,"wires":[]},{"id":"84f189ca.445768","type":"ui_group","z":"","name":"Foxtel","tab":"b5ac6643.bc3f28","disp":true,"width":"6"},{"id":"6ca24075.ee74f","type":"ui_group","z":"","name":"Colour Buttons","tab":"e205a4e8.487388","disp":true,"width":"6"},{"id":"b5ac6643.bc3f28","type":"ui_tab","z":"","name":"Foxtel","icon":"dashboard"},{"id":"e205a4e8.487388","type":"ui_tab","z":"","name":"testing","icon":"dashboard"}]