Github Repo/Node Red Code/Pi Zero Backup Node Flows/Foxtel Channels 21 Sept 2017.txt
[{"id":"8da8af48.6cca2","type":"function","z":"d8a0e88f.316d38","name":"Search for Channel Word","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar room_rx; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word channel\n    { \n    if (msgdata[i] == \"channel\")\n        {\n        room_rx = 1;\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":1350,"y":220,"wires":[["29b704d4.d8676c","69d4924b.3b16cc"]]},{"id":"29b704d4.d8676c","type":"debug","z":"d8a0e88f.316d38","name":"","active":false,"console":"false","complete":"false","x":1590,"y":220,"wires":[]},{"id":"d85e4807.c685b8","type":"inject","z":"d8a0e88f.316d38","name":"Relax","topic":"","payload":"relax","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":800,"wires":[["2d4091d6.815a6e"]]},{"id":"536267df.1b74e8","type":"inject","z":"d8a0e88f.316d38","name":"Fox 8","topic":"","payload":"eight","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":80,"wires":[["c2301592.6ac388"]]},{"id":"1b760a4a.b926f6","type":"inject","z":"d8a0e88f.316d38","name":"ABC","topic":"","payload":"abc","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":40,"wires":[["810de46f.8a6c88"]]},{"id":"bdcb6e0f.3584e","type":"inject","z":"d8a0e88f.316d38","name":"TV 1","topic":"","payload":"tv1","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":40,"wires":[["3055e171.96490e"]]},{"id":"946ecc25.abd8c","type":"inject","z":"d8a0e88f.316d38","name":"Country","topic":"","payload":"**channel 815","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":760,"wires":[["9505a9d6.d613e8"]]},{"id":"7ca75870.8f93b8","type":"inject","z":"d8a0e88f.316d38","name":"Premiere Movies","topic":"","payload":"**channel 401","payloadType":"str","repeat":"","crontab":"","once":false,"x":1080,"y":1080,"wires":[["4405d2e2.b2b56c"]]},{"id":"c7b1063c.59be18","type":"link in","z":"d8a0e88f.316d38","name":"","links":["5ba4435b.ef26fc","706e2a5b.bec1b4"],"x":1235,"y":120,"wires":[["8da8af48.6cca2","acabb5b3.794d38"]]},{"id":"273f56e2.dfc85a","type":"inject","z":"d8a0e88f.316d38","name":"Seven","topic":"","payload":"**channel 107","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":80,"wires":[["a24b688e.914c98"]]},{"id":"4d8b015a.c6d43","type":"inject","z":"d8a0e88f.316d38","name":"Nine","topic":"","payload":"nine","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":120,"wires":[["507fb4ea.c97efc"]]},{"id":"e522f386.0df4","type":"inject","z":"d8a0e88f.316d38","name":"Ten","topic":"","payload":"**channel 110","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":160,"wires":[["4fdfe0c7.8b90c"]]},{"id":"e2077a88.b9e968","type":"inject","z":"d8a0e88f.316d38","name":"SBS","topic":"","payload":"sbs","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":200,"wires":[["5566b299.786d2c"]]},{"id":"27181e18.9e3a72","type":"link out","z":"d8a0e88f.316d38","name":"","links":["9eae1330.feb3b","ec902402.46e358"],"x":1935,"y":580,"wires":[]},{"id":"5bd8902c.ea62d","type":"inject","z":"d8a0e88f.316d38","name":"Disney","topic":"","payload":"disney","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1120,"wires":[["d2cded47.5d9e"]]},{"id":"250e3424.af920c","type":"inject","z":"d8a0e88f.316d38","name":"Family Movies","topic":"","payload":"family","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":1160,"wires":[["2e2d62c.abb3d9e"]]},{"id":"54f31bf9.f8de04","type":"inject","z":"d8a0e88f.316d38","name":"NRL Footy","topic":"","payload":"nrl","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1000,"wires":[["b369173e.4d5cd8"]]},{"id":"30c65c2c.6dbf24","type":"inject","z":"d8a0e88f.316d38","name":"AFL Footy","topic":"","payload":"afl","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1040,"wires":[["64a26ed6.cbec2"]]},{"id":"5d82e2ff.3e34fc","type":"inject","z":"d8a0e88f.316d38","name":"ABC News","topic":"","payload":"news","payloadType":"str","repeat":"","crontab":"","once":false,"x":760,"y":240,"wires":[["285b50c0.d148e"]]},{"id":"a13d031d.fbab7","type":"inject","z":"d8a0e88f.316d38","name":"Weather Channel","topic":"","payload":"weather","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1040,"wires":[["f4f982fe.82dc6"]]},{"id":"acabb5b3.794d38","type":"debug","z":"d8a0e88f.316d38","name":"","active":true,"console":"false","complete":"false","x":1390,"y":120,"wires":[]},{"id":"3055e171.96490e","type":"ui_button","z":"d8a0e88f.316d38","name":"TV1","group":"d7fd96da.55f8b8","order":2,"width":"3","height":"1","passthru":true,"label":"TV 1","color":"","bgcolor":"","icon":"","payload":"tv1","payloadType":"str","topic":"","x":490,"y":40,"wires":[["69d4924b.3b16cc"]]},{"id":"c2301592.6ac388","type":"ui_button","z":"d8a0e88f.316d38","name":"Fox 8","group":"d7fd96da.55f8b8","order":1,"width":"3","height":"1","passthru":true,"label":"Fox 8","color":"","bgcolor":"","icon":"","payload":"eight","payloadType":"str","topic":"","x":490,"y":80,"wires":[["69d4924b.3b16cc"]]},{"id":"810de46f.8a6c88","type":"ui_button","z":"d8a0e88f.316d38","name":"ABC","group":"dbd565da.867158","order":0,"width":"3","height":"1","passthru":true,"label":"ABC","color":"","bgcolor":"","icon":"","payload":"abc","payloadType":"str","topic":"","x":1010,"y":40,"wires":[["69d4924b.3b16cc"]]},{"id":"a24b688e.914c98","type":"ui_button","z":"d8a0e88f.316d38","name":"Seven","group":"dbd565da.867158","order":0,"width":"3","height":"1","passthru":true,"label":"Seven","color":"","bgcolor":"","icon":"","payload":"seven","payloadType":"str","topic":"","x":1010,"y":80,"wires":[["69d4924b.3b16cc"]]},{"id":"507fb4ea.c97efc","type":"ui_button","z":"d8a0e88f.316d38","name":"Nine","group":"dbd565da.867158","order":0,"width":"3","height":"1","passthru":true,"label":"Nine","color":"","bgcolor":"","icon":"","payload":"nine","payloadType":"str","topic":"","x":1010,"y":120,"wires":[["69d4924b.3b16cc"]]},{"id":"4fdfe0c7.8b90c","type":"ui_button","z":"d8a0e88f.316d38","name":"Ten","group":"dbd565da.867158","order":0,"width":"3","height":"1","passthru":true,"label":"Ten","color":"","bgcolor":"","icon":"","payload":"ten","payloadType":"str","topic":"","x":1010,"y":160,"wires":[["69d4924b.3b16cc"]]},{"id":"5566b299.786d2c","type":"ui_button","z":"d8a0e88f.316d38","name":"SBS","group":"dbd565da.867158","order":0,"width":"3","height":"1","passthru":true,"label":"SBS","color":"","bgcolor":"","icon":"","payload":"sbs","payloadType":"str","topic":"","x":1010,"y":200,"wires":[["69d4924b.3b16cc"]]},{"id":"285b50c0.d148e","type":"ui_button","z":"d8a0e88f.316d38","name":"ABC News","group":"4d129642.0b75b8","order":0,"width":0,"height":0,"passthru":true,"label":"ABC News","color":"","bgcolor":"","icon":"","payload":"news","payloadType":"str","topic":"","x":1030,"y":240,"wires":[["69d4924b.3b16cc"]]},{"id":"64a26ed6.cbec2","type":"ui_button","z":"d8a0e88f.316d38","name":"AFL Footy","group":"d89ed43a.366b88","order":0,"width":"2","height":"1","passthru":true,"label":"AFL Footy","color":"","bgcolor":"","icon":"","payload":"afl","payloadType":"str","topic":"","x":1330,"y":1040,"wires":[["69d4924b.3b16cc"]]},{"id":"5c49e61.edf1518","type":"ui_button","z":"d8a0e88f.316d38","name":"Discovery","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"Discovery","color":"","bgcolor":"","icon":"","payload":"discovery","payloadType":"str","topic":"","x":500,"y":1120,"wires":[["69d4924b.3b16cc"]]},{"id":"a312c6c3.9357a8","type":"ui_button","z":"d8a0e88f.316d38","name":"Smooth","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"Smooth","color":"","bgcolor":"","icon":"","payload":"smooth","payloadType":"str","topic":"","x":1320,"y":720,"wires":[["69d4924b.3b16cc"]]},{"id":"33c26444.6f88ec","type":"ui_button","z":"d8a0e88f.316d38","name":"Thriller","group":"378f857b.72384a","order":8,"width":"3","height":"1","passthru":true,"label":"Thriller","color":"","bgcolor":"","icon":"","payload":"thriller","payloadType":"str","topic":"","x":1320,"y":1200,"wires":[["69d4924b.3b16cc"]]},{"id":"9add96e4.202e88","type":"inject","z":"d8a0e88f.316d38","name":"Discovery Channel","topic":"","payload":"discovery","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1120,"wires":[["5c49e61.edf1518"]]},{"id":"306a655e.4b303a","type":"inject","z":"d8a0e88f.316d38","name":"Thriller","topic":"","payload":"thriller","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1200,"wires":[["33c26444.6f88ec"]]},{"id":"96285c5f.c5b14","type":"inject","z":"d8a0e88f.316d38","name":"Smooth","topic":"","payload":"smooth","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":720,"wires":[["a312c6c3.9357a8"]]},{"id":"9505a9d6.d613e8","type":"ui_button","z":"d8a0e88f.316d38","name":"Country","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"Country","color":"","bgcolor":"","icon":"","payload":"country","payloadType":"str","topic":"","x":1320,"y":760,"wires":[["69d4924b.3b16cc"]]},{"id":"2d4091d6.815a6e","type":"ui_button","z":"d8a0e88f.316d38","name":"Relax","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"Relax","color":"","bgcolor":"","icon":"","payload":"relax","payloadType":"str","topic":"","x":1310,"y":800,"wires":[["69d4924b.3b16cc"]]},{"id":"954ac5ff.547958","type":"inject","z":"d8a0e88f.316d38","name":"774","topic":"","payload":"774","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":840,"wires":[["901c6e51.ca934"]]},{"id":"901c6e51.ca934","type":"ui_button","z":"d8a0e88f.316d38","name":"Melbourne Radio - 774","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"774","color":"","bgcolor":"","icon":"","payload":"774","payloadType":"str","topic":"","x":1370,"y":840,"wires":[["69d4924b.3b16cc"]]},{"id":"2e2d62c.abb3d9e","type":"ui_button","z":"d8a0e88f.316d38","name":"Family Movies","group":"378f857b.72384a","order":5,"width":"3","height":"1","passthru":true,"label":"Family Movies","color":"","bgcolor":"","icon":"","payload":"family","payloadType":"str","topic":"","x":1340,"y":1160,"wires":[["69d4924b.3b16cc"]]},{"id":"d2cded47.5d9e","type":"ui_button","z":"d8a0e88f.316d38","name":"Disney Movies","group":"378f857b.72384a","order":4,"width":"3","height":"1","passthru":true,"label":"Disney Movies","color":"","bgcolor":"","icon":"","payload":"disney","payloadType":"str","topic":"","x":1340,"y":1120,"wires":[["69d4924b.3b16cc"]]},{"id":"4405d2e2.b2b56c","type":"ui_button","z":"d8a0e88f.316d38","name":"Premiere Movies","group":"378f857b.72384a","order":2,"width":"3","height":"1","passthru":true,"label":"Premiere Movies","color":"","bgcolor":"","icon":"","payload":"premiere","payloadType":"str","topic":"","x":1350,"y":1080,"wires":[["69d4924b.3b16cc"]]},{"id":"f4f982fe.82dc6","type":"ui_button","z":"d8a0e88f.316d38","name":"Weather","group":"4d129642.0b75b8","order":2,"width":"3","height":"1","passthru":true,"label":"Weather","color":"","bgcolor":"","icon":"","payload":"weather","payloadType":"str","topic":"","x":500,"y":1040,"wires":[["69d4924b.3b16cc"]]},{"id":"d73d63ad.1fa55","type":"inject","z":"d8a0e88f.316d38","name":"Sky Channel","topic":"","payload":"sky","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1000,"wires":[["f72208eb.cfcf08"]]},{"id":"f7ea6161.7d84f","type":"ui_button","z":"d8a0e88f.316d38","name":"National Geographic Channel","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"Nat Geographic","color":"","bgcolor":"","icon":"","payload":"national","payloadType":"str","topic":"","x":570,"y":1080,"wires":[["69d4924b.3b16cc"]]},{"id":"6bdf4dc.f6007b4","type":"inject","z":"d8a0e88f.316d38","name":"National Geographic Channel","topic":"","payload":"national","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1080,"wires":[["f7ea6161.7d84f"]]},{"id":"c55e6357.b0daa","type":"ui_button","z":"d8a0e88f.316d38","name":"History Channel","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"History Channel","color":"","bgcolor":"","icon":"","payload":"history","payloadType":"str","topic":"","x":520,"y":1160,"wires":[["69d4924b.3b16cc"]]},{"id":"bf3525f3.d62df8","type":"inject","z":"d8a0e88f.316d38","name":"History Channel","topic":"","payload":"history","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1160,"wires":[["c55e6357.b0daa"]]},{"id":"ed711855.1bb178","type":"ui_button","z":"d8a0e88f.316d38","name":"Science Channel","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"Science Channel","color":"","bgcolor":"","icon":"","payload":"science","payloadType":"str","topic":"","x":530,"y":1200,"wires":[["69d4924b.3b16cc"]]},{"id":"4fccc672.a8c0e8","type":"inject","z":"d8a0e88f.316d38","name":"Science Channel","topic":"","payload":"science","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1200,"wires":[["ed711855.1bb178"]]},{"id":"3df9875c.42edc8","type":"ui_button","z":"d8a0e88f.316d38","name":"Animal Channel","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"Animal Channel","color":"","bgcolor":"","icon":"","payload":"animal","payloadType":"str","topic":"","x":520,"y":1240,"wires":[["69d4924b.3b16cc"]]},{"id":"4a748a4b.be7644","type":"inject","z":"d8a0e88f.316d38","name":"Animal Channel","topic":"","payload":"animal","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1240,"wires":[["3df9875c.42edc8"]]},{"id":"b369173e.4d5cd8","type":"ui_button","z":"d8a0e88f.316d38","name":"NRL Footy","group":"d89ed43a.366b88","order":0,"width":"2","height":"1","passthru":true,"label":"NRL Footy","color":"","bgcolor":"","icon":"","payload":"nrl","payloadType":"str","topic":"","x":1330,"y":1000,"wires":[["69d4924b.3b16cc"]]},{"id":"b5142034.61212","type":"function","z":"d8a0e88f.316d38","name":"Lookup Words Files","func":"var newmsg = {};\nvar inputstring = msg.topic;\nvar channels = Object.keys(msg.payload);\nvar oldpayload = msg.payload;\nvar foundChannel = \"\";\n\n\nfor (var i=0; i<channels.length; i++) {\n    if (inputstring.indexOf(channels[i]) !=-1) {\n        foundChannel = channels[i];\n        var channelNumber = oldpayload[channels[i]];\n        var result = \"**channel \" + channelNumber;\n        break;\n    }\n}\n\nnewmsg.payload = result;\n\n/*\nnewmsg.payload = {\n    inputstring: inputstring,\n    channels: channels,\n    oldpayload: oldpayload,\n    foundChannel: foundChannel,\n    result: result\n};\n*/\nreturn newmsg;","outputs":1,"noerr":0,"x":1720,"y":600,"wires":[["dd3f75.d50fa088","27181e18.9e3a72"]]},{"id":"acdfd3d2.7fb8e","type":"file in","z":"d8a0e88f.316d38","name":"","filename":"/home/pi/Documents/Foxtel_Words.txt","format":"utf8","x":1290,"y":600,"wires":[["6fa25f0b.0681b"]]},{"id":"6fa25f0b.0681b","type":"json","z":"d8a0e88f.316d38","name":"","x":1530,"y":600,"wires":[["b5142034.61212"]]},{"id":"dd3f75.d50fa088","type":"debug","z":"d8a0e88f.316d38","name":"","active":true,"console":"false","complete":"false","x":1990,"y":520,"wires":[]},{"id":"69d4924b.3b16cc","type":"change","z":"d8a0e88f.316d38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":600,"wires":[["acdfd3d2.7fb8e"]]},{"id":"c72930db.04ea2","type":"inject","z":"d8a0e88f.316d38","name":"Turbo Channel","topic":"","payload":"turbo","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1280,"wires":[["abb6642e.2cc4b8"]]},{"id":"abb6642e.2cc4b8","type":"ui_button","z":"d8a0e88f.316d38","name":"Turbo Channel","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"Turbo Channel","color":"","bgcolor":"","icon":"","payload":"turbo","payloadType":"str","topic":"","x":520,"y":1280,"wires":[["69d4924b.3b16cc"]]},{"id":"a7b7f58d.f9e998","type":"inject","z":"d8a0e88f.316d38","name":"People Channel","topic":"","payload":"people","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1320,"wires":[["33a530af.729d6"]]},{"id":"33a530af.729d6","type":"ui_button","z":"d8a0e88f.316d38","name":"People Channel","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"People Channel","color":"","bgcolor":"","icon":"","payload":"people","payloadType":"str","topic":"","x":520,"y":1320,"wires":[["69d4924b.3b16cc"]]},{"id":"451f35f1.be05dc","type":"inject","z":"d8a0e88f.316d38","name":"UKTV","topic":"","payload":"uktv","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":120,"wires":[["c188619c.994d4"]]},{"id":"c188619c.994d4","type":"ui_button","z":"d8a0e88f.316d38","name":"UKTV","group":"d7fd96da.55f8b8","order":6,"width":"3","height":"1","passthru":true,"label":"UKTV","color":"","bgcolor":"","icon":"","payload":"uktv","payloadType":"str","topic":"","x":490,"y":120,"wires":[["69d4924b.3b16cc"]]},{"id":"e7cd8f1c.70a92","type":"inject","z":"d8a0e88f.316d38","name":"Arena","topic":"","payload":"arena","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":160,"wires":[["8ee8295b.6d8f58"]]},{"id":"8ee8295b.6d8f58","type":"ui_button","z":"d8a0e88f.316d38","name":"Arena","group":"d7fd96da.55f8b8","order":7,"width":"3","height":"1","passthru":true,"label":"Arena","color":"","bgcolor":"","icon":"","payload":"arena","payloadType":"str","topic":"","x":490,"y":160,"wires":[["69d4924b.3b16cc"]]},{"id":"b5274c35.33a76","type":"inject","z":"d8a0e88f.316d38","name":"Lifestyle","topic":"","payload":"lifestyle","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":200,"wires":[["f2629a1b.b81cf8"]]},{"id":"f2629a1b.b81cf8","type":"ui_button","z":"d8a0e88f.316d38","name":"Lifestyle","group":"d7fd96da.55f8b8","order":8,"width":"3","height":"1","passthru":true,"label":"Lifestyle","color":"","bgcolor":"","icon":"","payload":"lifestyle","payloadType":"str","topic":"","x":500,"y":200,"wires":[["69d4924b.3b16cc"]]},{"id":"4dd59db6.724fc4","type":"inject","z":"d8a0e88f.316d38","name":"Universal","topic":"","payload":"universal","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":240,"wires":[["b6064d63.939e1"]]},{"id":"b6064d63.939e1","type":"ui_button","z":"d8a0e88f.316d38","name":"Universal","group":"d7fd96da.55f8b8","order":5,"width":"3","height":"1","passthru":true,"label":"Universal","color":"","bgcolor":"","icon":"","payload":"universal","payloadType":"str","topic":"","x":500,"y":240,"wires":[["69d4924b.3b16cc"]]},{"id":"e59dc575.504328","type":"inject","z":"d8a0e88f.316d38","name":"Fox Classic","topic":"","payload":"classic","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":280,"wires":[["b0f18f5.fccd87"]]},{"id":"b0f18f5.fccd87","type":"ui_button","z":"d8a0e88f.316d38","name":"Fox Classic","group":"d7fd96da.55f8b8","order":9,"width":"3","height":"1","passthru":true,"label":"Fox Classic","color":"","bgcolor":"","icon":"","payload":"classic","payloadType":"str","topic":"","x":510,"y":280,"wires":[["69d4924b.3b16cc"]]},{"id":"e760e22.a910c2","type":"inject","z":"d8a0e88f.316d38","name":"Showcase","topic":"","payload":"shocase","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":320,"wires":[["4c2a3f6f.88277"]]},{"id":"4c2a3f6f.88277","type":"ui_button","z":"d8a0e88f.316d38","name":"Showcase","group":"d7fd96da.55f8b8","order":11,"width":"3","height":"1","passthru":true,"label":"Showcase","color":"","bgcolor":"","icon":"","payload":"showcase","payloadType":"str","topic":"","x":510,"y":320,"wires":[["69d4924b.3b16cc"]]},{"id":"734fd850.c36098","type":"inject","z":"d8a0e88f.316d38","name":"Funny 111","topic":"","payload":"funny","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":360,"wires":[["adfb9296.77f08"]]},{"id":"adfb9296.77f08","type":"ui_button","z":"d8a0e88f.316d38","name":"Funny 111","group":"d7fd96da.55f8b8","order":12,"width":"3","height":"1","passthru":true,"label":"Funny 111","color":"","bgcolor":"","icon":"","payload":"funny","payloadType":"str","topic":"","x":510,"y":360,"wires":[["69d4924b.3b16cc"]]},{"id":"388d1fff.e411","type":"inject","z":"d8a0e88f.316d38","name":"Binge","topic":"","payload":"binge","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":400,"wires":[["67d6bc3e.4e4134"]]},{"id":"67d6bc3e.4e4134","type":"ui_button","z":"d8a0e88f.316d38","name":"Binge","group":"d7fd96da.55f8b8","order":13,"width":"3","height":"1","passthru":true,"label":"Binge","color":"","bgcolor":"","icon":"","payload":"binge","payloadType":"str","topic":"","x":490,"y":400,"wires":[["69d4924b.3b16cc"]]},{"id":"a1bca0e0.b8d67","type":"inject","z":"d8a0e88f.316d38","name":"BBC First","topic":"","payload":"first","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":440,"wires":[["fa42d777.853228"]]},{"id":"fa42d777.853228","type":"ui_button","z":"d8a0e88f.316d38","name":"BBC First","group":"d7fd96da.55f8b8","order":14,"width":"3","height":"1","passthru":true,"label":"BBC First","color":"","bgcolor":"","icon":"","payload":"first","payloadType":"str","topic":"","x":500,"y":440,"wires":[["69d4924b.3b16cc"]]},{"id":"fec8b8ca.2c2038","type":"inject","z":"d8a0e88f.316d38","name":"Thirtheen","topic":"","payload":"thirtheen","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":480,"wires":[["a0603ad5.796d78"]]},{"id":"a0603ad5.796d78","type":"ui_button","z":"d8a0e88f.316d38","name":"Thirtheen","group":"d7fd96da.55f8b8","order":15,"width":"3","height":"1","passthru":true,"label":"Thirtheen","color":"","bgcolor":"","icon":"","payload":"thirtheen","payloadType":"str","topic":"","x":500,"y":480,"wires":[["69d4924b.3b16cc"]]},{"id":"a1b261ac.24dbd","type":"inject","z":"d8a0e88f.316d38","name":"FX","topic":"","payload":"fx","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":520,"wires":[["4b1bc648.5e9d98"]]},{"id":"4b1bc648.5e9d98","type":"ui_button","z":"d8a0e88f.316d38","name":"FX","group":"d7fd96da.55f8b8","order":10,"width":"3","height":"1","passthru":true,"label":"FX","color":"","bgcolor":"","icon":"","payload":"fx","payloadType":"str","topic":"","x":490,"y":520,"wires":[["69d4924b.3b16cc"]]},{"id":"da92a295.bb5b5","type":"inject","z":"d8a0e88f.316d38","name":"AE","topic":"","payload":"ae","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":560,"wires":[["59fbea90.cca3f4"]]},{"id":"59fbea90.cca3f4","type":"ui_button","z":"d8a0e88f.316d38","name":"AE","group":"d7fd96da.55f8b8","order":16,"width":"3","height":"1","passthru":true,"label":"AE","color":"","bgcolor":"","icon":"","payload":"ae","payloadType":"str","topic":"","x":490,"y":560,"wires":[["69d4924b.3b16cc"]]},{"id":"f72208eb.cfcf08","type":"ui_button","z":"d8a0e88f.316d38","name":"Sky News","group":"4d129642.0b75b8","order":1,"width":"3","height":"1","passthru":true,"label":"Sky News","color":"","bgcolor":"","icon":"","payload":"sky","payloadType":"str","topic":"","x":500,"y":1000,"wires":[["69d4924b.3b16cc"]]},{"id":"b83f2fa2.bbb7b","type":"inject","z":"d8a0e88f.316d38","name":"Comedy","topic":"","payload":"comedy","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":600,"wires":[["26e66b47.4ed524"]]},{"id":"26e66b47.4ed524","type":"ui_button","z":"d8a0e88f.316d38","name":"Comedy","group":"d7fd96da.55f8b8","order":4,"width":"3","height":"1","passthru":true,"label":"Comedy","color":"","bgcolor":"","icon":"","payload":"comedy","payloadType":"str","topic":"","x":500,"y":600,"wires":[["69d4924b.3b16cc"]]},{"id":"80244c7a.88cd7","type":"inject","z":"d8a0e88f.316d38","name":"SYFI Channel","topic":"","payload":"syfi","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":640,"wires":[["cf90a68a.ffe8e8"]]},{"id":"cf90a68a.ffe8e8","type":"ui_button","z":"d8a0e88f.316d38","name":"SYFI Channel","group":"d7fd96da.55f8b8","order":3,"width":"3","height":"1","passthru":true,"label":"SYFI Channel","color":"","bgcolor":"","icon":"","payload":"syfi","payloadType":"str","topic":"","x":520,"y":640,"wires":[["69d4924b.3b16cc"]]},{"id":"c7e42763.b9ecf8","type":"inject","z":"d8a0e88f.316d38","name":"MTV","topic":"","payload":"mtv","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":680,"wires":[["e9395fdf.679aa"]]},{"id":"e9395fdf.679aa","type":"ui_button","z":"d8a0e88f.316d38","name":"MTV","group":"d7fd96da.55f8b8","order":17,"width":"3","height":"1","passthru":true,"label":"MTV","color":"","bgcolor":"","icon":"","payload":"mtv","payloadType":"str","topic":"","x":490,"y":680,"wires":[["69d4924b.3b16cc"]]},{"id":"7466fd33.e57d74","type":"inject","z":"d8a0e88f.316d38","name":"Food","topic":"","payload":"food","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":720,"wires":[["5c64e267.a2197c"]]},{"id":"5c64e267.a2197c","type":"ui_button","z":"d8a0e88f.316d38","name":"Food","group":"d7fd96da.55f8b8","order":18,"width":"3","height":"1","passthru":true,"label":"Food","color":"","bgcolor":"","icon":"","payload":"food","payloadType":"str","topic":"","x":490,"y":720,"wires":[["69d4924b.3b16cc"]]},{"id":"1ef5988e.8894d7","type":"inject","z":"d8a0e88f.316d38","name":"You","topic":"","payload":"you","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":760,"wires":[["62c6c741.9c5ce8"]]},{"id":"62c6c741.9c5ce8","type":"ui_button","z":"d8a0e88f.316d38","name":"You","group":"d7fd96da.55f8b8","order":19,"width":"3","height":"1","passthru":true,"label":"You","color":"","bgcolor":"","icon":"","payload":"you","payloadType":"str","topic":"","x":490,"y":760,"wires":[["69d4924b.3b16cc"]]},{"id":"aca51ab8.5e2af8","type":"inject","z":"d8a0e88f.316d38","name":"Home","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":800,"wires":[["924cf551.7907d8"]]},{"id":"924cf551.7907d8","type":"ui_button","z":"d8a0e88f.316d38","name":"Home","group":"d7fd96da.55f8b8","order":20,"width":"3","height":"1","passthru":true,"label":"Home","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":490,"y":800,"wires":[["69d4924b.3b16cc"]]},{"id":"4635e743.438238","type":"inject","z":"d8a0e88f.316d38","name":"Go","topic":"","payload":"go","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":840,"wires":[["c16b4610.86ce18"]]},{"id":"c16b4610.86ce18","type":"ui_button","z":"d8a0e88f.316d38","name":"Go","group":"d7fd96da.55f8b8","order":21,"width":"3","height":"1","passthru":true,"label":"Go","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":490,"y":840,"wires":[["69d4924b.3b16cc"]]},{"id":"1b0273bf.843fbc","type":"inject","z":"d8a0e88f.316d38","name":"Viceland","topic":"","payload":"vice","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":880,"wires":[["2c22d55.de0682a"]]},{"id":"2c22d55.de0682a","type":"ui_button","z":"d8a0e88f.316d38","name":"Viceland","group":"d7fd96da.55f8b8","order":22,"width":"3","height":"1","passthru":true,"label":"Viceland","color":"","bgcolor":"","icon":"","payload":"vice","payloadType":"str","topic":"","x":500,"y":880,"wires":[["69d4924b.3b16cc"]]},{"id":"ffb8d1d9.60573","type":"inject","z":"d8a0e88f.316d38","name":"Arts","topic":"","payload":"arts","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":920,"wires":[["da879242.ae793"]]},{"id":"da879242.ae793","type":"ui_button","z":"d8a0e88f.316d38","name":"Arts","group":"d7fd96da.55f8b8","order":23,"width":"3","height":"1","passthru":true,"label":"Arts","color":"","bgcolor":"","icon":"","payload":"arts","payloadType":"str","topic":"","x":490,"y":920,"wires":[["69d4924b.3b16cc"]]},{"id":"6aa9587e.e96548","type":"ui_button","z":"d8a0e88f.316d38","name":"More","group":"378f857b.72384a","order":1,"width":"3","height":"1","passthru":true,"label":"More","color":"","bgcolor":"","icon":"","payload":"more","payloadType":"str","topic":"","x":1310,"y":1240,"wires":[["69d4924b.3b16cc"]]},{"id":"80de7508.5e2e68","type":"inject","z":"d8a0e88f.316d38","name":"More","topic":"","payload":"more","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1240,"wires":[["6aa9587e.e96548"]]},{"id":"a5fac4e7.d6a178","type":"ui_button","z":"d8a0e88f.316d38","name":"Masterpiece","group":"378f857b.72384a","order":3,"width":"3","height":"1","passthru":true,"label":"Masterpiece","color":"","bgcolor":"","icon":"","payload":"masterpiece","payloadType":"str","topic":"","x":1330,"y":1280,"wires":[["69d4924b.3b16cc"]]},{"id":"956b8d39.f353","type":"inject","z":"d8a0e88f.316d38","name":"Masterpiece","topic":"","payload":"masterpiece","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":1280,"wires":[["a5fac4e7.d6a178"]]},{"id":"5e853ae4.f84c34","type":"ui_button","z":"d8a0e88f.316d38","name":"Action","group":"378f857b.72384a","order":6,"width":"3","height":"1","passthru":true,"label":"Action","color":"","bgcolor":"","icon":"","payload":"action","payloadType":"str","topic":"","x":1310,"y":1320,"wires":[["69d4924b.3b16cc"]]},{"id":"85734894.05ee28","type":"inject","z":"d8a0e88f.316d38","name":"Action","topic":"","payload":"action","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1320,"wires":[["5e853ae4.f84c34"]]},{"id":"514897aa.afaa68","type":"ui_button","z":"d8a0e88f.316d38","name":"Romance","group":"378f857b.72384a","order":7,"width":"3","height":"1","passthru":true,"label":"Romance","color":"","bgcolor":"","icon":"","payload":"romance","payloadType":"str","topic":"","x":1320,"y":1360,"wires":[["69d4924b.3b16cc"]]},{"id":"f433ac75.815dc","type":"inject","z":"d8a0e88f.316d38","name":"Romance","topic":"","payload":"romance","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1360,"wires":[["514897aa.afaa68"]]},{"id":"c72c61c8.27408","type":"inject","z":"d8a0e88f.316d38","name":"Knowledge Channel","topic":"","payload":"knowledge","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1360,"wires":[["90b0498e.98a608"]]},{"id":"90b0498e.98a608","type":"ui_button","z":"d8a0e88f.316d38","name":"Knowledge Channel","group":"f44dc956.db8238","order":0,"width":"3","height":"1","passthru":true,"label":"Knowledge Channel","color":"","bgcolor":"","icon":"","payload":"knowledge","payloadType":"str","topic":"","x":540,"y":1360,"wires":[["69d4924b.3b16cc"]]},{"id":"bb721465.5eb1b8","type":"inject","z":"d8a0e88f.316d38","name":"Classical FM","topic":"","payload":"fm","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":880,"wires":[["657d866c.80f638"]]},{"id":"657d866c.80f638","type":"ui_button","z":"d8a0e88f.316d38","name":"Classical FM","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"Classical FM","color":"","bgcolor":"","icon":"","payload":"fm","payloadType":"str","topic":"","x":1330,"y":880,"wires":[["69d4924b.3b16cc"]]},{"id":"af2779f1.e894c8","type":"inject","z":"d8a0e88f.316d38","name":"ABC Jazz","topic":"","payload":"jazz","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":920,"wires":[["8d720484.1769e8"]]},{"id":"8d720484.1769e8","type":"ui_button","z":"d8a0e88f.316d38","name":"ABC Jazz","group":"b8840cc3.61c0d","order":0,"width":"3","height":"1","passthru":true,"label":"ABC Jazz","color":"","bgcolor":"","icon":"","payload":"jazz","payloadType":"str","topic":"","x":1320,"y":920,"wires":[["69d4924b.3b16cc"]]},{"id":"d7fd96da.55f8b8","type":"ui_group","z":"","name":"Enternainment","tab":"88a0aab5.ff8278","order":2,"disp":true,"width":"6"},{"id":"dbd565da.867158","type":"ui_group","z":"","name":"Free to Air","tab":"88a0aab5.ff8278","order":1,"disp":true,"width":"3"},{"id":"4d129642.0b75b8","type":"ui_group","z":"","name":"News","tab":"88a0aab5.ff8278","order":4,"disp":true,"width":"3"},{"id":"d89ed43a.366b88","type":"ui_group","z":"","name":"Sports","tab":"88a0aab5.ff8278","order":6,"disp":true,"width":"2"},{"id":"f44dc956.db8238","type":"ui_group","z":"","name":"Documentaries","tab":"88a0aab5.ff8278","order":3,"disp":true,"width":"6"},{"id":"b8840cc3.61c0d","type":"ui_group","z":"","name":"Music and Radio","tab":"88a0aab5.ff8278","order":7,"disp":true,"width":"3"},{"id":"378f857b.72384a","type":"ui_group","z":"","name":"Movies","tab":"88a0aab5.ff8278","order":5,"disp":true,"width":"3"},{"id":"88a0aab5.ff8278","type":"ui_tab","z":"","name":"Foxtel Channels","icon":"dashboard","order":3}]