Github Repo/Node Red Code/Pi Zero Backup Node Flows/Listern to Siri 12 Sept 2017.txt
[{"id":"c75e2de5.f467e","type":"debug","z":"3e8b24aa.bfdecc","name":"","active":false,"console":"false","complete":"false","x":540.3749694824219,"y":106.94446563720703,"wires":[]},{"id":"706e2a5b.bec1b4","type":"link out","z":"3e8b24aa.bfdecc","name":"Receive from Siri","links":["492cfab0.a48a14","547cf1f1.f0e47","83632d79.982c2","9d83d8dd.95e648"],"x":740.3512573242188,"y":56.992061614990234,"wires":[]},{"id":"69081888.2e9438","type":"function","z":"3e8b24aa.bfdecc","name":"Convert payload to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":543.8988647460938,"y":55.111106872558594,"wires":[["706e2a5b.bec1b4","f949d409.fc41b8","f01abc2c.99a5a"]]},{"id":"f949d409.fc41b8","type":"function","z":"3e8b24aa.bfdecc","name":"Twitter Said","func":"//var myDelay = setInterval(myTimer, 1000);\n\nvar newWord = msg.payload;\nvar newMsg;\n\nfunction sleep(milliseconds) {\n  var start = new Date().getTime();\n  for (var i = 0; i < 1e7; i++) {\n    if ((new Date().getTime() - start) > milliseconds){\n      break;\n    }\n  }\n}\n\nnewMsg = \"Twitter said\";\nnode.send ({payload:newMsg});\n//sleep(500);\n\n//newMsg = newWord;\n//node.send ({payload:newMsg});\n\n//sleep(500);\nreturn null;","outputs":1,"noerr":0,"x":755.2638549804688,"y":103.05555725097656,"wires":[["edfc6f05.12dee"]]},{"id":"1a27806d.fe966","type":"twitter in","z":"3e8b24aa.bfdecc","twitter":"","tags":"","user":"dm","name":"Twitter Received data","topic":"tweets","inputs":0,"x":225,"y":63,"wires":[["69081888.2e9438","c75e2de5.f467e"]]},{"id":"f01abc2c.99a5a","type":"debug","z":"3e8b24aa.bfdecc","name":"","active":false,"console":"false","complete":"false","x":746,"y":23,"wires":[]},{"id":"edfc6f05.12dee","type":"link out","z":"3e8b24aa.bfdecc","name":"From Twitter Listen","links":["ec902402.46e358"],"x":986.6666666666666,"y":173.33333333333334,"wires":[]}]