Github Repo/Node Red Code/Pi Zero Backup Node Flows/Samsunt TV 12 Sept 2017.txt
[{"id":"98603028.eacee","type":"inject","z":"739be66e.7838e8","name":"HDMI","topic":"","payload":"KEY_HDMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":207.7142791748047,"y":102.85713958740234,"wires":[["26e4f3e9.2a0aac"]]},{"id":"89e2e14e.84e09","type":"inject","z":"739be66e.7838e8","name":"AV1","topic":"","payload":"KEY_AV1","payloadType":"str","repeat":"","crontab":"","once":false,"x":207.7142791748047,"y":142.85713958740234,"wires":[["3d32b055.fb6c3"]]},{"id":"f12a09fd.fa44e8","type":"inject","z":"739be66e.7838e8","name":"VOL UP","topic":"","payload":"KEY_VOLUP","payloadType":"str","repeat":"","crontab":"","once":false,"x":206.7142791748047,"y":182.85713958740234,"wires":[["90e67f10.8c2a9"]]},{"id":"c6f54c1.a9ebeb","type":"inject","z":"739be66e.7838e8","name":"VOL DOWN","topic":"","payload":"KEY_VOLDOWN","payloadType":"str","repeat":"","crontab":"","once":false,"x":225.7142791748047,"y":222.85713958740234,"wires":[["93123f85.95649"]]},{"id":"f87391c2.edc8","type":"tcp out","z":"739be66e.7838e8","host":"127.0.0.1","port":"4050","beserver":"client","base64":false,"end":false,"name":"127.0.0.1:4050 - local host","x":698.7142868041992,"y":183.28572607040405,"wires":[]},{"id":"2e16257d.c970fa","type":"inject","z":"739be66e.7838e8","name":"POWER OFF","topic":"","payload":"KEY_POWEROFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":225.7142791748047,"y":262.85713958740234,"wires":[["83f738fc.77eae8"]]},{"id":"26e4f3e9.2a0aac","type":"ui_button","z":"739be66e.7838e8","name":"HDMI","group":"34946fa1.9ae31","order":0,"width":0,"height":0,"passthru":true,"label":"HDMI","color":"","bgcolor":"GREEN","icon":"","payload":"KEY_HDMI","payloadType":"str","topic":"","x":405.7142791748047,"y":102.85713958740234,"wires":[["f87391c2.edc8"]]},{"id":"3d32b055.fb6c3","type":"ui_button","z":"739be66e.7838e8","name":"AV","group":"34946fa1.9ae31","order":0,"width":0,"height":0,"passthru":true,"label":"AV","color":"","bgcolor":"GREEN","icon":"","payload":"KEY_AV1","payloadType":"str","topic":"","x":405.7142791748047,"y":142.85713958740234,"wires":[["f87391c2.edc8"]]},{"id":"90e67f10.8c2a9","type":"ui_button","z":"739be66e.7838e8","name":"VOL UP","group":"34946fa1.9ae31","order":0,"width":0,"height":0,"passthru":true,"label":"VOL UP","color":"","bgcolor":"BLUE","icon":"","payload":"KEY_VOLUP","payloadType":"str","topic":"","x":415.7142791748047,"y":182.85713958740234,"wires":[["f87391c2.edc8"]]},{"id":"93123f85.95649","type":"ui_button","z":"739be66e.7838e8","name":"VOL DOWN","group":"34946fa1.9ae31","order":0,"width":0,"height":0,"passthru":true,"label":"VOL DOWN","color":"","bgcolor":"BLUE","icon":"","payload":"KEY_VOLDOWN","payloadType":"str","topic":"","x":425.7142791748047,"y":222.85713958740234,"wires":[["f87391c2.edc8"]]},{"id":"83f738fc.77eae8","type":"ui_button","z":"739be66e.7838e8","name":"POWER OFF","group":"34946fa1.9ae31","order":0,"width":0,"height":0,"passthru":true,"label":"POWER OFF","color":"","bgcolor":"RED","icon":"","payload":"KEY_POWEROFF","payloadType":"str","topic":"","x":425.7142791748047,"y":262.85713958740234,"wires":[["f87391c2.edc8"]]},{"id":"5443e029.41757","type":"tcp in","z":"739be66e.7838e8","name":"Listen 4050 local host","server":"server","host":"","port":"4050","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":239.9999542236328,"y":406.6071710586548,"wires":[["83b7df01.d77a8","bdcd8e03.75e89"]]},{"id":"55bcc4ea.eb075c","type":"debug","z":"739be66e.7838e8","name":"","active":false,"console":"false","complete":"false","x":715.3650665283203,"y":403.1745939254761,"wires":[]},{"id":"83b7df01.d77a8","type":"change","z":"739be66e.7838e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":477.46022033691406,"y":458.8889398574829,"wires":[["55bcc4ea.eb075c","3d983911.8f6406"]]},{"id":"50ebbe39.89d05","type":"samsung-tv-send","z":"739be66e.7838e8","device":"6a62c5a1.5640fc","name":"Lounge Room TV","key":"","x":971.4443054199219,"y":477.1270122528076,"wires":[]},{"id":"edb5c335.cdcb4","type":"tcp in","z":"739be66e.7838e8","name":"Listen 4051 local host - From AMX","server":"server","host":"","port":"4051","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":724.2856292724609,"y":94.28571891784668,"wires":[[]]},{"id":"f50c2b08.89d7a8","type":"debug","z":"739be66e.7838e8","name":"","active":false,"console":"false","complete":"false","x":467.2428436279297,"y":529.6000127792358,"wires":[]},{"id":"3d983911.8f6406","type":"function","z":"739be66e.7838e8","name":"Test for true values","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar value_mode = 0;\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"Key\")\n        {\n        var true_value_index = i;\n        value_mode = 1;\n        }\n    }\nif (value_mode <= 1)\n    {\n    node.send ({payload:[msgdata]});\n    }\nreturn null;","outputs":1,"noerr":0,"x":728.3968048095703,"y":458.26988697052,"wires":[["50ebbe39.89d05","db9f514d.283b1"]]},{"id":"db9f514d.283b1","type":"debug","z":"739be66e.7838e8","name":"","active":false,"console":"false","complete":"false","x":951.7937660217285,"y":439.31746673583984,"wires":[]},{"id":"2e45f39f.4d6cbc","type":"link in","z":"739be66e.7838e8","name":"from AMX to Samsung TV","links":["ed7be37b.6435b"],"x":314.946439743042,"y":458.85712909698486,"wires":[["83b7df01.d77a8","f50c2b08.89d7a8"]]},{"id":"bdcd8e03.75e89","type":"debug","z":"739be66e.7838e8","name":"","active":false,"console":"false","complete":"false","x":469.94649505615234,"y":348.78571128845215,"wires":[]},{"id":"34946fa1.9ae31","type":"ui_group","z":"","name":"Samsung TV TCP Control","tab":"f2d3b8f2.1d22b8","disp":true,"width":"6"},{"id":"6a62c5a1.5640fc","type":"samsung-tv","z":"","name":"Lounge Room TV","address":"192.168.1.62"},{"id":"f2d3b8f2.1d22b8","type":"ui_tab","z":"","name":"Samsung TV Control","icon":"dashboard","order":6}]