Github Repo/Node Red Code/Pi Zero Backup Node Flows/Siri AV System Words 14 Sept 2017.txt
[{"id":"5859a161.aa4e1","type":"link in","z":"d720ad09.1c356","name":"Receive Siri Words","links":["706e2a5b.bec1b4","5ba4435b.ef26fc"],"x":175,"y":40,"wires":[["b0337a2b.b37788","c48fb5b3.d15488","209746bc.96d63a","9a1fa75e.efc348","1be08d32.15bc13","f7682e3e.479bf","55e7c0af.8404c","302172e6.745abe"]]},{"id":"209746bc.96d63a","type":"function","z":"d720ad09.1c356","name":"Search for Room Word","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar room_rx; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word room\n    { \n    if (msgdata[i] == \"room\")\n        {\n        room_rx = 1;\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":830,"y":160,"wires":[["f0ab9628.db8448","d1c70601.bb5b68"]]},{"id":"b0337a2b.b37788","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"true","x":370,"y":40,"wires":[]},{"id":"d1c70601.bb5b68","type":"debug","z":"d720ad09.1c356","name":"","active":false,"console":"false","complete":"false","x":1090,"y":120,"wires":[]},{"id":"c48fb5b3.d15488","type":"file","z":"d720ad09.1c356","name":"Save siri words","filename":"Siri Listen Data.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":360,"y":160,"wires":[]},{"id":"f2111c0b.a1015","type":"file in","z":"d720ad09.1c356","name":"Return Siri Listen Text file","filename":"Siri Listen Data.txt","format":"utf8","x":570,"y":100,"wires":[["eeb5d97f.0b2eb8","209746bc.96d63a","302172e6.745abe","9a1fa75e.efc348","1be08d32.15bc13","f7682e3e.479bf","55e7c0af.8404c"]]},{"id":"9b7168df.327478","type":"inject","z":"d720ad09.1c356","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":360,"y":100,"wires":[["f2111c0b.a1015"]]},{"id":"eeb5d97f.0b2eb8","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":790,"y":60,"wires":[]},{"id":"f0ab9628.db8448","type":"function","z":"d720ad09.1c356","name":"Search for room names","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar source = {}; // soruce selection\nvar room_rx = 0; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word chris\n    { \n    if (msgdata[i] == \"chris\")\n        {\n        room_rx = 1;\n        source = \"chris room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word lounge\n    { \n    if (msgdata[i] == \"lounge\")\n        {\n        room_rx = 1;    \n        source = \"lounge room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word bungalow\n    { \n    if (msgdata[i] == \"bungalow\")\n        {\n        room_rx = 1;\n        source = \"bungalow room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word office\n    { \n    if (msgdata[i] == \"office\")\n        {\n        room_rx = 1;\n        source = \"office room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word garage\n    { \n    if (msgdata[i] == \"garage\")\n        {\n        room_rx = 1;\n        source = \"garage room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word guest\n    { \n    if (msgdata[i] == \"guest\")\n        {\n        room_rx = 1;\n        source = \"guest room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word bar\n    { \n    if (msgdata[i] == \"bar\")\n        {\n        room_rx = 1;\n        source = \"bar room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word bbq\n    { \n    if (msgdata[i] == \"bbq\")\n        {\n        room_rx = 1;\n        source = \"bbq room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word bbq\n    { \n    if (msgdata[i] == \"barbecue\")\n        {\n        room_rx = 1;\n        source = \"bbq room\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word poolside\n    { \n    if (msgdata[i] == \"pool\")\n        {\n        room_rx = 1;\n        source = \"poolside room\";\n        }\n    }\n\nif (room_rx == 1)\n    {\n    node.send ({payload:source});    \n    }\nreturn [null];","outputs":"1","noerr":0,"x":1130,"y":160,"wires":[["4193aadf.4c6234"]]},{"id":"4193aadf.4c6234","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"payload","x":1370,"y":160,"wires":[]},{"id":"5f32410c.78ff1","type":"inject","z":"d720ad09.1c356","name":"Poolside","topic":"","payload":"pool side select now please room","payloadType":"str","repeat":"","crontab":"","once":false,"x":360,"y":500,"wires":[["209746bc.96d63a"]]},{"id":"c7ee6122.e867","type":"inject","z":"d720ad09.1c356","name":"Bar area","topic":"","payload":"bar area room select now please today","payloadType":"str","repeat":"","crontab":"","once":false,"x":360,"y":460,"wires":[["209746bc.96d63a"]]},{"id":"40c5db2d.c40b24","type":"inject","z":"d720ad09.1c356","name":"Garage","topic":"","payload":"garage select now please room","payloadType":"str","repeat":"","crontab":"","once":false,"x":350,"y":420,"wires":[["209746bc.96d63a"]]},{"id":"155af5.8891850b","type":"inject","z":"d720ad09.1c356","name":"Lounge Room","topic":"","payload":"select lounge room now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":220,"wires":[["209746bc.96d63a"]]},{"id":"164d314c.d58bcf","type":"inject","z":"d720ad09.1c356","name":"Chris Room","topic":"","payload":"chris room select now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":300,"wires":[["209746bc.96d63a"]]},{"id":"2365da06.6a0a86","type":"inject","z":"d720ad09.1c356","name":"Bungalow","topic":"","payload":"select now room bungalow","payloadType":"str","repeat":"","crontab":"","once":false,"x":360,"y":260,"wires":[["209746bc.96d63a"]]},{"id":"2416064c.45a1ba","type":"inject","z":"d720ad09.1c356","name":"Office","topic":"","payload":"select now office please room","payloadType":"str","repeat":"","crontab":"","once":false,"x":350,"y":380,"wires":[["209746bc.96d63a"]]},{"id":"22900039.adbb8","type":"inject","z":"d720ad09.1c356","name":"BBQ","topic":"","payload":"select please bbq room","payloadType":"str","repeat":"","crontab":"","once":false,"x":350,"y":580,"wires":[["209746bc.96d63a"]]},{"id":"d979ad52.45601","type":"inject","z":"d720ad09.1c356","name":"Barbeque","topic":"","payload":"select please barbeque room","payloadType":"str","repeat":"","crontab":"","once":false,"x":360,"y":540,"wires":[["209746bc.96d63a"]]},{"id":"f61ce46.ba2b018","type":"inject","z":"d720ad09.1c356","name":"Guest room","topic":"","payload":"guest room select now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":340,"wires":[["209746bc.96d63a"]]},{"id":"9a1fa75e.efc348","type":"function","z":"d720ad09.1c356","name":"Search for Select Word","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nfor (i = 0; i < msgdata.length; i++) // look for word select\n    { \n    if (msgdata[i] == \"select\")\n        {\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":990,"y":700,"wires":[["9cd03c6e.0f978","509c136e.8321cc"]]},{"id":"9cd03c6e.0f978","type":"function","z":"d720ad09.1c356","name":"Search for source names","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar source = {}; // soruce selection\nvar source_select = 0; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word foxtel one\n    { \n    if (msgdata[i] == \"foxtel\")\n        {\n        for (t = 0; t < msgdata.length; t++) // look for word one\n            { \n            if (msgdata[t] == \"one\")\n                {\n                source_select = 1;\n                source = \"foxtel 1 selected\";\n                }\n            if (msgdata[t] == \"1\")\n                {\n                source_select = 1;\n                source = \"foxtel 1 selected\";\n                }\n            if (msgdata[t] == \"two\")\n                {\n                source_select = 1;\n                source = \"foxtel 2 selected\";\n                }\n            if (msgdata[t] == \"to\")\n                {\n                source_select = 1;\n                source = \"foxtel 2 selected\";\n                }\n            if (msgdata[t] == \"2\")\n                {\n                source_select = 1;\n                source = \"foxtel 2 selected\";\n                }\n            }\n        }\n    }\n    \nfor (i = 0; i < msgdata.length; i++) // look for word dvd\n    { \n    if (msgdata[i] == \"dvd\")\n        {\n        source_select = 1;\n        source = \"dvd selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word cd\n    { \n    if (msgdata[i] == \"cd\")\n        {\n        source_select = 1;\n        source = \"cd selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word digital tv\n    { \n    if (msgdata[i] == \"tv\")\n        {\n        source_select = 1;\n        source = \"digital tv selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word digital TV\n    { \n    if (msgdata[i] == \"TV\")\n        {\n        source_select = 1;\n        source = \"digital tv selected\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word phono\n    { \n    if (msgdata[i] == \"phono\")\n        {\n        source_select = 1;\n        source = \"phono selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera one\n    { \n    if (msgdata[i] == \"camera one\")\n        {\n        source_select = 1;\n        source = \"camaera 1 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera 1\n    { \n    if (msgdata[i] == \"camera 1\")\n        {\n        source_select = 1;\n        source = \"camaera 1 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word front\n    { \n    if (msgdata[i] == \"front\")\n        {\n        source_select = 1;\n        source = \"camaera 1 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word door\n    { \n    if (msgdata[i] == \"door\")\n        {\n        source_select = 1;\n        source = \"camaera 1 selected\";\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for word camera 2\n    { \n    if (msgdata[i] == \"camera 2\")\n        {\n        source_select = 1;\n        source = \"camaera 2 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera two\n    { \n    if (msgdata[i] == \"camera two\")\n        {\n        source_select = 1;\n        source = \"camaera 2 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera 3\n    { \n    if (msgdata[i] == \"camera 3\")\n        {\n        source_select = 1;\n        source = \"camaera 3 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera three\n    { \n    if (msgdata[i] == \"camera three\")\n        {\n        source_select = 1;\n        source = \"camaera 3 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera 4\n    { \n    if (msgdata[i] == \"camera 4\")\n        {\n        source_select = 1;\n        source = \"camaera 4 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera four\n    { \n    if (msgdata[i] == \"camera four\")\n        {\n        source_select = 1;\n        source = \"camaera 4 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word camera 3\n    { \n    if (msgdata[i] == \"camera 3\")\n        {\n        source_select = 1;\n        source = \"camaera 3 selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word radio\n    { \n    if (msgdata[i] == \"radio\")\n        {\n        source_select = 1;\n        source = \"radio selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word mic\n    { \n    if (msgdata[i] == \"mic\")\n        {\n        source_select = 1;\n        source = \"radio mic selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word satellite\n    { \n    if (msgdata[i] == \"satellite\")\n        {\n        source_select = 1;\n        source = \"satellite selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word media player\n    { \n    if (msgdata[i] == \"media\")\n        {\n        source_select = 1;\n        source = \"media player selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word xbox\n    { \n    if (msgdata[i] == \"xbox\")\n        {\n        source_select = 1;\n        source = \"xbox selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word wii\n    { \n    if (msgdata[i] == \"wee\")\n        {\n        source_select = 1;\n        source = \"wii selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word wii\n    { \n    if (msgdata[i] == \"wii\")\n        {\n        source_select = 1;\n        source = \"wii selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word vcr\n    { \n    if (msgdata[i] == \"vcr\")\n        {\n        source_select = 1;\n        source = \"vcr selected\";\n        }\n    }\nif (source_select == 1)\n    {\n    node.send ({payload:source});    \n    }\nreturn [null];","outputs":"1","noerr":0,"x":1250,"y":700,"wires":[["5f24e3c7.2cf6fc"]]},{"id":"5f24e3c7.2cf6fc","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":1450,"y":660,"wires":[]},{"id":"270298a8.daa9f8","type":"inject","z":"d720ad09.1c356","name":"CD","topic":"","payload":"select cd now","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":680,"wires":[["9a1fa75e.efc348"]]},{"id":"57f4e31d.e7af5c","type":"inject","z":"d720ad09.1c356","name":"Foxtel 1","topic":"","payload":"foxtel 1 select","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":560,"wires":[["9a1fa75e.efc348"]]},{"id":"fab9a756.b5bbc8","type":"inject","z":"d720ad09.1c356","name":"Foxtel One","topic":"","payload":"foxtel one select","payloadType":"str","repeat":"","crontab":"","once":false,"x":720,"y":520,"wires":[["9a1fa75e.efc348"]]},{"id":"69969056.f14fc","type":"inject","z":"d720ad09.1c356","name":"Foxtel Two","topic":"","payload":"foxtel two select","payloadType":"str","repeat":"","crontab":"","once":false,"x":720,"y":600,"wires":[["9a1fa75e.efc348"]]},{"id":"ce10936.872497","type":"inject","z":"d720ad09.1c356","name":"Foxtel 2","topic":"","payload":"select foxtel 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":640,"wires":[["9a1fa75e.efc348"]]},{"id":"f9ed4736.291908","type":"inject","z":"d720ad09.1c356","name":"DVD","topic":"","payload":"select dvd now","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":720,"wires":[["9a1fa75e.efc348"]]},{"id":"16d90d8e.3c23e2","type":"inject","z":"d720ad09.1c356","name":"VCR","topic":"","payload":"select vcr now","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":760,"wires":[["9a1fa75e.efc348"]]},{"id":"6abc3249.9adcac","type":"inject","z":"d720ad09.1c356","name":"Media player","topic":"","payload":"media player select now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":730,"y":800,"wires":[["9a1fa75e.efc348"]]},{"id":"4f154600.e137a8","type":"inject","z":"d720ad09.1c356","name":"TV","topic":"","payload":"tv select now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":840,"wires":[["9a1fa75e.efc348"]]},{"id":"af527db6.2038a","type":"inject","z":"d720ad09.1c356","name":"Satellite","topic":"","payload":"satellite select now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":880,"wires":[["9a1fa75e.efc348"]]},{"id":"154f785e.3e4368","type":"inject","z":"d720ad09.1c356","name":"Phono","topic":"","payload":"select now please phono","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":920,"wires":[["9a1fa75e.efc348"]]},{"id":"40c51441.27e98c","type":"inject","z":"d720ad09.1c356","name":"Xbox","topic":"","payload":"select now please xbox","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":960,"wires":[["9a1fa75e.efc348"]]},{"id":"bf73a8e2.b9ad08","type":"inject","z":"d720ad09.1c356","name":"Wii","topic":"","payload":"select now wii please","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":1000,"wires":[["9a1fa75e.efc348"]]},{"id":"620f2e43.5a59","type":"inject","z":"d720ad09.1c356","name":"Wee","topic":"","payload":"select now wee please","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":1040,"wires":[["9a1fa75e.efc348"]]},{"id":"9710781b.9e5728","type":"inject","z":"d720ad09.1c356","name":"Radio","topic":"","payload":"radio select now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":710,"y":1080,"wires":[["9a1fa75e.efc348"]]},{"id":"f4c53f8d.3fa6e","type":"inject","z":"d720ad09.1c356","name":"Radio Mic","topic":"","payload":"mic select now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":720,"y":1120,"wires":[["9a1fa75e.efc348"]]},{"id":"fa7868bd.c45c58","type":"inject","z":"d720ad09.1c356","name":"Radio Mic","topic":"","payload":"select now please microphone","payloadType":"str","repeat":"","crontab":"","once":false,"x":720,"y":1160,"wires":[["9a1fa75e.efc348"]]},{"id":"509c136e.8321cc","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":1210,"y":660,"wires":[]},{"id":"1be08d32.15bc13","type":"function","z":"d720ad09.1c356","name":"Search for Control Words","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nfor (i = 0; i < msgdata.length; i++) // look for word control\n    { \n    if (msgdata[i] == \"control\")\n        {\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":990,"y":1280,"wires":[["5cffa0d9.4a88f","ab15cdb.435bf3"]]},{"id":"5cffa0d9.4a88f","type":"function","z":"d720ad09.1c356","name":"Search for Control Words","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar source = {}; // soruce selection\nvar source_select = 0; // room word received\n\nfor (i = 0; i < msgdata.length; i++) // look for word play\n    { \n    if (msgdata[i] == \"play\")\n        {\n        source_select = 1;\n        source = \"play selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word stop\n    { \n    if (msgdata[i] == \"stop\")\n        {\n        source_select = 1;\n        source = \"stop selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word pause\n    { \n    if (msgdata[i] == \"pause\")\n        {\n        source_select = 1;\n        source = \"pause selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word forward\n    { \n    if (msgdata[i] == \"forward\")\n        {\n        source_select = 1;\n        source = \"forward selected\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word rewind\n    { \n    if (msgdata[i] == \"rewind\")\n        {\n        source_select = 1;\n        source = \"rewind selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word record\n    { \n    if (msgdata[i] == \"record\")\n        {\n        source_select = 1;\n        source = \"record selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word menu\n    { \n    if (msgdata[i] == \"menu\")\n        {\n        source_select = 1;\n        source = \"menu selected\";\n        }\n    }\nif (source_select == 1)\n    {\n    node.send ({payload:source});    \n    }\nreturn [null];","outputs":"1","noerr":0,"x":1250,"y":1280,"wires":[["9a13beb8.b03aa"]]},{"id":"9a13beb8.b03aa","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":1450,"y":1240,"wires":[]},{"id":"ab15cdb.435bf3","type":"debug","z":"d720ad09.1c356","name":"","active":false,"console":"false","complete":"false","x":1210,"y":1240,"wires":[]},{"id":"222a7961.6fcdf6","type":"inject","z":"d720ad09.1c356","name":"Play","topic":"","payload":"control now please play","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":1220,"wires":[["1be08d32.15bc13"]]},{"id":"e49e64e0.f491b8","type":"inject","z":"d720ad09.1c356","name":"Stop","topic":"","payload":"control stop now please","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":1260,"wires":[["1be08d32.15bc13"]]},{"id":"746ce99b.8085b8","type":"inject","z":"d720ad09.1c356","name":"Forward","topic":"","payload":"control now please forward","payloadType":"str","repeat":"","crontab":"","once":false,"x":380,"y":1300,"wires":[["1be08d32.15bc13"]]},{"id":"1e875131.4f5e2f","type":"inject","z":"d720ad09.1c356","name":"Rewind","topic":"","payload":"control now please rewind","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":1340,"wires":[["1be08d32.15bc13"]]},{"id":"779c11e3.73387","type":"inject","z":"d720ad09.1c356","name":"Pause","topic":"","payload":"control pause now","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":1380,"wires":[["1be08d32.15bc13"]]},{"id":"317ec8f.24c1238","type":"inject","z":"d720ad09.1c356","name":"Record","topic":"","payload":"control record now","payloadType":"str","repeat":"","crontab":"","once":false,"x":370,"y":1420,"wires":[["1be08d32.15bc13"]]},{"id":"43858072.51a5","type":"inject","z":"d720ad09.1c356","name":"Channel Up","topic":"","payload":"control channel up now","payloadType":"str","repeat":"","crontab":"","once":false,"x":730,"y":1920,"wires":[["f7682e3e.479bf"]]},{"id":"75bc4869.3ccc88","type":"inject","z":"d720ad09.1c356","name":"Channel down","topic":"","payload":"control channel down now","payloadType":"str","repeat":"","crontab":"","once":false,"x":730,"y":1960,"wires":[["f7682e3e.479bf"]]},{"id":"37d3efc3.ac8c","type":"inject","z":"d720ad09.1c356","name":"Enter","topic":"","payload":"menu enter now","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1380,"wires":[["55e7c0af.8404c"]]},{"id":"55e7c0af.8404c","type":"function","z":"d720ad09.1c356","name":"Search for Menu Words","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nfor (i = 0; i < msgdata.length; i++) // look for word menu\n    { \n    if (msgdata[i] == \"menu\")\n        {\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":1010,"y":1480,"wires":[["c6689f1b.62509","d7cb1ed4.a1fd5"]]},{"id":"c6689f1b.62509","type":"function","z":"d720ad09.1c356","name":"Search for Menu Words","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar source = {}; // soruce selection\nvar source_select = 0; // room word received\n\nfor (i = 0; i < msgdata.length; i++) // look for word back\n    { \n    if (msgdata[i] == \"back\")\n        {\n        source_select = 1;\n        source = \"menu back selected\";\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for word up\n    { \n    if (msgdata[i] == \"up\")\n        {\n        source_select = 1;\n        source = \"menu up selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word down\n    { \n    if (msgdata[i] == \"down\")\n        {\n        source_select = 1;\n        source = \"menu down selected\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word left\n    { \n    if (msgdata[i] == \"left\")\n        {\n        source_select = 1;\n        source = \"menu left selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word right\n    { \n    if (msgdata[i] == \"right\")\n        {\n        source_select = 1;\n        source = \"menu right selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word enter\n    { \n    if (msgdata[i] == \"enter\")\n        {\n        source_select = 1;\n        source = \"menu enter selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word tv guide\n    { \n    if (msgdata[i] == \"guide\")\n        {\n        source_select = 1;\n        source = \"menu tv guide selected\";\n        }\n    }\n for (i = 0; i < msgdata.length; i++) // look for word planner\n    { \n    if (msgdata[i] == \"planner\")\n        {\n        source_select = 1;\n        source = \"menu planner selected\";\n        }\n    }\n for (i = 0; i < msgdata.length; i++) // look for word red\n    { \n    if (msgdata[i] == \"red\")\n        {\n        source_select = 1;\n        source = \"menu red selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word green\n    { \n    if (msgdata[i] == \"green\")\n        {\n        source_select = 1;\n        source = \"menu green selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word yellow\n    { \n    if (msgdata[i] == \"yellow\")\n        {\n        source_select = 1;\n        source = \"menu yellow selected\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word blue\n    { \n    if (msgdata[i] == \"blue\")\n        {\n        source_select = 1;\n        source = \"menu blue selected\";\n        }\n    }    \n    \nif (source_select == 1)\n    {\n    node.send ({payload:source});    \n    }\nreturn [null];","outputs":"1","noerr":0,"x":1270,"y":1480,"wires":[["17774d5a.af93b3"]]},{"id":"17774d5a.af93b3","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":1470,"y":1440,"wires":[]},{"id":"d7cb1ed4.a1fd5","type":"debug","z":"d720ad09.1c356","name":"","active":false,"console":"false","complete":"false","x":1230,"y":1440,"wires":[]},{"id":"b1f113a2.a8d3d","type":"inject","z":"d720ad09.1c356","name":"Menu Back","topic":"","payload":"menu back now","payloadType":"str","repeat":"","crontab":"","once":false,"x":780,"y":1420,"wires":[["55e7c0af.8404c"]]},{"id":"f7682e3e.479bf","type":"function","z":"d720ad09.1c356","name":"Search for Channel Words","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nfor (i = 0; i < msgdata.length; i++) // look for word channel\n    { \n    if (msgdata[i] == \"channel\")\n        {\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":1060,"y":1920,"wires":[["c0e81cef.70847","5fbedfec.ac5d"]]},{"id":"c0e81cef.70847","type":"function","z":"d720ad09.1c356","name":"Search for Channel Words","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar source = {}; // soruce selection\nvar source_select = 0; // room word received\n\nfor (i = 0; i < msgdata.length; i++) // look for word up\n    { \n    if (msgdata[i] == \"up\")\n        {\n        source_select = 1;\n        source = \"channel up selected\";\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for word down\n    { \n    if (msgdata[i] == \"down\")\n        {\n        source_select = 1;\n        source = \"channel down selected\";\n        }\n    }\n\nif (source_select == 1)\n    {\n    node.send ({payload:source});    \n    }\nreturn [null];","outputs":"1","noerr":0,"x":1320,"y":1920,"wires":[["e7a45ec3.05f65"]]},{"id":"e7a45ec3.05f65","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":1550,"y":1920,"wires":[]},{"id":"5fbedfec.ac5d","type":"debug","z":"d720ad09.1c356","name":"","active":false,"console":"false","complete":"false","x":1290,"y":1880,"wires":[]},{"id":"d6d239cd.a4f9e8","type":"inject","z":"d720ad09.1c356","name":"Up","topic":"","payload":"menu up now","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1460,"wires":[["55e7c0af.8404c"]]},{"id":"24fe2963.f1a236","type":"inject","z":"d720ad09.1c356","name":"Down","topic":"","payload":"menu now down","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1500,"wires":[["55e7c0af.8404c"]]},{"id":"e728c2cb.ec75d","type":"inject","z":"d720ad09.1c356","name":"Left","topic":"","payload":"menu now left","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1540,"wires":[["55e7c0af.8404c"]]},{"id":"882b677c.dbc6f8","type":"inject","z":"d720ad09.1c356","name":"Right","topic":"","payload":"right menu now","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1580,"wires":[["55e7c0af.8404c"]]},{"id":"45ffbcc6.79b414","type":"inject","z":"d720ad09.1c356","name":"Red","topic":"","payload":"red menu now","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1700,"wires":[["55e7c0af.8404c"]]},{"id":"5c55d0c2.c6abe","type":"inject","z":"d720ad09.1c356","name":"Green","topic":"","payload":"menu now green","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1740,"wires":[["55e7c0af.8404c"]]},{"id":"b70ce25.8bed12","type":"inject","z":"d720ad09.1c356","name":"Yellow","topic":"","payload":"menu now yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1780,"wires":[["55e7c0af.8404c"]]},{"id":"9e3d14d5.df0398","type":"inject","z":"d720ad09.1c356","name":"Blue","topic":"","payload":"menu now blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1820,"wires":[["55e7c0af.8404c"]]},{"id":"302172e6.745abe","type":"function","z":"d720ad09.1c356","name":"Search for Power Word","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nfor (i = 0; i < msgdata.length; i++) // look for word power\n    { \n    if (msgdata[i] == \"power\")\n        {\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":990,"y":360,"wires":[["584a4244.956dfc","39fbc1fc.6d87de"]]},{"id":"584a4244.956dfc","type":"function","z":"d720ad09.1c356","name":"Search for Power controls","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar source = {}; // soruce selection\nvar source_select = 0; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word on\n    { \n    if (msgdata[i] == \"on\")\n        {\n        source_select = 1;\n        source = \"power on selected\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word off\n    { \n    if (msgdata[i] == \"off\")\n        {\n        source_select = 1;\n        source = \"power off selected\";\n        }\n    }\n\nif (source_select == 1)\n    {\n    node.send ({payload:source});    \n    }\nreturn [null];","outputs":"1","noerr":0,"x":1250,"y":360,"wires":[["97ef0ede.bf91e"]]},{"id":"97ef0ede.bf91e","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":1450,"y":320,"wires":[]},{"id":"39fbc1fc.6d87de","type":"debug","z":"d720ad09.1c356","name":"","active":true,"console":"false","complete":"false","x":1210,"y":320,"wires":[]},{"id":"3d0252cf.96991e","type":"inject","z":"d720ad09.1c356","name":"Power On","topic":"","payload":"power now on","payloadType":"str","repeat":"","crontab":"","once":false,"x":760,"y":320,"wires":[["302172e6.745abe"]]},{"id":"e9a0b534.575048","type":"inject","z":"d720ad09.1c356","name":"Power Off","topic":"","payload":"now off power please","payloadType":"str","repeat":"","crontab":"","once":false,"x":760,"y":360,"wires":[["302172e6.745abe"]]},{"id":"465f4b1.6cdf8b4","type":"inject","z":"d720ad09.1c356","name":"Menu","topic":"","payload":"menu control now","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1340,"wires":[["1be08d32.15bc13"]]},{"id":"c7d18c39.7ffd9","type":"inject","z":"d720ad09.1c356","name":"Planner","topic":"","payload":"planner menu now","payloadType":"str","repeat":"","crontab":"","once":false,"x":770,"y":1620,"wires":[["55e7c0af.8404c"]]},{"id":"8a4510ad.bf928","type":"inject","z":"d720ad09.1c356","name":"TV Guide","topic":"","payload":"tv guide now menu","payloadType":"str","repeat":"","crontab":"","once":false,"x":775,"y":1660,"wires":[["55e7c0af.8404c"]]}]