Github Repo/Node Red Code/Pi Zero Backup Node Flows/Test Area 12 Sept 2017.txt
[{"id":"a1fdcde.634993","type":"debug","z":"4d74d07a.faf33","name":"","active":false,"console":"false","complete":"false","x":370.01861572265625,"y":108.58631134033203,"wires":[]},{"id":"62ae2bc5.e0c904","type":"change","z":"4d74d07a.faf33","name":"Samsung TV Controls","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":154.3043327331543,"y":168.58630561828613,"wires":[["7b7e503a.e3cb9","a1fdcde.634993"]]},{"id":"7b7e503a.e3cb9","type":"samsung-tv-send","z":"4d74d07a.faf33","device":"6a62c5a1.5640fc","name":"Lounge Room TV","key":"","x":390.01861572265625,"y":168.58631134033203,"wires":[]},{"id":"352d3509.193f1a","type":"link in","z":"4d74d07a.faf33","name":"Send Yahoo Weather Data to AMX - 4054","links":["6246c92b.4def08"],"x":124.30432891845703,"y":230.014892578125,"wires":[["826cb12c.ca6ac","ce98b74f.736f28"]]},{"id":"ce98b74f.736f28","type":"tcp out","z":"4d74d07a.faf33","host":"192.168.1.150","port":"4054","beserver":"client","base64":false,"end":false,"name":"Send - Yahoo Data to AMX","x":455.7328736782074,"y":284.7769203186035,"wires":[]},{"id":"826cb12c.ca6ac","type":"debug","z":"4d74d07a.faf33","name":"","active":false,"console":"false","complete":"payload","x":344.2091042995453,"y":218.30067443847656,"wires":[]},{"id":"ce4a6d48.cfc28","type":"tcp in","z":"4d74d07a.faf33","name":"Yahoo Weather Request from AMX","server":"client","host":"192.168.1.150","port":"4058","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":255.73289489746094,"y":344.30059814453125,"wires":[[]]},{"id":"2accf3a.491190c","type":"function","z":"4d74d07a.faf33","name":"Create_Onkyo_Message_Payload","func":"var onkyo_msg = msg.payload;\n// count the length of the string\nvar onkyo_msg_len = msg.payload.length;\nonkyo_msg_len = onkyo_msg_len + 3;\n//node.send ({payload:onkyo_msg_len});\n\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x09,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send ({payload:[73,83,67,80,0,0,0,16,0,0,0,24,1,0,0,0,33,49,83,76,73,50,51,13]});\n//!xECNQSTN\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x0b,0x01,0x00,0x00,0x00,'!xECNQSTN',0x0d,0x0a]});\n//node.send({payload:['ISCP',' ',onkyo_msg_len,' ',onkyo_msg]});\nnode.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,length of string 0x0c,0x01,0x00,0x00,0x00,onkyo_msg,0x0d,0x0a]});\n//!1AMT01\n//'ISCP',$00,$00,$00,$10,$00,$00,$00,$0C,$01,$00,$00,$00,'!1PWR01', $0d\"\nreturn null;\n//return (\"ISCP\");\n//,0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a);\n//SLI05 = 09\n//MVLDOWN = 0b\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\9\\1\\0\\0\\0 !1AMT01\\r\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0  !1MVLDOWN1\\r\n\n// sending absolute volume values\n//  Scripting.SendMessage(ISCP0001600091000!1MVL0 .. hex .. 1310)\n\n//!xECNQSTN\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1NTCRIGHT\\13\\10\")\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1OSDRIGHT\\13\\10\")\n// SOURCE_CD: 73;83;67;80;0;0;0;16;0;0;0;24;1;0;0;0;33;49;83;76;73;50;51;13","outputs":1,"noerr":0,"x":691.4472045898438,"y":104.30059814453125,"wires":[[]]},{"id":"d061fb8e.77e208","type":"debug","z":"4d74d07a.faf33","name":"","active":false,"console":"false","complete":"payload","x":906.428596496582,"y":415.7291564941406,"wires":[]},{"id":"d119028f.b9c3","type":"change","z":"4d74d07a.faf33","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.chill","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":656.4285736083984,"y":430.58629417419434,"wires":[["d061fb8e.77e208"]]},{"id":"6ee608cd.424728","type":"json","z":"4d74d07a.faf33","name":"","x":482.14289474487305,"y":424.01487159729004,"wires":[["d119028f.b9c3"]]},{"id":"31fa4a8e.ee4256","type":"http request","z":"4d74d07a.faf33","name":"","method":"GET","ret":"txt","url":"https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22dandenong%2C%20au%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys","tls":"","x":306.42862701416016,"y":425.15771865844727,"wires":[["6ee608cd.424728"]]},{"id":"1ebef544.25dacb","type":"inject","z":"4d74d07a.faf33","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140.71429443359375,"y":426.3005847930908,"wires":[["31fa4a8e.ee4256"]]},{"id":"561a090c.dc5bf8","type":"ui_template","z":"4d74d07a.faf33","group":"6ca24075.ee74f","name":"Test","order":0,"width":0,"height":0,"format":"<div flex layout=\"row\" layout-align=\"space-around center\">\n    <md-button ng-repeat=\"b in buttons\" class=\"md-icon-button\" ng-click=\"click(b)\">\n        <ng-md-icon icon=\"{{msg.payload[b.payload]?b.icon2:b.icon}}\"\n                    ng-style=\"{color: msg.payload[b.payload]?b.color2:b.color}\"></ng-md-icon>\n    </md-button>\n</div>\n\n<script>\n    scope.buttons = [{\n        icon: 'pause', color: 'black',\n        icon2: 'play_arrow', color2: 'red',\n        payload: 'play',\n    }, {\n        icon: 'alarm', color: 'black',\n        icon2: 'alarm', color2: 'red',\n        payload: 'alarm',\n    }];\n    \n    scope.click = function(b) {\n        if (!this.msg) this.msg = {};\n        if (!this.msg.payload) this.msg.payload = {};\n        this.msg.payload[b.payload] = !this.msg.payload[b.payload];\n        this.send(this.msg);\n    }.bind(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1002.444465637207,"y":185.77776908874512,"wires":[[]]},{"id":"6a62c5a1.5640fc","type":"samsung-tv","z":"","name":"Lounge Room TV","address":"192.168.1.62"},{"id":"6ca24075.ee74f","type":"ui_group","z":"","name":"Colour Buttons","tab":"e205a4e8.487388","disp":true,"width":"6"},{"id":"e205a4e8.487388","type":"ui_tab","z":"","name":"testing","icon":"dashboard"}]