Github Repo/Node Red Code/Pi Zero Backup Node Flows/Weather Forecast 14 Sept 2017.txt
[{"id":"21b48ce8.e35564","type":"link in","z":"6c7fc3af.e61e3c","name":"Yahoo Weather Data","links":["2d548197.b6f69e"],"x":255,"y":40,"wires":[["b3bfff77.06eb5","817c030d.4ae5b","e2f30d34.3c7df","71ad546.597a8ac","29310611.9be81a","5e9ff12d.56483","149dcace.47b2e5","b10da0c8.374a9","f68b345d.22e528","d90436da.5dfc28","7ea0c533.f1256c","edf0874f.70c508","be94504.153e4b","5cc8d333.cde34c","7eac361e.dc3db8","b5b67ad1.1cd9d8","ee17c67c.31a588","1b70aa52.5d7a36","789db6eb.03e448","1c50248a.03215b","f59a2dbc.c8a73"]]},{"id":"b3bfff77.06eb5","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["cae8bc8f.905d3"]]},{"id":"cae8bc8f.905d3","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":2,"width":"3","height":"1","name":"Forecast Day 1","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":700,"y":80,"wires":[]},{"id":"817c030d.4ae5b","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 1 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[["d843d5f.de9b028"]]},{"id":"d843d5f.de9b028","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":4,"width":"3","height":"1","name":"Forecast Day 1 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":120,"wires":[]},{"id":"e2f30d34.3c7df","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 1 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["4d8a9b12.fc11b4"]]},{"id":"4d8a9b12.fc11b4","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":5,"width":"3","height":"1","name":"Forecast Day 1 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":160,"wires":[]},{"id":"71ad546.597a8ac","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 1 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[["6b4fec58.cfded4"]]},{"id":"6b4fec58.cfded4","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":3,"width":"5","height":"1","name":"Forecast Day 1 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":730,"y":200,"wires":[]},{"id":"29310611.9be81a","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["1c846649.16d7ca"]]},{"id":"1c846649.16d7ca","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":6,"width":"3","height":"1","name":"Forecast Day 2","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":700,"y":240,"wires":[]},{"id":"5e9ff12d.56483","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 2 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["8c420ce3.76c96"]]},{"id":"8c420ce3.76c96","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":8,"width":"3","height":"1","name":"Forecast Day 2 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":280,"wires":[]},{"id":"149dcace.47b2e5","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 2 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["1bc9651c.990feb"]]},{"id":"1bc9651c.990feb","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":9,"width":"3","height":"1","name":"Forecast Day 2 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":320,"wires":[]},{"id":"6abfa5be.a8e4dc","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":7,"width":"5","height":"1","name":"Forecast Day 2 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":730,"y":360,"wires":[]},{"id":"b10da0c8.374a9","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 2 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[["6abfa5be.a8e4dc"]]},{"id":"f68b345d.22e528","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["45a0a09e.d7c26"]]},{"id":"d90436da.5dfc28","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 3 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["eec6e8e9.2cc3f8"]]},{"id":"7ea0c533.f1256c","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 3 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":480,"wires":[["8dd681c1.eddbf"]]},{"id":"edf0874f.70c508","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 3 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":520,"wires":[["170b972d.237029"]]},{"id":"45a0a09e.d7c26","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":10,"width":"3","height":"1","name":"Forecast Day 3","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":700,"y":400,"wires":[]},{"id":"eec6e8e9.2cc3f8","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":12,"width":"3","height":"1","name":"Forecast Day 3 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":440,"wires":[]},{"id":"8dd681c1.eddbf","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":13,"width":"3","height":"1","name":"Forecast Day 3 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":480,"wires":[]},{"id":"170b972d.237029","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":11,"width":"5","height":"1","name":"Forecast Day 3 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":730,"y":520,"wires":[]},{"id":"be94504.153e4b","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[["75ff588c.31f508"]]},{"id":"5cc8d333.cde34c","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 4 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[["c689add7.c183c"]]},{"id":"7eac361e.dc3db8","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 4 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":640,"wires":[["f1ee654c.05b688"]]},{"id":"b5b67ad1.1cd9d8","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 4 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":680,"wires":[["a2efc2ec.eb79c"]]},{"id":"75ff588c.31f508","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":14,"width":"3","height":"1","name":"Forecast Day 4","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":700,"y":560,"wires":[]},{"id":"c689add7.c183c","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":16,"width":"3","height":"1","name":"Forecast Day 4 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":600,"wires":[]},{"id":"f1ee654c.05b688","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":17,"width":"3","height":"1","name":"Forecast Day 4 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":640,"wires":[]},{"id":"a2efc2ec.eb79c","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":15,"width":"5","height":"1","name":"Forecast Day 4 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":730,"y":680,"wires":[]},{"id":"ee17c67c.31a588","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":720,"wires":[["67224b3.b18d2b4"]]},{"id":"1b70aa52.5d7a36","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 5 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":760,"wires":[["22d8fb81.4547f4"]]},{"id":"789db6eb.03e448","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 5 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":800,"wires":[["c9a5b266.35d49"]]},{"id":"1c50248a.03215b","type":"change","z":"6c7fc3af.e61e3c","name":"Forecast Day 4 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":840,"wires":[["be3189d2.7fa958"]]},{"id":"67224b3.b18d2b4","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":18,"width":"3","height":"1","name":"Forecast Day 5","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":700,"y":720,"wires":[]},{"id":"22d8fb81.4547f4","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":20,"width":"3","height":"1","name":"Forecast Day 5 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":760,"wires":[]},{"id":"c9a5b266.35d49","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":21,"width":"3","height":"1","name":"Forecast Day 5 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":800,"wires":[]},{"id":"be3189d2.7fa958","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":19,"width":"5","height":"1","name":"Forecast Day 5 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":730,"y":840,"wires":[]},{"id":"b57fdbb6.778ac8","type":"comment","z":"6c7fc3af.e61e3c","name":"Sample code","info":"https://developer.yahoo.com/weather/#python","x":1110,"y":60,"wires":[]},{"id":"ad425349.56e7d","type":"comment","z":"6c7fc3af.e61e3c","name":"return string","info":"{\n \"query\": {\n  \"count\": 1,\n  \"created\": \"2017-09-02T09:52:39Z\",\n  \"lang\": \"en-GB\",\n  \"results\": {\n   \"channel\": {\n    \"units\": {\n     \"distance\": \"mi\",\n     \"pressure\": \"in\",\n     \"speed\": \"mph\",\n     \"temperature\": \"F\"\n    },\n    \"title\": \"Yahoo! Weather - Melbourne, VIC, AU\",\n    \"link\": \"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-1103816/\",\n    \"description\": \"Yahoo! Weather for Melbourne, VIC, AU\",\n    \"language\": \"en-us\",\n    \"lastBuildDate\": \"Sat, 02 Sep 2017 07:52 PM AEST\",\n    \"ttl\": \"60\",\n    \"location\": {\n     \"city\": \"Melbourne\",\n     \"country\": \"Australia\",\n     \"region\": \" VIC\"\n    },\n    \"wind\": {\n     \"chill\": \"54\",\n     \"direction\": \"23\",\n     \"speed\": \"25\"\n    },\n    \"atmosphere\": {\n     \"humidity\": \"64\",\n     \"pressure\": \"1006.0\",\n     \"rising\": \"0\",\n     \"visibility\": \"16.1\"\n    },\n    \"astronomy\": {\n     \"sunrise\": \"6:39 am\",\n     \"sunset\": \"5:59 pm\"\n    },\n    \"image\": {\n     \"title\": \"Yahoo! Weather\",\n     \"width\": \"142\",\n     \"height\": \"18\",\n     \"link\": \"http://weather.yahoo.com\",\n     \"url\": \"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif\"\n    },\n    \"item\": {\n     \"title\": \"Conditions for Melbourne, VIC, AU at 07:00 PM AEST\",\n     \"lat\": \"-37.865799\",\n     \"long\": \"145.102829\",\n     \"link\": \"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-1103816/\",\n     \"pubDate\": \"Sat, 02 Sep 2017 07:00 PM AEST\",\n     \"condition\": {\n      \"code\": \"23\",\n      \"date\": \"Sat, 02 Sep 2017 07:00 PM AEST\",\n      \"temp\": \"57\",\n      \"text\": \"Breezy\"\n     },\n     \"forecast\": [\n      {\n       \"code\": \"28\",\n       \"date\": \"02 Sep 2017\",\n       \"day\": \"Sat\",\n       \"high\": \"62\",\n       \"low\": \"49\",\n       \"text\": \"Mostly Cloudy\"\n      },\n      {\n       \"code\": \"39\",\n       \"date\": \"03 Sep 2017\",\n       \"day\": \"Sun\",\n       \"high\": \"60\",\n       \"low\": \"50\",\n       \"text\": \"Scattered Showers\"\n      },\n      {\n       \"code\": \"23\",\n       \"date\": \"04 Sep 2017\",\n       \"day\": \"Mon\",\n       \"high\": \"52\",\n       \"low\": \"42\",\n       \"text\": \"Breezy\"\n      },\n      {\n       \"code\": \"12\",\n       \"date\": \"05 Sep 2017\",\n       \"day\": \"Tue\",\n       \"high\": \"51\",\n       \"low\": \"40\",\n       \"text\": \"Rain\"\n      },\n      {\n       \"code\": \"39\",\n       \"date\": \"06 Sep 2017\",\n       \"day\": \"Wed\",\n       \"high\": \"53\",\n       \"low\": \"44\",\n       \"text\": \"Scattered Showers\"\n      },\n      {\n       \"code\": \"28\",\n       \"date\": \"07 Sep 2017\",\n       \"day\": \"Thu\",\n       \"high\": \"56\",\n       \"low\": \"46\",\n       \"text\": \"Mostly Cloudy\"\n      },\n      {\n       \"code\": \"11\",\n       \"date\": \"08 Sep 2017\",\n       \"day\": \"Fri\",\n       \"high\": \"55\",\n       \"low\": \"43\",\n       \"text\": \"Showers\"\n      },\n      {\n       \"code\": \"39\",\n       \"date\": \"09 Sep 2017\",\n       \"day\": \"Sat\",\n       \"high\": \"51\",\n       \"low\": \"43\",\n       \"text\": \"Scattered Showers\"\n      },\n      {\n       \"code\": \"28\",\n       \"date\": \"10 Sep 2017\",\n       \"day\": \"Sun\",\n       \"high\": \"53\",\n       \"low\": \"42\",\n       \"text\": \"Mostly Cloudy\"\n      },\n      {\n       \"code\": \"28\",\n       \"date\": \"11 Sep 2017\",\n       \"day\": \"Mon\",\n       \"high\": \"55\",\n       \"low\": \"38\",\n       \"text\": \"Mostly Cloudy\"\n      }\n     ],\n     \"description\": \"<![CDATA[<img src=\\\"http://l.yimg.com/a/i/us/we/52/23.gif\\\"/>\\n<BR />\\n<b>Current Conditions:</b>\\n<BR />Breezy\\n<BR />\\n<BR />\\n<b>Forecast:</b>\\n<BR /> Sat - Mostly Cloudy. High: 62Low: 49\\n<BR /> Sun - Scattered Showers. High: 60Low: 50\\n<BR /> Mon - Breezy. High: 52Low: 42\\n<BR /> Tue - Rain. High: 51Low: 40\\n<BR /> Wed - Scattered Showers. High: 53Low: 44\\n<BR />\\n<BR />\\n<a href=\\\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-1103816/\\\">Full Forecast at Yahoo! Weather</a>\\n<BR />\\n<BR />\\n<BR />\\n]]>\",\n     \"guid\": {\n      \"isPermaLink\": \"false\"\n     }\n    }\n   }\n  }\n }\n}","x":1270,"y":60,"wires":[]},{"id":"f59a2dbc.c8a73","type":"change","z":"6c7fc3af.e61e3c","name":"Location","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.location.city","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":40,"wires":[["79aa818a.85938"]]},{"id":"79aa818a.85938","type":"ui_text","z":"6c7fc3af.e61e3c","group":"dffff71a.1a4e38","order":1,"width":"14","height":"1","name":"Forecast Location","label":"Location - ","format":"{{msg.payload}}","layout":"row-center","x":710,"y":40,"wires":[]},{"id":"dffff71a.1a4e38","type":"ui_group","z":"","name":"Yahoo Weather Forecast","tab":"2d602d9b.372922","order":4,"disp":true,"width":"15"},{"id":"2d602d9b.372922","type":"ui_tab","z":"","name":"Yahoo Weather","icon":"dashboard","order":12}]