Github Repo/Node Red Code/Pi Zero Backup Node Flows/Yahoo Weather Data 14 Sept 2017.txt
[{"id":"6f406334.9ab3dc","type":"file","z":"531b71aa.d80bd","name":"Capture File","filename":"Dandenong Weather Capture.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1150,"y":260,"wires":[]},{"id":"e04efdcc.0857d","type":"change","z":"531b71aa.d80bd","name":"Convert Query","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["e79fcc8c.510b8"]]},{"id":"14e4d6c2.e5e0e9","type":"function","z":"531b71aa.d80bd","name":"Select City","func":"msg = msg.payload;\nvar newMsg;\n//and u='c'\"\n//select * from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"jiangmen,cn\") and u=\"c\"\n\nnewMsg = 'select * from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"'+msg+',au\") and u=\"c\"';\nnode.send ({payload:[newMsg]});\nreturn null;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["e04efdcc.0857d"]]},{"id":"e79fcc8c.510b8","type":"http request","z":"531b71aa.d80bd","name":"","method":"GET","ret":"txt","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","x":910,"y":260,"wires":[["6f406334.9ab3dc","2eedff33.25fe6"]]},{"id":"5ea85323.68438c","type":"inject","z":"531b71aa.d80bd","name":"Dandenong","topic":"","payload":"dandenong","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":260,"wires":[["a9890335.33d9e"]]},{"id":"8b3535cc.b2cf88","type":"inject","z":"531b71aa.d80bd","name":"Sydney","topic":"","payload":"sydney","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":300,"wires":[["8a3f6a4d.e1ff18"]]},{"id":"3000cf17.bcd57","type":"file in","z":"531b71aa.d80bd","name":"Yahoo Weather capture","filename":"Dandenong Weather Capture.txt","format":"utf8","x":350,"y":580,"wires":[["2eedff33.25fe6"]]},{"id":"af7691a2.2c16a","type":"inject","z":"531b71aa.d80bd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":580,"wires":[["3000cf17.bcd57"]]},{"id":"407c3e26.a892f","type":"change","z":"531b71aa.d80bd","name":"Wind Chill","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.chill","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":460,"wires":[["b0084094.a12c9"]]},{"id":"298e4cc.719a2b4","type":"change","z":"531b71aa.d80bd","name":"Direction","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.direction","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":500,"wires":[["61f489d0.d0c978"]]},{"id":"dc4af812.a93f68","type":"change","z":"531b71aa.d80bd","name":"Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":540,"wires":[["36017c04.bab984"]]},{"id":"61f489d0.d0c978","type":"ui_gauge","z":"531b71aa.d80bd","name":"Wind Direction","group":"4cae4070.2c918","order":2,"width":"3","height":"2","gtype":"compass","title":"Wind Direction","label":"Degrees","format":"{{value}}","min":"1","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":500,"wires":[]},{"id":"b0084094.a12c9","type":"ui_gauge","z":"531b71aa.d80bd","name":"Wind Chill","group":"4cae4070.2c918","order":5,"width":"3","height":"2","gtype":"gage","title":"Wind Chill","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":460,"wires":[]},{"id":"36017c04.bab984","type":"ui_gauge","z":"531b71aa.d80bd","name":"Wind Speed","group":"4cae4070.2c918","order":3,"width":"3","height":"2","gtype":"gage","title":"Wind Speed","label":"kph","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1410,"y":540,"wires":[]},{"id":"39d996d7.c62bda","type":"change","z":"531b71aa.d80bd","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":580,"wires":[["5773fd1c.9d2044"]]},{"id":"4c871433.d5dd5c","type":"change","z":"531b71aa.d80bd","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":620,"wires":[["976e8d58.1d3f"]]},{"id":"e4f04a09.4a8528","type":"change","z":"531b71aa.d80bd","name":"Rising","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.rising","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[["75491ac.fff62e4"]]},{"id":"5773fd1c.9d2044","type":"ui_gauge","z":"531b71aa.d80bd","name":"Humidity","group":"4cae4070.2c918","order":4,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"Degrees","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":580,"wires":[]},{"id":"75491ac.fff62e4","type":"function","z":"531b71aa.d80bd","name":"Rise and Fall","func":"var msg = msg.payload;\nvar newMsg;\nif (msg == \"0\")\n    {\n    newMsg = \"Steady\";\n    node.send ({payload:newMsg});   \n    }\nif (msg == \"1\")\n    {\n    newMsg = \"Rising\";\n    node.send ({payload:newMsg});   \n    }\nif (msg == \"2\")\n    {\n    newMsg = \"Falling\";\n    node.send ({payload:newMsg});   \n    }\nreturn null;","outputs":1,"noerr":0,"x":1220,"y":660,"wires":[["46008025.0e026"]]},{"id":"46008025.0e026","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":2,"width":"2","height":"1","name":"Pressure Rise / Fall","label":"Current Pressure","format":"{{msg.payload}}","layout":"col-center","x":1430,"y":660,"wires":[]},{"id":"9076a18.b9a8d6","type":"change","z":"531b71aa.d80bd","name":"Visibilty","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.visibility","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":700,"wires":[["34534068.9c5fe"]]},{"id":"dba89c4c.69be4","type":"change","z":"531b71aa.d80bd","name":"Sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.astronomy.sunrise","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":740,"wires":[["3e236816.0853a8"]]},{"id":"478cbe43.b8be","type":"change","z":"531b71aa.d80bd","name":"Sunset","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.astronomy.sunset","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":780,"wires":[["d7db8580.3a8438"]]},{"id":"d7db8580.3a8438","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":3,"width":"2","height":"1","name":"Sunset","label":"Sunset","format":"{{msg.payload}}","layout":"col-center","x":1390,"y":780,"wires":[]},{"id":"3e236816.0853a8","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":4,"width":"2","height":"1","name":"Sunrise","label":"Sunrise","format":"{{msg.payload}}","layout":"col-center","x":1400,"y":740,"wires":[]},{"id":"6da6e5d4.df1ddc","type":"change","z":"531b71aa.d80bd","name":"Current Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.condition.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":860,"wires":[["dbcde897.edb128","9e42f465.389b98"]]},{"id":"dbcde897.edb128","type":"ui_gauge","z":"531b71aa.d80bd","name":"Current Temp","group":"4cae4070.2c918","order":1,"width":"3","height":"2","gtype":"gage","title":"Current Temp","label":"degrees","format":"{{value}}","min":"-10","max":"50","colors":["#0080c0","#00b500","#ca3838"],"seg1":"16","seg2":"23","x":1410,"y":860,"wires":[]},{"id":"58124c91.f667b4","type":"change","z":"531b71aa.d80bd","name":"Current Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.condition.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":820,"wires":[["b6bb53ec.a5026"]]},{"id":"b6bb53ec.a5026","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":6,"width":"2","height":"1","name":"Current Condition","label":"Condition","format":"{{msg.payload}}","layout":"col-center","x":1430,"y":820,"wires":[]},{"id":"2d548197.b6f69e","type":"link out","z":"531b71aa.d80bd","name":"Yahoo Weather Forecast Data","links":["21b48ce8.e35564"],"x":975,"y":380,"wires":[]},{"id":"a9890335.33d9e","type":"ui_button","z":"531b71aa.d80bd","name":"Dandenong","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Dandenong","color":"","bgcolor":"","icon":"","payload":"dandenong","payloadType":"str","topic":"","x":310,"y":260,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"8a3f6a4d.e1ff18","type":"ui_button","z":"531b71aa.d80bd","name":"Sydney","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Sydney","color":"","bgcolor":"","icon":"","payload":"sydney","payloadType":"str","topic":"","x":300,"y":300,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"eeab56ec.513698","type":"ui_button","z":"531b71aa.d80bd","name":"Canberra","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Canberra","color":"","bgcolor":"","icon":"","payload":"Canberra","payloadType":"str","topic":"","x":300,"y":340,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"2faca933.e96cb6","type":"ui_button","z":"531b71aa.d80bd","name":"Adelaide","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Adelaide","color":"","bgcolor":"","icon":"","payload":"adelaide","payloadType":"str","topic":"","x":300,"y":380,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"abe34b7e.f67eb8","type":"ui_button","z":"531b71aa.d80bd","name":"Perth","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Perth","color":"","bgcolor":"","icon":"","payload":"perth","payloadType":"str","topic":"","x":290,"y":420,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"f1a83209.7bc18","type":"ui_button","z":"531b71aa.d80bd","name":"Brisbane","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Brisbane","color":"","bgcolor":"","icon":"","payload":"brisbane","payloadType":"str","topic":"","x":300,"y":460,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"ee85abdc.d2f448","type":"ui_button","z":"531b71aa.d80bd","name":"Darwin","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Darwin","color":"","bgcolor":"","icon":"","payload":"darwin","payloadType":"str","topic":"","x":300,"y":500,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"c600fc03.2b3d5","type":"ui_button","z":"531b71aa.d80bd","name":"Cairns","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Cairns","color":"","bgcolor":"","icon":"","payload":"carins","payloadType":"str","topic":"","x":290,"y":540,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"7af76d08.a267c4","type":"inject","z":"531b71aa.d80bd","name":"Canberra","topic":"","payload":"canberra","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":340,"wires":[["eeab56ec.513698"]]},{"id":"25fb8c75.66bfd4","type":"inject","z":"531b71aa.d80bd","name":"Adelaide","topic":"","payload":"adelaide","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":380,"wires":[["2faca933.e96cb6"]]},{"id":"2e698a4c.6dd156","type":"inject","z":"531b71aa.d80bd","name":"Perth","topic":"","payload":"perth","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":420,"wires":[["abe34b7e.f67eb8"]]},{"id":"4213899.0da9678","type":"inject","z":"531b71aa.d80bd","name":"Brisbane","topic":"","payload":"brisbane","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":460,"wires":[["f1a83209.7bc18"]]},{"id":"5b13ada0.b72704","type":"inject","z":"531b71aa.d80bd","name":"Darwin","topic":"","payload":"darwin","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":500,"wires":[["ee85abdc.d2f448"]]},{"id":"70b1c53a.562cac","type":"inject","z":"531b71aa.d80bd","name":"Ciarns","topic":"","payload":"cairns","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":540,"wires":[["c600fc03.2b3d5"]]},{"id":"34534068.9c5fe","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":5,"width":"2","height":"1","name":"Visibility","label":"Visibility ","format":"{{msg.payload}}kms","layout":"col-center","x":1400,"y":700,"wires":[]},{"id":"976e8d58.1d3f","type":"function","z":"531b71aa.d80bd","name":"Convert to Miilbars","func":"var msg = msg.payload;\nvar newMsg = msg * 0.02953;\nnode.send ({payload:newMsg});   \nreturn null;","outputs":1,"noerr":0,"x":1230,"y":620,"wires":[["b9da4e12.6980d"]]},{"id":"b9da4e12.6980d","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":1,"width":"2","height":"1","name":"Pressure","label":"Pressure","format":"{{msg.payload.toFixed(0)}}kpa","layout":"col-center","x":1400,"y":620,"wires":[]},{"id":"95301c6.0cccde","type":"link in","z":"531b71aa.d80bd","name":"From AMX - Yahoo Weather request","links":["25ff3050.5d7"],"x":328.9920582771301,"y":116.34127521514893,"wires":[["322a30dc.cf0f5"]]},{"id":"6246c92b.4def08","type":"link out","z":"531b71aa.d80bd","name":"Received Data from Yahoo","links":["5a192d4d.732b24","9eae1330.feb3b","352d3509.193f1a"],"x":975,"y":340,"wires":[]},{"id":"322a30dc.cf0f5","type":"debug","z":"531b71aa.d80bd","name":"","active":false,"console":"false","complete":"false","x":674.0714111328125,"y":115.75002002716064,"wires":[]},{"id":"9e42f465.389b98","type":"link out","z":"531b71aa.d80bd","name":"From Weather Station","links":["2943059a.6af58a"],"x":1175,"y":880,"wires":[]},{"id":"b782061e.58ea88","type":"function","z":"531b71aa.d80bd","name":"Say Current Temperature","func":"var newLocation = msg.payload.query.results.channel.location.city;\nvar newTemp = msg.payload.query.results.channel.item.condition.temp;\n\nvar newMsg = {};\nnewMsg = \"Current Temperature is  \" + newTemp + \" Degrees in \" + newLocation;\nnode.send ({payload:newMsg});\nreturn null;\n\n\n\n//msg.payload.query.results.channel.item.condition.temp\n//msg.payload.query.results.channel.location.city","outputs":1,"noerr":0,"x":1010,"y":980,"wires":[["5a91790e.6c4ab8"]]},{"id":"5a91790e.6c4ab8","type":"link out","z":"531b71aa.d80bd","name":"From Yahoo Weather","links":["ec902402.46e358"],"x":1195,"y":980,"wires":[]},{"id":"673a554.91c40ac","type":"change","z":"531b71aa.d80bd","name":"Location and Current Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.location.city","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"msg.payload.query.results.channel.item.condition.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":940,"wires":[[]]},{"id":"2eedff33.25fe6","type":"json","z":"531b71aa.d80bd","name":"","x":790,"y":380,"wires":[["6246c92b.4def08","2d548197.b6f69e","407c3e26.a892f","298e4cc.719a2b4","dc4af812.a93f68","39d996d7.c62bda","4c871433.d5dd5c","e4f04a09.4a8528","9076a18.b9a8d6","dba89c4c.69be4","478cbe43.b8be","58124c91.f667b4","6da6e5d4.df1ddc","b782061e.58ea88","673a554.91c40ac"]]},{"id":"4a6375a0.26d1bc","type":"change","z":"531b71aa.d80bd","name":"Visibilty","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.visibility","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":512,"y":712,"wires":[[]]},{"id":"4cae4070.2c918","type":"ui_group","z":"","name":"Yahoo Weather","tab":"2d602d9b.372922","order":2,"disp":true,"width":"3"},{"id":"fd9bffd6.811b5","type":"ui_group","z":"","name":"Yahoo Weather Conditions","tab":"2d602d9b.372922","order":3,"disp":true,"width":"4"},{"id":"cca54976.b50ae8","type":"ui_group","z":"","name":"City","tab":"2d602d9b.372922","order":1,"disp":true,"width":"2"},{"id":"2d602d9b.372922","type":"ui_tab","z":"","name":"Yahoo Weather","icon":"dashboard","order":12}]