Node Red/Node Red Code/Relay_Controller/Relay Control 1 Node.txt
[{"id":"7523c756.e14cd8","type":"rpi-gpio out","z":"839f7d64.ae5a6","name":"Relay 1 - pin 12","pin":"12","set":"","level":"0","out":"out","x":840,"y":40,"wires":[]},{"id":"5942d665.f25108","type":"inject","z":"839f7d64.ae5a6","name":"Relay 1 on (pin 12)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["c86bafed.f6cff"]]},{"id":"950ef9d8.3c6778","type":"inject","z":"839f7d64.ae5a6","name":"Relay 2 on (pin 13)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["7f3cfcb3.e2ccb4"]]},{"id":"7715d37f.c5da6c","type":"inject","z":"839f7d64.ae5a6","name":"Relay 3 on (pin 15)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":220,"wires":[["71feac4d.8f9694"]]},{"id":"409cbd74.9da684","type":"inject","z":"839f7d64.ae5a6","name":"Relay 4 on (pin 16)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":300,"wires":[["c7b9786f.c08bd8"]]},{"id":"a5a8ac1e.f8ce","type":"rpi-gpio out","z":"839f7d64.ae5a6","name":"Relay 2 - pin 13","pin":"13","set":"","level":"0","out":"out","x":840,"y":120,"wires":[]},{"id":"7f4b8721.474b18","type":"rpi-gpio out","z":"839f7d64.ae5a6","name":"Relay 3 - pin 15","pin":"15","set":"","level":"0","out":"out","x":840,"y":200,"wires":[]},{"id":"447f3ebb.f7a04","type":"rpi-gpio out","z":"839f7d64.ae5a6","name":"Relay 4 - pin 16","pin":"16","set":"","level":"0","out":"out","x":840,"y":280,"wires":[]},{"id":"fdb052ea.23982","type":"inject","z":"839f7d64.ae5a6","name":"Relay 1 off (pin 12)","topic":"false","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":159.49999618530273,"y":20.80000877380371,"wires":[["c86bafed.f6cff"]]},{"id":"d7cdc5f7.621b28","type":"function","z":"839f7d64.ae5a6","name":"Toggle Relay 1 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":"1","noerr":0,"x":620,"y":40,"wires":[["7523c756.e14cd8"]]},{"id":"42815973.550208","type":"inject","z":"839f7d64.ae5a6","name":"Relay 2 off (pin 13)","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["7f3cfcb3.e2ccb4"]]},{"id":"277cabda.04f0a4","type":"function","z":"839f7d64.ae5a6","name":"Toogle Relay 2 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["a5a8ac1e.f8ce"]]},{"id":"210b3574.f1083a","type":"inject","z":"839f7d64.ae5a6","name":"Relay 3 off (pin 15)","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":180,"wires":[["71feac4d.8f9694"]]},{"id":"6abace06.59b1e","type":"inject","z":"839f7d64.ae5a6","name":"Relay 4 off (pin 16)","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":260,"wires":[["c7b9786f.c08bd8"]]},{"id":"66ed0a3f.d6b944","type":"function","z":"839f7d64.ae5a6","name":"Toogle Relay 3 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["7f4b8721.474b18"]]},{"id":"7b9ca209.39eeac","type":"function","z":"839f7d64.ae5a6","name":"Toogle Relay 4 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["447f3ebb.f7a04"]]},{"id":"c86bafed.f6cff","type":"ui_switch","z":"839f7d64.ae5a6","name":"Toggle Relay 1 On/Off","label":"Relay 1","group":"f6670034.dd892","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":380,"y":40,"wires":[["d7cdc5f7.621b28"]]},{"id":"7f3cfcb3.e2ccb4","type":"ui_switch","z":"839f7d64.ae5a6","name":"Toggle Relay 2 On/Off","label":"Relay 2","group":"f6670034.dd892","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":380,"y":120,"wires":[["277cabda.04f0a4"]]},{"id":"71feac4d.8f9694","type":"ui_switch","z":"839f7d64.ae5a6","name":"Toggle Relay 3 On/Off","label":"Relay 3","group":"f6670034.dd892","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":380,"y":200,"wires":[["66ed0a3f.d6b944"]]},{"id":"c7b9786f.c08bd8","type":"ui_switch","z":"839f7d64.ae5a6","name":"Toggle Relay 4 On/Off","label":"Relay 4","group":"f6670034.dd892","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":380,"y":280,"wires":[["7b9ca209.39eeac"]]},{"id":"f6670034.dd892","type":"ui_group","z":"","name":"Output Button Pressed","tab":"44ab89c5.a6b408","disp":true,"width":"6"},{"id":"44ab89c5.a6b408","type":"ui_tab","z":"","name":"Relay Control","icon":"dashboard"}]