Node Red/Node Red Code/Pi Zero Backup Node Flows/7447 7 Segment Display 12 Sept 2017.txt
[{"id":"ab4192f8.88b11","type":"link in","z":"6f12d08b.63c32","name":"7447 - A Input","links":["8ff7e799.0091d8"],"x":259.33333110809326,"y":82.33333587646484,"wires":[["25434b2f.651a04"]]},{"id":"dab75287.36443","type":"link in","z":"6f12d08b.63c32","name":"7447 - B Input","links":["8a8b9c18.9ec16"],"x":262,"y":123,"wires":[["25434b2f.651a04"]]},{"id":"769db272.ac5fdc","type":"link in","z":"6f12d08b.63c32","name":"7447 - C Input","links":["2684cb32.c9c794"],"x":264.6666841506958,"y":161.00000095367432,"wires":[["25434b2f.651a04"]]},{"id":"222e6f07.b1368","type":"link in","z":"6f12d08b.63c32","name":"7447 - D Input","links":["72bf44d2.a4234c"],"x":258,"y":202,"wires":[["25434b2f.651a04"]]},{"id":"5b35af06.8d6db","type":"function","z":"6f12d08b.63c32","name":"7 Segment - Outputs","func":"var testData = msg.payload;\n\n// setup outputs\nvar msgSegA = { topic:\"7447\", payload:0 };\nvar msgSegB = { topic:\"7447\", payload:0 };\nvar msgSegC = { topic:\"7447\", payload:0 };\nvar msgSegD = { topic:\"7447\", payload:0 };\nvar msgSegE = { topic:\"7447\", payload:0 };\nvar msgSegF = { topic:\"7447\", payload:0 };\nvar msgSegG = { topic:\"7447\", payload:0 };\nif (testData === \"reset\") // reset\n    {\n    msgSegA = { payload:0 };\n    }\nif (testData === 0)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegE = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 1)\n    {\n    msgSegC = { payload:1 };\n    msgSegF = { payload:1 };\n    }\nif (testData === 2)\n    {\n    msgSegA = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 3)\n    {\n    msgSegA = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 4)\n    {\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegF = { payload:1 };\n    }\nif (testData === 5)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 6)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 7)\n    {\n    msgSegA = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegF = { payload:1 };\n    }\nif (testData === 8)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 9)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegF = { payload:1 };\n    }\n\nreturn [msgSegA, msgSegB, msgSegC, msgSegD, msgSegE, msgSegF, msgSegG];","outputs":"7","noerr":0,"x":881.8335113525391,"y":311.9999694824219,"wires":[["6597fc6.1733204"],["f4f3a79f.e71078"],["620a54ce.800ddc"],["9767af33.e04d"],["9e2b728b.09c85"],["13795f9d.c0654"],["a733a05e.fb0f1"]]},{"id":"ea1480df.7843e","type":"inject","z":"6f12d08b.63c32","name":"0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":165.16669464111328,"y":263.6666965484619,"wires":[["fa417c3c.a4f86"]]},{"id":"fa417c3c.a4f86","type":"change","z":"6f12d08b.63c32","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":601.8334426879883,"y":399.6667947769165,"wires":[["3c7516ce.b72a3a","e15dc68d.0b7758","453cef34.21425","5b35af06.8d6db"]]},{"id":"2d6e35ad.d910da","type":"inject","z":"6f12d08b.63c32","name":"1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":168.33333587646487,"y":308.3333276112875,"wires":[["fa417c3c.a4f86"]]},{"id":"45104c1f.bd8354","type":"inject","z":"6f12d08b.63c32","name":"2","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":168.33333587646487,"y":355.0000146230062,"wires":[["fa417c3c.a4f86"]]},{"id":"6b4f5e5a.19b58","type":"inject","z":"6f12d08b.63c32","name":"3","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":166.66667175292972,"y":396.6666787465414,"wires":[["fa417c3c.a4f86"]]},{"id":"a5d6d4fd.2e46d8","type":"inject","z":"6f12d08b.63c32","name":"4","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":166.66666412353518,"y":435.0000146230062,"wires":[["fa417c3c.a4f86"]]},{"id":"ed283ca0.ac50c","type":"inject","z":"6f12d08b.63c32","name":"5","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":161.66667938232425,"y":481.6666405995687,"wires":[["fa417c3c.a4f86"]]},{"id":"f6bad6e2.6066e8","type":"inject","z":"6f12d08b.63c32","name":"6","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"x":166.66666412353518,"y":530.0000146230062,"wires":[["fa417c3c.a4f86"]]},{"id":"58b07764.87f6c8","type":"inject","z":"6f12d08b.63c32","name":"7","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":166.66666412353518,"y":581.6666405995687,"wires":[["fa417c3c.a4f86"]]},{"id":"c0fd2cbc.9763a","type":"inject","z":"6f12d08b.63c32","name":"8","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":166.66666412353518,"y":629.99995358785,"wires":[["fa417c3c.a4f86"]]},{"id":"9433f19c.12896","type":"inject","z":"6f12d08b.63c32","name":"9","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":160.00000762939456,"y":683.3333276112875,"wires":[["fa417c3c.a4f86"]]},{"id":"3c7516ce.b72a3a","type":"debug","z":"6f12d08b.63c32","name":"","active":false,"console":"false","complete":"payload.data","x":870.5001805623374,"y":457.3333921432496,"wires":[]},{"id":"e15dc68d.0b7758","type":"debug","z":"6f12d08b.63c32","name":"","active":false,"console":"false","complete":"false","x":850.1668243408203,"y":415.000036239624,"wires":[]},{"id":"453cef34.21425","type":"debug","z":"6f12d08b.63c32","name":"","active":false,"console":"false","complete":"topic","x":843.5002339680991,"y":499.3333320617677,"wires":[]},{"id":"6597fc6.1733204","type":"debug","z":"6f12d08b.63c32","name":"A","active":true,"console":"false","complete":"payload","x":1210.1667823791504,"y":275.0000114440918,"wires":[]},{"id":"f4f3a79f.e71078","type":"debug","z":"6f12d08b.63c32","name":"B","active":true,"console":"false","complete":"payload","x":1208.3332659403486,"y":319.99998092651373,"wires":[]},{"id":"620a54ce.800ddc","type":"debug","z":"6f12d08b.63c32","name":"C","active":true,"console":"false","complete":"payload","x":1210.0000139872236,"y":366.66663742065435,"wires":[]},{"id":"9767af33.e04d","type":"debug","z":"6f12d08b.63c32","name":"D","active":true,"console":"false","complete":"payload","x":1215.0000139872236,"y":406.66663742065435,"wires":[]},{"id":"9e2b728b.09c85","type":"debug","z":"6f12d08b.63c32","name":"E","active":true,"console":"false","complete":"payload","x":1215.0000139872236,"y":453.3333244323731,"wires":[]},{"id":"13795f9d.c0654","type":"debug","z":"6f12d08b.63c32","name":"F","active":true,"console":"false","complete":"payload","x":1216.666639963786,"y":499.9999504089356,"wires":[]},{"id":"a733a05e.fb0f1","type":"debug","z":"6f12d08b.63c32","name":"G","active":true,"console":"false","complete":"payload","x":1217.3332659403486,"y":540.333324432373,"wires":[]},{"id":"392d0f4f.e8d72","type":"inject","z":"6f12d08b.63c32","name":"Reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.33333206176758,"y":729.9999647140503,"wires":[["fa417c3c.a4f86"]]},{"id":"25434b2f.651a04","type":"join","z":"6f12d08b.63c32","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","timeout":"","count":"4","x":533.5000114440918,"y":136.31249046325684,"wires":[["aad0fbb0.753c08","ae02cf3b.75e47"]]},{"id":"aad0fbb0.753c08","type":"debug","z":"6f12d08b.63c32","name":"","active":false,"console":"false","complete":"false","x":905.1668395996094,"y":141.0000171661377,"wires":[]},{"id":"ae02cf3b.75e47","type":"function","z":"6f12d08b.63c32","name":"","func":"var newMsg = {};\n//newMsg = msg.payload;\nif (msg.payload == \"0000\")\n    {\n    newMsg = 0;\n    //newMsg.data = 0;\n    }\nif (msg.payload == \"1000\")\n    {\n    newMsg = 1;\n    //newMsg.data = 1;\n    }\nif (msg.payload == \"0100\")\n    {\n    newMsg = 2;\n    }\nif (msg.payload == \"1100\")\n    {\n    newMsg = 3;\n    }\nif (msg.payload == \"0010\")\n    {\n    newMsg = 4;\n    }\nif (msg.payload == \"1010\")\n    {\n    newMsg = 5;\n    }\nif (msg.payload == \"0110\")\n    {\n    newMsg = 6;\n    }\nif (msg.payload == \"1110\")\n    {\n    newMsg = 7;\n    }\nif (msg.payload == \"0001\")\n    {\n    newMsg = 8;\n    }\nif (msg.payload == \"1001\")\n    {\n    newMsg = 9;\n    }\nnode.send ({payload:newMsg});\nreturn null;","outputs":1,"noerr":0,"x":650.166748046875,"y":289.0000057220459,"wires":[["5b35af06.8d6db","388f8d62.d976f2"]]},{"id":"388f8d62.d976f2","type":"debug","z":"6f12d08b.63c32","name":"","active":false,"console":"false","complete":"payload","x":901.8333943684894,"y":209.33334350585935,"wires":[]}]