Node Red/Node Red Code/Pi Zero Backup Node Flows/7490 Decade Counter Simulator 24 Sept 2017a.txt
[{"id":"926c4cd1.43cff","type":"function","z":"78811b85.24edd4","name":"Decade Counter - 7490","func":"// initialise the counter to 0 if it doesn't exist already\nvar countsec = context.get('count')||0;\ncountsec += 1;\nif (countsec > 9)\n    {\n    countsec = 0;\n    }\n// store the value back\ncontext.set('count',countsec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countsec};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":309,"y":119,"wires":[["d46dbb03.dfe208"]]},{"id":"d46dbb03.dfe208","type":"function","z":"78811b85.24edd4","name":"Convert to Hex","func":"//msg = msg.payload;\n//var newMsg = { payload: msg.payload.value };\nvar msgA = { topic:\"A\", payload:0 };\nvar msgB = { topic:\"B\", payload:0 };\nvar msgC = { topic:\"C\", payload:0 };\nvar msgD = { topic:\"D\", payload:0 };\n\nif (msg.payload === 1)\n    {\n    msgA = { payload:1 };\n    }\nif (msg.payload === 2)\n    {\n    msgB = { payload:1 };\n    }\nif (msg.payload === 3)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    }\nif (msg.payload === 4)\n    {\n    msgC = { payload:1 };\n    }\nif (msg.payload === 5)\n    {\n    msgA = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 6)\n    {\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 7)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 8)\n    {\n    msgA = { payload:0 };\n    msgB = { payload:0 };\n    msgC = { payload:0 };\n    msgD = { payload:1 };\n    }\nif (msg.payload === 9)\n    {\n    msgA = { payload:1 };\n    msgD = { payload:1 };\n    }\n\nreturn [msgA, msgB, msgC, msgD];","outputs":"4","noerr":0,"x":548,"y":118,"wires":[["8ff7e799.0091d8","60da5b23.212094"],["8a8b9c18.9ec16","5fdd23e1.71a54c"],["2684cb32.c9c794","58cabef3.8f852"],["72bf44d2.a4234c","5da9c917.ec7208"]]},{"id":"7cab68c1.fc6bf8","type":"link in","z":"78811b85.24edd4","name":"7490 Decoade Counter Trigger","links":[],"x":155,"y":119,"wires":[["926c4cd1.43cff"]]},{"id":"8ff7e799.0091d8","type":"link out","z":"78811b85.24edd4","name":"7490 - A Output","links":["ab4192f8.88b11"],"x":742,"y":55,"wires":[]},{"id":"8a8b9c18.9ec16","type":"link out","z":"78811b85.24edd4","name":"7490 - B Output","links":["dab75287.36443"],"x":742,"y":93,"wires":[]},{"id":"2684cb32.c9c794","type":"link out","z":"78811b85.24edd4","name":"7490 - C Output","links":["769db272.ac5fdc"],"x":741,"y":135,"wires":[]},{"id":"72bf44d2.a4234c","type":"link out","z":"78811b85.24edd4","name":"7490 - D Output","links":["222e6f07.b1368"],"x":741,"y":177,"wires":[]},{"id":"971125d7.c88bf8","type":"inject","z":"78811b85.24edd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":187,"wires":[["926c4cd1.43cff"]]},{"id":"60da5b23.212094","type":"debug","z":"78811b85.24edd4","name":"","active":false,"console":"false","complete":"payload","x":911,"y":69,"wires":[]},{"id":"5fdd23e1.71a54c","type":"debug","z":"78811b85.24edd4","name":"","active":false,"console":"false","complete":"payload","x":904,"y":110,"wires":[]},{"id":"58cabef3.8f852","type":"debug","z":"78811b85.24edd4","name":"","active":false,"console":"false","complete":"payload","x":893,"y":157,"wires":[]},{"id":"5da9c917.ec7208","type":"debug","z":"78811b85.24edd4","name":"","active":false,"console":"false","complete":"payload","x":970.6666564941406,"y":199.99999618530273,"wires":[]}]