Node Red/Node Red Code/Pi Zero Backup Node Flows/AMA Data Tx-Rx 12 Sept 2017.txt
[{"id":"e434bb3d.89fd88","type":"tcp out","z":"a1e64111.9e7c5","host":"192.168.1.150","port":"4052","beserver":"client","base64":false,"end":false,"name":"to AMX:4052","x":414.5238571166992,"y":51.1904821395874,"wires":[]},{"id":"9eae1330.feb3b","type":"link in","z":"a1e64111.9e7c5","name":"Send to AMX:4052","links":["39a3d08e.44e77","5881abea.11bab4","6246c92b.4def08","99f43fb6.c8479","d4f7c139.253ea","ae2e5672.954d08","5511623c.05eccc"],"x":245.5238561630249,"y":92.76191329956055,"wires":[["e434bb3d.89fd88","b30cd71c.1eab28"]]},{"id":"20d88c1f.1fb394","type":"tcp in","z":"a1e64111.9e7c5","name":"from AMX:4053","server":"client","host":"192.168.1.150","port":"4053","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":230.2380828857422,"y":212.61905765533447,"wires":[["ed7be37b.6435b","2328e426.dd9f8c","ab72ee3b.951f"]]},{"id":"ed7be37b.6435b","type":"link out","z":"a1e64111.9e7c5","name":"Receive from AMX:4053","links":["2e45f39f.4d6cbc","46dffea1.2d44","89528e71.ed82d","ec902402.46e358"],"x":609.8889217376709,"y":128.47622299194336,"wires":[]},{"id":"b30cd71c.1eab28","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":413.9096488952637,"y":104.64762988686562,"wires":[]},{"id":"2328e426.dd9f8c","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":450.3382453918457,"y":361.5047559738159,"wires":[]},{"id":"25ff3050.5d7","type":"link out","z":"a1e64111.9e7c5","name":"Yahoo Request from AMX","links":["95301c6.0cccde"],"x":817.4764175415039,"y":299.39684104919434,"wires":[]},{"id":"ab72ee3b.951f","type":"switch","z":"a1e64111.9e7c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"CITY ","vt":"str"}],"checkall":"true","outputs":1,"x":433.23815536499023,"y":301.19045066833496,"wires":[["f4ece7c6.05b568","a23e685f.f8cff8"]]},{"id":"f4ece7c6.05b568","type":"function","z":"a1e64111.9e7c5","name":"Look for CITY in String","func":"var msg = msg.payload;\nvar newMsg = msg.replace('CITY ','');\n//console.log(ret);   //prints: 123\nnode.send ({payload:[newMsg]});\nreturn null;","outputs":1,"noerr":0,"x":660.2381896972656,"y":299.47622299194336,"wires":[["25ff3050.5d7","52664d72.63fdd4"]]},{"id":"52664d72.63fdd4","type":"debug","z":"a1e64111.9e7c5","name":"","active":false,"console":"false","complete":"false","x":871.2539863586426,"y":246.36511611938477,"wires":[]},{"id":"a23e685f.f8cff8","type":"debug","z":"a1e64111.9e7c5","name":"","active":true,"console":"false","complete":"false","x":631.8095092773438,"y":262.33334732055664,"wires":[]},{"id":"a53ddd9f.b052","type":"switch","z":"a1e64111.9e7c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"CITY ","vt":"str"}],"checkall":"true","outputs":1,"x":539.9999885559082,"y":202.22221565246582,"wires":[[]]}]