Node Red/Node Red Code/Pi Zero Backup Node Flows/Front Door Bell Camera 5 Sept 2017.txt
[{"id":"8c14885f.484618","type":"inject","z":"98f05d1f.1c195","name":"","topic":"from actual IP camera mark","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.25394821166992,"y":161.15874576568604,"wires":[["4f6c5ece.ab5c3"]]},{"id":"c2e591c1.00f45","type":"http request","z":"98f05d1f.1c195","name":"Take Snapshot 1","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":856.1110572814941,"y":101.44444608688354,"wires":[["220d361b.03dd5a"]]},{"id":"220d361b.03dd5a","type":"file","z":"98f05d1f.1c195","name":"Save Snapshot 1 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1088.861183166504,"y":102.44445037841797,"wires":[]},{"id":"eace6ae.412fd98","type":"debug","z":"98f05d1f.1c195","name":"","active":false,"console":"false","complete":"true","x":1363.3014945983887,"y":376.873028755188,"wires":[]},{"id":"8df9e294.a3428","type":"http request","z":"98f05d1f.1c195","name":"Take Snapshot 2","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":855.1110572814941,"y":140.44444608688354,"wires":[["47ca85a6.b0162c"]]},{"id":"47ca85a6.b0162c","type":"file","z":"98f05d1f.1c195","name":"Save Snapshot 2 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1084.361183166504,"y":139.44445037841797,"wires":[]},{"id":"dd521354.0e56d","type":"http request","z":"98f05d1f.1c195","name":"Take Snapshot 3","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":858.1110572814941,"y":179.44444608688354,"wires":[["c58557ac.8bd178"]]},{"id":"c58557ac.8bd178","type":"file","z":"98f05d1f.1c195","name":"Save Snapshot 3 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1085.361183166504,"y":178.44445037841797,"wires":[]},{"id":"ff5a78b2.afa1f8","type":"delay","z":"98f05d1f.1c195","name":"Shot 1 - 250ms","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":664.1110572814941,"y":101.44444608688354,"wires":[["c2e591c1.00f45"]]},{"id":"25b6f41b.5c575c","type":"delay","z":"98f05d1f.1c195","name":"Shot 2 - 2 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":667.1110572814941,"y":140.44444608688354,"wires":[["8df9e294.a3428"]]},{"id":"537c7c61.69ab94","type":"delay","z":"98f05d1f.1c195","name":"Shot 2 -4 sec","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":659.1110572814941,"y":179.44444608688354,"wires":[["dd521354.0e56d"]]},{"id":"239903f7.a0b76c","type":"delay","z":"98f05d1f.1c195","name":"Send Images","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660.1110572814941,"y":217.44444608688354,"wires":[["d07e9fb.0b75f6","85c2b993.0e5ce8","90e95c66.cea4d"]]},{"id":"24daef30.a963c","type":"join","z":"98f05d1f.1c195","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1021.0635185241699,"y":376.8730239868164,"wires":[["6a93060.69799fc"]]},{"id":"85c2b993.0e5ce8","type":"file in","z":"98f05d1f.1c195","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","format":"","x":648.9919281005859,"y":448.63493824005127,"wires":[["c2f49b4d.245c18"]]},{"id":"90e95c66.cea4d","type":"file in","z":"98f05d1f.1c195","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","format":"","x":646.6110458374023,"y":504.63494300842285,"wires":[["fa28967b.3c8668"]]},{"id":"d07e9fb.0b75f6","type":"file in","z":"98f05d1f.1c195","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","format":"","x":644.6587066650391,"y":375.49210929870605,"wires":[["24daef30.a963c"]]},{"id":"c2f49b4d.245c18","type":"delay","z":"98f05d1f.1c195","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1027.5634574890137,"y":448.0158853530884,"wires":[["24daef30.a963c"]]},{"id":"fa28967b.3c8668","type":"delay","z":"98f05d1f.1c195","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1028.230182647705,"y":504.96824645996094,"wires":[["24daef30.a963c"]]},{"id":"6a93060.69799fc","type":"function","z":"98f05d1f.1c195","name":"Attach Pictures","func":"var newmsg = {};\nnewmsg.filename = \"\";\nvar today = new Date();\nvar date = today.getDate() + '-' + (today.getMonth()+1) + '-' + today.getFullYear();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar dateTime = date +' ' + time;\n//newmsg.filename = \"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg\";\n\nnewmsg.attachments = [\n    { \n        filename: \"DoorCamera1.jpg\",\n        content: msg.payload[0]\n    },\n    {\n        filename: \"DoorCamera2.jpg\",\n        content: msg.payload[1]\n    }, \n    {\n        filename: \"DoorCamera3.jpg\",\n        content: msg.payload[2]\n    }\n    ];\nnewmsg.topic = \"Front Door Bell pressed - \" + dateTime;\nnewmsg.payload = \"Front door camera\";\nnewmsg.description = \"Want this to appear in body of email\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1184.5397415161133,"y":377.1586608886719,"wires":[["eace6ae.412fd98","91b50a9e.6585e8"]]},{"id":"91b50a9e.6585e8","type":"e-mail","z":"98f05d1f.1c195","server":"smtp.gmail.com","port":"465","secure":true,"name":"chris@shawcomms.com.au","dname":"Email - cjshayes@gmail.com","x":1286.9205322265625,"y":447.1587562561035,"wires":[]},{"id":"e2c194b3.4bb448","type":"debug","z":"98f05d1f.1c195","name":"","active":false,"console":"false","complete":"false","x":666.5504989624023,"y":48.202147006988525,"wires":[]},{"id":"95961616.7bdaa8","type":"function","z":"98f05d1f.1c195","name":"Extract AMX Data","func":"var msg = msg.payload;\nif (msg == \"DOOR BELL PRESSED\")\n    {\n    var newMsg = 1;\n    node.send ({payload:[newMsg.payload]});\n    }\n\nreturn [null];","outputs":"1","noerr":0,"x":248.8839874267578,"y":59.020323753356934,"wires":[["6b2b4edc.ff2f5","91ddaf4e.639f"]]},{"id":"91ddaf4e.639f","type":"trigger","z":"98f05d1f.1c195","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"units":"ms","reset":"","name":"","x":446.83829498291016,"y":72.08083057403564,"wires":[["e2c194b3.4bb448","ff5a78b2.afa1f8","25b6f41b.5c575c","537c7c61.69ab94","239903f7.a0b76c"]]},{"id":"6b2b4edc.ff2f5","type":"debug","z":"98f05d1f.1c195","name":"","active":false,"console":"false","complete":"false","x":444.83827209472656,"y":24.44444465637207,"wires":[]},{"id":"4edc71d5.e23e5","type":"debug","z":"98f05d1f.1c195","name":"","active":false,"console":"false","complete":"false","x":377,"y":224,"wires":[]},{"id":"ff054a03.e0d318","type":"change","z":"98f05d1f.1c195","name":"Samsung TV Controls","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":157,"y":284,"wires":[["90a7b242.abbf5","4edc71d5.e23e5"]]},{"id":"90a7b242.abbf5","type":"samsung-tv-send","z":"98f05d1f.1c195","device":"6a62c5a1.5640fc","name":"Lounge Room TV","key":"","x":397,"y":284,"wires":[]},{"id":"15819742.b41949","type":"debug","z":"98f05d1f.1c195","name":"","active":false,"console":"false","complete":"false","x":226.10000610351562,"y":22.600008964538574,"wires":[]},{"id":"89528e71.ed82d","type":"link in","z":"98f05d1f.1c195","name":"Front Door Bell Camera","links":["ed7be37b.6435b"],"x":53.000017166137695,"y":124.00000667572021,"wires":[["95961616.7bdaa8"]]},{"id":"4f6c5ece.ab5c3","type":"ui_button","z":"98f05d1f.1c195","name":"Take Images","group":"e5d85332.9c84c","order":0,"width":0,"height":0,"passthru":true,"label":"Take Shot","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":345.8571548461914,"y":152.2857313156128,"wires":[["ff5a78b2.afa1f8","25b6f41b.5c575c","537c7c61.69ab94","239903f7.a0b76c"]]},{"id":"6a62c5a1.5640fc","type":"samsung-tv","z":"","name":"Lounge Room TV","address":"192.168.1.62"},{"id":"e5d85332.9c84c","type":"ui_group","z":"","name":"Garage Door","tab":"a89b7c1c.16f13","disp":true,"width":"6"},{"id":"a89b7c1c.16f13","type":"ui_tab","z":"","name":"Garage Door","icon":"dashboard","order":3}]