Node Red/Node Red Code/Pi Zero Backup Node Flows/Siri Litern 5 Sept 2017.txt
[{"id":"90ed0d3d.ee921","type":"tcp in","z":"213c9014.36922","name":"from Siri:4056","server":"server","host":"","port":"4056","datamode":"single","datatype":"buffer","newline":"","topic":"","base64":false,"x":132.2916717529297,"y":34.05556011199951,"wires":[["66c1c28c.b3687c","1efc380b.496ee8"]]},{"id":"66c1c28c.b3687c","type":"debug","z":"213c9014.36922","name":"","active":false,"console":"false","complete":"false","x":320.1666717529297,"y":81.00001907348633,"wires":[]},{"id":"5ba4435b.ef26fc","type":"link out","z":"213c9014.36922","name":"Receive from Siri","links":["492cfab0.a48a14","547cf1f1.f0e47","83632d79.982c2","9d83d8dd.95e648"],"x":528.9762268066406,"y":30.047616004943848,"wires":[]},{"id":"1efc380b.496ee8","type":"function","z":"213c9014.36922","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":302.8571548461914,"y":30.000001907348633,"wires":[["5ba4435b.ef26fc"]]}]