Node Red/Node Red Code/Pi Zero Backup Node Flows/Siri Control - Relay 12 Sept 2017.txt
[{"id":"6b500bf3.768b04","type":"rpi-gpio out","z":"3d8a9e5d.123382","name":"Relay 1 - Pin 11 GPIO 17","pin":"11","set":true,"level":"1","out":"out","x":1435.7083053588867,"y":150.91668319702148,"wires":[]},{"id":"46385aec.aa8794","type":"rpi-gpio out","z":"3d8a9e5d.123382","name":"Relay 2 - Pin 13 GPIO 27","pin":"13","set":true,"level":"1","out":"out","x":1434.4583053588867,"y":211.41668701171875,"wires":[]},{"id":"b63a3f4c.8cedc","type":"rpi-gpio out","z":"3d8a9e5d.123382","name":"Relay 3 - Pin 15 GPIO 22","pin":"15","set":true,"level":"1","out":"out","x":1434.9582977294922,"y":271.16668033599854,"wires":[]},{"id":"1fa4482.9b805b8","type":"inject","z":"3d8a9e5d.123382","name":"Relay 1 on","topic":"","payload":"relay one on","payloadType":"str","repeat":"","crontab":"","once":false,"x":331.5833511352539,"y":175.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"d6065e3a.ae3e5","type":"inject","z":"3d8a9e5d.123382","name":"Relay 1 off","topic":"","payload":"relay one off","payloadType":"str","repeat":"","crontab":"","once":false,"x":332.5833511352539,"y":216.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"657d5ead.c0419","type":"inject","z":"3d8a9e5d.123382","name":"Relay 2 on","topic":"","payload":"relay two on","payloadType":"str","repeat":"","crontab":"","once":false,"x":333.5833511352539,"y":259.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"52088f8b.d188b","type":"inject","z":"3d8a9e5d.123382","name":"Relay 2 off","topic":"","payload":"relay two off","payloadType":"str","repeat":"","crontab":"","once":false,"x":334.5833511352539,"y":298.25002098083496,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"51c90eca.5e859","type":"inject","z":"3d8a9e5d.123382","name":"Relay 3 on","topic":"","payload":"relay three on","payloadType":"str","repeat":"","crontab":"","once":false,"x":332.8333549499512,"y":339.00003719329834,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"e8b55df0.3c8c2","type":"inject","z":"3d8a9e5d.123382","name":"Relay 3 off","topic":"","payload":"relay three off","payloadType":"str","repeat":"","crontab":"","once":false,"x":330.5833549499512,"y":378.2500295639038,"wires":[["319da802.1c06e8","6a8316e2.b0d348"]]},{"id":"1ae486fd.103889","type":"switch","z":"3d8a9e5d.123382","name":"Relay Switching Controls","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"relay 1 on","vt":"str"},{"t":"eq","v":"relay 1 off","vt":"str"},{"t":"eq","v":"relay 2 on","vt":"str"},{"t":"eq","v":"relay 2 off","vt":"str"},{"t":"eq","v":"relay 3 on","vt":"str"},{"t":"eq","v":"relay 3 off","vt":"str"},{"t":"eq","v":"garage door open","vt":"str"},{"t":"eq","v":"garage door close","vt":"str"}],"checkall":"true","outputs":8,"x":902.083366394043,"y":119.7500228881836,"wires":[["22f48d8.e39c172","6693ce87.11918"],["22f48d8.e39c172","6693ce87.11918"],["44f47143.2288f","6693ce87.11918"],["44f47143.2288f","6693ce87.11918"],["6b6fcbb0.683d54","6693ce87.11918"],["6b6fcbb0.683d54","6693ce87.11918"],["22f48d8.e39c172"],["22f48d8.e39c172"]]},{"id":"319da802.1c06e8","type":"function","z":"3d8a9e5d.123382","name":"Split Data - Relay Controls","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // llok for word relay\n    { \n    if (msgdata[i] == \"relay\")\n        {\n        var relay_index = i;\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"one\")\n        {\n        var one_index = i;\n        var relay_number = 1;\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word two\n    { \n    if (msgdata[i] == \"two\")\n        {\n        var two_index = i;\n        var relay_number = 2;\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word three\n    { \n    if (msgdata[i] == \"three\")\n        {\n        var three_index = i;\n        var relay_number = 3;\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word on\n    { \n    if (msgdata[i] == \"on\")\n        {\n        var on_index = i;\n        var relay_mode = 'on';\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word off\n    { \n    if (msgdata[i] == \"off\")\n        {\n        var off_index = i;\n        var relay_mode = 'off';\n        }\n    }\n\n//send to output on off signals to the three ports    \nif (relay_number == 1)\n    {\n    node.send ({payload:[\"relay 1 \" + relay_mode]});\n    }\nif (relay_number == 2)\n    {\n    node.send ({payload:[\"relay 2 \" + relay_mode]});        \n    }\nif (relay_number == 3)\n    {\n    node.send ({payload:[\"relay 3 \" + relay_mode]});    \n    }\nreturn [null];\n\n\n//working code\n//var msgdata = msg.payload.split(\" \");\n//var datalength = msgdata.length;\n//node.send ({payload:[msgdata[0]]});\n//node.send ({payload:[msgdata[1]]});\n//node.send ({payload:[msgdata[2]]});\n//node.send ({payload:[datalength]});\n//return [null];\n","outputs":"1","noerr":0,"x":629.0000762939453,"y":119.50003242492676,"wires":[["1ae486fd.103889","6a8316e2.b0d348","5df6e5d4.840cec"]]},{"id":"22f48d8.e39c172","type":"function","z":"3d8a9e5d.123382","name":"Relay 1 Control","func":"msg = msg.payload;\nvar relay_mode;\nif (msg == \"relay 1 on\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nif (msg == \"relay 1 off\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }\nif (msg == \"garage door open\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nif (msg == \"garage door close\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }    \nreturn [null];  ","outputs":1,"noerr":0,"x":1197.9582061767578,"y":150.8333683013916,"wires":[["6b500bf3.768b04"]]},{"id":"44f47143.2288f","type":"function","z":"3d8a9e5d.123382","name":"Relay 2 Control","func":"msg = msg.payload;\nvar relay_mode;\nif (msg == \"relay 2 off\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }\nif (msg == \"relay 2 on\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nreturn [null];  ","outputs":1,"noerr":0,"x":1198.9999465942383,"y":211.33335137367249,"wires":[["46385aec.aa8794"]]},{"id":"6b6fcbb0.683d54","type":"function","z":"3d8a9e5d.123382","name":"Relay 3 Control","func":"msg = msg.payload;\nvar relay_mode;\nif (msg == \"relay 3 off\")\n    {\n    relay_mode = 1;\n    node.send ({payload:[\"1\"]});\n    }\nif (msg == \"relay 3 on\")\n    {\n    relay_mode = 0;\n    node.send ({payload:[\"0\"]});\n    }\nreturn [null];  ","outputs":1,"noerr":0,"x":1198.2499465942383,"y":271.3333513736725,"wires":[["b63a3f4c.8cedc"]]},{"id":"6693ce87.11918","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":1235.624900817871,"y":72.77789115905762,"wires":[]},{"id":"6a8316e2.b0d348","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":879.3750915527344,"y":441.24999809265137,"wires":[]},{"id":"6538f0c9.e0ec3","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":471.0416946411133,"y":61.61112022399902,"wires":[]},{"id":"547cf1f1.f0e47","type":"link in","z":"3d8a9e5d.123382","name":"Relay Data From Siri","links":["5ba4435b.ef26fc","706e2a5b.bec1b4"],"x":252.07146167755127,"y":60.61905336380005,"wires":[["6538f0c9.e0ec3","319da802.1c06e8"]]},{"id":"dc6449ca.2a52d8","type":"play audio","z":"3d8a9e5d.123382","name":"Play Relay Sound","voice":"4","x":1211.2073440551758,"y":350.8888273239136,"wires":[]},{"id":"6cc93e84.659e","type":"debug","z":"3d8a9e5d.123382","name":"","active":false,"console":"false","complete":"false","x":1187.777847290039,"y":395.5555238723755,"wires":[]},{"id":"5df6e5d4.840cec","type":"function","z":"3d8a9e5d.123382","name":"","func":"msg.payload = msg.payload.toString();\n//if (msg == \"DOOR BELL PRESSED\")\n//    {\n//    var newMsg = 1;\n//    node.send ({payload:[newMsg.payload]});\n//    }\n\nif (msg == \"relay 1 on\")\n    {\n    msg = \"Relay One On\";\n    }\nif (msg == \"relay 1 off\")\n    {\n    msg = \"Relay One Off\";\n    }\nif (msg == \"relay 2 on\")\n    {\n    msg = \"Relay Two On\";\n    }\nif (msg == \"relay 2 off\")\n    {\n    msg = \"Relay Two Off\";\n    }\nif (msg == \"relay 3 on\")\n    {\n    msg = \"Relay Three On\";\n    }\nif (msg == \"relay 3 off\")\n    {\n    msg = \"Relay Three Off\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":886.6666679382324,"y":356.66663646698,"wires":[["dc6449ca.2a52d8","6cc93e84.659e"]]}]