Node Red/Node Red Code/Pi Zero Backup Node Flows/Yahoo Weather Data 12 Sept 2017.txt
[{"id":"6f406334.9ab3dc","type":"file","z":"531b71aa.d80bd","name":"Capture File","filename":"Dandenong Weather Capture.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1060.9523696899414,"y":169.6309871673584,"wires":[]},{"id":"e04efdcc.0857d","type":"change","z":"531b71aa.d80bd","name":"Convert Query","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":698.3333206176758,"y":170.66665732860565,"wires":[["e79fcc8c.510b8"]]},{"id":"14e4d6c2.e5e0e9","type":"function","z":"531b71aa.d80bd","name":"Select City","func":"msg = msg.payload;\nvar newMsg;\n//and u='c'\"\n//select * from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"jiangmen,cn\") and u=\"c\"\n\nnewMsg = 'select * from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"'+msg+',au\") and u=\"c\"';\nnode.send ({payload:[newMsg]});\nreturn null;","outputs":1,"noerr":0,"x":479.99999237060547,"y":360.4999885559082,"wires":[["e04efdcc.0857d"]]},{"id":"e79fcc8c.510b8","type":"http request","z":"531b71aa.d80bd","name":"","method":"GET","ret":"txt","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","x":876.166675567627,"y":170.33331871032715,"wires":[["c42cbd3e.4c95e","6f406334.9ab3dc","2eedff33.25fe6"]]},{"id":"5ea85323.68438c","type":"inject","z":"531b71aa.d80bd","name":"Dandenong","topic":"","payload":"dandenong","payloadType":"str","repeat":"","crontab":"","once":false,"x":92.41666412353516,"y":254.58331489562988,"wires":[["a9890335.33d9e"]]},{"id":"8b3535cc.b2cf88","type":"inject","z":"531b71aa.d80bd","name":"Sydney","topic":"","payload":"sydney","payloadType":"str","repeat":"","crontab":"","once":false,"x":81.25,"y":290.0000352859497,"wires":[["8a3f6a4d.e1ff18"]]},{"id":"c42cbd3e.4c95e","type":"debug","z":"531b71aa.d80bd","name":"","active":true,"console":"false","complete":"false","x":1060.2738494873047,"y":126.57142353057861,"wires":[]},{"id":"3000cf17.bcd57","type":"file in","z":"531b71aa.d80bd","name":"Yahoo Weather capture","filename":"Dandenong Weather Capture.txt","format":"utf8","x":372.32142639160156,"y":577.3809242248535,"wires":[["2eedff33.25fe6"]]},{"id":"af7691a2.2c16a","type":"inject","z":"531b71aa.d80bd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129.70248413085938,"y":577.5001544952393,"wires":[["3000cf17.bcd57"]]},{"id":"3e9509a7.4e4096","type":"debug","z":"531b71aa.d80bd","name":"","active":true,"console":"true","complete":"payload","x":940.3332214355469,"y":291.1309976577759,"wires":[]},{"id":"407c3e26.a892f","type":"change","z":"531b71aa.d80bd","name":"Wind Chill","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.chill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":941.3333053588867,"y":359.99998474121094,"wires":[["b0084094.a12c9"]]},{"id":"298e4cc.719a2b4","type":"change","z":"531b71aa.d80bd","name":"Direction","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.direction","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":933.6666717529297,"y":403.3332996368408,"wires":[["61f489d0.d0c978"]]},{"id":"dc4af812.a93f68","type":"change","z":"531b71aa.d80bd","name":"Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.speed","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":923.3333206176758,"y":443.33331203460693,"wires":[["36017c04.bab984"]]},{"id":"61f489d0.d0c978","type":"ui_gauge","z":"531b71aa.d80bd","name":"Wind Direction","group":"4cae4070.2c918","order":4,"width":"0","height":"0","gtype":"compass","title":"Wind Direction","label":"Degrees","format":"{{value}}","min":"1","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1194.6666259765625,"y":402.9999656677246,"wires":[]},{"id":"b0084094.a12c9","type":"ui_gauge","z":"531b71aa.d80bd","name":"Wind Chill","group":"4cae4070.2c918","order":2,"width":"3","height":"1","gtype":"gage","title":"Wind Chill","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1175.999900817871,"y":359.99994468688965,"wires":[]},{"id":"36017c04.bab984","type":"ui_gauge","z":"531b71aa.d80bd","name":"Wind Speed","group":"4cae4070.2c918","order":3,"width":"3","height":"2","gtype":"gage","title":"Wind Speed","label":"kph","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1187.6666679382324,"y":443.33334159851074,"wires":[]},{"id":"39d996d7.c62bda","type":"change","z":"531b71aa.d80bd","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.humidity","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":931.9999389648438,"y":484.33331298828125,"wires":[["5773fd1c.9d2044"]]},{"id":"4c871433.d5dd5c","type":"change","z":"531b71aa.d80bd","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.pressure","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":931.6666259765625,"y":524.3333129882812,"wires":[["976e8d58.1d3f"]]},{"id":"e4f04a09.4a8528","type":"change","z":"531b71aa.d80bd","name":"Rising","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.rising","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":922.6666259765625,"y":566,"wires":[["75491ac.fff62e4","2e3f70fd.9ba3a"]]},{"id":"5773fd1c.9d2044","type":"ui_gauge","z":"531b71aa.d80bd","name":"Humidity","group":"4cae4070.2c918","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"Degrees","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1176.6665878295898,"y":484.66667652130127,"wires":[]},{"id":"75491ac.fff62e4","type":"function","z":"531b71aa.d80bd","name":"Rise and Fall","func":"var msg = msg.payload;\nvar newMsg;\nif (msg == \"0\")\n    {\n    newMsg = \"Steady\";\n    node.send ({payload:newMsg});   \n    }\nif (msg == \"1\")\n    {\n    newMsg = \"Rising\";\n    node.send ({payload:newMsg});   \n    }\nif (msg == \"2\")\n    {\n    newMsg = \"Falling\";\n    node.send ({payload:newMsg});   \n    }\nreturn null;","outputs":1,"noerr":0,"x":1183.6665420532227,"y":565.9999618530273,"wires":[["46008025.0e026"]]},{"id":"46008025.0e026","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":2,"width":"2","height":"1","name":"Pressure Rise / Fall","label":"Current Pressure","format":"{{msg.payload}}","layout":"col-center","x":1405.3332176208496,"y":566.0000638961792,"wires":[]},{"id":"9076a18.b9a8d6","type":"change","z":"531b71aa.d80bd","name":"Visibilty","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.visibility","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":931.6666259765625,"y":606.3333129882812,"wires":[["34534068.9c5fe"]]},{"id":"dba89c4c.69be4","type":"change","z":"531b71aa.d80bd","name":"Sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.astronomy.sunrise","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":929.5,"y":646,"wires":[["3e236816.0853a8"]]},{"id":"478cbe43.b8be","type":"change","z":"531b71aa.d80bd","name":"Sunset","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.astronomy.sunset","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":926.75,"y":685.5,"wires":[["d7db8580.3a8438"]]},{"id":"d7db8580.3a8438","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":3,"width":"2","height":"1","name":"Sunset","label":"Sunset","format":"{{msg.payload}}","layout":"col-center","x":1162.500015258789,"y":683.5000114440918,"wires":[]},{"id":"3e236816.0853a8","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":4,"width":"2","height":"1","name":"Sunrise","label":"Sunrise","format":"{{msg.payload}}","layout":"col-center","x":1174.000015258789,"y":646.2500114440918,"wires":[]},{"id":"6da6e5d4.df1ddc","type":"change","z":"531b71aa.d80bd","name":"Current Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.condition.temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":945,"y":764.5,"wires":[["dbcde897.edb128","9e42f465.389b98"]]},{"id":"dbcde897.edb128","type":"ui_gauge","z":"531b71aa.d80bd","name":"Current Temp","group":"4cae4070.2c918","order":1,"width":"3","height":"2","gtype":"gage","title":"Current Temp","label":"degrees","format":"{{value}}","min":"-10","max":"50","colors":["#0080c0","#00b500","#ca3838"],"seg1":"19","seg2":"23","x":1183.74995803833,"y":764.2500228881836,"wires":[]},{"id":"58124c91.f667b4","type":"change","z":"531b71aa.d80bd","name":"Current Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.condition.text","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":955.7499694824219,"y":724.5000324249268,"wires":[["b6bb53ec.a5026"]]},{"id":"b6bb53ec.a5026","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":6,"width":"2","height":"1","name":"Current Condition","label":"Condition","format":"{{msg.payload}}","layout":"col-center","x":1203,"y":724.5000734329224,"wires":[]},{"id":"2d548197.b6f69e","type":"link out","z":"531b71aa.d80bd","name":"Yahoo Weather Forecast Data","links":["21b48ce8.e35564"],"x":885.5001440048218,"y":256.82142448425293,"wires":[]},{"id":"a9890335.33d9e","type":"ui_button","z":"531b71aa.d80bd","name":"Dandenong","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Dandenong","color":"","bgcolor":"","icon":"","payload":"dandenong","payloadType":"str","topic":"","x":262.00000381469727,"y":255.00000381469727,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"8a3f6a4d.e1ff18","type":"ui_button","z":"531b71aa.d80bd","name":"Sydney","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Sydney","color":"","bgcolor":"","icon":"","payload":"sydney","payloadType":"str","topic":"","x":252.5,"y":289.50000381469727,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"eeab56ec.513698","type":"ui_button","z":"531b71aa.d80bd","name":"Canberra","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Canberra","color":"","bgcolor":"","icon":"","payload":"Canberra","payloadType":"str","topic":"","x":251.50000381469727,"y":325.2500047683716,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"2faca933.e96cb6","type":"ui_button","z":"531b71aa.d80bd","name":"Adelaide","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Adelaide","color":"","bgcolor":"","icon":"","payload":"adelaide","payloadType":"str","topic":"","x":249.75,"y":361.25,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"abe34b7e.f67eb8","type":"ui_button","z":"531b71aa.d80bd","name":"Perth","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Perth","color":"","bgcolor":"","icon":"","payload":"perth","payloadType":"str","topic":"","x":239.75,"y":396.75,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"f1a83209.7bc18","type":"ui_button","z":"531b71aa.d80bd","name":"Brisbane","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Brisbane","color":"","bgcolor":"","icon":"","payload":"brisbane","payloadType":"str","topic":"","x":247.75,"y":432,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"ee85abdc.d2f448","type":"ui_button","z":"531b71aa.d80bd","name":"Darwin","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Darwin","color":"","bgcolor":"","icon":"","payload":"darwin","payloadType":"str","topic":"","x":236.5,"y":468,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"c600fc03.2b3d5","type":"ui_button","z":"531b71aa.d80bd","name":"Cairns","group":"cca54976.b50ae8","order":0,"width":"2","height":"1","passthru":true,"label":"Cairns","color":"","bgcolor":"","icon":"","payload":"carins","payloadType":"str","topic":"","x":235,"y":504,"wires":[["14e4d6c2.e5e0e9"]]},{"id":"7af76d08.a267c4","type":"inject","z":"531b71aa.d80bd","name":"Canberra","topic":"","payload":"canberra","payloadType":"str","repeat":"","crontab":"","once":false,"x":91.25,"y":326.25,"wires":[["eeab56ec.513698"]]},{"id":"25fb8c75.66bfd4","type":"inject","z":"531b71aa.d80bd","name":"Adelaide","topic":"","payload":"adelaide","payloadType":"str","repeat":"","crontab":"","once":false,"x":92.5,"y":362.5,"wires":[["2faca933.e96cb6"]]},{"id":"2e698a4c.6dd156","type":"inject","z":"531b71aa.d80bd","name":"Perth","topic":"","payload":"perth","payloadType":"str","repeat":"","crontab":"","once":false,"x":83.75,"y":397.5,"wires":[["abe34b7e.f67eb8"]]},{"id":"4213899.0da9678","type":"inject","z":"531b71aa.d80bd","name":"Brisbane","topic":"","payload":"brisbane","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.75,"y":432.25,"wires":[["f1a83209.7bc18"]]},{"id":"5b13ada0.b72704","type":"inject","z":"531b71aa.d80bd","name":"Darwin","topic":"","payload":"darwin","payloadType":"str","repeat":"","crontab":"","once":false,"x":84.75,"y":466.25000762939453,"wires":[["ee85abdc.d2f448"]]},{"id":"70b1c53a.562cac","type":"inject","z":"531b71aa.d80bd","name":"Ciarns","topic":"","payload":"cairns","payloadType":"str","repeat":"","crontab":"","once":false,"x":86.25,"y":502,"wires":[["c600fc03.2b3d5"]]},{"id":"34534068.9c5fe","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":5,"width":"2","height":"1","name":"Visibility","label":"Visibility ","format":"{{msg.payload}}kms","layout":"col-center","x":1174.3333435058594,"y":608.3333606719971,"wires":[]},{"id":"976e8d58.1d3f","type":"function","z":"531b71aa.d80bd","name":"Convert to Miilbars","func":"var msg = msg.payload;\nvar newMsg = msg * 0.02953;\nnode.send ({payload:newMsg});   \nreturn null;","outputs":1,"noerr":0,"x":1205.666648864746,"y":524.9999847412109,"wires":[["b9da4e12.6980d"]]},{"id":"b9da4e12.6980d","type":"ui_text","z":"531b71aa.d80bd","group":"fd9bffd6.811b5","order":1,"width":"2","height":"1","name":"Pressure","label":"Pressure","format":"{{msg.payload.toFixed(0)}}kpa","layout":"col-center","x":1375.3333435058594,"y":524.9999885559082,"wires":[]},{"id":"95301c6.0cccde","type":"link in","z":"531b71aa.d80bd","name":"From AMX - Yahoo Weather request","links":["25ff3050.5d7"],"x":328.9920582771301,"y":116.34127521514893,"wires":[["322a30dc.cf0f5"]]},{"id":"6246c92b.4def08","type":"link out","z":"531b71aa.d80bd","name":"Received Data from Yahoo","links":["5a192d4d.732b24","9eae1330.feb3b","352d3509.193f1a"],"x":906.0955924987793,"y":224.05956268310547,"wires":[]},{"id":"322a30dc.cf0f5","type":"debug","z":"531b71aa.d80bd","name":"","active":false,"console":"false","complete":"false","x":674.0714111328125,"y":115.75002002716064,"wires":[]},{"id":"9e42f465.389b98","type":"link out","z":"531b71aa.d80bd","name":"From Weather Station","links":["2943059a.6af58a"],"x":1101.1390829086304,"y":804.0278367996216,"wires":[]},{"id":"2e3f70fd.9ba3a","type":"debug","z":"531b71aa.d80bd","name":"","active":false,"console":"false","complete":"false","x":1361.5661185128347,"y":225.0892857142857,"wires":[]},{"id":"b782061e.58ea88","type":"function","z":"531b71aa.d80bd","name":"Say Current Temperature","func":"var newLocation = msg.payload.query.results.channel.location.city;\nvar newTemp = msg.payload.query.results.channel.item.condition.temp;\n\nvar newMsg = {};\nnewMsg = \"Current Temperature is  \" + newTemp + \" Degrees in \" + newLocation;\nnode.send ({payload:newMsg});\nreturn null;\n\n\n\n//msg.payload.query.results.channel.item.condition.temp\n//msg.payload.query.results.channel.location.city","outputs":1,"noerr":0,"x":967.0150680541992,"y":900.888991355896,"wires":[["482e8020.12814","5a91790e.6c4ab8"]]},{"id":"482e8020.12814","type":"debug","z":"531b71aa.d80bd","name":"","active":false,"console":"false","complete":"false","x":1449.99995803833,"y":818.8889074325562,"wires":[]},{"id":"5a91790e.6c4ab8","type":"link out","z":"531b71aa.d80bd","name":"From Yahoo Weather","links":["ec902402.46e358"],"x":1397.4444065093994,"y":859.7777585983276,"wires":[]},{"id":"673a554.91c40ac","type":"change","z":"531b71aa.d80bd","name":"Location and Current Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.location.city","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"msg.payload.query.results.channel.item.condition.temp","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":977.7777709960938,"y":851.1110763549805,"wires":[[]]},{"id":"2eedff33.25fe6","type":"json","z":"531b71aa.d80bd","name":"","x":718.2000198364258,"y":267.20001316070557,"wires":[["6246c92b.4def08","2d548197.b6f69e","3e9509a7.4e4096","407c3e26.a892f","298e4cc.719a2b4","dc4af812.a93f68","39d996d7.c62bda","4c871433.d5dd5c","e4f04a09.4a8528","9076a18.b9a8d6","dba89c4c.69be4","478cbe43.b8be","58124c91.f667b4","6da6e5d4.df1ddc","b782061e.58ea88"]]},{"id":"4a6375a0.26d1bc","type":"change","z":"531b71aa.d80bd","name":"Visibilty","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.visibility","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":512,"y":712,"wires":[[]]},{"id":"4cae4070.2c918","type":"ui_group","z":"","name":"Yahoo Weather","tab":"2d602d9b.372922","order":1,"disp":true,"width":"3"},{"id":"fd9bffd6.811b5","type":"ui_group","z":"","name":"Yahoo Weather Conditions","tab":"2d602d9b.372922","order":2,"disp":true,"width":"4"},{"id":"cca54976.b50ae8","type":"ui_group","z":"","name":"City","tab":"2d602d9b.372922","order":3,"disp":true,"width":"2"},{"id":"2d602d9b.372922","type":"ui_tab","z":"","name":"Yahoo Weather","icon":"dashboard","order":10}]