Node Red/Node Red Code/pre 5 Sept Working Code/Front Door Bell Web Camera Image Emailed.txt
[{"id":"9d0eafe5.034d2","type":"inject","z":"73f2e049.00751","name":"","topic":"from actual IP camera mark","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":348.00011444091797,"y":155.00003051757812,"wires":[["951e10e8.1e828","c54516c9.8c3278","d9fdd374.28135","a3b585a9.32ccf8"]]},{"id":"f2f21a22.865f08","type":"http request","z":"73f2e049.00751","name":"","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":833.0000877380371,"y":101.00001955032349,"wires":[["516ca9c7.c63798"]]},{"id":"516ca9c7.c63798","type":"file","z":"73f2e049.00751","name":"Save File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1014.5000877380371,"y":102.00001955032349,"wires":[]},{"id":"ee65afd6.8584b","type":"e-mail in","z":"73f2e049.00751","name":"993","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"300","x":111.00000762939453,"y":357.00000190734863,"wires":[["d2612a47.5f1648"]]},{"id":"d2612a47.5f1648","type":"debug","z":"73f2e049.00751","name":"","active":false,"console":"false","complete":"true","x":246.00000762939453,"y":357.00000190734863,"wires":[]},{"id":"2a6bb589.20b93a","type":"debug","z":"73f2e049.00751","name":"","active":false,"console":"false","complete":"true","x":1657.3333053588867,"y":155.00002431869507,"wires":[]},{"id":"53b5974.fd7be68","type":"http request","z":"73f2e049.00751","name":"","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":832.0000877380371,"y":140.0000195503235,"wires":[["c1231633.8bae18"]]},{"id":"c1231633.8bae18","type":"file","z":"73f2e049.00751","name":"Save File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1010.0000877380371,"y":139.0000195503235,"wires":[]},{"id":"b1369425.b5cb88","type":"http request","z":"73f2e049.00751","name":"","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":835.0000877380371,"y":179.0000195503235,"wires":[["c055f340.13928"]]},{"id":"c055f340.13928","type":"file","z":"73f2e049.00751","name":"Save File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1011.0000877380371,"y":178.0000195503235,"wires":[]},{"id":"951e10e8.1e828","type":"delay","z":"73f2e049.00751","name":"Shot 1 - 250ms","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":661.0000877380371,"y":101.00001955032349,"wires":[["f2f21a22.865f08"]]},{"id":"c54516c9.8c3278","type":"delay","z":"73f2e049.00751","name":"Shot 2 - 2 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":664.0000877380371,"y":140.0000195503235,"wires":[["53b5974.fd7be68"]]},{"id":"d9fdd374.28135","type":"delay","z":"73f2e049.00751","name":"Shot 2 -4 sec","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":656.0000877380371,"y":179.0000195503235,"wires":[["b1369425.b5cb88"]]},{"id":"a3b585a9.32ccf8","type":"delay","z":"73f2e049.00751","name":"Send Images","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":657.0000877380371,"y":217.0000195503235,"wires":[["e0696927.cd6898","2178cc7a.097994","b8af2e37.2c9e9"]]},{"id":"ffac85ed.e4dfc8","type":"join","z":"73f2e049.00751","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1513.6667137145996,"y":195.00002145767212,"wires":[["a0fa0f2a.fa328"]]},{"id":"2178cc7a.097994","type":"file in","z":"73f2e049.00751","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","format":"","x":1040.1666870117188,"y":265.3333601951599,"wires":[["6beda3ba.d0cacc"]]},{"id":"b8af2e37.2c9e9","type":"file in","z":"73f2e049.00751","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","format":"","x":1043.5000610351562,"y":321.3333582878113,"wires":[["8f3e9d8.0f2f56"]]},{"id":"e0696927.cd6898","type":"file in","z":"73f2e049.00751","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","format":"","x":1045.8334045410156,"y":219.33337783813477,"wires":[["ffac85ed.e4dfc8"]]},{"id":"6beda3ba.d0cacc","type":"delay","z":"73f2e049.00751","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440.166690826416,"y":269.0000319480896,"wires":[["ffac85ed.e4dfc8"]]},{"id":"8f3e9d8.0f2f56","type":"delay","z":"73f2e049.00751","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1430.833438873291,"y":321.66670274734497,"wires":[["ffac85ed.e4dfc8"]]},{"id":"a0fa0f2a.fa328","type":"function","z":"73f2e049.00751","name":"","func":"var newmsg = {};\nnewmsg.filename = \"\";\n//newmsg.filename = \"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg\";\n\nnewmsg.attachments = [\n    { \n        filename: \"DoorCamera1.jpg\",\n        content: msg.payload[0]\n    },\n    {\n        filename: \"DoorCamera2.jpg\",\n        content: msg.payload[1]\n    }, {\n        filename: \"DoorCamera3.jpg\",\n        content: msg.payload[2]\n    }\n];\nnewmsg.topic = \"Front Door Bell pressed mark 7\";\nnewmsg.payload = \"Front door camera\";\nnewmsg.description = \"Want this to appear in body of email\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1620.000057220459,"y":290.99998331069946,"wires":[["2a6bb589.20b93a","7d62b22a.77426c"]]},{"id":"7d62b22a.77426c","type":"e-mail","z":"73f2e049.00751","server":"smtp.gmail.com","port":"465","secure":true,"name":"chris@shawcomms.com.au","dname":"Email - cjshayes@gmail.com","x":1596.666675567627,"y":391.0000443458557,"wires":[]},{"id":"6a57986f.857878","type":"debug","z":"73f2e049.00751","name":"","active":true,"console":"false","complete":"false","x":663.4395294189453,"y":47.75772047042847,"wires":[]},{"id":"41c018e4.1c0b18","type":"tcp in","z":"73f2e049.00751","name":"AMX","server":"client","host":"192.168.1.150","port":"4053","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":72.439453125,"y":68.39405250549316,"wires":[["e1c8978b.467a18"]]},{"id":"e1c8978b.467a18","type":"function","z":"73f2e049.00751","name":"Extract AMX Data","func":"var msg = msg.payload;\nif (msg == \"DOOR BELL PRESSED\")\n    {\n    var newMsg = 1;\n    node.send ({payload:[newMsg.payload]});\n    }\nreturn null;","outputs":"1","noerr":0,"x":245.77301788330078,"y":58.575897216796875,"wires":[["593cc8df.10d688","b6fec430.b502c8"]]},{"id":"593cc8df.10d688","type":"trigger","z":"73f2e049.00751","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"units":"ms","reset":"","name":"","x":441.7273254394531,"y":65.63640260696411,"wires":[["6a57986f.857878","951e10e8.1e828","c54516c9.8c3278","d9fdd374.28135","a3b585a9.32ccf8"]]},{"id":"b6fec430.b502c8","type":"debug","z":"73f2e049.00751","name":"","active":true,"console":"false","complete":"false","x":441.72730255126953,"y":24.00001811981201,"wires":[]}]