Node Red/Node Red Code/pre 5 Sept Working Code/Garage Door Example - RaspPi Sig Mt Waverley working.txt
[{"id":"687b5b2e.918004","type":"inject","z":"d5941910.71c738","name":"Garage Door Open","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":110,"wires":[["ac703732.d77ab8"]]},{"id":"ada9022b.95a28","type":"rpi-gpio out","z":"d5941910.71c738","name":"Pin 15 - GPIO22","pin":"15","set":false,"level":"1","out":"out","x":760.0000686645508,"y":111.00009632110596,"wires":[]},{"id":"ac703732.d77ab8","type":"ui_button","z":"d5941910.71c738","name":"","group":"2fa5aafc.bd4056","order":2,"width":"0","height":"0","passthru":true,"label":"Open","color":"White","bgcolor":"Green","icon":"","payload":"1","payloadType":"num","topic":"","x":377.0000305175781,"y":110.66671085357666,"wires":[["ada9022b.95a28","75de80af.e92db"]]},{"id":"69e956e7.d95fc8","type":"inject","z":"d5941910.71c738","name":"Garage Door Close","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":139.83334350585938,"y":155.2321319580078,"wires":[["6a0df260.3372ac"]]},{"id":"6a0df260.3372ac","type":"ui_button","z":"d5941910.71c738","name":"","group":"2fa5aafc.bd4056","order":1,"width":"0","height":"0","passthru":true,"label":"Close","color":"White","bgcolor":"Red","icon":"","payload":"0","payloadType":"num","topic":"","x":372.8333740234375,"y":154.23210430145264,"wires":[["ada9022b.95a28","75de80af.e92db"]]},{"id":"75de80af.e92db","type":"debug","z":"d5941910.71c738","name":"","active":true,"console":"false","complete":"false","x":749.8636474609375,"y":170.8181915283203,"wires":[]},{"id":"2fa5aafc.bd4056","type":"ui_group","z":"","name":"Garage Door","tab":"1f23bc9b.df8003","disp":true,"width":"6"},{"id":"1f23bc9b.df8003","type":"ui_tab","z":"","name":"GPIO Control","icon":"dashboard"}]