Github Repo/Node Red Code/Examples/Charts Examples.txt
[{"id":"7becd432.37dd9c","type":"function","z":"918a3e07.6e7f4","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["fa230d97.51ca4","c2efc034.24317","f81bce22.21081","f870264.cce4fd8"]]},{"id":"fa230d97.51ca4","type":"ui_chart","z":"918a3e07.6e7f4","name":"","group":"1de565ee.de33ba","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":140,"wires":[[],[]]},{"id":"c0803389.ae61b","type":"function","z":"918a3e07.6e7f4","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["fa230d97.51ca4"]]},{"id":"631113d0.96ec1c","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":240,"wires":[["c0803389.ae61b"]]},{"id":"c2efc034.24317","type":"ui_chart","z":"918a3e07.6e7f4","name":"","group":"1de565ee.de33ba","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":200,"wires":[[],[]]},{"id":"10ba6f9d.d1bdd","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":400,"wires":[["7becd432.37dd9c"]]},{"id":"421fc7ea.2fd978","type":"random","z":"918a3e07.6e7f4","name":"","low":"1","high":"10000000","inte":"true","x":400,"y":600,"wires":[["fa230d97.51ca4"]]},{"id":"8ce1d56.e8bcc28","type":"inject","z":"918a3e07.6e7f4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":600,"wires":[["421fc7ea.2fd978"]]},{"id":"9d020e2c.ea271","type":"function","z":"918a3e07.6e7f4","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["fa230d97.51ca4","c2efc034.24317","f81bce22.21081","f870264.cce4fd8"]]},{"id":"f1cd7ac2.e72438","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":440,"wires":[["9d020e2c.ea271"]]},{"id":"c9e70933.a1aa68","type":"function","z":"918a3e07.6e7f4","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["fa230d97.51ca4"]]},{"id":"f961cc67.d6e93","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":280,"wires":[["c9e70933.a1aa68"]]},{"id":"b591c0e3.6ceb4","type":"function","z":"918a3e07.6e7f4","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":390,"y":640,"wires":[["f870264.cce4fd8","c2efc034.24317","fa230d97.51ca4","6129c576.554bbc","6c458bf0.937ef4","f81bce22.21081"]]},{"id":"f870264.cce4fd8","type":"ui_chart","z":"918a3e07.6e7f4","name":"pie chart","group":"1de565ee.de33ba","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":380,"wires":[[],[]]},{"id":"9c36032d.36b22","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":230,"y":640,"wires":[["b591c0e3.6ceb4"]]},{"id":"fbeda09c.d32b1","type":"function","z":"918a3e07.6e7f4","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["fa230d97.51ca4"]]},{"id":"bbb5e739.380888","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":320,"wires":[["fbeda09c.d32b1"]]},{"id":"3b31f8fb.6694a8","type":"function","z":"918a3e07.6e7f4","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["fa230d97.51ca4"]]},{"id":"dbf90337.c674e","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":360,"wires":[["3b31f8fb.6694a8"]]},{"id":"82a17e2e.434e7","type":"function","z":"918a3e07.6e7f4","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["fa230d97.51ca4","c2efc034.24317","f870264.cce4fd8","6129c576.554bbc","6c458bf0.937ef4","f81bce22.21081"]]},{"id":"a2946c00.054778","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":560,"wires":[["82a17e2e.434e7"]]},{"id":"5db38084.dd488","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":240,"y":680,"wires":[["a36e1831.2db648"]]},{"id":"a36e1831.2db648","type":"function","z":"918a3e07.6e7f4","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["f870264.cce4fd8","c2efc034.24317","6c458bf0.937ef4","6129c576.554bbc","fa230d97.51ca4","f81bce22.21081"]]},{"id":"e948acae.6efc","type":"function","z":"918a3e07.6e7f4","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["c2efc034.24317","f870264.cce4fd8","fa230d97.51ca4","f81bce22.21081"]]},{"id":"8389ff7e.780d7","type":"inject","z":"918a3e07.6e7f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":200,"wires":[["e948acae.6efc"]]},{"id":"163a2ce5.960dc3","type":"function","z":"918a3e07.6e7f4","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["c2efc034.24317","f870264.cce4fd8","fa230d97.51ca4","f81bce22.21081"]]},{"id":"d1690f6.d488df","type":"inject","z":"918a3e07.6e7f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":160,"wires":[["163a2ce5.960dc3"]]},{"id":"f8361bf3.a630b8","type":"function","z":"918a3e07.6e7f4","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["c2efc034.24317","6129c576.554bbc","6c458bf0.937ef4","fa230d97.51ca4","f81bce22.21081","f870264.cce4fd8"]]},{"id":"962ef550.011838","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":480,"wires":[["f8361bf3.a630b8"]]},{"id":"6b20029f.b80a7c","type":"function","z":"918a3e07.6e7f4","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["c2efc034.24317","fa230d97.51ca4","6c458bf0.937ef4","6129c576.554bbc","f81bce22.21081","f870264.cce4fd8"]]},{"id":"4f3ba7e9.dc1098","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":520,"wires":[["6b20029f.b80a7c"]]},{"id":"f81bce22.21081","type":"ui_chart","z":"918a3e07.6e7f4","name":"","group":"b73e0560.3eae48","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":260,"wires":[[],[]]},{"id":"6129c576.554bbc","type":"ui_chart","z":"918a3e07.6e7f4","name":"","group":"b73e0560.3eae48","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":500,"wires":[[],[]]},{"id":"6c458bf0.937ef4","type":"ui_chart","z":"918a3e07.6e7f4","name":"","group":"b73e0560.3eae48","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":560,"wires":[[],[]]},{"id":"f7073030.e62f8","type":"function","z":"918a3e07.6e7f4","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["f870264.cce4fd8","c2efc034.24317","fa230d97.51ca4","f81bce22.21081"]]},{"id":"d19efb0f.fb72b8","type":"inject","z":"918a3e07.6e7f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":120,"wires":[["f7073030.e62f8"]]},{"id":"9d766163.52b05","type":"ui_button","z":"918a3e07.6e7f4","name":"","group":"6af3462d.c62e18","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":360,"y":80,"wires":[["6c458bf0.937ef4","6129c576.554bbc","f870264.cce4fd8","f81bce22.21081","c2efc034.24317","fa230d97.51ca4"]]},{"id":"1de565ee.de33ba","type":"ui_group","z":"","name":"Charts","tab":"54d6a9cf.56b8e8","order":2,"disp":false,"width":"6"},{"id":"6af3462d.c62e18","type":"ui_group","z":"","name":"Inputs","tab":"54d6a9cf.56b8e8","order":1,"disp":false,"width":"6"},{"id":"b73e0560.3eae48","type":"ui_group","z":"","name":"Group 3","tab":"54d6a9cf.56b8e8","order":3,"disp":false,"width":"6"},{"id":"54d6a9cf.56b8e8","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2}]