Github Repo/Node Red Code/Examples/Load Array with keys example.txt
[{"id":"e8fd704b.48789","type":"function","z":"bad86843.649c18","name":"","func":"msg.payload = [{\n\t\"key\": \"Power\",\n\t\"values\": [\n\t\t[1481091327230, 0],\n\t\t[1481091627364, 0],\n\t\t[1481091927173, 0],\n\t\t[1481092228030, 0],\n\t\t[1481092526489, 9.5],\n\t\t[1481092828318, 13.7],\n\t\t[1481093126636, 21.6],\n\t\t[1481093426987, 27.8],\n\t\t[1481093726264, 30.6],\n\t\t[1481094031078, 42],\n\t\t[1481094326834, 61.6],\n\t\t[1481094627951, 111.4],\n\t\t[1481094926070, 174.1],\n\t\t[1481095226917, 165.7],\n\t\t[1481095526242, 187.4],\n\t\t[1481095839341, 218.1],\n\t\t[1481096126456, 224.8],\n\t\t[1481096428278, 144.2],\n\t\t[1481096727974, 123.1],\n\t\t[1481097030132, 144.6],\n\t\t[1481097327361, 292.5],\n\t\t[1481097632852, 349.1],\n\t\t[1481097929362, 284.1],\n\t\t[1481098230408, 243.1],\n\t\t[1481098528565, 261.6],\n\t\t[1481098830612, 341.5],\n\t\t[1481099128513, 430.6],\n\t\t[1481099430553, 296.2],\n\t\t[1481099729052, 478.1],\n\t\t[1481100030113, 437.6],\n\t\t[1481100327553, 531.7],\n\t\t[1481100631186, 384.9],\n\t\t[1481100930700, 750.9],\n\t\t[1481101233034, 360.1],\n\t\t[1481101528261, 769.1],\n\t\t[1481101829267, 718.7],\n\t\t[1481102129037, 430.9],\n\t\t[1481102429692, 395.1],\n\t\t[1481102728654, 515.9],\n\t\t[1481103334423, 622.6],\n\t\t[1481103629220, 504.2],\n\t\t[1481103928257, 1063.2],\n\t\t[1481104230011, 580.5],\n\t\t[1481104528159, 1109],\n\t\t[1481104833850, 485.9],\n\t\t[1481105131515, 1036.5],\n\t\t[1481105434794, 1060.9],\n\t\t[1481105728412, 404.8],\n\t\t[1481106029730, 972.4],\n\t\t[1481106327530, 975],\n\t\t[1481106632162, 938],\n\t\t[1481106938743, 949.5],\n\t\t[1481107228758, 904.4],\n\t\t[1481107536866, 961.9],\n\t\t[1481107830513, 925.1],\n\t\t[1481108129521, 898.8],\n\t\t[1481108434799, 733.8],\n\t\t[1481108728619, 502],\n\t\t[1481109029658, 739.6],\n\t\t[1481109328595, 857.1],\n\t\t[1481109630400, 824.5],\n\t\t[1481109930870, 799.5],\n\t\t[1481110230151, 756.3],\n\t\t[1481110527473, 770.7],\n\t\t[1481110828891, 743.8],\n\t\t[1481111127462, 695.8],\n\t\t[1481111430417, 691.1],\n\t\t[1481111731012, 647],\n\t\t[1481112032680, 627.6],\n\t\t[1481112328804, 603.9],\n\t\t[1481112645458, 563.1],\n\t\t[1481112927605, 506.6],\n\t\t[1481113229232, 480.9],\n\t\t[1481113526974, 436],\n\t\t[1481113829236, 395.2],\n\t\t[1481114130416, 382],\n\t\t[1481114430085, 356.8],\n\t\t[1481114727878, 295.2],\n\t\t[1481115029737, 264.2],\n\t\t[1481115331585, 211.4],\n\t\t[1481115633268, 190.9],\n\t\t[1481115927380, 168.4],\n\t\t[1481116229173, 143],\n\t\t[1481116527113, 127.5],\n\t\t[1481116829128, 119.7],\n\t\t[1481117128359, 112.4],\n\t\t[1481117440519, 101.2],\n\t\t[1481117729548, 96],\n\t\t[1481118029757, 89.4],\n\t\t[1481118327943, 73.1],\n\t\t[1481118628760, 63.4],\n\t\t[1481118928429, 55.6],\n\t\t[1481119239996, 51.9],\n\t\t[1481119527052, 38.2],\n\t\t[1481119842127, 35.6],\n\t\t[1481120127736, 33.5],\n\t\t[1481120428169, 26.7],\n\t\t[1481120727015, 21.2],\n\t\t[1481121031602, 15.2],\n\t\t[1481121330249, 9.3],\n\t\t[1481121630368, 4.7],\n\t\t[1481121929560, 1.2],\n\t\t[1481122234585, 0],\n\t\t[1481122527796, 0],\n\t\t[1481122834689, 0],\n\t\t[1481123128165, 0],\n\t\t[1481123428666, 0],\n\t\t[1481123727362, 0],\n\t\t[1481124029166, 0]\n\t]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["8ced1585.64d538","9d7ff264.17a15"]]},{"id":"a86eee30.d9fc9","type":"inject","z":"bad86843.649c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":281,"y":76,"wires":[["83247d8e.5082a"]]},{"id":"83247d8e.5082a","type":"function","z":"bad86843.649c18","name":"","func":"msg.payload = [{\n\t\"key\": \"Temperature\",\n\t\"values\": [\n\t\t[1481052605606, 19.4],\n\t\t[1481054404675, 19.4],\n\t\t[1481055306279, 19.3],\n\t\t[1481056205844, 19.4],\n\t\t[1481057105441, 19.2],\n\t\t[1481058003977, 19.4],\n\t\t[1481058904581, 19.3],\n\t\t[1481060703573, 19.2],\n\t\t[1481062504616, 19.2],\n\t\t[1481064304682, 19.1],\n\t\t[1481065207384, 18.9],\n\t\t[1481066104835, 19.1],\n\t\t[1481067005348, 19],\n\t\t[1481067904878, 19],\n\t\t[1481068804450, 18.9],\n\t\t[1481069704009, 18.9],\n\t\t[1481071505013, 18.9],\n\t\t[1481072404585, 19],\n\t\t[1481073307103, 18.9],\n\t\t[1481074205201, 18.9],\n\t\t[1481076905734, 18.9],\n\t\t[1481077804237, 18.8],\n\t\t[1481078706882, 18.8],\n\t\t[1481079605348, 18.8],\n\t\t[1481080507457, 18.8],\n\t\t[1481081404001, 18.8],\n\t\t[1481082306601, 18.7],\n\t\t[1481083205146, 18.8],\n\t\t[1481084108591, 18.7],\n\t\t[1481085006095, 18.8],\n\t\t[1481085904671, 18.7],\n\t\t[1481087707009, 18.8],\n\t\t[1481088603511, 18.8],\n\t\t[1481089505079, 18.7],\n\t\t[1481093105592, 18.8],\n\t\t[1481094906168, 19.1],\n\t\t[1481095804653, 19.3],\n\t\t[1481096705201, 19.4],\n\t\t[1481097605839, 19.4],\n\t\t[1481098504371, 19.6],\n\t\t[1481102106397, 20.9],\n\t\t[1481103904524, 20.7],\n\t\t[1481105704536, 22],\n\t\t[1481106605156, 22.3],\n\t\t[1481107507239, 22.1],\n\t\t[1481112003837, 21.3],\n\t\t[1481112904923, 21.2],\n\t\t[1481113804500, 21],\n\t\t[1481114705539, 20.8],\n\t\t[1481116505573, 20.6],\n\t\t[1481117406205, 20.6],\n\t\t[1481118304763, 20.4],\n\t\t[1481119206398, 20.3],\n\t\t[1481120104902, 20.3],\n\t\t[1481121903929, 20],\n\t\t[1481122804497, 20],\n\t\t[1481123705017, 19.9],\n\t\t[1481124603556, 19.9],\n\t\t[1481125505120, 19.8],\n\t\t[1481126405690, 19.7],\n\t\t[1481127307300, 19.6],\n\t\t[1481128203892, 19.6],\n\t\t[1481130004503, 19.5],\n\t\t[1481130906008, 19.5],\n\t\t[1481131803527, 19.4],\n\t\t[1481132705022, 19.5],\n\t\t[1481134507110, 19.5],\n\t\t[1481135403626, 19.4],\n\t\t[1481137204691, 19.5],\n\t\t[1481138106260, 19.6]\n\t]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":174,"wires":[["24db1f8c.281f3","45190d3.a46e9f4"]]},{"id":"24db1f8c.281f3","type":"debug","z":"bad86843.649c18","name":"","active":true,"console":"false","complete":"false","x":429,"y":234,"wires":[]},{"id":"45190d3.a46e9f4","type":"ui_chart","z":"bad86843.649c18","name":"","group":"2bdc8362.f6e17c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":470.5,"y":129,"wires":[[],[]]},{"id":"9ce30679.9a1e88","type":"inject","z":"bad86843.649c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":303,"y":295,"wires":[["e8fd704b.48789"]]},{"id":"8ced1585.64d538","type":"debug","z":"bad86843.649c18","name":"","active":true,"console":"false","complete":"false","x":453,"y":440,"wires":[]},{"id":"9d7ff264.17a15","type":"ui_chart","z":"bad86843.649c18","name":"","group":"2bdc8362.f6e17c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":494.5,"y":335,"wires":[[],[]]},{"id":"2bdc8362.f6e17c","type":"ui_group","z":"","name":"Default","tab":"60b9949.a9fde6c","disp":true,"width":"6"},{"id":"60b9949.a9fde6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]