Node Red/Node Red Code/Siri Control - Node Red/AMX AXT16 Simulator.txt
[{"id":"d428798b.26d288","type":"ui_button","z":"44a02047.75eb","name":"Pwr On/Off","group":"ac540c58.5d5b1","order":1,"width":"3","height":"1","passthru":true,"label":"Pwr On/Off","color":"","bgcolor":"RED","icon":"","payload":"1","payloadType":"num","topic":"","x":351.111083984375,"y":44.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"95151a93.0d7f58","type":"ui_button","z":"44a02047.75eb","name":"DVD","group":"ac540c58.5d5b1","order":3,"width":"3","height":"1","passthru":true,"label":"DVD","color":"","bgcolor":"GREEN","icon":"","payload":"2","payloadType":"num","topic":"","x":371.111083984375,"y":84.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"fcfd3e79.eba2","type":"ui_button","z":"44a02047.75eb","name":"CH Up","group":"ac540c58.5d5b1","order":5,"width":"3","height":"1","passthru":true,"label":"Ch Up","color":"","bgcolor":"BLUE","icon":"","payload":"3","payloadType":"num","topic":"","x":371.111083984375,"y":124.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"e27e2cfd.74699","type":"ui_button","z":"44a02047.75eb","name":"CH Down","group":"ac540c58.5d5b1","order":7,"width":"3","height":"1","passthru":false,"label":"Ch Down","color":"","bgcolor":"BLUE","icon":"","payload":"4","payloadType":"num","topic":"","x":361.111083984375,"y":164.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"ba6cdfb0.4311c","type":"ui_button","z":"44a02047.75eb","name":"Vol Up","group":"ac540c58.5d5b1","order":9,"width":"3","height":"1","passthru":true,"label":"Vol Up","color":"","bgcolor":"BLUE","icon":"","payload":"5","payloadType":"num","topic":"","x":371.111083984375,"y":204.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"790500a5.7da57","type":"ui_button","z":"44a02047.75eb","name":"Vol Down","group":"ac540c58.5d5b1","order":11,"width":"3","height":"1","passthru":true,"label":"Vol Down","color":"","bgcolor":"BLUE","icon":"","payload":"6","payloadType":"num","topic":"","x":361.111083984375,"y":244.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"3a701101.190d9e","type":"ui_button","z":"44a02047.75eb","name":"Stop/Menu","group":"ac540c58.5d5b1","order":13,"width":"3","height":"1","passthru":true,"label":"Stop/mENU","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"7","payloadType":"num","topic":"","x":351.111083984375,"y":284.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"e5e778b4.c483c8","type":"ui_button","z":"44a02047.75eb","name":"Left/Rwd","group":"ac540c58.5d5b1","order":15,"width":"3","height":"1","passthru":true,"label":"Left/Rwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"8","payloadType":"num","topic":"","x":361.111083984375,"y":324.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"72a17c8d.19a484","type":"ui_button","z":"44a02047.75eb","name":"Menu/AMP","group":"ac540c58.5d5b1","order":2,"width":"3","height":"1","passthru":true,"label":"Menu/AMP","color":"","bgcolor":"GREEN","icon":"","payload":"9","payloadType":"num","topic":"","x":351.111083984375,"y":364.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"ae11d9bf.aa63b8","type":"ui_button","z":"44a02047.75eb","name":"FOX/FOX2","group":"ac540c58.5d5b1","order":4,"width":"3","height":"1","passthru":true,"label":"Fox/Fox2","color":"","bgcolor":"GREEN","icon":"","payload":"10","payloadType":"num","topic":"","x":351.111083984375,"y":404.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"1f776b52.bf04d5","type":"ui_button","z":"44a02047.75eb","name":"Media Player","group":"ac540c58.5d5b1","order":6,"width":"3","height":"1","passthru":true,"label":"Media Player","color":"","bgcolor":"GREEN","icon":"","payload":"11","payloadType":"num","topic":"","x":351.111083984375,"y":444.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"bfe4b4c5.f7e038","type":"ui_button","z":"44a02047.75eb","name":"TV","group":"ac540c58.5d5b1","order":8,"width":"3","height":"1","passthru":true,"label":"TV","color":"","bgcolor":"GREEN","icon":"","payload":"12","payloadType":"num","topic":"","x":371.111083984375,"y":484.44444274902344,"wires":[["d15556d1.0094a8"]]},{"id":"695e927.d984e6c","type":"ui_button","z":"44a02047.75eb","name":"CD","group":"ac540c58.5d5b1","order":10,"width":"3","height":"1","passthru":true,"label":"CD","color":"","bgcolor":"GREEN","icon":"","payload":"13","payloadType":"num","topic":"","x":371.111083984375,"y":524.4444427490234,"wires":[["d15556d1.0094a8"]]},{"id":"c4bac96.96a4d38","type":"ui_button","z":"44a02047.75eb","name":"Back/Return","group":"ac540c58.5d5b1","order":12,"width":"3","height":"1","passthru":true,"label":"Back/Return","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"14","payloadType":"num","topic":"","x":351.111083984375,"y":564.4444427490234,"wires":[["d15556d1.0094a8"]]},{"id":"d60adea8.e7f65","type":"ui_button","z":"44a02047.75eb","name":"Play/Select Ok","group":"ac540c58.5d5b1","order":14,"width":"3","height":"1","passthru":true,"label":"Play/Select Ok","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"15","payloadType":"num","topic":"","x":341.111083984375,"y":604.4444427490234,"wires":[["d15556d1.0094a8"]]},{"id":"33507755.390fe8","type":"ui_button","z":"44a02047.75eb","name":"Right/Fwd","group":"ac540c58.5d5b1","order":16,"width":"3","height":"1","passthru":true,"label":"Right/Fwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"16","payloadType":"num","topic":"","x":361.111083984375,"y":644.4444427490234,"wires":[["d15556d1.0094a8"]]},{"id":"d15556d1.0094a8","type":"change","z":"44a02047.75eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":661.111083984375,"y":324.44444274902344,"wires":[["7d42d9c6.07b998","99f43fb6.c8479"]]},{"id":"eaf74663.47cfb8","type":"inject","z":"44a02047.75eb","name":"Power On/Off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":131.111083984375,"y":44.44444274902344,"wires":[["d428798b.26d288"]]},{"id":"8caca21.ca06d6","type":"inject","z":"44a02047.75eb","name":"DVD","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.111083984375,"y":84.44444274902344,"wires":[["95151a93.0d7f58"]]},{"id":"2286100f.fbcba","type":"inject","z":"44a02047.75eb","name":"Channel Up","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.111083984375,"y":124.44444274902344,"wires":[["fcfd3e79.eba2"]]},{"id":"c219d651.c91b58","type":"inject","z":"44a02047.75eb","name":"Channel Down","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":121.111083984375,"y":164.44444274902344,"wires":[["e27e2cfd.74699"]]},{"id":"270d1913.188e36","type":"inject","z":"44a02047.75eb","name":"Vol Up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.111083984375,"y":204.44444274902344,"wires":[["ba6cdfb0.4311c"]]},{"id":"ece96b04.346308","type":"inject","z":"44a02047.75eb","name":"Vol Down","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":244.44444274902344,"wires":[["790500a5.7da57"]]},{"id":"9370add6.11f04","type":"inject","z":"44a02047.75eb","name":"Stop/Menu","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":284.44444274902344,"wires":[["3a701101.190d9e"]]},{"id":"b805ec1a.c1642","type":"inject","z":"44a02047.75eb","name":"Left/Rwd","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":324.44444274902344,"wires":[["e5e778b4.c483c8"]]},{"id":"88038341.aa6ee","type":"inject","z":"44a02047.75eb","name":"Menu/Amp","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":364.44444274902344,"wires":[["72a17c8d.19a484"]]},{"id":"1752ef0c.d77171","type":"inject","z":"44a02047.75eb","name":"Fox/Fox2","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":404.44444274902344,"wires":[["ae11d9bf.aa63b8"]]},{"id":"d4e1e250.5958d","type":"inject","z":"44a02047.75eb","name":"Media Player","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"x":131.111083984375,"y":444.44444274902344,"wires":[["1f776b52.bf04d5"]]},{"id":"4b90ecea.45b294","type":"inject","z":"44a02047.75eb","name":"TV","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.111083984375,"y":484.44444274902344,"wires":[["bfe4b4c5.f7e038"]]},{"id":"31896d94.ba0f02","type":"inject","z":"44a02047.75eb","name":"CD","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.111083984375,"y":524.4444427490234,"wires":[["695e927.d984e6c"]]},{"id":"31a335a0.ef574a","type":"inject","z":"44a02047.75eb","name":"Back/Return","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"x":131.111083984375,"y":564.4444427490234,"wires":[["c4bac96.96a4d38"]]},{"id":"7ffd5afc.8e5214","type":"inject","z":"44a02047.75eb","name":"Play/Select Ok","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"x":121.111083984375,"y":604.4444427490234,"wires":[["d60adea8.e7f65"]]},{"id":"1e7bde62.c182c2","type":"inject","z":"44a02047.75eb","name":"Right/Fwd","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":644.4444427490234,"wires":[["33507755.390fe8"]]},{"id":"7d42d9c6.07b998","type":"debug","z":"44a02047.75eb","name":"","active":false,"console":"false","complete":"false","x":871.111083984375,"y":364.44444274902344,"wires":[]},{"id":"99f43fb6.c8479","type":"link out","z":"44a02047.75eb","name":"Send to AMX","links":["9eae1330.feb3b"],"x":854.4286804199219,"y":300.8571672439575,"wires":[]},{"id":"ac540c58.5d5b1","type":"ui_group","z":"44a02047.75eb","name":"AMX TXC16 Simulator","tab":"c28ffea0.b29cb","disp":true,"width":"6"},{"id":"c28ffea0.b29cb","type":"ui_tab","z":"44a02047.75eb","name":"AMX TXC16","icon":"dashboard"}]