Node Red/Node Red Code/Siri Control - Node Red/Onkyo Amplifer.txt
[{"id":"fcc04cff.343de","type":"ui_button","z":"dae27ee5.4864c","name":"Volume Up","group":"6f33f2a7.ef4d5c","order":2,"width":"3","height":"1","passthru":true,"label":"Volume Up","color":"","bgcolor":"BLUE","icon":"","payload":"main volume level-up","payloadType":"str","topic":"","x":400,"y":121.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"fe1fa1c3.22914","type":"debug","z":"dae27ee5.4864c","name":"","active":false,"console":"false","complete":"payload","x":1120,"y":681.4285736083984,"wires":[]},{"id":"ddc4d252.11f0e","type":"ui_button","z":"dae27ee5.4864c","name":"Volume Down","group":"6f33f2a7.ef4d5c","order":4,"width":"3","height":"1","passthru":true,"label":"Volume Down","color":"","bgcolor":"BLUE","icon":"","payload":"main volume level-down","payloadType":"str","topic":"","x":390,"y":161.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"5ea9defb.bd9c4","type":"ui_button","z":"dae27ee5.4864c","name":"HDMI - PC - 5","group":"6f33f2a7.ef4d5c","order":13,"width":"3","height":"1","passthru":true,"label":"HDMI - PC","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector pc","payloadType":"str","topic":"","x":390,"y":201.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"b6397b8d.866638","type":"ui_button","z":"dae27ee5.4864c","name":"HDMI - DVD - 10","group":"6f33f2a7.ef4d5c","order":11,"width":"3","height":"1","passthru":true,"label":"HDMI - DVD","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector dvd","payloadType":"str","topic":"","x":380,"y":241.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"8e0366b9.e73438","type":"ui_button","z":"dae27ee5.4864c","name":"CD/TV","group":"6f33f2a7.ef4d5c","order":15,"width":"3","height":"1","passthru":true,"label":"CD/TV","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector cd","payloadType":"str","topic":"","x":420,"y":401.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"9d58ca37.c35fa8","type":"ui_button","z":"dae27ee5.4864c","name":"iRadio","group":"6f33f2a7.ef4d5c","order":10,"width":"3","height":"1","passthru":true,"label":"Radio","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector internet-radio","payloadType":"str","topic":"","x":420,"y":441.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"3d35ea26.b1aef6","type":"ui_button","z":"dae27ee5.4864c","name":"Tuner","group":"6f33f2a7.ef4d5c","order":17,"width":"3","height":"1","passthru":true,"label":"Tuner","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector tuner","payloadType":"str","topic":"","x":420,"y":481.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"4cb88ba1.143d44","type":"ui_button","z":"dae27ee5.4864c","name":"Phono","group":"6f33f2a7.ef4d5c","order":12,"width":"3","height":"1","passthru":true,"label":"Phono","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector phono","payloadType":"str","topic":"","x":420,"y":521.4285736083984,"wires":[["4d95e6e1.753958"]]},{"id":"abd9efb7.421f6","type":"ui_button","z":"dae27ee5.4864c","name":"HDMI - AUX - 3","group":"6f33f2a7.ef4d5c","order":9,"width":"3","height":"1","passthru":true,"label":"HDMI - AUX","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector aux","payloadType":"str","topic":"","x":390,"y":281.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"6b153e1e.9c893","type":"ui_button","z":"dae27ee5.4864c","name":"HDMI - GAME - 2","group":"6f33f2a7.ef4d5c","order":7,"width":"3","height":"1","passthru":true,"label":"HDMI - GAME","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector game","payloadType":"str","topic":"","x":380,"y":321.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"90aaa29e.487f3","type":"ui_button","z":"dae27ee5.4864c","name":"Volume Mute ON","group":"6f33f2a7.ef4d5c","order":6,"width":"3","height":"1","passthru":true,"label":"Volume Mute On","color":"","bgcolor":"BLUE","icon":"","payload":"main audio-muting on","payloadType":"str","topic":"","x":380,"y":41.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"ea12b268.ea538","type":"ui_button","z":"dae27ee5.4864c","name":"Volume Mute Off","group":"6f33f2a7.ef4d5c","order":8,"width":"3","height":"1","passthru":true,"label":"Volume Mute Off","color":"","bgcolor":"BLUE","icon":"","payload":"main audio-muting off","payloadType":"str","topic":"","x":380,"y":81.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"1e63954f.9136eb","type":"ui_button","z":"dae27ee5.4864c","name":"Sound THX","group":"6f33f2a7.ef4d5c","order":18,"width":"3","height":"1","passthru":true,"label":"Sound THX","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode thx","payloadType":"str","topic":"","x":400,"y":561.4285736083984,"wires":[["4d95e6e1.753958"]]},{"id":"27ab50a2.8aafc","type":"ui_button","z":"dae27ee5.4864c","name":"Sound Movies","group":"6f33f2a7.ef4d5c","order":14,"width":"3","height":"1","passthru":true,"label":"Sound Movies","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode movie","payloadType":"str","topic":"","x":390,"y":601.4285736083984,"wires":[["4d95e6e1.753958"]]},{"id":"bb51f466.b4f048","type":"ui_button","z":"dae27ee5.4864c","name":"Sound Music","group":"6f33f2a7.ef4d5c","order":16,"width":"3","height":"1","passthru":true,"label":"Sound Music","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode music","payloadType":"str","topic":"","x":400,"y":641.4285736083984,"wires":[["4d95e6e1.753958"]]},{"id":"c668b3a1.4c029","type":"ui_button","z":"dae27ee5.4864c","name":"Power Off","group":"6f33f2a7.ef4d5c","order":3,"width":"3","height":"1","passthru":true,"label":"Power Off","color":"","bgcolor":"RED","icon":"","payload":"main system-power standby","payloadType":"str","topic":"","x":410,"y":681.4285736083984,"wires":[["4d95e6e1.753958"]]},{"id":"3069eda9.1fa242","type":"ui_button","z":"dae27ee5.4864c","name":"Power On","group":"6f33f2a7.ef4d5c","order":1,"width":"3","height":"1","passthru":true,"label":"Power On","color":"","bgcolor":"RED","icon":"","payload":"main system-power on","payloadType":"str","topic":"","x":410,"y":721.4285736083984,"wires":[["4d95e6e1.753958"]]},{"id":"572455f1.47081c","type":"ui_button","z":"dae27ee5.4864c","name":"HDMI - SAT - 1","group":"6f33f2a7.ef4d5c","order":5,"width":"3","height":"1","passthru":true,"label":"HDMI - SAT","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector sat","payloadType":"str","topic":"","x":390,"y":361.42857360839844,"wires":[["4d95e6e1.753958"]]},{"id":"4f935655.328c78","type":"function","z":"dae27ee5.4864c","name":"Create_Onkyo_Message_Payload","func":"var onkyo_msg = msg.payload;\n// count the length of the string\nvar onkyo_msg_len = msg.payload.length;\nonkyo_msg_len = onkyo_msg_len + 3;\n//node.send ({payload:onkyo_msg_len});\n\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x09,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send ({payload:[73,83,67,80,0,0,0,16,0,0,0,24,1,0,0,0,33,49,83,76,73,50,51,13]});\n//!xECNQSTN\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x0b,0x01,0x00,0x00,0x00,'!xECNQSTN',0x0d,0x0a]});\n//node.send({payload:['ISCP',' ',onkyo_msg_len,' ',onkyo_msg]});\nnode.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,length of string 0x0c,0x01,0x00,0x00,0x00,onkyo_msg,0x0d,0x0a]});\n//!1AMT01\n//'ISCP',$00,$00,$00,$10,$00,$00,$00,$0C,$01,$00,$00,$00,'!1PWR01', $0d\"\nreturn null;\n//return (\"ISCP\");\n//,0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a);\n//SLI05 = 09\n//MVLDOWN = 0b\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\9\\1\\0\\0\\0 !1AMT01\\r\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0  !1MVLDOWN1\\r\n\n// sending absolute volume values\n//  Scripting.SendMessage(ISCP0001600091000!1MVL0 .. hex .. 1310)\n\n//!xECNQSTN\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1NTCRIGHT\\13\\10\")\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1OSDRIGHT\\13\\10\")\n// SOURCE_CD: 73;83;67;80;0;0;0;16;0;0;0;24;1;0;0;0;33;49;83;76;73;50;51;13","outputs":1,"noerr":0,"x":1010,"y":101.42857360839844,"wires":[[]]},{"id":"a0167d77.6811","type":"inject","z":"dae27ee5.4864c","name":"Volume Mute ON","topic":"","payload":"main audio-muting on","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":41.42857360839844,"wires":[["90aaa29e.487f3"]]},{"id":"aef277d0.0f2ca8","type":"inject","z":"dae27ee5.4864c","name":"Volume Mute OFF","topic":"","payload":"main audio-muting off","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":81.42857360839844,"wires":[["ea12b268.ea538"]]},{"id":"2971103b.1e216","type":"inject","z":"dae27ee5.4864c","name":"Volume Up","topic":"main volume level-up","payload":"main volume level-up","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":121.42857360839844,"wires":[["fcc04cff.343de"]]},{"id":"89e3d61b.589338","type":"inject","z":"dae27ee5.4864c","name":"Volume Down","topic":"","payload":"main volume level-down","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":161.42857360839844,"wires":[["ddc4d252.11f0e"]]},{"id":"e8af9126.5b991","type":"inject","z":"dae27ee5.4864c","name":"HDMI - PC - 5","topic":"","payload":"main input-selector pc","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":201.42857360839844,"wires":[["5ea9defb.bd9c4"]]},{"id":"c6961b07.7c4f48","type":"inject","z":"dae27ee5.4864c","name":"HDMI - DVD - 10","topic":"","payload":"main input-selector dvd","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":241.42857360839844,"wires":[["b6397b8d.866638"]]},{"id":"6d8c3478.609e2c","type":"inject","z":"dae27ee5.4864c","name":"HDMI - AUX - 3","topic":"","payload":"main input-selector aux","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":281.42857360839844,"wires":[["abd9efb7.421f6"]]},{"id":"6f83bcd0.3db9b4","type":"inject","z":"dae27ee5.4864c","name":"HDMI - GAME - 2","topic":"","payload":"main input-selector game","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":321.42857360839844,"wires":[["6b153e1e.9c893"]]},{"id":"77d04f5c.ca879","type":"inject","z":"dae27ee5.4864c","name":"HDMI - SAT - 1","topic":"","payload":"main input-selector sat","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":361.42857360839844,"wires":[["572455f1.47081c"]]},{"id":"9de41edd.0214d","type":"inject","z":"dae27ee5.4864c","name":"CD/TV","topic":"","payload":"main input-selector cd","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":401.42857360839844,"wires":[["8e0366b9.e73438"]]},{"id":"e7e5ddcf.3372f","type":"inject","z":"dae27ee5.4864c","name":"iRadio","topic":"","payload":"main input-selector internet-radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":441.42857360839844,"wires":[["9d58ca37.c35fa8"]]},{"id":"6f6983c5.b1119c","type":"inject","z":"dae27ee5.4864c","name":"Tuner","topic":"","payload":"main input-selector tuner","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":481.42857360839844,"wires":[["3d35ea26.b1aef6"]]},{"id":"d9e41f24.88e6b","type":"inject","z":"dae27ee5.4864c","name":"Phono","topic":"","payload":"main input-selector phono","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":521.4285736083984,"wires":[["4cb88ba1.143d44"]]},{"id":"34a1e497.05a2bc","type":"inject","z":"dae27ee5.4864c","name":"Sound THX","topic":"","payload":"main listening-mode thx","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":561.4285736083984,"wires":[["1e63954f.9136eb"]]},{"id":"dcf095b.263f568","type":"inject","z":"dae27ee5.4864c","name":"Sound Movies","topic":"","payload":"main listening-mode movie","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":601.4285736083984,"wires":[["27ab50a2.8aafc"]]},{"id":"1bfddd6d.ae3653","type":"inject","z":"dae27ee5.4864c","name":"Sound Music","topic":"","payload":"main listening-mode music","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":641.4285736083984,"wires":[["bb51f466.b4f048"]]},{"id":"3d9f5ba0.979d64","type":"inject","z":"dae27ee5.4864c","name":"Power Off","topic":"","payload":"main system-power standby","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":681.4285736083984,"wires":[["c668b3a1.4c029"]]},{"id":"6f12685d.7b3d18","type":"inject","z":"dae27ee5.4864c","name":"Power On","topic":"","payload":"main system-power on","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":721.4285736083984,"wires":[["3069eda9.1fa242"]]},{"id":"e65044ce.620d88","type":"eiscp-in","z":"dae27ee5.4864c","name":"Lounge Room Amplifier","controller":"fb9d5ad.c83dea8","x":790,"y":461.42857360839844,"wires":[["97469a4e.222928"]]},{"id":"97469a4e.222928","type":"debug","z":"dae27ee5.4864c","name":"","active":false,"console":"false","complete":"false","x":1010,"y":461.42857360839844,"wires":[]},{"id":"f7af0192.ffeb6","type":"eiscp-out","z":"dae27ee5.4864c","name":"Lounge Room Onkyo Amp","controller":"fb9d5ad.c83dea8","x":1170,"y":561.4285736083984,"wires":[]},{"id":"4d95e6e1.753958","type":"function","z":"dae27ee5.4864c","name":"Send to Onkyo Amp","func":"var onkyo_msg = msg.payload;\n\nnode.send ({payload:[msg.payload]}); //tuner input selected\n\n//eiscp.command(\"main power off\");\n\nreturn null;\n\n\n//command_to_iscp('main.system-power=standby') == 'PWR00'\n\n//  https://github.com/miracle2k/onkyo-eiscp/blob/master/eiscp/commands.py","outputs":1,"noerr":0,"x":790,"y":561.4285736083984,"wires":[["f7af0192.ffeb6","fe1fa1c3.22914"]]},{"id":"6f33f2a7.ef4d5c","type":"ui_group","z":"","name":"Onkyo Amplifier","tab":"5d381381.56a17c","disp":true,"width":"6"},{"id":"fb9d5ad.c83dea8","type":"eiscp-controller","z":"","name":"Onkyo Amp","host":"192.168.1.196","port":"60128","model":"TX-NR626"},{"id":"5d381381.56a17c","type":"ui_tab","z":"","name":"Onkyo Amp","icon":"dashboard"}]