Node Red/Node Red Code/Siri Control - Node Red/Siri - Garage Door.txt
[{"id":"3d2aaba8.191e34","type":"debug","z":"2c89ed44.3eb0c2","name":"","active":false,"console":"false","complete":"false","x":760.8691635131836,"y":26.924606323242188,"wires":[]},{"id":"1fb39f79.e9b431","type":"debug","z":"2c89ed44.3eb0c2","name":"","active":false,"console":"false","complete":"false","x":387.0654716491699,"y":120.47620582580566,"wires":[]},{"id":"5ff8e0b5.f5f19","type":"function","z":"2c89ed44.3eb0c2","name":"Split Data - Garage Door","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\n\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"front\")\n        {\n        var garage_door_index = i;\n        var door_number = 1;\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"rear\")\n        {\n        var shed_door_index = i;\n        var door_number = 2;\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"shed\")\n        {\n        var shed_door_index = i;\n        var door_number = 2;\n        }\n    }\n    \nfor (i = 0; i < msgdata.length; i++) // look for the word open\n    { \n    if (msgdata[i] == \"open\")\n        {\n        var door_mode_index = i;\n        var door_mode = 'open';\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for the word close\n    { \n    if (msgdata[i] == \"close\")\n        {\n        var door_mode_index = i;\n        var door_mode = 'close';\n        }\n    }\n\n//send to output on off signals to the relay    \nif (door_number == 1) //front garage door\n    {\n    node.send ({payload:[\"front garage door \" + door_mode]});\n    }\nif (door_number == 2) //shed or rear roller door\n    {\n    node.send ({payload:[\"rear garage door \" + door_mode]});\n    }\n    \nreturn [null];","outputs":"1","noerr":0,"x":426.50000762939453,"y":76.6746244430542,"wires":[["d4f7c139.253ea","3d2aaba8.191e34"]]},{"id":"83632d79.982c2","type":"link in","z":"2c89ed44.3eb0c2","name":"Relay Data From Siri","links":["5ba4435b.ef26fc"],"x":161.6666555404663,"y":59.388885498046875,"wires":[["1fb39f79.e9b431","5ff8e0b5.f5f19"]]},{"id":"d4f7c139.253ea","type":"link out","z":"2c89ed44.3eb0c2","name":"Garage Door","links":["9eae1330.feb3b"],"x":979.5477628707886,"y":141.23810195922852,"wires":[]},{"id":"c852ee5d.18841","type":"inject","z":"2c89ed44.3eb0c2","name":"Garage Door Open","topic":"","payload":"front garage door open","payloadType":"str","repeat":"","crontab":"","once":false,"x":170.14286586216517,"y":202.57143293108257,"wires":[["cab18f58.93356"]]},{"id":"c219a38d.ca581","type":"function","z":"2c89ed44.3eb0c2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":692.9999809265137,"y":220.5714626312256,"wires":[["69c8ac93.4a0ac4","d4f7c139.253ea"]]},{"id":"cab18f58.93356","type":"ui_button","z":"2c89ed44.3eb0c2","name":"Garage Door Open","group":"9c3ee803.fb0ec8","order":0,"width":0,"height":0,"passthru":true,"label":"Garage Door Open","color":"","bgcolor":"","icon":"","payload":"front garage door open","payloadType":"str","topic":"","x":382.8571662902832,"y":203.1428861618042,"wires":[["c219a38d.ca581"]]},{"id":"82f21b4a.e71488","type":"inject","z":"2c89ed44.3eb0c2","name":"Garage Door Close","topic":"","payload":"front garage door close","payloadType":"str","repeat":"","crontab":"","once":false,"x":171.42857360839844,"y":252.85714721679688,"wires":[["3a241051.f225e"]]},{"id":"3a241051.f225e","type":"ui_button","z":"2c89ed44.3eb0c2","name":"Garage Door Close","group":"9c3ee803.fb0ec8","order":0,"width":0,"height":0,"passthru":true,"label":"Garage Door Close","color":"","bgcolor":"","icon":"","payload":"front garage door close","payloadType":"str","topic":"","x":388.5714874267578,"y":252.85715198516846,"wires":[["c219a38d.ca581"]]},{"id":"3e7bf78d.a85568","type":"inject","z":"2c89ed44.3eb0c2","name":"Rear Door Open","topic":"","payload":"rear garage door open","payloadType":"str","repeat":"","crontab":"","once":false,"x":157.14285278320312,"y":302.8571472167969,"wires":[["75ae32bd.2ffbec"]]},{"id":"75ae32bd.2ffbec","type":"ui_button","z":"2c89ed44.3eb0c2","name":"Rear Door Open","group":"9c3ee803.fb0ec8","order":0,"width":0,"height":0,"passthru":true,"label":"Rear Door Open","color":"","bgcolor":"","icon":"","payload":"rear garage door open","payloadType":"str","topic":"","x":379.85715321132113,"y":303.42860044751853,"wires":[["c219a38d.ca581"]]},{"id":"db841eca.542f9","type":"inject","z":"2c89ed44.3eb0c2","name":"Rear Door Close","topic":"","payload":"rear garage door close","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.4285605294364,"y":353.1428615025112,"wires":[["cfcca0a6.c0617"]]},{"id":"cfcca0a6.c0617","type":"ui_button","z":"2c89ed44.3eb0c2","name":"Rear Door Close","group":"9c3ee803.fb0ec8","order":0,"width":0,"height":0,"passthru":true,"label":"Rear Door Close","color":"","bgcolor":"","icon":"","payload":"rear garage door close","payloadType":"str","topic":"","x":375.57147434779574,"y":353.1428662708828,"wires":[["c219a38d.ca581"]]},{"id":"69c8ac93.4a0ac4","type":"debug","z":"2c89ed44.3eb0c2","name":"","active":false,"console":"false","complete":"false","x":921.5715026855469,"y":239.14284801483154,"wires":[]},{"id":"9c3ee803.fb0ec8","type":"ui_group","z":"","name":"Garge Door","tab":"279ae69f.8b341a","disp":true,"width":"6"},{"id":"279ae69f.8b341a","type":"ui_tab","z":"","name":"Garage Doors","icon":"dashboard"}]