Github Repo/Node Red Code/john_shirt_csv_files/John_Shirts_Charts.txt
[{"id":"a1e8ee58.c2ae4","type":"inject","z":"5e215a5d.d8be04","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":130,"y":100,"wires":[["4425b0d3.a0ad1"]]},{"id":"4425b0d3.a0ad1","type":"ui_button","z":"5e215a5d.d8be04","name":"Refresh","group":"ec472441.5e2628","order":4,"width":"0","height":"0","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":100,"wires":[["f309a0c8.7dcd","ee20b95b.6b2238","8eccd963.32e728"]]},{"id":"f309a0c8.7dcd","type":"file in","z":"5e215a5d.d8be04","name":"axis1pos.txt","filename":"/home/pi/Chris_Rasp_Pi_Programs/Node Red/Node Red Code/John Shirt/axis1pos.txt","format":"utf8","chunk":false,"sendError":false,"x":450,"y":100,"wires":[["2a3c3e62.305382"]]},{"id":"2a3c3e62.305382","type":"json","z":"5e215a5d.d8be04","name":"","pretty":false,"x":650,"y":100,"wires":[["9c1f8d57.b13bd","c5c86455.943498","fbd0109c.c36f"]]},{"id":"ee20b95b.6b2238","type":"file in","z":"5e215a5d.d8be04","name":"axis2pos.txt","filename":"/home/pi/Chris_Rasp_Pi_Programs/Node Red/Node Red Code/John Shirt/axis2pos.txt","format":"utf8","chunk":false,"sendError":false,"x":450,"y":140,"wires":[["bf08c730.8db268"]]},{"id":"9c1f8d57.b13bd","type":"debug","z":"5e215a5d.d8be04","name":"","active":true,"console":"false","complete":"false","x":790,"y":40,"wires":[]},{"id":"bf08c730.8db268","type":"json","z":"5e215a5d.d8be04","name":"","pretty":false,"x":650,"y":140,"wires":[["e729ae17.7221e","ad43646a.570968"]]},{"id":"c5c86455.943498","type":"ui_gauge","z":"5e215a5d.d8be04","name":"","group":"ec472441.5e2628","order":1,"width":"4","height":"4","gtype":"gage","title":"X Pos","label":"units","format":"{{value}}","min":0,"max":"230000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":100,"wires":[]},{"id":"e729ae17.7221e","type":"ui_gauge","z":"5e215a5d.d8be04","name":"","group":"ec472441.5e2628","order":2,"width":"4","height":"4","gtype":"gage","title":"Y Pos","label":"units","format":"{{value}}","min":0,"max":"230000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":140,"wires":[]},{"id":"3fd8d1e7.af7a4e","type":"ui_text","z":"5e215a5d.d8be04","group":"ec472441.5e2628","order":3,"width":"8","height":"3","name":"","label":"Date Time Stamp","format":"{{msg.payload}}","layout":"col-center","x":870,"y":180,"wires":[]},{"id":"8eccd963.32e728","type":"function","z":"5e215a5d.d8be04","name":"Add Timestamp","func":"msg.payload = new Date().toString();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["3fd8d1e7.af7a4e"]]},{"id":"a5cbdfba.c89d8","type":"ui_chart","z":"5e215a5d.d8be04","name":"","group":"d6485ddb.8d977","order":0,"width":0,"height":0,"label":"X,Y Position","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1030,"y":340,"wires":[[],[]]},{"id":"fbd0109c.c36f","type":"function","z":"5e215a5d.d8be04","name":"X-Pos-Line-1","func":"var newmsg = {};\nnewmsg = msg.payload;\nnode.send ({payload:newmsg,topic:\"X-Pos\",label:\"X-Pos\"});\nreturn null;","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["a5cbdfba.c89d8","c5c42d11.8a08"]]},{"id":"ad43646a.570968","type":"function","z":"5e215a5d.d8be04","name":"Y-Pos-Line-2","func":"var newmsg = {};\nnewmsg = msg.payload;\nnode.send ({payload:newmsg,topic:\"Y-Pos\",label:\"Y-Pos\"});\nreturn null;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["a5cbdfba.c89d8","c5c42d11.8a08"]]},{"id":"ba42b5a9.607318","type":"ui_button","z":"5e215a5d.d8be04","name":"Reset Chart","group":"d6485ddb.8d977","order":0,"width":"0","height":"0","passthru":true,"label":"Reset Chart/s","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":510,"y":340,"wires":[["a5cbdfba.c89d8","c5c42d11.8a08"]]},{"id":"c5c42d11.8a08","type":"ui_chart","z":"5e215a5d.d8be04","name":"","group":"d6485ddb.8d977","order":0,"width":0,"height":0,"label":"chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1040,"y":220,"wires":[[],[]]},{"id":"ec472441.5e2628","type":"ui_group","z":"","name":"Current Position","tab":"31949b63.cab374","disp":true,"width":"8"},{"id":"d6485ddb.8d977","type":"ui_group","z":"","name":"X,Y Position over time","tab":"31949b63.cab374","disp":true,"width":"6"},{"id":"31949b63.cab374","type":"ui_tab","z":"","name":"Sun Tracker","icon":"dashboard"}]