Github Repo/Node Red Code/john_shirt_csv_files/Node_Red_John_Shirts_Charts.txt
[{"id":"621fd614.45efb8","type":"inject","z":"bee6b859.f45c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":130,"y":100,"wires":[["584252be.04cb6c"]]},{"id":"584252be.04cb6c","type":"ui_button","z":"bee6b859.f45c78","name":"Refresh","group":"37216de6.9424d2","order":4,"width":"0","height":"0","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":100,"wires":[["5a695a3.53d65a4","a696101c.0830a","b3c86a47.b5c798"]]},{"id":"5a695a3.53d65a4","type":"file in","z":"bee6b859.f45c78","name":"axis1pos.txt","filename":"/home/pi/Chris_Rasp_Pi_Programs/Node Red/Node Red Code/John Shirt/axis1pos.txt","format":"utf8","x":450,"y":100,"wires":[["9c767248.b8076"]]},{"id":"9c767248.b8076","type":"json","z":"bee6b859.f45c78","name":"","x":650,"y":100,"wires":[["b0d128a4.5222c8","6e157b6f.3b0644"]]},{"id":"a696101c.0830a","type":"file in","z":"bee6b859.f45c78","name":"axis2pos.txt","filename":"/home/pi/Chris_Rasp_Pi_Programs/Node Red/Node Red Code/John Shirt/axis2pos.txt","format":"utf8","x":450,"y":140,"wires":[["9a420604.a36508"]]},{"id":"9a420604.a36508","type":"json","z":"bee6b859.f45c78","name":"","x":650,"y":140,"wires":[["f3636c34.a6757","36425baf.13f614"]]},{"id":"b0d128a4.5222c8","type":"ui_gauge","z":"bee6b859.f45c78","name":"","group":"37216de6.9424d2","order":1,"width":"4","height":"4","gtype":"gage","title":"X Pos","label":"units","format":"{{value}}","min":0,"max":"230000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":100,"wires":[]},{"id":"f3636c34.a6757","type":"ui_gauge","z":"bee6b859.f45c78","name":"","group":"37216de6.9424d2","order":2,"width":"4","height":"4","gtype":"gage","title":"Y Pos","label":"units","format":"{{value}}","min":0,"max":"230000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":140,"wires":[]},{"id":"4b7d1a0f.0a43f4","type":"ui_text","z":"bee6b859.f45c78","group":"37216de6.9424d2","order":3,"width":"8","height":"3","name":"","label":"Date Time Stamp","format":"{{msg.payload}}","layout":"col-center","x":870,"y":180,"wires":[]},{"id":"b3c86a47.b5c798","type":"function","z":"bee6b859.f45c78","name":"Add Timestamp","func":"msg.payload = new Date().toString();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["4b7d1a0f.0a43f4"]]},{"id":"5b37edee.e415d4","type":"ui_chart","z":"bee6b859.f45c78","name":"","group":"5aeb99c2.bd6888","order":0,"width":0,"height":0,"label":"X,Y Position","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1030,"y":340,"wires":[[],[]]},{"id":"6e157b6f.3b0644","type":"function","z":"bee6b859.f45c78","name":"X-Pos-Line-1","func":"var newmsg = {};\nnewmsg = msg.payload;\nnode.send ({payload:newmsg,topic:\"X-Pos\",label:\"X-Pos\"});\nreturn null;","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["5b37edee.e415d4","a55c1db.1f02ee"]]},{"id":"36425baf.13f614","type":"function","z":"bee6b859.f45c78","name":"Y-Pos-Line-2","func":"var newmsg = {};\nnewmsg = msg.payload;\nnode.send ({payload:newmsg,topic:\"Y-Pos\",label:\"Y-Pos\"});\nreturn null;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["5b37edee.e415d4","a55c1db.1f02ee"]]},{"id":"51d11887.36c158","type":"ui_button","z":"bee6b859.f45c78","name":"Reset Chart","group":"5aeb99c2.bd6888","order":0,"width":"0","height":"0","passthru":true,"label":"Reset Chart","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":510,"y":340,"wires":[["5b37edee.e415d4","a55c1db.1f02ee"]]},{"id":"a55c1db.1f02ee","type":"ui_chart","z":"bee6b859.f45c78","name":"","group":"5aeb99c2.bd6888","order":0,"width":0,"height":0,"label":"Polar TEST","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1060,"y":220,"wires":[[],[]]},{"id":"98a13ab8.ee0898","type":"ui_dropdown","z":"bee6b859.f45c78","name":"","label":"","place":"Select option","group":"2c58ec04.8d6224","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":660,"y":400,"wires":[["3781d52c.cacdda"]]},{"id":"282d677f.0a7b98","type":"fs-file-lister","z":"bee6b859.f45c78","name":"","start":"/home/pi/Chris_Rasp_Pi_Programs/Node Red/Node Red Code/John Shirt/","pattern":"*.csv","path":false,"single":true,"depth":0,"stat":true,"x":380,"y":400,"wires":[["111c2faa.a3221"]]},{"id":"a070c00f.041f5","type":"inject","z":"bee6b859.f45c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":400,"wires":[["9fc40f49.4054f"]]},{"id":"111c2faa.a3221","type":"function","z":"bee6b859.f45c78","name":"","func":"var newmsg = {};\nnewmsg.options = [];\nvar temp1, temp2;\nfor (var i = 0; i < msg.payload.length; i++) \n    {\n    temp1 = msg.payload[i].name;\n    newmsg.options[i] = {};\n    newmsg.options[i][temp1] = temp1;\n    }\nreturn newmsg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["98a13ab8.ee0898"]]},{"id":"a34270ab.0b9ef","type":"csv","z":"bee6b859.f45c78","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","x":850,"y":520,"wires":[["7ba5af6f.a496"]]},{"id":"26b52bfd.5e26a4","type":"file in","z":"bee6b859.f45c78","name":"","filename":"","format":"utf8","x":830,"y":460,"wires":[["a34270ab.0b9ef"]]},{"id":"3781d52c.cacdda","type":"function","z":"bee6b859.f45c78","name":"","func":"//msg.payload = (\"/home/pi/Chris_Rasp_Pi_Programs/Node Red/Node Red Code/John Shirt/\" + msg.payload);\nvar newmsg = {};\nnewmsg.filename = (\"/home/pi/Chris_Rasp_Pi_Programs/Node Red/Node Red Code/John Shirt/\" + msg.payload);\nreturn newmsg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["26b52bfd.5e26a4"]]},{"id":"7ba5af6f.a496","type":"function","z":"bee6b859.f45c78","name":"","func":"var temp1 = {};\nvar temp2 = {};\n//node.send ({[]});\nnode.send (null,1);\nfor (var i = 0; i < msg.payload.length; i+=25) \n    {\n    temp1 = msg.payload[i].col14;\n    temp1 = Math.round(temp1);\n    temp2 = msg.payload[i].col15;\n    temp2 = Math.round(temp2);    \n    node.send ({payload:temp1,topic:\"X-Pos\",label:\"X-Pos\"},null);\n    node.send ({payload:temp2,topic:\"Y-Pos\",label:\"Y-Pos\"},null);\n    \n    }\nreturn null;","outputs":"2","noerr":0,"x":850,"y":580,"wires":[["9fd4acf6.df998"],["e9446bc2.de8658"]]},{"id":"e9446bc2.de8658","type":"ui_button","z":"bee6b859.f45c78","name":"Reset Chart","group":"2c58ec04.8d6224","order":4,"width":"0","height":"0","passthru":true,"label":"Reset Chart","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1010,"y":620,"wires":[["9fd4acf6.df998"]]},{"id":"9fc40f49.4054f","type":"ui_button","z":"bee6b859.f45c78","name":"Load","group":"2c58ec04.8d6224","order":3,"width":0,"height":0,"passthru":true,"label":"Load Filenames","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":400,"wires":[["282d677f.0a7b98"]]},{"id":"37216de6.9424d2","type":"ui_group","z":"","name":"Current Position","tab":"6f79cd36.28a5d4","disp":true,"width":"8"},{"id":"5aeb99c2.bd6888","type":"ui_group","z":"","name":"Current Tracking Data","tab":"6f79cd36.28a5d4","disp":true,"width":"6"},{"id":"2c58ec04.8d6224","type":"ui_group","z":"","name":"File Selection","tab":"6f79cd36.28a5d4","disp":true,"width":"6"},{"id":"6f79cd36.28a5d4","type":"ui_tab","z":"","name":"Sun Tracker","icon":"dashboard"}]