Github Repo/Node Red Code/Tonys Node Red Codes/Garage Door with Email.txt
[{"id":"b27e21b5.b41cb","type":"rpi-gpio out","z":"ac0eb1f7.f7f5f","name":"GPIO 4 - Pin 7","pin":"7","set":"","level":"0","freq":"","out":"out","x":920,"y":160,"wires":[]},{"id":"894be236.9599a","type":"inject","z":"ac0eb1f7.f7f5f","name":"Open","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":210,"y":160,"wires":[["bfd321f2.2ccf7"]]},{"id":"35d25231.f72bae","type":"inject","z":"ac0eb1f7.f7f5f","name":"Close","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":210,"y":220,"wires":[["b6c239a4.547818"]]},{"id":"f4856fec.0b6e4","type":"rpi-gpio in","z":"ac0eb1f7.f7f5f","name":"Door Sensor - GPIO 17 - Pin 11","pin":"11","intype":"tri","debounce":"25","read":false,"x":150,"y":280,"wires":[["b6335f3c.2d31c","a23a087d.346868"]]},{"id":"bfd321f2.2ccf7","type":"ui_button","z":"ac0eb1f7.f7f5f","name":"Open","group":"ce4add58.a0251","order":0,"width":"3","height":"1","passthru":true,"label":"Open","color":"","bgcolor":"Green","icon":"","payload":"1","payloadType":"str","topic":"","x":470,"y":160,"wires":[["d24887ac.a8aab8"]]},{"id":"b6c239a4.547818","type":"ui_button","z":"ac0eb1f7.f7f5f","name":"Close","group":"ce4add58.a0251","order":0,"width":"3","height":"1","passthru":true,"label":"Close","color":"","bgcolor":"Blue","icon":"","payload":"0","payloadType":"str","topic":"","x":470,"y":220,"wires":[["d24887ac.a8aab8"]]},{"id":"d24887ac.a8aab8","type":"trigger","z":"ac0eb1f7.f7f5f","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","name":"Pulse Garage Door","x":710,"y":160,"wires":[["b27e21b5.b41cb"]]},{"id":"79275779.7588d8","type":"ui_text","z":"ac0eb1f7.f7f5f","group":"ce4add58.a0251","order":0,"width":"3","height":"1","name":"Garage Door","label":"Garage is - ","format":"{{msg.payload}}","layout":"row-center","x":810,"y":280,"wires":[]},{"id":"b6335f3c.2d31c","type":"function","z":"ac0eb1f7.f7f5f","name":"Display Garage Door Setting","func":"var newmsg = {};\nif (msg.payload == 1) // garage door open\n    {\n    newmsg.payload = \"Open\";\n    newmsg.topic  = \"Garage Door Open\";\n    }\nelse\n    {\n    newmsg.payload = \"Close\";\n    newmsg.topic  = \"Garage Door Closed\";\n    }\nnode.send ({payload:newmsg.payload},{topic:newmsg.topic}); \nreturn null;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["79275779.7588d8"]]},{"id":"13f51cce.0514c3","type":"e-mail","z":"ac0eb1f7.f7f5f","server":"smtp.gmail.com","port":"465","secure":true,"name":"cs_hayes@hotmail.com","dname":"cjshayes@gmail.com","x":740,"y":360,"wires":[]},{"id":"b224afcc.5783","type":"function","z":"ac0eb1f7.f7f5f","name":"If Send","func":"var newmsg = {};\n//var msg = msg.payload;\nif (msg == \"reset\")\n    {\n    \n    }\nif (msg.payload == \"Open\")\n    {\n    newmsg.payload = \"Garage Door is Open\";\n    newmsg.topic = \"Garage Door is Open\";\n     node.send ({payload:newmsg.payload , topic:newmsg.topic});\n    }\n//node.send ({payload:newmsg.payload},{topic:newmsg.topic}); \n\nreturn null;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["13f51cce.0514c3"]]},{"id":"a23a087d.346868","type":"function","z":"ac0eb1f7.f7f5f","name":"Display Garage Door Setting","func":"var newmsg = {};\nmsg = msg.payload;\nif (msg == 1) // garage door open\n    {\n    newmsg.payload = \"Garage Door Open\";\n    newmsg.topic  = \"Garage Door Open\";\n    //node.send ({payload:newmsg.payload},{topic:newmsg.topic},{reset:newmsg.reset}); \n    //newmsg.reset = \"\";\n    node.send ({payload:newmsg.payload , topic:newmsg.topic}); \n    //node.send ({payload:newmsg.payload , topic:newmsg.topic , reset:newmsg.reset}); \n    }\nelse\n    {\n    newmsg.payload = \"Garage Door Closed\";\n    newmsg.topic  = \"Garage Door Closed\";\n    //newmsg.topic  = \"reset\";\n    newmsg.reset = 1;\n    node.send ({payload:newmsg.payload , topic:newmsg.topic , reset:newmsg.reset}); \n    //node.send ({payload:newmsg.reset}); \n    }\n//node.send ({payload:newmsg.payload},{topic:newmsg.topic}); \n//node.send ({payload:newmsg.payload},{topic:newmsg.topic},{reset:newmsg.reset}); \nreturn null;","outputs":1,"noerr":0,"x":160,"y":360,"wires":[["e605d92e.850f78"]]},{"id":"e605d92e.850f78","type":"trigger","z":"ac0eb1f7.f7f5f","op1":"","op2":"Open","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","name":"","x":380,"y":360,"wires":[["b224afcc.5783"]]},{"id":"ce4add58.a0251","type":"ui_group","z":"","name":"Door","tab":"ad1265a0.c9c928","disp":true,"width":"3"},{"id":"ad1265a0.c9c928","type":"ui_tab","z":"","name":"Garage Door","icon":"dashboard"}]