Node Red/Node Red Code/Flow1 Tester Node.txt
[{"id":"cf4e3367.5a936","type":"function","z":"a50947ca.5202d8","name":"extract temps","func":"var array_length = { payload: msg.payload.length };\nvar s_data = [];\n\nfor (var i = 0; i < array_length; i++)\n    {\n    s_data.push(msg[i].val);\n    return [s_data];\n            \n    //var s_data = msg.payload['ROM'];        \n    //var t_data = msg.payload.split(',');\n    //var temp_dta = parse(t_data[1]);\n    //var maca_dta = parse(t_data[0]);\n    //return [maca_dta],[temp_dta];\n    }\n\nreturn [null];\n//return [s_data];","outputs":"1","noerr":0,"x":500,"y":320,"wires":[["c7e666c9.0a3af8"]]},{"id":"c7e666c9.0a3af8","type":"debug","z":"a50947ca.5202d8","name":"","active":true,"console":"false","complete":"false","x":730,"y":320,"wires":[]},{"id":"88c37ad1.1ad528","type":"debug","z":"a50947ca.5202d8","name":"","active":false,"console":"false","complete":"payload","x":730,"y":80,"wires":[]},{"id":"2d7cfd25.a29722","type":"tcp request","z":"a50947ca.5202d8","server":"192.168.1.125","port":"10000","out":"sit","splitc":"0","name":"AMX_Data","x":270,"y":80,"wires":[["539ec486.02645c"]]},{"id":"539ec486.02645c","type":"function","z":"a50947ca.5202d8","name":"Extract Key","func":"// http://noderedguide.com/node-red-lecture-3-basic-nodes-and-flows/\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["88c37ad1.1ad528"]]},{"id":"3f3e0302.964d6c","type":"inject","z":"a50947ca.5202d8","name":"","topic":"","payload":"HDMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":140,"wires":[["7cc0ed14.4c1cb4"]]},{"id":"7cc0ed14.4c1cb4","type":"websocket out","z":"a50947ca.5202d8","name":"TX AMX","server":"","client":"43e6bff9.db132","x":460,"y":140,"wires":[]},{"id":"da033ec0.468cb","type":"websocket in","z":"a50947ca.5202d8","name":"RX AMX","server":"9981a775.9b8e08","client":"","x":260,"y":200,"wires":[["f5fe4128.6174b"]]},{"id":"f5fe4128.6174b","type":"debug","z":"a50947ca.5202d8","name":"","active":true,"console":"false","complete":"false","x":510,"y":200,"wires":[]},{"id":"dcc01c34.2f1f5","type":"tcp request","z":"a50947ca.5202d8","server":"192.168.1.170","port":"8089","out":"sit","splitc":"0","name":"","x":540,"y":400,"wires":[["a764eec9.9940b"]]},{"id":"a68802b1.4dd84","type":"function","z":"a50947ca.5202d8","name":"Set GET request string","func":"//msg.payload = 'GET / HTTP/1.1\\r\\n\\r\\nHost: www.google.com'\nmsg.payload = 'GET /SetChannel.cgi?Channel=1 HTTP/1.1',0x0D,0x0A,\n    'User-Agent : WebCamera',0x0D, 0x0A,\n\t'Host: 192.168.1.170:8089',0x0D,0x0A , \n\t//'Host: 192.168.1.170:81',$0D,$0A,\\\n\t'If-Modified-Since: Mon, 10 Feb 2003 14:07:13 GMT; length=0',0x0D,0x0A,\n\t'DNT: 1',0x0D,0x0A,\n\t'Connection: Keep-Alive',0x0D,0x0A,\n\t'Cookie: N=; U=http%253A//192.168.1.170%253A81; D=; P=8089',0x0D,0x0A,0x0D,0x0A; \n\t    \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["dcc01c34.2f1f5"]]},{"id":"a764eec9.9940b","type":"function","z":"a50947ca.5202d8","name":"Parse Response buffer into string","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":400,"wires":[["95816d79.46ea3"]]},{"id":"95816d79.46ea3","type":"debug","z":"a50947ca.5202d8","name":"","active":false,"console":"false","complete":"false","x":890,"y":480,"wires":[]},{"id":"ceeaaec1.efe5","type":"inject","z":"a50947ca.5202d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":400,"wires":[["a68802b1.4dd84"]]},{"id":"d0ec66bf.f3c788","type":"inject","z":"a50947ca.5202d8","name":"","topic":"","payload":"2345678,23.45","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":320,"wires":[["cf4e3367.5a936"]]},{"id":"43e6bff9.db132","type":"websocket-client","z":"","path":"wss://echowebsocket.org","wholemsg":"false"},{"id":"9981a775.9b8e08","type":"websocket-listener","z":"","path":"192.168.1.125","wholemsg":"false"}]               */\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[[]]},{"id":"858e5639.e61358","type":"debug","z":"54413711.47c2b8","name":"","active":true,"console":"false","complete":"false","x":580,"y":160,"wires":[]},{"id":"277888b.8561478","type":"inject","z":"54413711.47c2b8","name":"HDMI","topic":"","payload":"KEY_HDMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["9e7c8afa.fdb888"]]}]