Node Red/Node Red Code/LCD SCreen Test 20 July 2017.txt
[{"id":"9b4acf93.949e4","type":"exec","z":"43570a6c.d61e84","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_blink_test.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Blinking Text","x":650,"y":60,"wires":[["d790f95b.00abb8"],["2125a24.99fa55e"],["bededf0e.96d7f"]]},{"id":"e2cc96e9.8e96c8","type":"inject","z":"43570a6c.d61e84","name":"Demo Clock","topic":"Demo Clock","payload":"demo_clock.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":120,"wires":[["9387eea8.721e5"]]},{"id":"d790f95b.00abb8","type":"debug","z":"43570a6c.d61e84","name":"","active":true,"console":"false","complete":"false","x":1390,"y":100,"wires":[]},{"id":"70ad00f6.4a95f","type":"inject","z":"43570a6c.d61e84","name":"Clear Screen","topic":"Clear Screen","payload":"lcdclear.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":180,"wires":[["80ae05e5.41d748"]]},{"id":"90bd2de2.5d164","type":"inject","z":"43570a6c.d61e84","name":"Display Date and Time","topic":"Display Date and Time","payload":"lcd_date_time.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":240,"wires":[["984635cc.3c4e48"]]},{"id":"b0e09f22.166cc","type":"inject","z":"43570a6c.d61e84","name":"Display Text Right to Left","topic":"Display Text Right to Left","payload":"lcd_text_right_left.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":580,"wires":[["33766f2e.88761"]]},{"id":"2125a24.99fa55e","type":"debug","z":"43570a6c.d61e84","name":"","active":true,"console":"false","complete":"false","x":1390,"y":140,"wires":[]},{"id":"bededf0e.96d7f","type":"debug","z":"43570a6c.d61e84","name":"","active":true,"console":"false","complete":"false","x":1390,"y":180,"wires":[]},{"id":"e3a7a9b6.627718","type":"inject","z":"43570a6c.d61e84","name":"Display IP address","topic":"Display IP Address","payload":"lcd_print_IP_address.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":300,"wires":[["776668da.04b6a8"]]},{"id":"33766f2e.88761","type":"function","z":"43570a6c.d61e84","name":"convert to python shell string","func":"msg.payload = msg.payload;\nvar s_length = msg.payload.length;\nvar str = msg.payload;\nvar line_number = str.substring(s_length-1, s_length);\nvar text_msg = str.substring(0, s_length-2);\nvar loc_msg = \"lcd_text_to_display.py\";\n//var loc_msg = \"python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/lcd_text_to_display.py\";\n//\"hello chris\" \"3\"\nvar msg1 = {payload:text_msg};\nvar msg2 = {payload:line_number};\nvar newMsg = {payload:loc_msg.concat(\" \", text_msg, \" \", line_number)};\n\n//python3 /home/pi/.node-red/lcd/lcd_text_to_display.py \"hello chris\" \"3\"\nnode.send ({payload:[newMsg.payload]}); \n//sleep\n//loc_msg = \"python3 /home/pi/.node-red/lcd/lcdclear.py\";\nreturn null;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["49522a7.abc30d4"]]},{"id":"82eea666.95ff38","type":"inject","z":"43570a6c.d61e84","name":"Display Hello Chris on line 1","topic":"Display text line 1","payload":"Hello_Chris 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":400,"wires":[["e23527d3.34a348"]]},{"id":"49522a7.abc30d4","type":"debug","z":"43570a6c.d61e84","name":"","active":true,"console":"false","complete":"payload","x":1330,"y":640,"wires":[]},{"id":"7677bc2a.c37604","type":"inject","z":"43570a6c.d61e84","name":"Display Hello Chris on line 2","topic":"Display text line 2","payload":"Hello Chris 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":440,"wires":[["e23527d3.34a348"]]},{"id":"e1eb5ce3.3e87b","type":"inject","z":"43570a6c.d61e84","name":"Display Hello Chris on line 3","topic":"Display text line 3","payload":"Hello Chris 3","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":480,"wires":[["e23527d3.34a348"]]},{"id":"4ab9a9cb.2ef5d8","type":"inject","z":"43570a6c.d61e84","name":"Display Hello Chris on line 4","topic":"Display text line 4","payload":"Hello Chris 4","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":520,"wires":[["e23527d3.34a348"]]},{"id":"27ca82.ccde557e","type":"inject","z":"43570a6c.d61e84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":60,"wires":[["9b4acf93.949e4"]]},{"id":"e23527d3.34a348","type":"exec","z":"43570a6c.d61e84","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_text_to_display.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"LCD Text to Display","x":680,"y":360,"wires":[["d790f95b.00abb8"],["2125a24.99fa55e"],["bededf0e.96d7f"]]},{"id":"9387eea8.721e5","type":"exec","z":"43570a6c.d61e84","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/demo_clock.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Demo Clock","x":650,"y":120,"wires":[["d790f95b.00abb8"],["2125a24.99fa55e"],["bededf0e.96d7f"]]},{"id":"776668da.04b6a8","type":"exec","z":"43570a6c.d61e84","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_print_IP_address.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Ip Address","x":650,"y":300,"wires":[["d790f95b.00abb8"],["2125a24.99fa55e"],["bededf0e.96d7f"]]},{"id":"984635cc.3c4e48","type":"exec","z":"43570a6c.d61e84","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcd_date_time.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Display Date Time","x":670,"y":240,"wires":[["d790f95b.00abb8"],["2125a24.99fa55e"],["bededf0e.96d7f"]]},{"id":"80ae05e5.41d748","type":"exec","z":"43570a6c.d61e84","command":"/usr/bin//sudo python /home/pi/.node-red/lcd/lcdclear.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Clear Screen","x":650,"y":180,"wires":[["d790f95b.00abb8"],["2125a24.99fa55e"],["bededf0e.96d7f"]]}]