Node Red/Node Red Code/Samsung Tester.txt
[{"id":"9e4eb05b.675e6","type":"inject","z":"a7ec5c7e.473c8","name":"HDMI","topic":"","payload":"KEY_HDMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":40,"wires":[["be6c1b79.94cf38"]]},{"id":"258a4c9f.a568d4","type":"inject","z":"a7ec5c7e.473c8","name":"AV1","topic":"","payload":"KEY_AV1","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":80,"wires":[["9baede3a.a58f3"]]},{"id":"8427cdd1.2684c","type":"inject","z":"a7ec5c7e.473c8","name":"VOL UP","topic":"","payload":"KEY_VOLUP","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":120,"wires":[["10425d5.6d628a3"]]},{"id":"f370a5c3.9e67f8","type":"inject","z":"a7ec5c7e.473c8","name":"VOL DOWN","topic":"","payload":"KEY_VOLDOWN","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":160,"wires":[["e2ba80c3.bd098"]]},{"id":"c5cf4538.5a8868","type":"tcp out","z":"a7ec5c7e.473c8","host":"127.0.0.1","port":"4050","beserver":"client","base64":false,"end":false,"name":"127.0.0.1 - local host","x":740,"y":100,"wires":[]},{"id":"71485345.b89fac","type":"inject","z":"a7ec5c7e.473c8","name":"POWER OFF","topic":"","payload":"KEY_POWEROFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["a940aa3.c2c5f58"]]},{"id":"be6c1b79.94cf38","type":"ui_button","z":"a7ec5c7e.473c8","name":"HDMI","group":"a57ac1cb.e7a46","order":0,"width":0,"height":0,"passthru":true,"label":"HDMI","color":"","bgcolor":"GREEN","icon":"","payload":"KEY_HDMI","payloadType":"str","topic":"","x":330,"y":40,"wires":[["c5cf4538.5a8868"]]},{"id":"9baede3a.a58f3","type":"ui_button","z":"a7ec5c7e.473c8","name":"AV","group":"a57ac1cb.e7a46","order":0,"width":0,"height":0,"passthru":true,"label":"AV","color":"","bgcolor":"GREEN","icon":"","payload":"KEY_AV1","payloadType":"str","topic":"","x":330,"y":80,"wires":[["c5cf4538.5a8868"]]},{"id":"10425d5.6d628a3","type":"ui_button","z":"a7ec5c7e.473c8","name":"VOL UP","group":"a57ac1cb.e7a46","order":0,"width":0,"height":0,"passthru":true,"label":"VOL UP","color":"","bgcolor":"BLUE","icon":"","payload":"KEY_VOLUP","payloadType":"str","topic":"","x":340,"y":120,"wires":[["c5cf4538.5a8868"]]},{"id":"e2ba80c3.bd098","type":"ui_button","z":"a7ec5c7e.473c8","name":"VOL DOWN","group":"a57ac1cb.e7a46","order":0,"width":0,"height":0,"passthru":true,"label":"VOL DOWN","color":"","bgcolor":"BLUE","icon":"","payload":"KEY_VOLDOWN","payloadType":"str","topic":"","x":350,"y":160,"wires":[["c5cf4538.5a8868"]]},{"id":"a940aa3.c2c5f58","type":"ui_button","z":"a7ec5c7e.473c8","name":"POWER OFF","group":"a57ac1cb.e7a46","order":0,"width":0,"height":0,"passthru":true,"label":"POWER OFF","color":"","bgcolor":"RED","icon":"","payload":"KEY_POWEROFF","payloadType":"str","topic":"","x":360,"y":200,"wires":[["c5cf4538.5a8868"]]},{"id":"a57ac1cb.e7a46","type":"ui_group","z":"","name":"Samsung TV TCP Control","tab":"d28df061.30972","disp":true,"width":"6"},{"id":"d28df061.30972","type":"ui_tab","z":"","name":"Samsung TV Control","icon":"dashboard"}]