Node Red/Node Red Code/Samsung TX Receiver via ip address .txt
[{"id":"8769ec10.0a82","type":"tcp in","z":"6ab327d4.c5af58","name":"Listen 4050 local host","server":"server","host":"","port":"4050","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":280,"y":60,"wires":[["6338d6f0.900588"]]},{"id":"612eaa22.2069c4","type":"debug","z":"6ab327d4.c5af58","name":"","active":false,"console":"false","complete":"false","x":830,"y":40,"wires":[]},{"id":"6338d6f0.900588","type":"change","z":"6ab327d4.c5af58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":100,"wires":[["fb6d290b.19c788","612eaa22.2069c4"]]},{"id":"fb6d290b.19c788","type":"samsung-tv-send","z":"6ab327d4.c5af58","device":"ff347c9d.a52f3","name":"","key":"","x":850,"y":100,"wires":[]},{"id":"2bc006f0.e606da","type":"tcp in","z":"6ab327d4.c5af58","name":"Listen 4051 local host - From AMX","server":"server","host":"","port":"4051","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":250,"y":140,"wires":[["6338d6f0.900588"]]},{"id":"ff347c9d.a52f3","type":"samsung-tv","z":"","name":"Lounge Room TV","address":"192.168.1.62"}]