Github Repo/Node Red Code/Gate Controller/temp gate controller.txt
[{"id":"9fac4a2.4db65b8","type":"inject","z":"7dbf0203.47536c","name":"Open","topic":"","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":86,"wires":[["30392c53.2742b4"]]},{"id":"30392c53.2742b4","type":"ui_button","z":"7dbf0203.47536c","name":"","group":"736af27d.e7f1ec","order":0,"width":"3","height":"1","passthru":true,"label":"Open","color":"","bgcolor":"Green","icon":"","payload":"open","payloadType":"str","topic":"","x":276,"y":84,"wires":[["5a689e42.7d1a5","2c883e70.2ac8d2"]]},{"id":"dfcf2394.1dc79","type":"ui_button","z":"7dbf0203.47536c","name":"","group":"736af27d.e7f1ec","order":0,"width":"3","height":"1","passthru":true,"label":"Close","color":"","bgcolor":"Red","icon":"","payload":"close","payloadType":"str","topic":"","x":272,"y":128,"wires":[["e440a5b0.a2b2b8","2c883e70.2ac8d2"]]},{"id":"15479f64.847fe1","type":"inject","z":"7dbf0203.47536c","name":"Close","topic":"","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"x":122,"y":131,"wires":[["dfcf2394.1dc79"]]},{"id":"5a689e42.7d1a5","type":"trigger","z":"7dbf0203.47536c","op1":"20","op2":"0","op1type":"str","op2type":"num","duration":"110","extend":false,"units":"ms","reset":"","name":"","x":464,"y":62,"wires":[["19eaa0e4.ec62df","8101a68.52de058"]]},{"id":"e440a5b0.a2b2b8","type":"trigger","z":"7dbf0203.47536c","op1":"10","op2":"0","op1type":"str","op2type":"str","duration":"110","extend":false,"units":"ms","reset":"","name":"","x":462,"y":155,"wires":[["19eaa0e4.ec62df","8101a68.52de058"]]},{"id":"19eaa0e4.ec62df","type":"rpi-gpio out","z":"7dbf0203.47536c","name":"Open","pin":"11","set":"","level":"0","out":"pwm","x":734,"y":59,"wires":[]},{"id":"8101a68.52de058","type":"rpi-gpio out","z":"7dbf0203.47536c","name":"Close","pin":"15","set":"","level":"0","out":"pwm","x":734,"y":176,"wires":[]},{"id":"553abd49.167234","type":"rpi-gpio out","z":"7dbf0203.47536c","name":"","pin":"12","set":true,"level":"1","out":"out","x":689,"y":232,"wires":[]},{"id":"5ef86f83.e9f1c","type":"rpi-gpio out","z":"7dbf0203.47536c","name":"","pin":"16","set":true,"level":"1","out":"out","x":696,"y":276,"wires":[]},{"id":"413cb192.b1f15","type":"debug","z":"7dbf0203.47536c","name":"","active":true,"console":"false","complete":"false","x":741,"y":375,"wires":[]},{"id":"92316188.592d8","type":"ui_template","z":"7dbf0203.47536c","group":"f7d1322e.5aa9b","name":"Rear Camera","order":0,"width":"0","height":"0","format":"<div>\n<img width=\"320\" height=\"240\" src=\"http://120.146.192.70:8089/GetData.cgi\"/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":269,"y":349,"wires":[[]]},{"id":"2c883e70.2ac8d2","type":"function","z":"7dbf0203.47536c","name":"","func":"var out1 = {};\nvar out2 = {};\nif (msg.payload == \"close\")\n    {\n    out1.payload = 0;\n    out2.payload = 1;\n    }\nif (msg.payload == \"open\")\n    {\n    out1.payload = 1;\n    out2.payload = 0;\n    }\nreturn [out1,out2];","outputs":"2","noerr":0,"x":510,"y":236,"wires":[["553abd49.167234","413cb192.b1f15"],["5ef86f83.e9f1c","413cb192.b1f15"]]},{"id":"9e9ff781.189bd8","type":"ui_template","z":"7dbf0203.47536c","group":"9dae8491.9f5218","name":"Front View","order":0,"width":"0","height":"0","format":"<div>\n<img width=\"320\" height=\"240\" src=\"http://120.146.192.70:8089/GetData.cgi\"/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":255,"y":281,"wires":[[]]},{"id":"848910cd.243a6","type":"ui_template","z":"7dbf0203.47536c","group":"365b6783.8c4768","name":"Face Camera","order":0,"width":"0","height":"0","format":"<div>\n<img width=\"320\" height=\"240\" src=\"http://120.146.192.70:8089/GetData.cgi\"/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":404,"y":314,"wires":[[]]},{"id":"b640901d.2e1c2","type":"comment","z":"7dbf0203.47536c","name":"IP Address via iPhone","info":"172.20.10.13","x":212,"y":479,"wires":[]},{"id":"736af27d.e7f1ec","type":"ui_group","z":"","name":"Front Gates","tab":"be196956.eac6f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7d1322e.5aa9b","type":"ui_group","z":"","name":"Rear View","tab":"be196956.eac6f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"9dae8491.9f5218","type":"ui_group","z":"","name":"Front View","tab":"be196956.eac6f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"365b6783.8c4768","type":"ui_group","z":"","name":"Face View","tab":"be196956.eac6f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"be196956.eac6f8","type":"ui_tab","z":"","name":"Front Gates","icon":"dashboard"}]