Node-red backups/Home Node.txt
[{"id":"9dfff34f.6ae56","type":"tcp out","z":"48f07f6.a4fcc8","host":"192.168.1.150","port":"1319","beserver":"client","base64":false,"end":false,"name":"AMX_TCP_Socket","x":491,"y":189,"wires":[]},{"id":"7c7f197b.ea02b8","type":"inject","z":"48f07f6.a4fcc8","name":"AMX_Connect_TCP_Socket","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":166,"y":189,"wires":[["9dfff34f.6ae56"]]},{"id":"642f6b6b.b6bb04","type":"tcp in","z":"48f07f6.a4fcc8","name":"Receivde_AMX_Data","server":"server","host":"","port":"1319","datamode":"single","datatype":"buffer","newline":"","topic":"","base64":false,"x":152,"y":283,"wires":[["3ccf6fe4.e01f9","991b9b8d.365e58"]]},{"id":"3ccf6fe4.e01f9","type":"debug","z":"48f07f6.a4fcc8","name":"AMX_Data_Received","active":true,"console":"false","complete":"payload","x":480,"y":288,"wires":[]},{"id":"3ebbf275.3076ee","type":"tcp out","z":"48f07f6.a4fcc8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"AMX_Send_data_String","x":503,"y":401,"wires":[]},{"id":"991b9b8d.365e58","type":"ui_text","z":"48f07f6.a4fcc8","group":"1df03f1d.537db1","order":0,"width":0,"height":0,"name":"AMX_Comms","label":"AMX_String","format":"{{msg.payload}}","layout":"row-spread","x":461,"y":335,"wires":[]},{"id":"8927fb74.46e098","type":"ui_button","z":"48f07f6.a4fcc8","name":"Wake","group":"1df03f1d.537db1","order":0,"width":0,"height":0,"label":"button","color":"","bgcolor":"","icon":"","payload":"Wake","payloadType":"str","topic":"","x":141,"y":375,"wires":[["3ebbf275.3076ee"]]},{"id":"f0a2f739.716b78","type":"inject","z":"48f07f6.a4fcc8","name":"","topic":"Hello There","payload":"Hello There","payloadType":"str","repeat":"","crontab":"","once":false,"x":262,"y":46,"wires":[["5d6cf66d.c622d8","36dc4419.4ab60c"]]},{"id":"bbeaa1e1.9905","type":"debug","z":"48f07f6.a4fcc8","name":"","active":true,"console":"false","complete":"false","x":414,"y":111,"wires":[]},{"id":"1781af6a.072571","type":"websocket in","z":"48f07f6.a4fcc8","name":"","x":128,"y":102,"wires":[["bbeaa1e1.9905"]]},{"id":"5d6cf66d.c622d8","type":"websocket out","z":"48f07f6.a4fcc8","name":"","server":"","client":"43e6bff9.db132","x":593,"y":44,"wires":[]},{"id":"36dc4419.4ab60c","type":"ui_text","z":"48f07f6.a4fcc8","group":"1df03f1d.537db1","order":0,"width":0,"height":0,"name":"","label":"http://noderedguide.com/node-red-lecture-3-basic-nodes-and-flows/#h.wbouey3z5384","format":"{{msg.payload}}","layout":"row-spread","x":936,"y":134,"wires":[]},{"id":"1df03f1d.537db1","type":"ui_group","z":"","name":"AMX Communications","tab":"65be298a.18e058","disp":true,"width":"6"},{"id":"43e6bff9.db132","type":"websocket-client","z":"","path":"wss://echowebsocket.org","wholemsg":"false"},{"id":"65be298a.18e058","type":"ui_tab","z":"","name":"AMX Comms","icon":"dashboard"}]