Node-red backups/LCD Screen testing.txt
[{"id":"cafc78aa.ee8b28","type":"debug","z":"f8e9bf62.11b23","name":"","active":true,"console":"false","complete":"false","x":890,"y":60,"wires":[]},{"id":"22145627.4942ea","type":"inject","z":"f8e9bf62.11b23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":60,"wires":[["2c9db8a3.fe2078"]]},{"id":"2c9db8a3.fe2078","type":"exec","z":"f8e9bf62.11b23","command":"/usr/bin/sudo python","addpay":false,"append":" /home/pi/.node-red/lcd/demo_clock.py","useSpawn":"","timer":"","name":"Python Script - LCD Text to Display","x":520,"y":60,"wires":[["cafc78aa.ee8b28"],["d397e7ab.a1fb78"],["4e80d93f.6c7c88"]]},{"id":"d397e7ab.a1fb78","type":"debug","z":"f8e9bf62.11b23","name":"","active":true,"console":"false","complete":"false","x":880,"y":100,"wires":[]},{"id":"4e80d93f.6c7c88","type":"debug","z":"f8e9bf62.11b23","name":"","active":true,"console":"false","complete":"false","x":880,"y":160,"wires":[]},{"id":"c090a924.7bed68","type":"function","z":"f8e9bf62.11b23","name":"Python Demo Clock","func":"var PythonShell = require('python-shell');\n//var PythonShell = global.set('python-shell');\nvar pyshell = new PythonShell('my_script.py');\n \n// sends a message to the Python script via stdin \npyshell.send('hello');\n \npyshell.on('message', function (message) {\n  // received a message sent from the Python script (a simple \"print\" statement) \n  console.log(message);\n});\n \n// end the input stream and allow the process to exit \npyshell.end(function (err) {\n  if (err) throw err;\n  console.log('finished');\n});","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["1bd70542.a8494b"]]},{"id":"1bd70542.a8494b","type":"debug","z":"f8e9bf62.11b23","name":"","active":true,"console":"false","complete":"false","x":740,"y":240,"wires":[]},{"id":"20b78e71.e89bb2","type":"inject","z":"f8e9bf62.11b23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":240,"wires":[["c090a924.7bed68"]]}]