Node Red/Node Red Code/AMX/AMX TXC16 Simulator w siri.txt
[{"id":"e9248ed4.5231d","type":"ui_button","z":"e15b1040.4b703","name":"Pwr On/Off","group":"8f6745f9.54aab8","order":1,"width":"3","height":"1","passthru":true,"label":"Pwr On/Off","color":"","bgcolor":"RED","icon":"","payload":"1","payloadType":"num","topic":"","x":415,"y":60,"wires":[["b0be06c.0f995f8"]]},{"id":"e1d019b4.642448","type":"ui_button","z":"e15b1040.4b703","name":"DVD","group":"8f6745f9.54aab8","order":3,"width":"3","height":"1","passthru":true,"label":"DVD","color":"","bgcolor":"GREEN","icon":"","payload":"2","payloadType":"num","topic":"","x":435,"y":100,"wires":[["b0be06c.0f995f8"]]},{"id":"d06439c9.237df8","type":"ui_button","z":"e15b1040.4b703","name":"CH Up","group":"8f6745f9.54aab8","order":5,"width":"3","height":"1","passthru":true,"label":"Ch Up","color":"","bgcolor":"BLUE","icon":"","payload":"3","payloadType":"num","topic":"","x":435,"y":140,"wires":[["b0be06c.0f995f8"]]},{"id":"fa7fe1f1.ca11c","type":"ui_button","z":"e15b1040.4b703","name":"CH Down","group":"8f6745f9.54aab8","order":7,"width":"3","height":"1","passthru":false,"label":"Ch Down","color":"","bgcolor":"BLUE","icon":"","payload":"4","payloadType":"num","topic":"","x":425,"y":180,"wires":[["b0be06c.0f995f8"]]},{"id":"8c56045.f7bb2f8","type":"ui_button","z":"e15b1040.4b703","name":"Vol Up","group":"8f6745f9.54aab8","order":9,"width":"3","height":"1","passthru":true,"label":"Vol Up","color":"","bgcolor":"BLUE","icon":"","payload":"5","payloadType":"num","topic":"","x":435,"y":220,"wires":[["b0be06c.0f995f8"]]},{"id":"757b0555.94ba8c","type":"ui_button","z":"e15b1040.4b703","name":"Vol Down","group":"8f6745f9.54aab8","order":11,"width":"3","height":"1","passthru":true,"label":"Vol Down","color":"","bgcolor":"BLUE","icon":"","payload":"6","payloadType":"num","topic":"","x":425,"y":260,"wires":[["b0be06c.0f995f8"]]},{"id":"bf64d6a6.5c1a08","type":"ui_button","z":"e15b1040.4b703","name":"Stop/Menu","group":"8f6745f9.54aab8","order":13,"width":"3","height":"1","passthru":true,"label":"Stop/mENU","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"7","payloadType":"num","topic":"","x":415,"y":300,"wires":[["b0be06c.0f995f8"]]},{"id":"84e57e81.910bb","type":"ui_button","z":"e15b1040.4b703","name":"Left/Rwd","group":"8f6745f9.54aab8","order":15,"width":"3","height":"1","passthru":true,"label":"Left/Rwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"8","payloadType":"num","topic":"","x":425,"y":340,"wires":[["b0be06c.0f995f8"]]},{"id":"201760ae.1c7ab","type":"ui_button","z":"e15b1040.4b703","name":"Menu/AMP","group":"8f6745f9.54aab8","order":2,"width":"3","height":"1","passthru":true,"label":"Menu/AMP","color":"","bgcolor":"GREEN","icon":"","payload":"9","payloadType":"num","topic":"","x":415,"y":380,"wires":[["b0be06c.0f995f8"]]},{"id":"ce84b09d.9f8de","type":"ui_button","z":"e15b1040.4b703","name":"FOX/FOX2","group":"8f6745f9.54aab8","order":4,"width":"3","height":"1","passthru":true,"label":"Fox/Fox2","color":"","bgcolor":"GREEN","icon":"","payload":"10","payloadType":"num","topic":"","x":415,"y":420,"wires":[["b0be06c.0f995f8"]]},{"id":"f11c11b.0fa5cf","type":"ui_button","z":"e15b1040.4b703","name":"Media Player","group":"8f6745f9.54aab8","order":6,"width":"3","height":"1","passthru":true,"label":"Media Player","color":"","bgcolor":"GREEN","icon":"","payload":"11","payloadType":"num","topic":"","x":415,"y":460,"wires":[["b0be06c.0f995f8"]]},{"id":"acce50b6.d01db","type":"ui_button","z":"e15b1040.4b703","name":"TV","group":"8f6745f9.54aab8","order":8,"width":"3","height":"1","passthru":true,"label":"TV","color":"","bgcolor":"GREEN","icon":"","payload":"12","payloadType":"num","topic":"","x":435,"y":500,"wires":[["b0be06c.0f995f8"]]},{"id":"a6b539f1.551688","type":"ui_button","z":"e15b1040.4b703","name":"CD","group":"8f6745f9.54aab8","order":10,"width":"3","height":"1","passthru":true,"label":"CD","color":"","bgcolor":"GREEN","icon":"","payload":"13","payloadType":"num","topic":"","x":435,"y":540,"wires":[["b0be06c.0f995f8"]]},{"id":"3f5b9917.e0d476","type":"ui_button","z":"e15b1040.4b703","name":"Back/Return","group":"8f6745f9.54aab8","order":12,"width":"3","height":"1","passthru":true,"label":"Back/Return","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"14","payloadType":"num","topic":"","x":415,"y":580,"wires":[["b0be06c.0f995f8"]]},{"id":"18b09ee2.739951","type":"ui_button","z":"e15b1040.4b703","name":"Play/Select Ok","group":"8f6745f9.54aab8","order":14,"width":"3","height":"1","passthru":true,"label":"Play/Select Ok","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"15","payloadType":"num","topic":"","x":405,"y":620,"wires":[["b0be06c.0f995f8"]]},{"id":"147cbd82.359f92","type":"ui_button","z":"e15b1040.4b703","name":"Right/Fwd","group":"8f6745f9.54aab8","order":16,"width":"3","height":"1","passthru":true,"label":"Right/Fwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"16","payloadType":"num","topic":"","x":425,"y":660,"wires":[["b0be06c.0f995f8"]]},{"id":"db2fa4c2.04eb68","type":"tcp out","z":"e15b1040.4b703","host":"192.168.1.150","port":"4052","beserver":"client","base64":false,"end":false,"name":"AMX_Netlinx","x":935,"y":300,"wires":[]},{"id":"b0be06c.0f995f8","type":"change","z":"e15b1040.4b703","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":725,"y":340,"wires":[["db2fa4c2.04eb68","c06e3358.e768f"]]},{"id":"374f23ef.4bb6cc","type":"inject","z":"e15b1040.4b703","name":"Power On/Off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":195,"y":60,"wires":[["e9248ed4.5231d"]]},{"id":"228525ec.bdb67a","type":"inject","z":"e15b1040.4b703","name":"DVD","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":215,"y":100,"wires":[["e1d019b4.642448"]]},{"id":"e63a43fc.34168","type":"inject","z":"e15b1040.4b703","name":"Channel Up","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":195,"y":140,"wires":[["d06439c9.237df8"]]},{"id":"3dace56d.dc3f0a","type":"inject","z":"e15b1040.4b703","name":"Channel Down","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":185,"y":180,"wires":[["fa7fe1f1.ca11c"]]},{"id":"92c9e276.e8e22","type":"inject","z":"e15b1040.4b703","name":"Vol Up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":215,"y":220,"wires":[["8c56045.f7bb2f8"]]},{"id":"14171c80.87f4c4","type":"inject","z":"e15b1040.4b703","name":"Vol Down","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":260,"wires":[["757b0555.94ba8c"]]},{"id":"34cb72f0.9a0aee","type":"inject","z":"e15b1040.4b703","name":"Stop/Menu","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":300,"wires":[["bf64d6a6.5c1a08"]]},{"id":"373a502c.b0893","type":"inject","z":"e15b1040.4b703","name":"Left/Rwd","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":340,"wires":[["84e57e81.910bb"]]},{"id":"818242fb.3f818","type":"inject","z":"e15b1040.4b703","name":"Menu/Amp","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":380,"wires":[["201760ae.1c7ab"]]},{"id":"ee8116a8.ba2e18","type":"inject","z":"e15b1040.4b703","name":"Fox/Fox2","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":420,"wires":[["ce84b09d.9f8de"]]},{"id":"1641f0ae.fcbdef","type":"inject","z":"e15b1040.4b703","name":"Media Player","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"x":195,"y":460,"wires":[["f11c11b.0fa5cf"]]},{"id":"ba1bb51d.f35c18","type":"inject","z":"e15b1040.4b703","name":"TV","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"x":215,"y":500,"wires":[["acce50b6.d01db"]]},{"id":"488c99d7.045508","type":"inject","z":"e15b1040.4b703","name":"CD","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"x":215,"y":540,"wires":[["a6b539f1.551688"]]},{"id":"ce34c08c.768d2","type":"inject","z":"e15b1040.4b703","name":"Back/Return","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"x":195,"y":580,"wires":[["3f5b9917.e0d476"]]},{"id":"b5d8ea6a.b816b8","type":"inject","z":"e15b1040.4b703","name":"Play/Select Ok","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"x":185,"y":620,"wires":[["18b09ee2.739951"]]},{"id":"c5c03041.c5c02","type":"inject","z":"e15b1040.4b703","name":"Right/Fwd","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":660,"wires":[["147cbd82.359f92"]]},{"id":"c06e3358.e768f","type":"debug","z":"e15b1040.4b703","name":"","active":true,"console":"false","complete":"false","x":935,"y":380,"wires":[]},{"id":"8e3ed3c8.fa2e4","type":"link in","z":"e15b1040.4b703","name":"AMX Control","links":["c35dd413.8198e8"],"x":821.4584083557129,"y":135.69444847106934,"wires":[["db2fa4c2.04eb68"]]},{"id":"8f6745f9.54aab8","type":"ui_group","z":"","name":"AMX TXC16 Simulator","tab":"91646968.f2e7c8","disp":true,"width":"6"},{"id":"91646968.f2e7c8","type":"ui_tab","z":"","name":"AMX TXC16","icon":"dashboard"}]