Github Repo/Node Red Code/Smart Gate Controller/Motor Control - Relay.txt
[{"id":"a2748a44.ebac98","type":"inject","z":"4eef1167.180e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["4f0251fb.94316"]]},{"id":"9338908b.23262","type":"debug","z":"4eef1167.180e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":40,"wires":[]},{"id":"653ba4e8.64819c","type":"trigger","z":"4eef1167.180e4","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"Reload","x":520,"y":80,"wires":[["85847a68.0d0c48","9338908b.23262"]]},{"id":"4f0251fb.94316","type":"ui_button","z":"4eef1167.180e4","name":"Wind","group":"3b8105a3.3d536a","order":0,"width":0,"height":0,"passthru":true,"label":"Wind","color":"","bgcolor":"","icon":"siricjshayes@gmail.com","payload":"1","payloadType":"num","topic":"Reload","x":310,"y":80,"wires":[["653ba4e8.64819c"]]},{"id":"85847a68.0d0c48","type":"rpi-gpio out","z":"4eef1167.180e4","name":"Reload","pin":"13","set":false,"level":"1","freq":"","out":"out","x":760,"y":80,"wires":[]},{"id":"34354716.fae048","type":"ui_button","z":"4eef1167.180e4","name":"Unwind","group":"3b8105a3.3d536a","order":0,"width":0,"height":0,"passthru":true,"label":"Unwind","color":"","bgcolor":"","icon":"siricjshayes@gmail.com","payload":"1","payloadType":"num","topic":"Unwind","x":320,"y":140,"wires":[["42bde6e7.f41358"]]},{"id":"6ced0987.c8b128","type":"rpi-gpio out","z":"4eef1167.180e4","name":"Run +","pin":"5","set":true,"level":"1","freq":"","out":"out","x":750,"y":220,"wires":[]},{"id":"547aa560.ea680c","type":"rpi-gpio out","z":"4eef1167.180e4","name":"Run -","pin":"19","set":true,"level":"1","freq":"","out":"out","x":750,"y":280,"wires":[]},{"id":"4102a861.9e2358","type":"trigger","z":"4eef1167.180e4","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"Run + Control","x":540,"y":140,"wires":[["fec980f.139208"]]},{"id":"4916ceea.fbea1","type":"inject","z":"4eef1167.180e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["34354716.fae048"]]},{"id":"fec980f.139208","type":"rpi-gpio out","z":"4eef1167.180e4","name":"Run +","pin":"15","set":true,"level":"1","freq":"","out":"out","x":750,"y":140,"wires":[]},{"id":"42bde6e7.f41358","type":"trigger","z":"4eef1167.180e4","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"Power CTL","x":530,"y":220,"wires":[["4102a861.9e2358","6ced0987.c8b128","547aa560.ea680c"]]},{"id":"3b8105a3.3d536a","type":"ui_group","z":"","name":"Reload","tab":"3b803689.71d6ca","disp":true,"width":"6","collapse":false},{"id":"3b803689.71d6ca","type":"ui_tab","z":"","name":"Nerf Gun","icon":"dashboard","order":2}]