Github Repo/Node Red Code/Smart Gate Controller/Nerf Gun.txt
[{"id":"3fd72930.f776f6","type":"rpi-gpio out","z":"30a149df.c095fe","name":"Trigger - GPIO 17 - PIN 11","pin":"11","set":"","level":"0","freq":"50","out":"pwm","x":800,"y":60,"wires":[]},{"id":"a8c0e217.be3378","type":"inject","z":"30a149df.c095fe","name":"Set +","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["ed10c73c.63daf8"]]},{"id":"42cbd5f7.3f3654","type":"inject","z":"30a149df.c095fe","name":"25%","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["cec40f88.680ec8"]]},{"id":"24cd1de7.81c2aa","type":"inject","z":"30a149df.c095fe","name":"1%","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["63a06481.3d4f04"]]},{"id":"d8ebab32.692cd","type":"trigger","z":"30a149df.c095fe","op1":"20","op2":"0","op1type":"num","op2type":"str","duration":"1250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"20","x":430,"y":40,"wires":[["3fd72930.f776f6"]]},{"id":"58365554.a64f74","type":"trigger","z":"30a149df.c095fe","op1":"56","op2":"0","op1type":"num","op2type":"num","duration":"1250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"15","x":430,"y":80,"wires":[["3fd72930.f776f6"]]},{"id":"63a06481.3d4f04","type":"ui_button","z":"30a149df.c095fe","name":"Fire","group":"3b8105a3.3d536a","order":1,"width":0,"height":0,"passthru":true,"label":"Fire","color":"White","bgcolor":"Red","icon":"","payload":"1","payloadType":"num","topic":"","x":290,"y":40,"wires":[["d8ebab32.692cd"]]},{"id":"cec40f88.680ec8","type":"ui_button","z":"30a149df.c095fe","name":"Reset","group":"3b8105a3.3d536a","order":2,"width":0,"height":0,"passthru":true,"label":"Reset","color":"White","bgcolor":"Green","icon":"","payload":"25","payloadType":"num","topic":"","x":290,"y":80,"wires":[["58365554.a64f74"]]},{"id":"ed10c73c.63daf8","type":"ui_button","z":"30a149df.c095fe","name":"Set +","group":"3b8105a3.3d536a","order":3,"width":0,"height":0,"passthru":true,"label":"Set +","color":"White","bgcolor":"Blue","icon":"","payload":"2","payloadType":"num","topic":"","x":290,"y":120,"wires":[["aaceed4e.2d913"]]},{"id":"aaceed4e.2d913","type":"trigger","z":"30a149df.c095fe","op1":"10","op2":"0","op1type":"str","op2type":"str","duration":"1250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"10","x":430,"y":120,"wires":[["3fd72930.f776f6"]]},{"id":"3a4e19c3.e3ac8e","type":"inject","z":"30a149df.c095fe","name":"Set -","topic":"","payload":"51","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["899b841f.cdacc"]]},{"id":"899b841f.cdacc","type":"ui_button","z":"30a149df.c095fe","name":"Set -","group":"3b8105a3.3d536a","order":4,"width":0,"height":0,"passthru":true,"label":"Set -","color":"Black","bgcolor":"Yellow","icon":"","payload":"51","payloadType":"num","topic":"","x":290,"y":160,"wires":[["b3e2ed07.35b8b8"]]},{"id":"b3e2ed07.35b8b8","type":"trigger","z":"30a149df.c095fe","op1":"17","op2":"0","op1type":"str","op2type":"str","duration":"1250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"16","x":430,"y":160,"wires":[["3fd72930.f776f6"]]},{"id":"e10bdcaa.4d6218","type":"e-mail in","z":"30a149df.c095fe","name":"GMAIL","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"20","x":110,"y":220,"wires":[["1cc310ba.8bf4af","4d08a40c.e89e0c"]]},{"id":"1cc310ba.8bf4af","type":"debug","z":"30a149df.c095fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":380,"wires":[]},{"id":"a303f100.83f858","type":"ui_template","z":"30a149df.c095fe","group":"fbb208d4.1f9628","name":"","order":5,"width":"4","height":"4","format":"<iframe width=\"840\" height=\"480\" src=\"http://www.airservicesaustralia.com/WeatherCam/images/BoM_Source_Images/Moorabbin_Airport-045.jpg?=602\" frameborder=\"0\" allowfullscreen></iframe>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":220,"y":340,"wires":[[]]},{"id":"a8ebb4af.b70ea8","type":"comment","z":"30a149df.c095fe","name":"","info":"https://www.youtube.com/watch?v=Ahc5C2GTQp4&list=PLpE_cpVGiAetqdP-nE8CDwtKrQRjBC_S-\n\n<iframe width=\"640\" height=\"480\" src=\"https://www.youtube.com/watch?v=Ahc5C2GTQp4&list=PLpE_cpVGiAetqdP-nE8CDwtKrQRjBC_S-\" frameborder=\"0\" allowfullscreen></iframe>","x":340,"y":500,"wires":[]},{"id":"cb6cf5cf.392c98","type":"ui_template","z":"30a149df.c095fe","group":"fbb208d4.1f9628","name":"","order":6,"width":"4","height":"4","format":"<iframe width=\"854\" height=\"480\" src=\"http://www.airservicesaustralia.com/WeatherCam/images/BoM_Source_Images/Moorabbin_Airport-135.jpg?=789\" frameborder=\"0\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":220,"y":400,"wires":[[]]},{"id":"adb8fcc0.ace518","type":"ui_template","z":"30a149df.c095fe","group":"e11671b0.15d4","name":"","order":5,"width":"12","height":"9","format":"<iframe width=\"840\" height=\"480\" src=\"https://projects-static.raspberrypi.org/projects/raspberry-pi-getting-started/b236aec3a861d0b7da03706d6b766ea12a81d377/en/images/pi-plug-in.gif\" frameborder=\"0\" allowfullscreen></iframe>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":220,"y":460,"wires":[[]]},{"id":"f28e91d1.d21b3","type":"debug","z":"30a149df.c095fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"4d08a40c.e89e0c","type":"switch","z":"30a149df.c095fe","name":"Voice Response","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"fired","vt":"str"},{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":220,"wires":[["bf2417aa.61ce08"],["5ff6afff.3804e"]]},{"id":"bf2417aa.61ce08","type":"change","z":"30a149df.c095fe","name":"fire trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["d8ebab32.692cd","f28e91d1.d21b3"]]},{"id":"5ff6afff.3804e","type":"change","z":"30a149df.c095fe","name":"reset trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["58365554.a64f74","f28e91d1.d21b3"]]},{"id":"3b8105a3.3d536a","type":"ui_group","z":"","name":"Reload","tab":"3b803689.71d6ca","disp":true,"width":"6","collapse":false},{"id":"fbb208d4.1f9628","type":"ui_group","z":"","name":"Colour Buttons","tab":"11213176.b6081f","disp":true,"width":"6"},{"id":"e11671b0.15d4","type":"ui_group","z":"","name":"Web Cameras","tab":"3b803689.71d6ca","disp":true,"width":"16","collapse":false},{"id":"3b803689.71d6ca","type":"ui_tab","z":"","name":"Nerf Gun","icon":"dashboard","order":2},{"id":"11213176.b6081f","type":"ui_tab","z":"","name":"testing","icon":"dashboard","order":4}]