Github Repo/Node Red Code/Smart Gate Controller/Save IP Camera triggered by AMX.txt
[{"id":"9d57359e.29cc58","type":"inject","z":"22bc4bcc.44fdd4","name":"","topic":"from actual IP camera mark","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":360,"y":200,"wires":[["a604da39.437078","5b392131.8159f","6944af25.d77fc","c153496b.df66b8"]]},{"id":"1ffbf60a.1d96da","type":"http request","z":"22bc4bcc.44fdd4","name":"Take Snapshot 1","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":864.9999732971191,"y":145.99998903274536,"wires":[["6f41e024.8dd8a"]]},{"id":"6f41e024.8dd8a","type":"file","z":"22bc4bcc.44fdd4","name":"Save Snapshot 1 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1097.750099182129,"y":146.99999332427979,"wires":[]},{"id":"607df5d1.8f639c","type":"debug","z":"22bc4bcc.44fdd4","name":"","active":true,"console":"false","complete":"true","x":1372.1904106140137,"y":421.4285717010498,"wires":[]},{"id":"d1539438.4b7138","type":"http request","z":"22bc4bcc.44fdd4","name":"Take Snapshot 2","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":863.9999732971191,"y":184.99998903274536,"wires":[["b939bfe5.a9418"]]},{"id":"b939bfe5.a9418","type":"file","z":"22bc4bcc.44fdd4","name":"Save Snapshot 2 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1093.250099182129,"y":183.99999332427979,"wires":[]},{"id":"53c03f2e.b9a66","type":"http request","z":"22bc4bcc.44fdd4","name":"Take Snapshot 3","method":"GET","ret":"bin","url":"http://120.146.192.70:8089/Jpeg/CamImg.jpg","tls":"","x":866.9999732971191,"y":223.99998903274536,"wires":[["e1550092.f8134"]]},{"id":"e1550092.f8134","type":"file","z":"22bc4bcc.44fdd4","name":"Save Snapshot 3 to File","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1094.250099182129,"y":222.99999332427979,"wires":[]},{"id":"a604da39.437078","type":"delay","z":"22bc4bcc.44fdd4","name":"Shot 1 - 250ms","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":672.9999732971191,"y":145.99998903274536,"wires":[["1ffbf60a.1d96da"]]},{"id":"5b392131.8159f","type":"delay","z":"22bc4bcc.44fdd4","name":"Shot 2 - 2 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":675.9999732971191,"y":184.99998903274536,"wires":[["d1539438.4b7138"]]},{"id":"6944af25.d77fc","type":"delay","z":"22bc4bcc.44fdd4","name":"Shot 2 -4 sec","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":667.9999732971191,"y":223.99998903274536,"wires":[["53c03f2e.b9a66"]]},{"id":"c153496b.df66b8","type":"delay","z":"22bc4bcc.44fdd4","name":"Send Images","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":668.9999732971191,"y":261.99998903274536,"wires":[["44dc1730.4e2eb8","4a406554.0f8adc","d8844a2d.6dd528"]]},{"id":"3b53e325.d1d0cc","type":"join","z":"22bc4bcc.44fdd4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1029.952434539795,"y":421.4285669326782,"wires":[["e8c91da7.63d19"]]},{"id":"4a406554.0f8adc","type":"file in","z":"22bc4bcc.44fdd4","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera2.jpg","format":"","x":657.8808441162109,"y":493.1904811859131,"wires":[["6fead3f1.eedb4c"]]},{"id":"d8844a2d.6dd528","type":"file in","z":"22bc4bcc.44fdd4","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera3.jpg","format":"","x":655.4999618530273,"y":549.1904859542847,"wires":[["6cb97c84.57e6d4"]]},{"id":"44dc1730.4e2eb8","type":"file in","z":"22bc4bcc.44fdd4","name":"","filename":"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg","format":"","x":653.5476226806641,"y":420.04765224456787,"wires":[["3b53e325.d1d0cc"]]},{"id":"6fead3f1.eedb4c","type":"delay","z":"22bc4bcc.44fdd4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1036.4523735046387,"y":492.5714282989502,"wires":[["3b53e325.d1d0cc"]]},{"id":"6cb97c84.57e6d4","type":"delay","z":"22bc4bcc.44fdd4","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1037.11909866333,"y":549.5237894058228,"wires":[["3b53e325.d1d0cc"]]},{"id":"e8c91da7.63d19","type":"function","z":"22bc4bcc.44fdd4","name":"Attach Pictures","func":"var newmsg = {};\nnewmsg.filename = \"\";\nvar today = new Date();\nvar date = today.getDate() + '-' + (today.getMonth()+1) + '-' + today.getFullYear();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar dateTime = date +' ' + time;\n//newmsg.filename = \"/home/pi/Documents/Chris_Programs/Door_Bell_Images/Door_Camera1.jpg\";\n\nnewmsg.attachments = [\n    { \n        filename: \"DoorCamera1.jpg\",\n        content: msg.payload[0]\n    },\n    {\n        filename: \"DoorCamera2.jpg\",\n        content: msg.payload[1]\n    }, \n    {\n        filename: \"DoorCamera3.jpg\",\n        content: msg.payload[2]\n    }\n    ];\nnewmsg.topic = \"Front Door Bell pressed - \" + dateTime;\nnewmsg.payload = \"Front door camera\";\nnewmsg.description = \"Want this to appear in body of email\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1193.4286575317383,"y":421.7142038345337,"wires":[["607df5d1.8f639c","b3204d3.6b877b"]]},{"id":"b3204d3.6b877b","type":"e-mail","z":"22bc4bcc.44fdd4","server":"smtp.gmail.com","port":"465","secure":true,"name":"chris@shawcomms.com.au","dname":"Email - cjshayes@gmail.com","x":1295.8094482421875,"y":491.71429920196533,"wires":[]},{"id":"c952c6c8.92b858","type":"debug","z":"22bc4bcc.44fdd4","name":"","active":true,"console":"false","complete":"false","x":675.4394149780273,"y":92.75768995285034,"wires":[]},{"id":"e67589cd.5fb618","type":"tcp in","z":"22bc4bcc.44fdd4","name":"AMX","server":"client","host":"192.168.1.150","port":"4053","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":83.01076889038086,"y":103.39402103424072,"wires":[["1bad19fd.bc3c66"]]},{"id":"1bad19fd.bc3c66","type":"function","z":"22bc4bcc.44fdd4","name":"Extract AMX Data","func":"var msg = msg.payload;\nif (msg == \"DOOR BELL PRESSED\")\n    {\n    var newMsg = 1;\n    node.send ({payload:[newMsg.payload]});\n    }\nreturn null;","outputs":"1","noerr":0,"x":257.7729034423828,"y":103.57586669921875,"wires":[["3313c404.690c8c","d8c2d39.0e4ed3"]]},{"id":"3313c404.690c8c","type":"trigger","z":"22bc4bcc.44fdd4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"units":"ms","reset":"","name":"","x":453.72721099853516,"y":110.63637208938599,"wires":[["c952c6c8.92b858","a604da39.437078","5b392131.8159f","6944af25.d77fc","c153496b.df66b8"]]},{"id":"d8c2d39.0e4ed3","type":"debug","z":"22bc4bcc.44fdd4","name":"","active":true,"console":"false","complete":"false","x":453.72718811035156,"y":68.99998760223389,"wires":[]}]