Github Repo/Node Red Code/Smart Gate Controller/USB Camera Setup.txt
[{"id":"4fd534b1.7866cc","type":"inject","z":"ae341e71.2c34d","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["906d940.a31eb7"]]},{"id":"a2cab8cc.dce268","type":"usbcamera","z":"ae341e71.2c34d","filemode":"1","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"","x":470,"y":120,"wires":[[]]},{"id":"906d940.a31eb7","type":"camerapi-takephoto","z":"ae341e71.2c34d","filemode":"2","filename":"grabCAM1.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"CAM1","x":430,"y":180,"wires":[[]]}]