Github Repo/Node Red Code/Pi Zero Churchill/7 Segment Display.txt
[{"id":"3c6ada48.4cc8b6","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":861,"y":632,"wires":[]},{"id":"d3160c0b.92f74","type":"function","z":"f5ba335f.265e5","name":"Convert to Hex","func":"//msg = msg.payload;\nvar newMsg = { payload: msg.payload.value };\nvar msgA = { payload:0 };\nvar msgB = { payload:0 };\nvar msgC = { payload:0 };\nvar msgD = { payload:0 };\n\nif (msg.payload === 1)\n    {\n    msgA = { payload:1 };\n    }\nif (msg.payload === 2)\n    {\n    msgB = { payload:1 };\n    }\nif (msg.payload === 3)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    }\nif (msg.payload === 4)\n    {\n    msgC = { payload:1 };\n    }\nif (msg.payload === 5)\n    {\n    msgA = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 6)\n    {\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 7)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 8)\n    {\n    msgA = { payload:0 };\n    msgB = { payload:0 };\n    msgC = { payload:0 };\n    msgD = { payload:1 };\n    }\nif (msg.payload === 9)\n    {\n    msgA = { payload:1 };\n    msgD = { payload:1 };\n    }\n\nreturn [msgA, msgB, msgC, msgD];","outputs":"4","noerr":0,"x":566,"y":589,"wires":[["b81ea1d.de0d36"],["df508a46.ec1518"],["cd25e20a.27f64"],["3c6ada48.4cc8b6"]]},{"id":"ff55ae60.3ee3f","type":"function","z":"f5ba335f.265e5","name":"Seconds","func":"// initialise the counter to 0 if it doesn't exist already\nvar countsec = context.get('count')||0;\ncountsec += 1;\nif (countsec > 9)\n    {\n    countsec = 0;\n    }\n// store the value back\ncontext.set('count',countsec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countsec};\n//return {label:count,payload:count};","outputs":1,"noerr":0,"x":580,"y":126,"wires":[["94ac185c.d3b278","2183fb7a.1b4924","364f24ec.bda4cc"]]},{"id":"62eec957.1416b8","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":860,"y":453,"wires":[]},{"id":"364f24ec.bda4cc","type":"ui_text","z":"f5ba335f.265e5","group":"594e099b.0262c8","order":4,"width":"1","height":"1","name":"Graphic - Seconds","label":"","format":"{{msg.payload}}","layout":"row-center","x":937,"y":69,"wires":[]},{"id":"94ac185c.d3b278","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":931,"y":128,"wires":[]},{"id":"2a33e706.5dd548","type":"ui_text","z":"f5ba335f.265e5","group":"594e099b.0262c8","order":1,"width":"1","height":"1","name":"Graphic Minutes","label":"Min ","format":"{{msg.payload}}","layout":"row-center","x":948,"y":292,"wires":[]},{"id":"46ff1580.c8b8dc","type":"inject","z":"f5ba335f.265e5","name":"Time Clock","topic":"Seconds","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":267,"y":517,"wires":[["41c27fbc.7190c"]]},{"id":"b81ea1d.de0d36","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":859,"y":494,"wires":[]},{"id":"41c27fbc.7190c","type":"function","z":"f5ba335f.265e5","name":"Decade Counter - 7490","func":"// initialise the counter to 0 if it doesn't exist already\nvar countsec = context.get('count')||0;\ncountsec += 1;\nif (countsec > 9)\n    {\n    countsec = 0;\n    }\n// store the value back\ncontext.set('count',countsec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countsec};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":561,"y":488,"wires":[["62eec957.1416b8","d3160c0b.92f74"]]},{"id":"4240fb52.2772f4","type":"ui_text","z":"f5ba335f.265e5","group":"594e099b.0262c8","order":3,"width":"1","height":"1","name":"Graphic Tens Seconds","label":":","format":"{{msg.payload}}","layout":"row-center","x":961,"y":210,"wires":[]},{"id":"cd25e20a.27f64","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":858,"y":592,"wires":[]},{"id":"86f89451.e1f528","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":919,"y":249,"wires":[]},{"id":"c7260e2a.5f52f","type":"function","z":"f5ba335f.265e5","name":"HexOuput","func":"\nreturn msg;","outputs":"4","noerr":0,"x":1232,"y":269,"wires":[[],[],[],[]]},{"id":"df508a46.ec1518","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":864,"y":536,"wires":[]},{"id":"32385ccd.aa47f4","type":"function","z":"f5ba335f.265e5","name":"Minutes","func":"// initialise the counter to 0 if it doesn't exist already\nmsg = msg.payload;\nvar countminutes = context.get('countmin')||0;\n//var count = context.get('countmin ')||0;\n//count += 1;\nif (msg === 0)\n    {\n    countminutes += 1;\n    if (countminutes > 9)\n        {\n        countminutes = 0;\n        }\n    }\n// store the value back\ncontext.set('countmin',countminutes);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countminutes};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":578,"y":293,"wires":[["2a33e706.5dd548","bcf0473c.8ad878"]]},{"id":"2183fb7a.1b4924","type":"function","z":"f5ba335f.265e5","name":"Tens Seconds","func":"// initialise the counter to 0 if it doesn't exist already\nmsg = msg.payload;\nvar counttensec = context.get('count')||0;\n//var count = context.get('count')||0;\n//count += 1;\nif (msg === 0)\n    {\n    counttensec += 1;\n    if (counttensec > 5)\n        {\n        counttensec = 0;\n        }\n    }\n// store the value back\ncontext.set('count',counttensec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:counttensec};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":596,"y":190,"wires":[["4240fb52.2772f4","32385ccd.aa47f4","86f89451.e1f528"]]},{"id":"bcf0473c.8ad878","type":"debug","z":"f5ba335f.265e5","name":"","active":false,"console":"false","complete":"false","x":925,"y":334,"wires":[]},{"id":"594e099b.0262c8","type":"ui_group","z":"","name":"Display 1","tab":"aebf6ea7.36a8b","disp":true,"width":"5"},{"id":"aebf6ea7.36a8b","type":"ui_tab","z":"","name":"Seven Segment Display","icon":"dashboard","order":22}]