Github Repo/Node Red Code/Pi Zero Churchill/7447 - Seven Segment Display.txt
[{"id":"4b0a9644.8bbc48","type":"debug","z":"162f08d8.9d7147","name":"G","active":false,"console":"false","complete":"payload","x":1190,"y":520,"wires":[]},{"id":"31434ef.a066eb2","type":"debug","z":"162f08d8.9d7147","name":"","active":false,"console":"false","complete":"payload.data","x":870.5001805623374,"y":457.3333921432496,"wires":[]},{"id":"a63f22e7.92a8d","type":"function","z":"162f08d8.9d7147","name":"C","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["10654de0.b8c1d2"]]},{"id":"942beece.80cdd","type":"inject","z":"162f08d8.9d7147","name":"6","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":640,"wires":[["b893199a.ba0718"]]},{"id":"3b6e2bd8.0f41f4","type":"comment","z":"162f08d8.9d7147","name":"Reset","info":"","x":320,"y":300,"wires":[]},{"id":"4be3b24e.cb8d3c","type":"function","z":"162f08d8.9d7147","name":"A","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["10654de0.b8c1d2"]]},{"id":"655accc5.c91df4","type":"debug","z":"162f08d8.9d7147","name":"E","active":false,"console":"false","complete":"payload","x":1190,"y":440,"wires":[]},{"id":"762fb1b5.03d6c","type":"inject","z":"162f08d8.9d7147","name":"0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":400,"wires":[["b893199a.ba0718"]]},{"id":"939ae74c.104198","type":"function","z":"162f08d8.9d7147","name":"D","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["10654de0.b8c1d2"]]},{"id":"3e04fe7.ab72f02","type":"inject","z":"162f08d8.9d7147","name":"3","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":520,"wires":[["b893199a.ba0718"]]},{"id":"f43ebb06.231688","type":"inject","z":"162f08d8.9d7147","name":"7","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":680,"wires":[["b893199a.ba0718"]]},{"id":"e8ce2d06.4ebf7","type":"debug","z":"162f08d8.9d7147","name":"A","active":false,"console":"false","complete":"payload","x":1190,"y":280,"wires":[]},{"id":"b893199a.ba0718","type":"change","z":"162f08d8.9d7147","name":"","rules":[{"pt":"msg","to":"payload","p":"payload","t":"set","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":601.8334426879883,"y":399.6667947769165,"wires":[["31434ef.a066eb2","9299eb6f.5b2cf8","f6367d08.4d96d","caada018.b50c9"]]},{"id":"10654de0.b8c1d2","type":"join","z":"162f08d8.9d7147","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","timeout":"","count":"4","x":510,"y":140,"wires":[["8490d9ed.0dd478","9f22b04a.70aa5"]]},{"id":"9f22b04a.70aa5","type":"function","z":"162f08d8.9d7147","name":"","func":"var newMsg = {};\n//newMsg = msg.payload;\nif (msg.payload == \"0000\")\n    {\n    newMsg = 0;\n    //newMsg.data = 0;\n    }\nif (msg.payload == \"1000\")\n    {\n    newMsg = 1;\n    //newMsg.data = 1;\n    }\nif (msg.payload == \"0100\")\n    {\n    newMsg = 2;\n    }\nif (msg.payload == \"1100\")\n    {\n    newMsg = 3;\n    }\nif (msg.payload == \"0010\")\n    {\n    newMsg = 4;\n    }\nif (msg.payload == \"1010\")\n    {\n    newMsg = 5;\n    }\nif (msg.payload == \"0110\")\n    {\n    newMsg = 6;\n    }\nif (msg.payload == \"1110\")\n    {\n    newMsg = 7;\n    }\nif (msg.payload == \"0001\")\n    {\n    newMsg = 8;\n    }\nif (msg.payload == \"1001\")\n    {\n    newMsg = 9;\n    }\nnode.send ({payload:newMsg});\nreturn null;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["caada018.b50c9","47d9a28.7ae085c"]]},{"id":"97538196.0da4e","type":"inject","z":"162f08d8.9d7147","name":"4","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":560,"wires":[["b893199a.ba0718"]]},{"id":"357d828a.914fae","type":"debug","z":"162f08d8.9d7147","name":"B","active":false,"console":"false","complete":"payload","x":1190,"y":320,"wires":[]},{"id":"3a8f1aa7.56af26","type":"inject","z":"162f08d8.9d7147","name":"2","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":480,"wires":[["b893199a.ba0718"]]},{"id":"6f4bdd4d.4e4b04","type":"inject","z":"162f08d8.9d7147","name":"Reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":800,"wires":[["b893199a.ba0718"]]},{"id":"4e34e66b.95c9f8","type":"debug","z":"162f08d8.9d7147","name":"D","active":false,"console":"false","complete":"payload","x":1190,"y":400,"wires":[]},{"id":"f670ca5.021da38","type":"inject","z":"162f08d8.9d7147","name":"8","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":720,"wires":[["b893199a.ba0718"]]},{"id":"adc906d2.3d2888","type":"inject","z":"162f08d8.9d7147","name":"9","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":760,"wires":[["b893199a.ba0718"]]},{"id":"caada018.b50c9","type":"function","z":"162f08d8.9d7147","name":"7 Segment - Outputs","func":"var testData = msg.payload;\n\n// setup outputs\nvar msgSegA = { topic:\"7447\", payload:0 };\nvar msgSegB = { topic:\"7447\", payload:0 };\nvar msgSegC = { topic:\"7447\", payload:0 };\nvar msgSegD = { topic:\"7447\", payload:0 };\nvar msgSegE = { topic:\"7447\", payload:0 };\nvar msgSegF = { topic:\"7447\", payload:0 };\nvar msgSegG = { topic:\"7447\", payload:0 };\nif (testData === \"reset\") // reset\n    {\n    msgSegA = { payload:0 };\n    msgSegB = { payload:0 };\n    msgSegC = { payload:0 };\n    msgSegD = { payload:0 };    \n    msgSegE = { payload:0 };\n    msgSegF = { payload:0 };\n    msgSegG = { payload:0 };    \n    }\n    \nif (testData === 0)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:0 };        \n    msgSegE = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 1)\n    {\n    msgSegA = { payload:0 };\n    msgSegB = { payload:0 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:0 };\n    msgSegE = { payload:0 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:0 };\n    }\nif (testData === 2)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:0 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:1 };\n    msgSegF = { payload:0 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 3)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:0 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:0 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 4)\n    {\n    msgSegA = { payload:0 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:0 };\n    msgSegF = { payload:1 };\n    msgSegA = { payload:0 };\n    }\nif (testData === 5)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegA = { payload:0 };\n    msgSegD = { payload:1 };\n    msgSegB = { payload:0 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 6)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:0 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 7)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:0 };\n    msgSegC = { payload:1 };\n    msgSegD= { payload:0 };\n    msgSegE = { payload:0 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:0 };\n    }\nif (testData === 8)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:1 };\n    msgSegF = { payload:1 };\n    msgSegG = { payload:1 };    \n    }\nif (testData === 9)\n    {\n    msgSegA = { payload:1 };\n    msgSegB = { payload:1 };\n    msgSegC = { payload:1 };\n    msgSegD = { payload:1 };\n    msgSegE = { payload:0 };    \n    msgSegF = { payload:1 };\n    msgSegG = { payload:0 };\n    }\n\nreturn [msgSegA, msgSegB, msgSegC, msgSegD, msgSegE, msgSegF, msgSegG];","outputs":"7","noerr":0,"x":880,"y":320,"wires":[["e8ce2d06.4ebf7"],["357d828a.914fae"],["8882997c.9777c8"],["4e34e66b.95c9f8"],["655accc5.c91df4"],["935aad07.f6618"],["4b0a9644.8bbc48"]]},{"id":"ca229e79.d200c","type":"inject","z":"162f08d8.9d7147","name":"5","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":600,"wires":[["b893199a.ba0718"]]},{"id":"f6367d08.4d96d","type":"debug","z":"162f08d8.9d7147","name":"","active":false,"console":"false","complete":"topic","x":843.5002339680991,"y":499.3333320617677,"wires":[]},{"id":"935aad07.f6618","type":"debug","z":"162f08d8.9d7147","name":"F","active":false,"console":"false","complete":"payload","x":1190,"y":480,"wires":[]},{"id":"47d9a28.7ae085c","type":"debug","z":"162f08d8.9d7147","name":"","active":false,"console":"false","complete":"payload","x":850,"y":220,"wires":[]},{"id":"6c79a3a1.06725c","type":"link in","z":"162f08d8.9d7147","name":"7447 - C Input","links":["48218e7a.963e2"],"x":215,"y":160,"wires":[["a63f22e7.92a8d"]]},{"id":"ab02302a.69e2b","type":"link out","z":"162f08d8.9d7147","name":"","links":["ba8ed35b.cdf3a"],"x":295,"y":40,"wires":[]},{"id":"8490d9ed.0dd478","type":"debug","z":"162f08d8.9d7147","name":"","active":false,"console":"false","complete":"false","x":710,"y":140,"wires":[]},{"id":"3a43d0ed.6eaf6","type":"function","z":"162f08d8.9d7147","name":"B","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["10654de0.b8c1d2"]]},{"id":"1b9495d1.2613ea","type":"link in","z":"162f08d8.9d7147","name":"7447 - B Input","links":["1db7ff81.5446e"],"x":215,"y":120,"wires":[["3a43d0ed.6eaf6"]]},{"id":"9299eb6f.5b2cf8","type":"debug","z":"162f08d8.9d7147","name":"","active":false,"console":"false","complete":"false","x":850.1668243408203,"y":415.000036239624,"wires":[]},{"id":"dc38720.230e99","type":"inject","z":"162f08d8.9d7147","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":40,"wires":[["ab02302a.69e2b"]]},{"id":"d8b6e921.79e6d8","type":"link in","z":"162f08d8.9d7147","name":"7447 - A Input","links":["189aafd2.ba1b3"],"x":215,"y":80,"wires":[["4be3b24e.cb8d3c"]]},{"id":"c0cb3225.75796","type":"link in","z":"162f08d8.9d7147","name":"7447 - D Input","links":["96b19718.0cc548"],"x":215,"y":320,"wires":[["caada018.b50c9"]]},{"id":"b694937d.3edb","type":"link in","z":"162f08d8.9d7147","name":"7447 - D Input","links":["96b19718.0cc548"],"x":215,"y":200,"wires":[["939ae74c.104198"]]},{"id":"8882997c.9777c8","type":"debug","z":"162f08d8.9d7147","name":"C","active":false,"console":"false","complete":"payload","x":1190,"y":360,"wires":[]},{"id":"c460f4fe.050528","type":"inject","z":"162f08d8.9d7147","name":"1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":440,"wires":[["b893199a.ba0718"]]}]