Github Repo/Node Red Code/Pi Zero Churchill/AMX Data TX RX.txt
[{"id":"b9c7293a.dc8a88","type":"debug","z":"b592986d.f54b28","name":"","active":false,"console":"false","complete":"false","x":631.8095092773438,"y":262.33334732055664,"wires":[]},{"id":"b600639c.5da39","type":"function","z":"b592986d.f54b28","name":"Look for CITY in String","func":"var msg = msg.payload;\nvar newMsg = msg.replace('CITY ','');\n//console.log(ret);   //prints: 123\nnode.send ({payload:[newMsg]});\nreturn null;","outputs":1,"noerr":0,"x":660.2381896972656,"y":299.47622299194336,"wires":[["edff28e9.7fff18","ed6784af.5b51a8"]]},{"id":"5e7673d2.db843c","type":"tcp out","z":"b592986d.f54b28","host":"192.168.1.200","port":"4050","beserver":"client","base64":false,"end":false,"name":"AMX Connection :4050","x":440,"y":60,"wires":[]},{"id":"201d0296.466dfe","type":"tcp out","z":"b592986d.f54b28","host":"192.168.1.150","port":"4057","beserver":"client","base64":false,"end":false,"name":"Connect to 4057 AMX Weather Port","x":560,"y":460,"wires":[]},{"id":"a07e8110.c5e2b","type":"debug","z":"b592986d.f54b28","name":"","active":false,"console":"false","complete":"false","x":413.9096488952637,"y":104.64762988686562,"wires":[]},{"id":"95cce6d5.27ac38","type":"link in","z":"b592986d.f54b28","name":"Send to AMX:4052","links":["b953418c.b412d","eb1fbf2d.cae1","4e74d202.6b920c","ad6eb457.7bc928","917aa586.3e20c8","b39e5a97.36fb48","7a93f92b.10cac8","c2220631.6b4448","c7289813.4815b8"],"x":245.5238561630249,"y":92.76191329956055,"wires":[["a07e8110.c5e2b","5e7673d2.db843c"]]},{"id":"2f6c70d6.8d161","type":"tcp in","z":"b592986d.f54b28","name":"from AMX:4055","server":"client","host":"192.168.1.200","port":"4055","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":230.2380828857422,"y":212.61905765533447,"wires":[["294c21df.288d3e","4acbdd6a.a5e3a4","1a32d29.5d7822d"]]},{"id":"3d5fc278.09e2ae","type":"debug","z":"b592986d.f54b28","name":"","active":true,"console":"false","complete":"false","x":450,"y":400,"wires":[]},{"id":"edff28e9.7fff18","type":"link out","z":"b592986d.f54b28","name":"Yahoo Request from AMX","links":["2b78d6a9.26104a","8d83d799.702ef8"],"x":817.4764175415039,"y":299.39684104919434,"wires":[]},{"id":"1a32d29.5d7822d","type":"switch","z":"b592986d.f54b28","name":"","property":"payload","propertyType":"msg","rules":[{"v":"CITY ","vt":"str","t":"cont"}],"checkall":"true","outputs":1,"x":433.23815536499023,"y":301.19045066833496,"wires":[["b600639c.5da39","b9c7293a.dc8a88"]]},{"id":"4acbdd6a.a5e3a4","type":"debug","z":"b592986d.f54b28","name":"","active":false,"console":"false","complete":"false","x":450.3382453918457,"y":361.5047559738159,"wires":[]},{"id":"af0bd716.1ba418","type":"link in","z":"b592986d.f54b28","name":"To AMX Weather Port 4057","links":["ebd702c.85c9a","23e03c64.04d684"],"x":295,"y":440,"wires":[["3d5fc278.09e2ae","201d0296.466dfe"]]},{"id":"ed6784af.5b51a8","type":"debug","z":"b592986d.f54b28","name":"","active":false,"console":"false","complete":"false","x":850,"y":240,"wires":[]},{"id":"294c21df.288d3e","type":"link out","z":"b592986d.f54b28","name":"Receive from AMX:4053","links":["595c465d.382d38","32f8b809.5a9ec8","8fffdd35.49a7c","5218ba8d.aa04a4"],"x":595,"y":140,"wires":[]}]