Github Repo/Node Red Code/Pi Zero Churchill/AMX TXC16 Simulator.txt
[{"id":"4cd907a3.4a5878","type":"inject","z":"30c0a8af.d88248","name":"Left/Rwd","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":324.44444274902344,"wires":[["ccc79832.0c1d28"]]},{"id":"a1f1f23d.f063","type":"ui_button","z":"30c0a8af.d88248","name":"Back/Return","group":"15302087.c9b52f","order":12,"width":"3","height":"1","passthru":true,"label":"Back/Return","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"14","payloadType":"num","topic":"","x":351.111083984375,"y":564.4444427490234,"wires":[["d8125683.823dc8"]]},{"id":"393681eb.27eaee","type":"ui_button","z":"30c0a8af.d88248","name":"Pwr On/Off","group":"15302087.c9b52f","order":1,"width":"3","height":"1","passthru":true,"label":"Pwr On/Off","color":"","bgcolor":"RED","icon":"","payload":"1","payloadType":"num","topic":"","x":350,"y":40,"wires":[["d8125683.823dc8"]]},{"id":"6aeeb0af.ae82","type":"inject","z":"30c0a8af.d88248","name":"Fox/Fox2","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":404.44444274902344,"wires":[["404f9e8a.516fa"]]},{"id":"32ea12e8.eb0fae","type":"inject","z":"30c0a8af.d88248","name":"TV","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.111083984375,"y":484.44444274902344,"wires":[["f9e4b57.0cdf948"]]},{"id":"f9e4b57.0cdf948","type":"ui_button","z":"30c0a8af.d88248","name":"TV","group":"15302087.c9b52f","order":8,"width":"3","height":"1","passthru":true,"label":"TV","color":"","bgcolor":"GREEN","icon":"","payload":"12","payloadType":"num","topic":"","x":371.111083984375,"y":484.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"b39e5a97.36fb48","type":"link out","z":"30c0a8af.d88248","name":"Send to AMX","links":["95cce6d5.27ac38"],"x":854.4286804199219,"y":300.8571672439575,"wires":[]},{"id":"cfb520f3.50be","type":"inject","z":"30c0a8af.d88248","name":"Back/Return","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"x":131.111083984375,"y":564.4444427490234,"wires":[["a1f1f23d.f063"]]},{"id":"d471e36.15d4e2","type":"inject","z":"30c0a8af.d88248","name":"Media Player","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"x":131.111083984375,"y":444.44444274902344,"wires":[["9c6aec.70b1a518"]]},{"id":"9ac920e2.3de47","type":"inject","z":"30c0a8af.d88248","name":"Power On/Off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":40,"wires":[["393681eb.27eaee"]]},{"id":"e529abb.7f9bd58","type":"ui_button","z":"30c0a8af.d88248","name":"Vol Down","group":"15302087.c9b52f","order":11,"width":"3","height":"1","passthru":true,"label":"Vol Down","color":"","bgcolor":"BLUE","icon":"","payload":"6","payloadType":"num","topic":"","x":361.111083984375,"y":244.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"4fa35f2b.2cd94","type":"inject","z":"30c0a8af.d88248","name":"Channel Up","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["97c645f3.9bdb98"]]},{"id":"97c645f3.9bdb98","type":"ui_button","z":"30c0a8af.d88248","name":"CH Up","group":"15302087.c9b52f","order":5,"width":"3","height":"1","passthru":true,"label":"Ch Up","color":"","bgcolor":"BLUE","icon":"","payload":"3","payloadType":"num","topic":"","x":370,"y":120,"wires":[["d8125683.823dc8"]]},{"id":"9c6aec.70b1a518","type":"ui_button","z":"30c0a8af.d88248","name":"Media Player","group":"15302087.c9b52f","order":6,"width":"3","height":"1","passthru":true,"label":"Media Player","color":"","bgcolor":"GREEN","icon":"","payload":"11","payloadType":"num","topic":"","x":351.111083984375,"y":444.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"714103d7.430fac","type":"inject","z":"30c0a8af.d88248","name":"Stop/Menu","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":284.44444274902344,"wires":[["178c756.f9b468b"]]},{"id":"d6adda62.997528","type":"inject","z":"30c0a8af.d88248","name":"DVD","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":80,"wires":[["d7c156eb.76ed38"]]},{"id":"b1e980f6.6378","type":"inject","z":"30c0a8af.d88248","name":"Play/Select Ok","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"x":121.111083984375,"y":604.4444427490234,"wires":[["f30bd43f.7d1e38"]]},{"id":"d8125683.823dc8","type":"change","z":"30c0a8af.d88248","name":"","rules":[{"pt":"msg","to":"payload","p":"payload","t":"set","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":661.111083984375,"y":324.44444274902344,"wires":[["254cfde0.25de32","b39e5a97.36fb48"]]},{"id":"88066c3f.10a1b","type":"inject","z":"30c0a8af.d88248","name":"CD","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.111083984375,"y":524.4444427490234,"wires":[["4cd2a179.81868"]]},{"id":"e8dec1b3.eafec","type":"inject","z":"30c0a8af.d88248","name":"Right/Fwd","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":644.4444427490234,"wires":[["8a143d96.d821e"]]},{"id":"d1a099e6.858328","type":"ui_button","z":"30c0a8af.d88248","name":"CH Down","group":"15302087.c9b52f","order":7,"width":"3","height":"1","passthru":false,"label":"Ch Down","color":"","bgcolor":"BLUE","icon":"","payload":"4","payloadType":"num","topic":"","x":360,"y":160,"wires":[["d8125683.823dc8"]]},{"id":"254cfde0.25de32","type":"debug","z":"30c0a8af.d88248","name":"","active":false,"console":"false","complete":"false","x":871.111083984375,"y":364.44444274902344,"wires":[]},{"id":"ca4173f7.d012e","type":"ui_button","z":"30c0a8af.d88248","name":"Menu/AMP","group":"15302087.c9b52f","order":2,"width":"3","height":"1","passthru":true,"label":"Menu/AMP","color":"","bgcolor":"GREEN","icon":"","payload":"9","payloadType":"num","topic":"","x":351.111083984375,"y":364.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"50238bab.fe50d4","type":"inject","z":"30c0a8af.d88248","name":"Channel Down","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["d1a099e6.858328"]]},{"id":"178c756.f9b468b","type":"ui_button","z":"30c0a8af.d88248","name":"Stop/Menu","group":"15302087.c9b52f","order":13,"width":"3","height":"1","passthru":true,"label":"Stop/mENU","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"7","payloadType":"num","topic":"","x":351.111083984375,"y":284.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"8a143d96.d821e","type":"ui_button","z":"30c0a8af.d88248","name":"Right/Fwd","group":"15302087.c9b52f","order":16,"width":"3","height":"1","passthru":true,"label":"Right/Fwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"16","payloadType":"num","topic":"","x":361.111083984375,"y":644.4444427490234,"wires":[["d8125683.823dc8"]]},{"id":"f30bd43f.7d1e38","type":"ui_button","z":"30c0a8af.d88248","name":"Play/Select Ok","group":"15302087.c9b52f","order":14,"width":"3","height":"1","passthru":true,"label":"Play/Select Ok","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"15","payloadType":"num","topic":"","x":341.111083984375,"y":604.4444427490234,"wires":[["d8125683.823dc8"]]},{"id":"4cd2a179.81868","type":"ui_button","z":"30c0a8af.d88248","name":"CD","group":"15302087.c9b52f","order":10,"width":"3","height":"1","passthru":true,"label":"CD","color":"","bgcolor":"GREEN","icon":"","payload":"13","payloadType":"num","topic":"","x":371.111083984375,"y":524.4444427490234,"wires":[["d8125683.823dc8"]]},{"id":"ccc79832.0c1d28","type":"ui_button","z":"30c0a8af.d88248","name":"Left/Rwd","group":"15302087.c9b52f","order":15,"width":"3","height":"1","passthru":true,"label":"Left/Rwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"8","payloadType":"num","topic":"","x":361.111083984375,"y":324.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"d7c156eb.76ed38","type":"ui_button","z":"30c0a8af.d88248","name":"DVD","group":"15302087.c9b52f","order":3,"width":"3","height":"1","passthru":true,"label":"DVD","color":"","bgcolor":"GREEN","icon":"","payload":"2","payloadType":"num","topic":"","x":370,"y":80,"wires":[["d8125683.823dc8"]]},{"id":"76c135d2.0f29ac","type":"inject","z":"30c0a8af.d88248","name":"Vol Down","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":244.44444274902344,"wires":[["e529abb.7f9bd58"]]},{"id":"5b42f700.237988","type":"inject","z":"30c0a8af.d88248","name":"Menu/Amp","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":141.111083984375,"y":364.44444274902344,"wires":[["ca4173f7.d012e"]]},{"id":"2ec3e1bd.ddf3ae","type":"inject","z":"30c0a8af.d88248","name":"Vol Up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.111083984375,"y":204.44444274902344,"wires":[["c2b8f1b0.c3958"]]},{"id":"404f9e8a.516fa","type":"ui_button","z":"30c0a8af.d88248","name":"FOX/FOX2","group":"15302087.c9b52f","order":4,"width":"3","height":"1","passthru":true,"label":"Fox/Fox2","color":"","bgcolor":"GREEN","icon":"","payload":"10","payloadType":"num","topic":"","x":351.111083984375,"y":404.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"c2b8f1b0.c3958","type":"ui_button","z":"30c0a8af.d88248","name":"Vol Up","group":"15302087.c9b52f","order":9,"width":"3","height":"1","passthru":true,"label":"Vol Up","color":"","bgcolor":"BLUE","icon":"","payload":"5","payloadType":"num","topic":"","x":371.111083984375,"y":204.44444274902344,"wires":[["d8125683.823dc8"]]},{"id":"15302087.c9b52f","type":"ui_group","z":"30c0a8af.d88248","name":"AMX TXC16 Simulator","tab":"6f605ade.26d984","disp":true,"width":"6"},{"id":"6f605ade.26d984","type":"ui_tab","z":"30c0a8af.d88248","name":"AMX TXC16","icon":"dashboard","order":8}]