Github Repo/Node Red Code/Pi Zero Churchill/Chart Tester.txt
[{"id":"30c0518a.81506e","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":320,"wires":[["24db6ac1.ad4606"]]},{"id":"d4a65fc8.029cd","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":390,"y":640,"wires":[["becfabbf.396268","fea2a874.48bed8","42c0a187.b0ca7","5dde333.93c1bcc","b8df1a22.e17a38","3e797a82.6f1c56"]]},{"id":"434f1237.d0f65c","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":230,"y":640,"wires":[["d4a65fc8.029cd"]]},{"id":"b4447177.7af1b","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":520,"wires":[["b9a96ef2.31244"]]},{"id":"233acee6.be1492","type":"function","z":"f6ca4ac6.071e78","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["fea2a874.48bed8","becfabbf.396268","42c0a187.b0ca7","3e797a82.6f1c56"]]},{"id":"236e22d.390e1de","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":280,"wires":[["53a5c957.1e5858"]]},{"id":"becfabbf.396268","type":"ui_chart","z":"f6ca4ac6.071e78","name":"pie chart","group":"5bd13e55.5c1ca","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":380,"wires":[[],[]]},{"id":"d43f1234.8206a","type":"function","z":"f6ca4ac6.071e78","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["becfabbf.396268","fea2a874.48bed8","42c0a187.b0ca7","3e797a82.6f1c56"]]},{"id":"42c0a187.b0ca7","type":"ui_chart","z":"f6ca4ac6.071e78","name":"","group":"5bd13e55.5c1ca","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":140,"wires":[[],[]]},{"id":"86b8241f.53c648","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["42c0a187.b0ca7","fea2a874.48bed8","3e797a82.6f1c56","becfabbf.396268"]]},{"id":"6215e536.e8e99c","type":"inject","z":"f6ca4ac6.071e78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":120,"wires":[["d43f1234.8206a"]]},{"id":"b9a96ef2.31244","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["fea2a874.48bed8","42c0a187.b0ca7","b8df1a22.e17a38","5dde333.93c1bcc","3e797a82.6f1c56","becfabbf.396268"]]},{"id":"627b7a4d.b78514","type":"inject","z":"f6ca4ac6.071e78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":200,"wires":[["ce704239.7f337"]]},{"id":"3e797a82.6f1c56","type":"ui_chart","z":"f6ca4ac6.071e78","name":"","group":"18d817d1.cb8ee8","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":260,"wires":[[],[]]},{"id":"24db6ac1.ad4606","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["42c0a187.b0ca7"]]},{"id":"5dde333.93c1bcc","type":"ui_chart","z":"f6ca4ac6.071e78","name":"","group":"18d817d1.cb8ee8","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":500,"wires":[[],[]]},{"id":"d02f89ef.c3b828","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":240,"wires":[["19c72a3b.993d16"]]},{"id":"19c72a3b.993d16","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["42c0a187.b0ca7"]]},{"id":"fea2a874.48bed8","type":"ui_chart","z":"f6ca4ac6.071e78","name":"","group":"5bd13e55.5c1ca","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":200,"wires":[[],[]]},{"id":"53a5c957.1e5858","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["42c0a187.b0ca7"]]},{"id":"cd0a5f1c.a3ef3","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":360,"y":80,"wires":[["b8df1a22.e17a38","5dde333.93c1bcc","becfabbf.396268","3e797a82.6f1c56","fea2a874.48bed8","42c0a187.b0ca7"]]},{"id":"ce704239.7f337","type":"function","z":"f6ca4ac6.071e78","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["fea2a874.48bed8","becfabbf.396268","42c0a187.b0ca7","3e797a82.6f1c56"]]},{"id":"9c5e1660.729f58","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["42c0a187.b0ca7","fea2a874.48bed8","3e797a82.6f1c56","becfabbf.396268"]]},{"id":"9018d019.0567","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["fea2a874.48bed8","5dde333.93c1bcc","b8df1a22.e17a38","42c0a187.b0ca7","3e797a82.6f1c56","becfabbf.396268"]]},{"id":"7af5f35.75b6b0c","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["42c0a187.b0ca7","fea2a874.48bed8","becfabbf.396268","5dde333.93c1bcc","b8df1a22.e17a38","3e797a82.6f1c56"]]},{"id":"5d062a6a.4e7b34","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":240,"y":680,"wires":[["49e703c1.82d07c"]]},{"id":"6de952e7.63dc6c","type":"inject","z":"f6ca4ac6.071e78","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":600,"wires":[["5219b9.b2bb7648"]]},{"id":"5219b9.b2bb7648","type":"random","z":"f6ca4ac6.071e78","name":"","low":"1","high":"10000000","inte":"true","x":400,"y":600,"wires":[["42c0a187.b0ca7"]]},{"id":"c5d741fd.e2e3e","type":"inject","z":"f6ca4ac6.071e78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":160,"wires":[["233acee6.be1492"]]},{"id":"9bf53189.4bd27","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":440,"wires":[["9c5e1660.729f58"]]},{"id":"c270b3d3.ebd4","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":480,"wires":[["9018d019.0567"]]},{"id":"e256d8e0.f0de68","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":360,"wires":[["870a1905.3bdf58"]]},{"id":"232ee616.fbac7a","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":400,"wires":[["86b8241f.53c648"]]},{"id":"49e703c1.82d07c","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["becfabbf.396268","fea2a874.48bed8","b8df1a22.e17a38","5dde333.93c1bcc","42c0a187.b0ca7","3e797a82.6f1c56"]]},{"id":"7325af54.78f4e","type":"ui_button","z":"f6ca4ac6.071e78","name":"","group":"5d0e347a.01efbc","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":560,"wires":[["7af5f35.75b6b0c"]]},{"id":"870a1905.3bdf58","type":"function","z":"f6ca4ac6.071e78","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["42c0a187.b0ca7"]]},{"id":"b8df1a22.e17a38","type":"ui_chart","z":"f6ca4ac6.071e78","name":"","group":"18d817d1.cb8ee8","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":560,"wires":[[],[]]},{"id":"5d0e347a.01efbc","type":"ui_group","z":"","name":"Inputs","tab":"b8762a05.694298","order":1,"disp":false,"width":"6"},{"id":"5bd13e55.5c1ca","type":"ui_group","z":"","name":"Charts","tab":"b8762a05.694298","order":2,"disp":false,"width":"6"},{"id":"18d817d1.cb8ee8","type":"ui_group","z":"","name":"Group 3","tab":"b8762a05.694298","order":3,"disp":false,"width":"6"},{"id":"b8762a05.694298","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":25}]