Github Repo/Node Red Code/Pi Zero Churchill/Decade Counter 7490.txt
[{"id":"68f66b57.4e39c4","type":"debug","z":"dd32ed28.e9aac","name":"","active":false,"console":"false","complete":"payload","x":904,"y":110,"wires":[]},{"id":"c74347ec.49af98","type":"debug","z":"dd32ed28.e9aac","name":"","active":false,"console":"false","complete":"payload","x":894,"y":200,"wires":[]},{"id":"48218e7a.963e2","type":"link out","z":"dd32ed28.e9aac","name":"7490 - C Output","links":["6c79a3a1.06725c"],"x":741,"y":135,"wires":[]},{"id":"e33c22ae.793db","type":"function","z":"dd32ed28.e9aac","name":"Decade Counter - 7490","func":"// initialise the counter to 0 if it doesn't exist already\nvar countsec = context.get('count')||0;\ncountsec += 1;\nif (countsec > 9)\n    {\n    countsec = 0;\n    }\n// store the value back\ncontext.set('count',countsec);\n\n// make it part of the outgoing msg object\n//msg.count = count;\nreturn {payload:countsec};\n//return {label:count,payload:count};","outputs":"1","noerr":0,"x":309,"y":119,"wires":[["2d5798a0.a7ccb8"]]},{"id":"1c5fd53e.7b251b","type":"debug","z":"dd32ed28.e9aac","name":"","active":false,"console":"false","complete":"payload","x":911,"y":69,"wires":[]},{"id":"96b19718.0cc548","type":"link out","z":"dd32ed28.e9aac","name":"7490 - D Output","links":["b694937d.3edb","c0cb3225.75796"],"x":741,"y":177,"wires":[]},{"id":"189aafd2.ba1b3","type":"link out","z":"dd32ed28.e9aac","name":"7490 - A Output","links":["d8b6e921.79e6d8"],"x":742,"y":55,"wires":[]},{"id":"7c24e8ad.da7278","type":"inject","z":"dd32ed28.e9aac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":187,"wires":[["e33c22ae.793db"]]},{"id":"1db7ff81.5446e","type":"link out","z":"dd32ed28.e9aac","name":"7490 - B Output","links":["1b9495d1.2613ea"],"x":742,"y":93,"wires":[]},{"id":"ba8ed35b.cdf3a","type":"link in","z":"dd32ed28.e9aac","name":"7490 Decoade Counter Trigger","links":["ab02302a.69e2b","845d58f3.39cda8"],"x":155,"y":60,"wires":[["e33c22ae.793db"]]},{"id":"2d5798a0.a7ccb8","type":"function","z":"dd32ed28.e9aac","name":"Convert to Hex","func":"//msg = msg.payload;\n//var newMsg = { payload: msg.payload.value };\nvar msgA = { topic:\"A\", payload:0 };\nvar msgB = { topic:\"B\", payload:0 };\nvar msgC = { topic:\"C\", payload:0 };\nvar msgD = { topic:\"D\", payload:0 };\n\nif (msg.payload === 1)\n    {\n    msgA = { payload:1 };\n    }\nif (msg.payload === 2)\n    {\n    msgB = { payload:1 };\n    }\nif (msg.payload === 3)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    }\nif (msg.payload === 4)\n    {\n    msgC = { payload:1 };\n    }\nif (msg.payload === 5)\n    {\n    msgA = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 6)\n    {\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 7)\n    {\n    msgA = { payload:1 };\n    msgB = { payload:1 };\n    msgC = { payload:1 };\n    }\nif (msg.payload === 8)\n    {\n    msgA = { payload:0 };\n    msgB = { payload:0 };\n    msgC = { payload:0 };\n    msgD = { payload:1 };\n    }\nif (msg.payload === 9)\n    {\n    msgA = { payload:1 };\n    msgD = { payload:1 };\n    }\n\nreturn [msgA, msgB, msgC, msgD];","outputs":"4","noerr":0,"x":548,"y":118,"wires":[["189aafd2.ba1b3","1c5fd53e.7b251b"],["1db7ff81.5446e","68f66b57.4e39c4"],["48218e7a.963e2","3a3005cb.37aeca"],["96b19718.0cc548","c74347ec.49af98"]]},{"id":"3a3005cb.37aeca","type":"debug","z":"dd32ed28.e9aac","name":"","active":false,"console":"false","complete":"payload","x":893,"y":157,"wires":[]}]