Github Repo/Node Red Code/Pi Zero Churchill/Foxtel.txt
[{"id":"6f97f525.9a751c","type":"ui_button","z":"e722ace1.2a4fa","name":"Play","group":"93f7b21e.139ab","order":1,"width":"2","height":"1","passthru":true,"label":"Play","color":"","bgcolor":"","icon":"","payload":"play selected","payloadType":"str","topic":"","x":370,"y":680,"wires":[["94848ebd.2d93a"]]},{"id":"334784cc.5d052c","type":"inject","z":"e722ace1.2a4fa","name":"Red","topic":"","payload":"menu red selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":100,"wires":[["4807e0d.2dfa52"]]},{"id":"38f6cca3.841714","type":"inject","z":"e722ace1.2a4fa","name":"Right","topic":"","payload":"menu right selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":220,"wires":[["7862e9a.9e90418"]]},{"id":"c2abc69b.cfcc18","type":"ui_button","z":"e722ace1.2a4fa","name":"TV Guide","group":"fde3521f.891ff","order":1,"width":"2","height":"1","passthru":true,"label":"TV Guide","color":"","bgcolor":"","icon":"","payload":"menu tv guide selected","payloadType":"str","topic":"","x":380,"y":300,"wires":[["94848ebd.2d93a"]]},{"id":"9cdf132e.9286d","type":"inject","z":"e722ace1.2a4fa","name":"Power Off","topic":"","payload":"power off selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":480,"wires":[["715c7c9f.4806d4"]]},{"id":"aec3517f.65e7d","type":"inject","z":"e722ace1.2a4fa","name":"Blue","topic":"","payload":"menu blue selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":220,"wires":[["c8553e88.8a681"]]},{"id":"fab1cdf0.89495","type":"ui_button","z":"e722ace1.2a4fa","name":"Fwd","group":"93f7b21e.139ab","order":1,"width":"2","height":"1","passthru":true,"label":"Fwd","color":"","bgcolor":"","icon":"","payload":"forward selected","payloadType":"str","topic":"","x":370,"y":800,"wires":[["94848ebd.2d93a"]]},{"id":"d1f21059.62bf3","type":"ui_button","z":"e722ace1.2a4fa","name":"Rwd","group":"93f7b21e.139ab","order":1,"width":"2","height":"1","passthru":true,"label":"Rwd","color":"","bgcolor":"","icon":"","payload":"rewind selected","payloadType":"str","topic":"","x":370,"y":840,"wires":[["94848ebd.2d93a"]]},{"id":"fe11d570.805c08","type":"inject","z":"e722ace1.2a4fa","name":"Down","topic":"","payload":"menu down selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":140,"wires":[["84280bda.513b48"]]},{"id":"7862e9a.9e90418","type":"ui_button","z":"e722ace1.2a4fa","name":"Menu Right","group":"fde3521f.891ff","order":6,"width":"1","height":"1","passthru":true,"label":"Right","color":"","bgcolor":"","icon":"","payload":"menu right selected","payloadType":"str","topic":"","x":390,"y":220,"wires":[["94848ebd.2d93a"]]},{"id":"2c4b4945.60a5c6","type":"ui_button","z":"e722ace1.2a4fa","name":"Channel Down","group":"31c1b3d0.83988c","order":1,"width":"2","height":"1","passthru":true,"label":"Down","color":"Black","bgcolor":"Yellow","icon":"","payload":"channel down selected","payloadType":"str","topic":"","x":400,"y":620,"wires":[["94848ebd.2d93a"]]},{"id":"ac0f356a.db41a8","type":"ui_button","z":"e722ace1.2a4fa","name":"Back","group":"fde3521f.891ff","order":8,"width":"4","height":"1","passthru":true,"label":"Back","color":"","bgcolor":"","icon":"","payload":"menu back selected","payloadType":"str","topic":"","x":370,"y":340,"wires":[["94848ebd.2d93a"]]},{"id":"ffabc664.c12df8","type":"debug","z":"e722ace1.2a4fa","name":"","active":false,"console":"false","complete":"false","x":1150,"y":460,"wires":[]},{"id":"cdc28c2f.f2626","type":"inject","z":"e722ace1.2a4fa","name":"Stop","topic":"","payload":"stop selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":720,"wires":[["1edb7183.edda7e"]]},{"id":"d0accffd.7b4b4","type":"inject","z":"e722ace1.2a4fa","name":"Green","topic":"","payload":"menu green selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":140,"wires":[["fbfd5863.c46828"]]},{"id":"84280bda.513b48","type":"ui_button","z":"e722ace1.2a4fa","name":"Menu Down","group":"fde3521f.891ff","order":7,"width":"4","height":"1","passthru":true,"label":"Menu Down","color":"","bgcolor":"","icon":"","payload":"menu down selected","payloadType":"str","topic":"","x":390,"y":140,"wires":[["94848ebd.2d93a"]]},{"id":"e378c99d.f14bc8","type":"inject","z":"e722ace1.2a4fa","name":"Record","topic":"","payload":"record selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":880,"wires":[["1ab643ef.53f3ec"]]},{"id":"49aac81b.c2d898","type":"inject","z":"e722ace1.2a4fa","name":"Channel Up","topic":"","payload":"channel up selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":580,"wires":[["95c6fe52.2a8eb"]]},{"id":"a77cd61b.f9ae98","type":"ui_button","z":"e722ace1.2a4fa","name":"Yellow","group":"cc9e5d6a.927df","order":8,"width":"2","height":"1","passthru":true,"label":"Yellow","color":"Black","bgcolor":"Yellow","icon":"","payload":"menu yellow selected","payloadType":"str","topic":"","x":970,"y":180,"wires":[["94848ebd.2d93a"]]},{"id":"95c6fe52.2a8eb","type":"ui_button","z":"e722ace1.2a4fa","name":"Channel Up","group":"31c1b3d0.83988c","order":1,"width":"2","height":"1","passthru":true,"label":"Up","color":"Black","bgcolor":"Yellow","icon":"","payload":"channel up selected","payloadType":"str","topic":"","x":390,"y":580,"wires":[["94848ebd.2d93a"]]},{"id":"b34cbb55.b243d8","type":"ui_button","z":"e722ace1.2a4fa","name":"Foxtel 2 IQ2","group":"498afc17.9043f4","order":2,"width":"3","height":"1","passthru":true,"label":"Foxtel 2 - IQ2","color":"","bgcolor":"","icon":"","payload":"foxtel 2 selected","payloadType":"str","topic":"","x":1150,"y":740,"wires":[["94848ebd.2d93a"]]},{"id":"fbfd5863.c46828","type":"ui_button","z":"e722ace1.2a4fa","name":"Green","group":"cc9e5d6a.927df","order":8,"width":"2","height":"1","passthru":true,"label":"Green","color":"","bgcolor":"Green","icon":"","payload":"menu green selected","payloadType":"str","topic":"","x":970,"y":140,"wires":[["94848ebd.2d93a"]]},{"id":"715c7c9f.4806d4","type":"ui_button","z":"e722ace1.2a4fa","name":"Power Off","group":"b442d387.e7813","order":1,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"Red","icon":"","payload":"power off selected","payloadType":"str","topic":"","x":390,"y":480,"wires":[["94848ebd.2d93a"]]},{"id":"4f43f203.96f49c","type":"inject","z":"e722ace1.2a4fa","name":"Fwd","topic":"","payload":"forward selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":800,"wires":[["fab1cdf0.89495"]]},{"id":"339d2d55.f6dfd2","type":"ui_button","z":"e722ace1.2a4fa","name":"Power On","group":"b442d387.e7813","order":1,"width":"2","height":"1","passthru":true,"label":"On","color":"","bgcolor":"Green","icon":"","payload":"power on selected","payloadType":"str","topic":"","x":390,"y":440,"wires":[["94848ebd.2d93a"]]},{"id":"a1b32b2c.cdefd8","type":"inject","z":"e722ace1.2a4fa","name":"Channel Down","topic":"","payload":"channel down selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":620,"wires":[["2c4b4945.60a5c6"]]},{"id":"94125ad6.15bc18","type":"ui_button","z":"e722ace1.2a4fa","name":"Menu Up","group":"fde3521f.891ff","order":3,"width":"4","height":"1","passthru":true,"label":"Menu Up","color":"","bgcolor":"","icon":"","payload":"menu up selected","payloadType":"str","topic":"","x":380,"y":100,"wires":[["94848ebd.2d93a"]]},{"id":"42134121.fb248","type":"inject","z":"e722ace1.2a4fa","name":"Foxtel 2","topic":"","payload":"foxtel 2 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":854,"y":740,"wires":[["b34cbb55.b243d8"]]},{"id":"fb347af1.c53768","type":"inject","z":"e722ace1.2a4fa","name":"Left","topic":"","payload":"menu left selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":180,"wires":[["61b35815.265438"]]},{"id":"b774dec5.fd5aa","type":"ui_button","z":"e722ace1.2a4fa","name":"System Menu","group":"fde3521f.891ff","order":2,"width":"2","height":"1","passthru":true,"label":"Sys Menu","color":"","bgcolor":"","icon":"","payload":"menu selected","payloadType":"str","topic":"","x":400,"y":60,"wires":[["94848ebd.2d93a"]]},{"id":"61b35815.265438","type":"ui_button","z":"e722ace1.2a4fa","name":"Menu Left","group":"fde3521f.891ff","order":4,"width":"1","height":"1","passthru":true,"label":"Left","color":"","bgcolor":"","icon":"","payload":"menu left selected","payloadType":"str","topic":"","x":390,"y":180,"wires":[["94848ebd.2d93a"]]},{"id":"94848ebd.2d93a","type":"function","z":"e722ace1.2a4fa","name":"Sort Messages","func":"//node.send ({payload:[msg.payload]});\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":500,"wires":[["ffabc664.c12df8","917aa586.3e20c8"]]},{"id":"156dcbee.024ee4","type":"inject","z":"e722ace1.2a4fa","name":"Planner","topic":"","payload":"menu planner selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":380,"wires":[["119b1c2.7b780e4"]]},{"id":"184d95ec.44a32a","type":"inject","z":"e722ace1.2a4fa","name":"Foxtel 1","topic":"","payload":"foxtel 1 selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":854,"y":700,"wires":[["f2d85445.8b0218"]]},{"id":"90ec588a.681ad8","type":"inject","z":"e722ace1.2a4fa","name":"Select","topic":"","payload":"menu enter selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":260,"wires":[["616c4ecf.8a489"]]},{"id":"e36327a2.ccf998","type":"inject","z":"e722ace1.2a4fa","name":"Back","topic":"","payload":"menu back selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":340,"wires":[["ac0f356a.db41a8"]]},{"id":"1edb7183.edda7e","type":"ui_button","z":"e722ace1.2a4fa","name":"Stop","group":"93f7b21e.139ab","order":1,"width":"2","height":"1","passthru":true,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"stop selected","payloadType":"str","topic":"","x":370,"y":720,"wires":[["94848ebd.2d93a"]]},{"id":"5f36d15c.75beb","type":"inject","z":"e722ace1.2a4fa","name":"TV Guide","topic":"","payload":"menu tv guide selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":300,"wires":[["c2abc69b.cfcc18"]]},{"id":"119b1c2.7b780e4","type":"ui_button","z":"e722ace1.2a4fa","name":"Planner","group":"fde3521f.891ff","order":8,"width":"4","height":"1","passthru":true,"label":"Planner","color":"","bgcolor":"","icon":"","payload":"menu planner selected","payloadType":"str","topic":"","x":380,"y":380,"wires":[["94848ebd.2d93a"]]},{"id":"35d2f9f4.eb89c6","type":"inject","z":"e722ace1.2a4fa","name":"Yellow","topic":"","payload":"menu yellow selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":180,"wires":[["a77cd61b.f9ae98"]]},{"id":"f2d85445.8b0218","type":"ui_button","z":"e722ace1.2a4fa","name":"Foxtel 1 IQ3","group":"498afc17.9043f4","order":1,"width":"3","height":"1","passthru":true,"label":"Foxtel 1 - IQ3","color":"","bgcolor":"","icon":"","payload":"foxtel 1 selected","payloadType":"str","topic":"","x":1150,"y":700,"wires":[["94848ebd.2d93a"]]},{"id":"e5f08a58.254978","type":"inject","z":"e722ace1.2a4fa","name":"Pause","topic":"","payload":"pause selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":760,"wires":[["3b50b36f.729d5c"]]},{"id":"698e8df1.16e4c4","type":"inject","z":"e722ace1.2a4fa","name":"Power On","topic":"","payload":"power on selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":440,"wires":[["339d2d55.f6dfd2"]]},{"id":"bc085296.5e2e5","type":"inject","z":"e722ace1.2a4fa","name":"Up","topic":"","payload":"menu up selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["94125ad6.15bc18"]]},{"id":"cb75a7f3.311428","type":"inject","z":"e722ace1.2a4fa","name":"Play","topic":"","payload":"play selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":680,"wires":[["6f97f525.9a751c"]]},{"id":"30e22540.a7746a","type":"inject","z":"e722ace1.2a4fa","name":"System Menu","topic":"","payload":"menu selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":60,"wires":[["b774dec5.fd5aa"]]},{"id":"fcd4775d.958718","type":"inject","z":"e722ace1.2a4fa","name":"Rwd","topic":"","payload":"rewind selected","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":840,"wires":[["d1f21059.62bf3"]]},{"id":"4807e0d.2dfa52","type":"ui_button","z":"e722ace1.2a4fa","name":"Red","group":"cc9e5d6a.927df","order":8,"width":"2","height":"1","passthru":true,"label":"Red","color":"","bgcolor":"Red","icon":"","payload":"menu red selected","payloadType":"str","topic":"","x":970,"y":100,"wires":[["94848ebd.2d93a"]]},{"id":"616c4ecf.8a489","type":"ui_button","z":"e722ace1.2a4fa","name":"Enter","group":"fde3521f.891ff","order":5,"width":"2","height":"1","passthru":true,"label":"Enter","color":"","bgcolor":"","icon":"","payload":"menu enter selected","payloadType":"str","topic":"","x":370,"y":260,"wires":[["94848ebd.2d93a"]]},{"id":"3b50b36f.729d5c","type":"ui_button","z":"e722ace1.2a4fa","name":"Pause","group":"93f7b21e.139ab","order":1,"width":"2","height":"1","passthru":true,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"pause selected","payloadType":"str","topic":"","x":370,"y":760,"wires":[["94848ebd.2d93a"]]},{"id":"1ab643ef.53f3ec","type":"ui_button","z":"e722ace1.2a4fa","name":"Record","group":"93f7b21e.139ab","order":1,"width":"2","height":"1","passthru":true,"label":"Record","color":"","bgcolor":"Red","icon":"","payload":"record selected","payloadType":"str","topic":"","x":380,"y":880,"wires":[["94848ebd.2d93a"]]},{"id":"c8553e88.8a681","type":"ui_button","z":"e722ace1.2a4fa","name":"Blue","group":"cc9e5d6a.927df","order":8,"width":"2","height":"1","passthru":true,"label":"Blue","color":"","bgcolor":"Blue","icon":"","payload":"menu red selected","payloadType":"str","topic":"","x":970,"y":220,"wires":[["94848ebd.2d93a"]]},{"id":"917aa586.3e20c8","type":"link out","z":"e722ace1.2a4fa","name":"","links":["95cce6d5.27ac38"],"x":1135,"y":540,"wires":[]},{"id":"93f7b21e.139ab","type":"ui_group","z":"","name":"Transport","tab":"881a1fd.08ffae","order":5,"disp":true,"width":"2"},{"id":"fde3521f.891ff","type":"ui_group","z":"","name":"Menu Controls","tab":"881a1fd.08ffae","order":3,"disp":true,"width":"4"},{"id":"31c1b3d0.83988c","type":"ui_group","z":"","name":"Channels","tab":"881a1fd.08ffae","order":4,"disp":true,"width":"2"},{"id":"cc9e5d6a.927df","type":"ui_group","z":"","name":"Functions","tab":"881a1fd.08ffae","order":6,"disp":true,"width":"2"},{"id":"498afc17.9043f4","type":"ui_group","z":"","name":"Box Selection","tab":"881a1fd.08ffae","order":1,"disp":true,"width":"3"},{"id":"b442d387.e7813","type":"ui_group","z":"","name":"Power","tab":"881a1fd.08ffae","order":7,"disp":true,"width":"2"},{"id":"881a1fd.08ffae","type":"ui_tab","z":"","name":"Foxtel","icon":"dashboard","order":6}]