Github Repo/Node Red Code/Pi Zero Churchill/Foxtel and TV Channels.txt
[{"id":"d5f744ce.e97298","type":"ui_button","z":"ec48c787.135678","name":"You","group":"f8905b5.9b45aa8","order":19,"width":"3","height":"1","passthru":true,"label":"You","color":"","bgcolor":"","icon":"","payload":"you","payloadType":"str","topic":"","x":490,"y":760,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"6ff9cd5c.dcd0a4","type":"ui_button","z":"ec48c787.135678","name":"Viceland","group":"f8905b5.9b45aa8","order":22,"width":"3","height":"1","passthru":true,"label":"Viceland","color":"","bgcolor":"","icon":"","payload":"vice","payloadType":"str","topic":"","x":500,"y":880,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"20052113.be498e","type":"inject","z":"ec48c787.135678","name":"Premiere Movies","topic":"","payload":"**channel 401","payloadType":"str","repeat":"","crontab":"","once":false,"x":1080,"y":1080,"wires":[["ef50d49c.f8f478"]]},{"id":"ef50d49c.f8f478","type":"ui_button","z":"ec48c787.135678","name":"Premiere Movies","group":"d78d6cf2.93a19","order":2,"width":"3","height":"1","passthru":true,"label":"Premiere Movies","color":"","bgcolor":"","icon":"","payload":"premiere","payloadType":"str","topic":"","x":1350,"y":1080,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"58ecd76c.c576c8","type":"inject","z":"ec48c787.135678","name":"Fox 8","topic":"","payload":"eight","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":80,"wires":[["714e873c.0aeb18"]]},{"id":"fbaf4cb7.0ee5c","type":"inject","z":"ec48c787.135678","name":"Funny 111","topic":"","payload":"funny","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":360,"wires":[["bd7bb670.000778"]]},{"id":"b73bd282.4f25e","type":"inject","z":"ec48c787.135678","name":"SBS","topic":"","payload":"sbs","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":200,"wires":[["d9bfeb50.aadc58"]]},{"id":"e486c694.8a8178","type":"inject","z":"ec48c787.135678","name":"Classical FM","topic":"","payload":"fm","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":880,"wires":[["dd4300a3.381ea"]]},{"id":"cff3748e.314718","type":"ui_button","z":"ec48c787.135678","name":"FX","group":"f8905b5.9b45aa8","order":10,"width":"3","height":"1","passthru":true,"label":"FX","color":"","bgcolor":"","icon":"","payload":"fx","payloadType":"str","topic":"","x":490,"y":520,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"5fd492f3.05d58c","type":"inject","z":"ec48c787.135678","name":"Food","topic":"","payload":"food","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":720,"wires":[["8dd8a9d2.02cc08"]]},{"id":"54604dee.c34844","type":"ui_button","z":"ec48c787.135678","name":"Comedy","group":"f8905b5.9b45aa8","order":4,"width":"3","height":"1","passthru":true,"label":"Comedy","color":"","bgcolor":"","icon":"","payload":"comedy","payloadType":"str","topic":"","x":500,"y":600,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"56b92842.078608","type":"ui_button","z":"ec48c787.135678","name":"Country","group":"1eec73c8.7ce19c","order":0,"width":"3","height":"1","passthru":true,"label":"Country","color":"","bgcolor":"","icon":"","payload":"country","payloadType":"str","topic":"","x":1320,"y":760,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"6b989086.9da4c","type":"ui_button","z":"ec48c787.135678","name":"History Channel","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"History Channel","color":"","bgcolor":"","icon":"","payload":"history","payloadType":"str","topic":"","x":520,"y":1160,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"bb81e2c5.cecc2","type":"inject","z":"ec48c787.135678","name":"UKTV","topic":"","payload":"uktv","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":120,"wires":[["d25f4d0e.f496e"]]},{"id":"77a51954.f59aa8","type":"inject","z":"ec48c787.135678","name":"ABC News","topic":"","payload":"news","payloadType":"str","repeat":"","crontab":"","once":false,"x":760,"y":240,"wires":[["5f862c57.1d1314"]]},{"id":"f280b6fc.15e948","type":"file in","z":"ec48c787.135678","name":"","filename":"/home/pi/Chris_Rasp_Pi_Programs/Foxtel_Words.txt","format":"utf8","sendError":true,"x":1340,"y":600,"wires":[["2c54a975.6caec6"]]},{"id":"648811b0.d134c","type":"ui_button","z":"ec48c787.135678","name":"Turbo Channel","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"Turbo Channel","color":"","bgcolor":"","icon":"","payload":"turbo","payloadType":"str","topic":"","x":520,"y":1280,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"fe27cff.a7b3a3","type":"inject","z":"ec48c787.135678","name":"Action","topic":"","payload":"action","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1320,"wires":[["4b9d6d04.8de944"]]},{"id":"802b70ff.95cb5","type":"function","z":"ec48c787.135678","name":"Lookup Words Files","func":"var newmsg = {};\nvar inputstring = msg.topic;\nvar channels = Object.keys(msg.payload);\nvar oldpayload = msg.payload;\nvar foundChannel = \"\";\n\n\nfor (var i=0; i<channels.length; i++) {\n    if (inputstring.indexOf(channels[i]) !=-1) {\n        foundChannel = channels[i];\n        var channelNumber = oldpayload[channels[i]];\n        var result = \"**channel \" + channelNumber;\n        break;\n    }\n}\n\nnewmsg.payload = result;\n\n/*\nnewmsg.payload = {\n    inputstring: inputstring,\n    channels: channels,\n    oldpayload: oldpayload,\n    foundChannel: foundChannel,\n    result: result\n};\n*/\nreturn newmsg;","outputs":1,"noerr":0,"x":1720,"y":600,"wires":[["827e6ba9.842988","b953418c.b412d"]]},{"id":"714e873c.0aeb18","type":"ui_button","z":"ec48c787.135678","name":"Fox 8","group":"f8905b5.9b45aa8","order":1,"width":"3","height":"1","passthru":true,"label":"Fox 8","color":"","bgcolor":"","icon":"","payload":"eight","payloadType":"str","topic":"","x":490,"y":80,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"4eb7d8be.6bb2d8","type":"inject","z":"ec48c787.135678","name":"National Geographic Channel","topic":"","payload":"national","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1080,"wires":[["3b4fd05f.3a11e"]]},{"id":"241b49f0.86ec36","type":"debug","z":"ec48c787.135678","name":"","active":false,"console":"false","complete":"false","x":1390,"y":120,"wires":[]},{"id":"8ef3dc49.25716","type":"inject","z":"ec48c787.135678","name":"Arts","topic":"","payload":"arts","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":920,"wires":[["d8188c93.aca65"]]},{"id":"a7531baa.3a4c48","type":"inject","z":"ec48c787.135678","name":"Romance","topic":"","payload":"romance","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1360,"wires":[["2861baf1.db9d16"]]},{"id":"5f862c57.1d1314","type":"ui_button","z":"ec48c787.135678","name":"ABC News","group":"cdc4a2fe.439d6","order":0,"width":0,"height":0,"passthru":true,"label":"ABC News","color":"","bgcolor":"","icon":"","payload":"news","payloadType":"str","topic":"","x":1030,"y":240,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"1e272af2.b2b275","type":"ui_button","z":"ec48c787.135678","name":"BBC First","group":"f8905b5.9b45aa8","order":14,"width":"3","height":"1","passthru":true,"label":"BBC First","color":"","bgcolor":"","icon":"","payload":"first","payloadType":"str","topic":"","x":500,"y":440,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"846cc0a8.0d142","type":"inject","z":"ec48c787.135678","name":"Thirtheen","topic":"","payload":"thirtheen","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":480,"wires":[["c5b445c4.805d98"]]},{"id":"3555bb68.d9b044","type":"ui_button","z":"ec48c787.135678","name":"TV1","group":"f8905b5.9b45aa8","order":2,"width":"3","height":"1","passthru":true,"label":"TV 1","color":"","bgcolor":"","icon":"","payload":"tv1","payloadType":"str","topic":"","x":490,"y":40,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"d93fa4c3.5a1a68","type":"ui_button","z":"ec48c787.135678","name":"Arena","group":"f8905b5.9b45aa8","order":7,"width":"3","height":"1","passthru":true,"label":"Arena","color":"","bgcolor":"","icon":"","payload":"arena","payloadType":"str","topic":"","x":490,"y":160,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"2a9080b9.d6102","type":"ui_button","z":"ec48c787.135678","name":"MTV","group":"f8905b5.9b45aa8","order":17,"width":"3","height":"1","passthru":true,"label":"MTV","color":"","bgcolor":"","icon":"","payload":"mtv","payloadType":"str","topic":"","x":490,"y":680,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"59cf475d.708698","type":"ui_button","z":"ec48c787.135678","name":"People Channel","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"People Channel","color":"","bgcolor":"","icon":"","payload":"people","payloadType":"str","topic":"","x":520,"y":1320,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"db931574.47bee8","type":"inject","z":"ec48c787.135678","name":"Knowledge Channel","topic":"","payload":"knowledge","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1360,"wires":[["568e6253.bb839c"]]},{"id":"351e9495.2b070c","type":"function","z":"ec48c787.135678","name":"Search for Channel Word","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar room_rx; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word channel\n    { \n    if (msgdata[i] == \"channel\")\n        {\n        room_rx = 1;\n        node.send ({payload:msg.payload});\n        }\n    }\nreturn [null];","outputs":"1","noerr":0,"x":1350,"y":220,"wires":[["1e172f6b.cf7af1","aa25cbb2.8ae2d8"]]},{"id":"21493847.0b71a8","type":"ui_button","z":"ec48c787.135678","name":"AFL Footy","group":"4d076ca7.604274","order":0,"width":"2","height":"1","passthru":true,"label":"AFL Footy","color":"","bgcolor":"","icon":"","payload":"afl","payloadType":"str","topic":"","x":1330,"y":1040,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"8090c2aa.56b95","type":"inject","z":"ec48c787.135678","name":"ABC","topic":"","payload":"abc","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":40,"wires":[["b4b1570e.86f4f8"]]},{"id":"ee726e78.fef5","type":"inject","z":"ec48c787.135678","name":"You","topic":"","payload":"you","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":760,"wires":[["d5f744ce.e97298"]]},{"id":"b16e3e1f.bc5b3","type":"inject","z":"ec48c787.135678","name":"Ten","topic":"","payload":"**channel 110","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":160,"wires":[["5184ed1e.e67dd4"]]},{"id":"731b4301.b0212c","type":"inject","z":"ec48c787.135678","name":"Smooth","topic":"","payload":"smooth","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":720,"wires":[["c495ed66.778bc"]]},{"id":"4b9d6d04.8de944","type":"ui_button","z":"ec48c787.135678","name":"Action","group":"d78d6cf2.93a19","order":6,"width":"3","height":"1","passthru":true,"label":"Action","color":"","bgcolor":"","icon":"","payload":"action","payloadType":"str","topic":"","x":1310,"y":1320,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"5e3d5160.4459c","type":"ui_button","z":"ec48c787.135678","name":"AE","group":"f8905b5.9b45aa8","order":16,"width":"3","height":"1","passthru":true,"label":"AE","color":"","bgcolor":"","icon":"","payload":"ae","payloadType":"str","topic":"","x":490,"y":560,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"f454534c.12a15","type":"ui_button","z":"ec48c787.135678","name":"More","group":"d78d6cf2.93a19","order":1,"width":"3","height":"1","passthru":true,"label":"More","color":"","bgcolor":"","icon":"","payload":"more","payloadType":"str","topic":"","x":1310,"y":1240,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"2c54a975.6caec6","type":"json","z":"ec48c787.135678","name":"","x":1530,"y":600,"wires":[["802b70ff.95cb5"]]},{"id":"c222f858.46fd78","type":"ui_button","z":"ec48c787.135678","name":"NRL Footy","group":"4d076ca7.604274","order":0,"width":"2","height":"1","passthru":true,"label":"NRL Footy","color":"","bgcolor":"","icon":"","payload":"nrl","payloadType":"str","topic":"","x":1330,"y":1000,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"b953418c.b412d","type":"link out","z":"ec48c787.135678","name":"","links":["95cce6d5.27ac38","5218ba8d.aa04a4"],"x":1935,"y":580,"wires":[]},{"id":"a7260629.af9818","type":"inject","z":"ec48c787.135678","name":"Go","topic":"","payload":"go","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":840,"wires":[["ddfb6d99.f47ea"]]},{"id":"d25f4d0e.f496e","type":"ui_button","z":"ec48c787.135678","name":"UKTV","group":"f8905b5.9b45aa8","order":6,"width":"3","height":"1","passthru":true,"label":"UKTV","color":"","bgcolor":"","icon":"","payload":"uktv","payloadType":"str","topic":"","x":490,"y":120,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"1e0092c1.fdee4d","type":"ui_button","z":"ec48c787.135678","name":"Discovery","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"Discovery","color":"","bgcolor":"","icon":"","payload":"discovery","payloadType":"str","topic":"","x":500,"y":1120,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"f512945c.d3b2e8","type":"inject","z":"ec48c787.135678","name":"Country","topic":"","payload":"**channel 815","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":760,"wires":[["56b92842.078608"]]},{"id":"15e33dd2.290442","type":"inject","z":"ec48c787.135678","name":"NRL Footy","topic":"","payload":"nrl","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1000,"wires":[["c222f858.46fd78"]]},{"id":"fb43ef8c.37696","type":"ui_button","z":"ec48c787.135678","name":"Seven","group":"e7961668.563a88","order":0,"width":"3","height":"1","passthru":true,"label":"Seven","color":"","bgcolor":"","icon":"","payload":"seven","payloadType":"str","topic":"","x":1010,"y":80,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"ea997ec1.1ddcc","type":"ui_button","z":"ec48c787.135678","name":"Masterpiece","group":"d78d6cf2.93a19","order":3,"width":"3","height":"1","passthru":true,"label":"Masterpiece","color":"","bgcolor":"","icon":"","payload":"masterpiece","payloadType":"str","topic":"","x":1330,"y":1280,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"f9f5dc32.cd541","type":"inject","z":"ec48c787.135678","name":"Animal Channel","topic":"","payload":"animal","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1240,"wires":[["237c3d85.fc17a2"]]},{"id":"bd7bb670.000778","type":"ui_button","z":"ec48c787.135678","name":"Funny 111","group":"f8905b5.9b45aa8","order":12,"width":"3","height":"1","passthru":true,"label":"Funny 111","color":"","bgcolor":"","icon":"","payload":"funny","payloadType":"str","topic":"","x":510,"y":360,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"406edbed.0b0db4","type":"inject","z":"ec48c787.135678","name":"More","topic":"","payload":"more","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1240,"wires":[["f454534c.12a15"]]},{"id":"69a4b582.3880fc","type":"inject","z":"ec48c787.135678","name":"TV 1","topic":"","payload":"tv1","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":40,"wires":[["3555bb68.d9b044"]]},{"id":"827e6ba9.842988","type":"debug","z":"ec48c787.135678","name":"","active":false,"console":"false","complete":"false","x":1990,"y":520,"wires":[]},{"id":"1e172f6b.cf7af1","type":"debug","z":"ec48c787.135678","name":"","active":false,"console":"false","complete":"false","x":1590,"y":220,"wires":[]},{"id":"c5b445c4.805d98","type":"ui_button","z":"ec48c787.135678","name":"Thirtheen","group":"f8905b5.9b45aa8","order":15,"width":"3","height":"1","passthru":true,"label":"Thirtheen","color":"","bgcolor":"","icon":"","payload":"thirtheen","payloadType":"str","topic":"","x":500,"y":480,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"c495ed66.778bc","type":"ui_button","z":"ec48c787.135678","name":"Smooth","group":"1eec73c8.7ce19c","order":0,"width":"3","height":"1","passthru":true,"label":"Smooth","color":"","bgcolor":"","icon":"","payload":"smooth","payloadType":"str","topic":"","x":1320,"y":720,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"4b339ff.981916","type":"ui_button","z":"ec48c787.135678","name":"Showcase","group":"f8905b5.9b45aa8","order":11,"width":"3","height":"1","passthru":true,"label":"Showcase","color":"","bgcolor":"","icon":"","payload":"showcase","payloadType":"str","topic":"","x":510,"y":320,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"c4bb86c2.992158","type":"ui_button","z":"ec48c787.135678","name":"Family Movies","group":"d78d6cf2.93a19","order":5,"width":"3","height":"1","passthru":true,"label":"Family Movies","color":"","bgcolor":"","icon":"","payload":"family","payloadType":"str","topic":"","x":1340,"y":1160,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"5afcfe3c.532a2","type":"inject","z":"ec48c787.135678","name":"FX","topic":"","payload":"fx","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":520,"wires":[["cff3748e.314718"]]},{"id":"3b4fd05f.3a11e","type":"ui_button","z":"ec48c787.135678","name":"National Geographic Channel","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"Nat Geographic","color":"","bgcolor":"","icon":"","payload":"national","payloadType":"str","topic":"","x":560,"y":1080,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"df81c8ea.927868","type":"inject","z":"ec48c787.135678","name":"AE","topic":"","payload":"ae","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":560,"wires":[["5e3d5160.4459c"]]},{"id":"7235afd4.7ea9a","type":"ui_button","z":"ec48c787.135678","name":"SYFI Channel","group":"f8905b5.9b45aa8","order":3,"width":"3","height":"1","passthru":true,"label":"SYFI Channel","color":"","bgcolor":"","icon":"","payload":"syfi","payloadType":"str","topic":"","x":520,"y":640,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"aa25cbb2.8ae2d8","type":"change","z":"ec48c787.135678","name":"","rules":[{"pt":"msg","to":"payload","p":"topic","t":"set","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":600,"wires":[["f280b6fc.15e948"]]},{"id":"ced68bb2.f72098","type":"inject","z":"ec48c787.135678","name":"Relax","topic":"","payload":"relax","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":800,"wires":[["a3818c82.b330f"]]},{"id":"efa99f38.a086c","type":"ui_button","z":"ec48c787.135678","name":"ABC Jazz","group":"1eec73c8.7ce19c","order":0,"width":"3","height":"1","passthru":true,"label":"ABC Jazz","color":"","bgcolor":"","icon":"","payload":"jazz","payloadType":"str","topic":"","x":1320,"y":920,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"21a6813a.e7c8fe","type":"inject","z":"ec48c787.135678","name":"Universal","topic":"","payload":"universal","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":240,"wires":[["ea9ca93e.681948"]]},{"id":"71bcc400.0423ec","type":"inject","z":"ec48c787.135678","name":"People Channel","topic":"","payload":"people","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1320,"wires":[["59cf475d.708698"]]},{"id":"d8188c93.aca65","type":"ui_button","z":"ec48c787.135678","name":"Arts","group":"f8905b5.9b45aa8","order":23,"width":"3","height":"1","passthru":true,"label":"Arts","color":"","bgcolor":"","icon":"","payload":"arts","payloadType":"str","topic":"","x":490,"y":920,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"464e5176.077a4","type":"inject","z":"ec48c787.135678","name":"BBC First","topic":"","payload":"first","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":440,"wires":[["1e272af2.b2b275"]]},{"id":"317ec4dc.6b8a6c","type":"ui_button","z":"ec48c787.135678","name":"Science Channel","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"Science Channel","color":"","bgcolor":"","icon":"","payload":"science","payloadType":"str","topic":"","x":530,"y":1200,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"c83b3b7b.edddc8","type":"inject","z":"ec48c787.135678","name":"Disney","topic":"","payload":"disney","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1120,"wires":[["a89d9342.80609"]]},{"id":"dd4300a3.381ea","type":"ui_button","z":"ec48c787.135678","name":"Classical FM","group":"1eec73c8.7ce19c","order":0,"width":"3","height":"1","passthru":true,"label":"Classical FM","color":"","bgcolor":"","icon":"","payload":"fm","payloadType":"str","topic":"","x":1330,"y":880,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"c4bf615.481d3a","type":"inject","z":"ec48c787.135678","name":"History Channel","topic":"","payload":"history","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1160,"wires":[["6b989086.9da4c"]]},{"id":"d9bfeb50.aadc58","type":"ui_button","z":"ec48c787.135678","name":"SBS","group":"e7961668.563a88","order":0,"width":"3","height":"1","passthru":true,"label":"SBS","color":"","bgcolor":"","icon":"","payload":"sbs","payloadType":"str","topic":"","x":1010,"y":200,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"79e1390f.68e028","type":"inject","z":"ec48c787.135678","name":"ABC Jazz","topic":"","payload":"jazz","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":920,"wires":[["efa99f38.a086c"]]},{"id":"ddfb6d99.f47ea","type":"ui_button","z":"ec48c787.135678","name":"Go","group":"f8905b5.9b45aa8","order":21,"width":"3","height":"1","passthru":true,"label":"Go","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":490,"y":840,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"1976b371.9e60fd","type":"inject","z":"ec48c787.135678","name":"774","topic":"","payload":"774","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":840,"wires":[["bfb7af05.cb96e"]]},{"id":"dc1ccc04.9df38","type":"inject","z":"ec48c787.135678","name":"Family Movies","topic":"","payload":"family","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":1160,"wires":[["c4bb86c2.992158"]]},{"id":"a794ccb7.874de","type":"inject","z":"ec48c787.135678","name":"Weather Channel","topic":"","payload":"weather","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1040,"wires":[["fa6a6c8f.0af24"]]},{"id":"2861baf1.db9d16","type":"ui_button","z":"ec48c787.135678","name":"Romance","group":"d78d6cf2.93a19","order":7,"width":"3","height":"1","passthru":true,"label":"Romance","color":"","bgcolor":"","icon":"","payload":"romance","payloadType":"str","topic":"","x":1320,"y":1360,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"bc8cc423.aff728","type":"inject","z":"ec48c787.135678","name":"Masterpiece","topic":"","payload":"masterpiece","payloadType":"str","repeat":"","crontab":"","once":false,"x":1070,"y":1280,"wires":[["ea997ec1.1ddcc"]]},{"id":"1133600c.2696c","type":"inject","z":"ec48c787.135678","name":"Discovery Channel","topic":"","payload":"discovery","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1120,"wires":[["1e0092c1.fdee4d"]]},{"id":"a89d9342.80609","type":"ui_button","z":"ec48c787.135678","name":"Disney Movies","group":"d78d6cf2.93a19","order":4,"width":"3","height":"1","passthru":true,"label":"Disney Movies","color":"","bgcolor":"","icon":"","payload":"disney","payloadType":"str","topic":"","x":1340,"y":1120,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"61839219.0ea6fc","type":"inject","z":"ec48c787.135678","name":"AFL Footy","topic":"","payload":"afl","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":1040,"wires":[["21493847.0b71a8"]]},{"id":"fd7b8384.fc7e4","type":"inject","z":"ec48c787.135678","name":"MTV","topic":"","payload":"mtv","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":680,"wires":[["2a9080b9.d6102"]]},{"id":"1d2feb36.78a615","type":"inject","z":"ec48c787.135678","name":"Binge","topic":"","payload":"binge","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":400,"wires":[["9a67fa82.26d388"]]},{"id":"12b1cefd.c15821","type":"inject","z":"ec48c787.135678","name":"Lifestyle","topic":"","payload":"lifestyle","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":200,"wires":[["597fe9c9.f739b8"]]},{"id":"bc5fce19.0478e","type":"inject","z":"ec48c787.135678","name":"SYFI Channel","topic":"","payload":"syfi","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":640,"wires":[["7235afd4.7ea9a"]]},{"id":"b4b1570e.86f4f8","type":"ui_button","z":"ec48c787.135678","name":"ABC","group":"e7961668.563a88","order":0,"width":"3","height":"1","passthru":true,"label":"ABC","color":"","bgcolor":"","icon":"","payload":"abc","payloadType":"str","topic":"","x":1010,"y":40,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"8c77d0fb.d07d4","type":"inject","z":"ec48c787.135678","name":"Sky Channel","topic":"","payload":"sky","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1000,"wires":[["6dd5399d.2b1cc8"]]},{"id":"6dd5399d.2b1cc8","type":"ui_button","z":"ec48c787.135678","name":"Sky News","group":"cdc4a2fe.439d6","order":1,"width":"3","height":"1","passthru":true,"label":"Sky News","color":"","bgcolor":"","icon":"","payload":"sky","payloadType":"str","topic":"","x":500,"y":1000,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"1eaf58eb.5a0a77","type":"ui_button","z":"ec48c787.135678","name":"Thriller","group":"d78d6cf2.93a19","order":8,"width":"3","height":"1","passthru":true,"label":"Thriller","color":"","bgcolor":"","icon":"","payload":"thriller","payloadType":"str","topic":"","x":1310,"y":1200,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"ff019398.1afe4","type":"inject","z":"ec48c787.135678","name":"Thriller","topic":"","payload":"thriller","payloadType":"str","repeat":"","crontab":"","once":false,"x":1050,"y":1200,"wires":[["1eaf58eb.5a0a77"]]},{"id":"568e6253.bb839c","type":"ui_button","z":"ec48c787.135678","name":"Knowledge Channel","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"Knowledge Channel","color":"","bgcolor":"","icon":"","payload":"knowledge","payloadType":"str","topic":"","x":540,"y":1360,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"fa6a6c8f.0af24","type":"ui_button","z":"ec48c787.135678","name":"Weather","group":"cdc4a2fe.439d6","order":2,"width":"3","height":"1","passthru":true,"label":"Weather","color":"","bgcolor":"","icon":"","payload":"weather","payloadType":"str","topic":"","x":500,"y":1040,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"237c3d85.fc17a2","type":"ui_button","z":"ec48c787.135678","name":"Animal Channel","group":"fdf0ef4d.618ce","order":0,"width":"3","height":"1","passthru":true,"label":"Animal Channel","color":"","bgcolor":"","icon":"","payload":"animal","payloadType":"str","topic":"","x":520,"y":1240,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"a3818c82.b330f","type":"ui_button","z":"ec48c787.135678","name":"Relax","group":"1eec73c8.7ce19c","order":0,"width":"3","height":"1","passthru":true,"label":"Relax","color":"","bgcolor":"","icon":"","payload":"relax","payloadType":"str","topic":"","x":1310,"y":800,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"ea9ca93e.681948","type":"ui_button","z":"ec48c787.135678","name":"Universal","group":"f8905b5.9b45aa8","order":5,"width":"3","height":"1","passthru":true,"label":"Universal","color":"","bgcolor":"","icon":"","payload":"universal","payloadType":"str","topic":"","x":500,"y":240,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"5c97da9a.89a2e4","type":"link in","z":"ec48c787.135678","name":"","links":["3a083f00.0e1a52","f5b0f59a.32a7f8"],"x":1235,"y":120,"wires":[["351e9495.2b070c","241b49f0.86ec36"]]},{"id":"9b70d103.e8e3e","type":"inject","z":"ec48c787.135678","name":"Showcase","topic":"","payload":"shocase","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":320,"wires":[["4b339ff.981916"]]},{"id":"8dd8a9d2.02cc08","type":"ui_button","z":"ec48c787.135678","name":"Food","group":"f8905b5.9b45aa8","order":18,"width":"3","height":"1","passthru":true,"label":"Food","color":"","bgcolor":"","icon":"","payload":"food","payloadType":"str","topic":"","x":490,"y":720,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"f29733c3.0118c","type":"inject","z":"ec48c787.135678","name":"Turbo Channel","topic":"","payload":"turbo","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1280,"wires":[["648811b0.d134c"]]},{"id":"41ee069d.104c68","type":"inject","z":"ec48c787.135678","name":"Arena","topic":"","payload":"arena","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":160,"wires":[["d93fa4c3.5a1a68"]]},{"id":"7dcc00dd.f9d47","type":"inject","z":"ec48c787.135678","name":"Fox Classic","topic":"","payload":"classic","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":280,"wires":[["979d4bd7.f03388"]]},{"id":"742a691d.5a9108","type":"inject","z":"ec48c787.135678","name":"Home","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":800,"wires":[["bc3c5de.dd4b2a"]]},{"id":"1d7be673.746aca","type":"ui_button","z":"ec48c787.135678","name":"Nine","group":"e7961668.563a88","order":0,"width":"3","height":"1","passthru":true,"label":"Nine","color":"","bgcolor":"","icon":"","payload":"nine","payloadType":"str","topic":"","x":1010,"y":120,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"bfb7af05.cb96e","type":"ui_button","z":"ec48c787.135678","name":"Melbourne Radio - 774","group":"1eec73c8.7ce19c","order":0,"width":"3","height":"1","passthru":true,"label":"774","color":"","bgcolor":"","icon":"","payload":"774","payloadType":"str","topic":"","x":1360,"y":840,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"5184ed1e.e67dd4","type":"ui_button","z":"ec48c787.135678","name":"Ten","group":"e7961668.563a88","order":0,"width":"3","height":"1","passthru":true,"label":"Ten","color":"","bgcolor":"","icon":"","payload":"ten","payloadType":"str","topic":"","x":1010,"y":160,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"7cd6f778.73bfc8","type":"inject","z":"ec48c787.135678","name":"Seven","topic":"","payload":"**channel 107","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":80,"wires":[["fb43ef8c.37696"]]},{"id":"597fe9c9.f739b8","type":"ui_button","z":"ec48c787.135678","name":"Lifestyle","group":"f8905b5.9b45aa8","order":8,"width":"3","height":"1","passthru":true,"label":"Lifestyle","color":"","bgcolor":"","icon":"","payload":"lifestyle","payloadType":"str","topic":"","x":500,"y":200,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"9a67fa82.26d388","type":"ui_button","z":"ec48c787.135678","name":"Binge","group":"f8905b5.9b45aa8","order":13,"width":"3","height":"1","passthru":true,"label":"Binge","color":"","bgcolor":"","icon":"","payload":"binge","payloadType":"str","topic":"","x":490,"y":400,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"bc3c5de.dd4b2a","type":"ui_button","z":"ec48c787.135678","name":"Home","group":"f8905b5.9b45aa8","order":20,"width":"3","height":"1","passthru":true,"label":"Home","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":490,"y":800,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"979d4bd7.f03388","type":"ui_button","z":"ec48c787.135678","name":"Fox Classic","group":"f8905b5.9b45aa8","order":9,"width":"3","height":"1","passthru":true,"label":"Fox Classic","color":"","bgcolor":"","icon":"","payload":"classic","payloadType":"str","topic":"","x":510,"y":280,"wires":[["aa25cbb2.8ae2d8"]]},{"id":"c9395077.34fc3","type":"inject","z":"ec48c787.135678","name":"Comedy","topic":"","payload":"comedy","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":600,"wires":[["54604dee.c34844"]]},{"id":"fd32216c.eec8c","type":"inject","z":"ec48c787.135678","name":"Viceland","topic":"","payload":"vice","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":880,"wires":[["6ff9cd5c.dcd0a4"]]},{"id":"fb8d737.af0a99","type":"inject","z":"ec48c787.135678","name":"Science Channel","topic":"","payload":"science","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1200,"wires":[["317ec4dc.6b8a6c"]]},{"id":"3c4323b2.78035c","type":"inject","z":"ec48c787.135678","name":"Nine","topic":"","payload":"nine","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":120,"wires":[["1d7be673.746aca"]]},{"id":"f8905b5.9b45aa8","type":"ui_group","z":"","name":"Enternainment","tab":"12ec0d25.dd0e03","order":2,"disp":true,"width":"6"},{"id":"d78d6cf2.93a19","type":"ui_group","z":"","name":"Movies","tab":"12ec0d25.dd0e03","order":5,"disp":true,"width":"3"},{"id":"1eec73c8.7ce19c","type":"ui_group","z":"","name":"Music and Radio","tab":"12ec0d25.dd0e03","order":7,"disp":true,"width":"3"},{"id":"fdf0ef4d.618ce","type":"ui_group","z":"","name":"Documentaries","tab":"12ec0d25.dd0e03","order":3,"disp":true,"width":"6"},{"id":"cdc4a2fe.439d6","type":"ui_group","z":"","name":"News","tab":"12ec0d25.dd0e03","order":4,"disp":true,"width":"3"},{"id":"4d076ca7.604274","type":"ui_group","z":"","name":"Sports","tab":"12ec0d25.dd0e03","order":6,"disp":true,"width":"2"},{"id":"e7961668.563a88","type":"ui_group","z":"","name":"Free to Air","tab":"12ec0d25.dd0e03","order":1,"disp":true,"width":"3"},{"id":"12ec0d25.dd0e03","type":"ui_tab","z":"","name":"Foxtel Channels","icon":"dashboard","order":7}]