Github Repo/Node Red Code/Pi Zero Churchill/ifttt node red link.txt
[{"id":"a3605f2.f0c0da","type":"http in","z":"1c1d7c80.7fae64","name":"","url":"/homeautomation","method":"post","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["b4928ea1.30727","7055379e.737228"]]},{"id":"b4928ea1.30727","type":"http response","z":"1c1d7c80.7fae64","name":"","statusCode":"","headers":{},"x":470,"y":400,"wires":[]},{"id":"7055379e.737228","type":"debug","z":"1c1d7c80.7fae64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":340,"wires":[]},{"id":"f1dfa7b7.5314c8","type":"comment","z":"1c1d7c80.7fae64","name":"RESPONSE","info":"This flow will fire once a web request is made to\nthe maker channel.","x":130,"y":300,"wires":[]},{"id":"4fa52a1b.eac7d4","type":"comment","z":"1c1d7c80.7fae64","name":"TRIGGER","info":"There are 2 triggers that can be used\nto click-start the IFTTT applet\n\nThe first one does it in a hacky way, the\nsecond method is better.","x":140,"y":60,"wires":[]},{"id":"5070cb44.c23ff4","type":"inject","z":"1c1d7c80.7fae64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["794429c0.80ebb8"]]},{"id":"3f79f9c9.1372b6","type":"http request","z":"1c1d7c80.7fae64","name":"","method":"GET","ret":"txt","url":"","tls":"","x":350,"y":100,"wires":[["a02f2a2b.bb69f8"]]},{"id":"a02f2a2b.bb69f8","type":"debug","z":"1c1d7c80.7fae64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":40,"wires":[]},{"id":"fa58a7e4.b03568","type":"comment","z":"1c1d7c80.7fae64","name":"MAKER CHANNEL","info":"go to \nhttps://ifttt.com/services/maker_webhooks/settings","x":150,"y":20,"wires":[]},{"id":"794429c0.80ebb8","type":"function","z":"1c1d7c80.7fae64","name":"","func":"msg.url = \"https://maker.ifttt.com/trigger/buttonpress/with/key/bWcaK4tWLnKznaQFL1kBvv/?value1=mohan\"\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["3f79f9c9.1372b6"]]},{"id":"63268680.04258","type":"inject","z":"1c1d7c80.7fae64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["f7826d04.e8a2d"]]},{"id":"f7826d04.e8a2d","type":"function","z":"1c1d7c80.7fae64","name":"","func":"msg.url = \"https://maker.ifttt.com/trigger/buttonpress/with/key/bWcaK4tWLnKznaQFL1kBvv\";\nmsg.payload = {\n    value1: \"boo\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["1652740.3b3690c"]]},{"id":"1652740.3b3690c","type":"http request","z":"1c1d7c80.7fae64","name":"","method":"POST","ret":"txt","url":"","tls":"","x":430,"y":200,"wires":[["a02f2a2b.bb69f8"]]}]