Github Repo/Node Red Code/Pi Zero Churchill/Listern to Twitter.txt
[{"id":"258c7c1a.1dc994","type":"function","z":"4648d28d.0fcc5c","name":"Twitter Said","func":"//var myDelay = setInterval(myTimer, 1000);\n\nvar newWord = msg.payload;\nvar newMsg;\n\nfunction sleep(milliseconds) {\n  var start = new Date().getTime();\n  for (var i = 0; i < 1e7; i++) {\n    if ((new Date().getTime() - start) > milliseconds){\n      break;\n    }\n  }\n}\n\nnewMsg = \"Twitter said\";\nnode.send ({payload:newMsg});\n//sleep(500);\n\n//newMsg = newWord;\n//node.send ({payload:newMsg});\n\n//sleep(500);\nreturn null;","outputs":1,"noerr":0,"x":744.8888854980469,"y":196.11109161376953,"wires":[["cbe192d6.99bad"]]},{"id":"af84d7b8.e1ca98","type":"twitter in","z":"4648d28d.0fcc5c","twitter":"","tags":"","user":"dm","name":"Twitter Received data","inputs":0,"x":214.62503051757812,"y":156.05553436279297,"wires":[["1eaac098.ac1d7f","9f44c6b3.1fda58"]]},{"id":"5a33d46c.60be0c","type":"debug","z":"4648d28d.0fcc5c","name":"","active":false,"console":"false","complete":"false","x":670,"y":40,"wires":[]},{"id":"f5b0f59a.32a7f8","type":"link out","z":"4648d28d.0fcc5c","name":"Receive from Twitter","links":["ec89faf6.10cfb8","fa9978de.3e4978","a0cf29db.2ca328","b56b6c66.25161","22a0441.2db44bc","5c97da9a.89a2e4"],"x":895,"y":100,"wires":[]},{"id":"1eaac098.ac1d7f","type":"function","z":"4648d28d.0fcc5c","name":"Convert payload to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":533.5238952636719,"y":148.16664123535156,"wires":[["f5b0f59a.32a7f8","258c7c1a.1dc994","5a33d46c.60be0c"]]},{"id":"9f44c6b3.1fda58","type":"debug","z":"4648d28d.0fcc5c","name":"","active":false,"console":"false","complete":"false","x":530,"y":200,"wires":[]},{"id":"cbe192d6.99bad","type":"link out","z":"4648d28d.0fcc5c","name":"From Twitter Listen","links":["5218ba8d.aa04a4"],"x":976.2916971842448,"y":266.38886769612634,"wires":[]}]