Github Repo/Node Red Code/Pi Zero Churchill/Mini LCD Screen.txt
[{"id":"b00d7da.edd348","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"White On Cyan","color":"White","bgcolor":"Cyan","icon":"","payload":"whiteOnCyan","payloadType":"str","topic":"White On Cyan","x":500,"y":520,"wires":[["f593c121.e08fb"]]},{"id":"91ba6655.12fc18","type":"inject","z":"912bf4e4.9fcc08","name":"yellow","topic":"","payload":"blackOnYellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":360,"wires":[["6006a21e.ecd64c"]]},{"id":"788f22a5.de5afc","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"e1d0af78.50f16","order":0,"width":"1","height":"1","passthru":true,"label":"","color":"Blue","bgcolor":"Black","icon":"","payload":"limeOnBlack","payloadType":"str","topic":"Lime On Black","x":650,"y":560,"wires":[["f593c121.e08fb"]]},{"id":"76f61c5a.ae13d4","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"Pink","color":"Black","bgcolor":"Pink","icon":"","payload":"blackOnPink","payloadType":"str","topic":"Pink","x":470,"y":440,"wires":[["9079313.9e9ccd"]]},{"id":"8e4637e5.7b15e8","type":"inject","z":"912bf4e4.9fcc08","name":"Type w for weather","topic":"","payload":"w","payloadType":"str","repeat":"","crontab":"","once":false,"x":310,"y":640,"wires":[["818d10c0.529a5"]]},{"id":"453a19a5.5dc9b8","type":"inject","z":"912bf4e4.9fcc08","name":"weather 3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":200,"wires":[["a3649851.317518"]]},{"id":"a72adfab.1f276","type":"inject","z":"912bf4e4.9fcc08","name":"Type t for TEXT","topic":"","payload":"t","payloadType":"str","repeat":"","crontab":"","once":true,"x":300,"y":600,"wires":[["818d10c0.529a5"]]},{"id":"490113e5.0a59bc","type":"inject","z":"912bf4e4.9fcc08","name":"white","topic":"","payload":"blackOnWhite","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":400,"wires":[["a9fb58fe.776a48"]]},{"id":"d52f19fa.2ad1b8","type":"link in","z":"912bf4e4.9fcc08","name":"Listern to Weather Station","links":["e8042328.32179","8f91f751.4d1ca8","7d6d937.d7cd36c","916816a4.2f8c98"],"x":515,"y":40,"wires":[["a3649851.317518"]]},{"id":"8849de2f.392d7","type":"debug","z":"912bf4e4.9fcc08","name":"","active":false,"console":"false","complete":"type","x":700,"y":660,"wires":[]},{"id":"826d4484.892d18","type":"inject","z":"912bf4e4.9fcc08","name":"32c","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"x":270,"y":120,"wires":[["a3649851.317518"]]},{"id":"9079313.9e9ccd","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"e1d0af78.50f16","order":0,"width":"1","height":"1","passthru":true,"label":"","color":"Black","bgcolor":"Pink","icon":"","payload":"blackOnPink","payloadType":"str","topic":"Pink","x":650,"y":440,"wires":[["f593c121.e08fb"]]},{"id":"a3649851.317518","type":"ui_template","z":"912bf4e4.9fcc08","group":"e1d0af78.50f16","name":"DC Sensor","order":0,"width":"7","height":"3","format":"<script>\n    var icon=\"T\";\n\n        \n    var colours={\n    \"blackOnOrange\": {items:[\"#222\",\"#fb7c00\"]},    \n    \"blackOnGreen\" : {items:[\"#222\",\"#66ac66\"]},\n    \"blackOnBlue\" : {items:[\"#222\",\"#8888ff\"]},\n    \"blackOnYellow\" : {items:[\"#222\",\"#bbbb44\"]},\n    \"blackOnWhite\" : {items:[\"#222\",\"#aaaaaa\"]},\n    \"blackOnPink\" : {items:[\"#222\",\"#ff8888\"]},\n    \"yellowOnRed\" : {items:[\"#ccaa22\",\"#aa2222\"]},\n    \"whiteOnCyan\" : {items:[\"#dddddd\",\"#227777\"]},\n    \"orangeOnBlack\" : {items:[\"#ff8800\",\"#000000\"]},  \n    \"limeOnBlack\" : {items:[\"#00cc55\",\"#000000\"]},  \n    }  \n    \n    var daylist = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.type) != \"undefined\") icon=msg.type;\n    \n               if (icon==\"t\")\n                    {\n                        $(\"#DSEGWEATHER-BACK\").text(\" \");\n                        $(\"#DSEGWEATHER-ICON\").text(\" \");\n                        $(\"#DSEGTempcF\").text(\"C\");\n                        $(\"#DSEGTempcB\").text(\"8\");                        \n                        if (typeof(msg.payload) != \"undefined\") { $(\"#DSEGTempF\").text(msg.payload);  $(\"#DSEGTempB\").text(\"88\"); }\n                    }\n                else\n                    {\n                        $(\"#DSEGTempF\").text(\"\");\n                        $(\"#DSEGTempcF\").text(\"\");\n                        $(\"#DSEGTempB\").text(\"\");\n                        $(\"#DSEGTempcB\").text(\"\");\n                        $(\"#DSEGWEATHER-BACK\").text(\"\");\n                        //$(\"#DSEGWEATHER-BACK\").text(\"0\");\n                        //if (typeof(msg.payload) != \"undefined\") { $(\"#DSEGTempF\").text(msg.payload);  $(\"#DSEGTempB\").text(\"88\"); }\n                        if (typeof(msg.payload) != \"undefined\") $(\"#DSEGWEATHER-ICON\").text(msg.payload);\n                        \n                    }\n               if (typeof(msg.colour) != \"undefined\") {\n                              $(\".Clock-Wrapper\").css('background-color', colours[msg.colour].items[1]);  $(\".lcdClock\").css('color', colours[msg.colour].items[0]); \n                              if (colours[msg.colour].items[1]==\"#000000\") $(\".background\").css('color',\"rgba(255,255,255,0.15)\"); else  $(\".background\").css('color',\"rgba(0,0,0,0.1)\");\n                        }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n    \n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:300px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.Weather-Background{\n\tz-index:50;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.Weather-Front{\n\tz-index:51;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:68px;\nheight:68px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n}\n\n.Clock-Time-Front{\n\tz-index:51;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.background { color:rgba(0,0,0,0.1); }\n\n.Clock-Year-Background{\n\tz-index:50;\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:51;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:51; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:51; }\n.tempcBack { z-index:50;  }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background background  D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background background\"><span class=\"D7MI\">2088-88-88</span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTempF\" class=\"temp D7MBI\">00</span>\n\t<span id=\"DSEGTempB\" class=\"tempBack background D7MBI\">88</span>\t\n\t<span id=\"DSEGTempcF\" class=\"tempc D7MI\">C</span>\n\t<span id=\"DSEGTempcB\" class=\"tempcBack background D7MI\">8</span>\n\t\n\t\n\t<span id=\"DSEGWEATHER-BACK\" class=\"Weather-Background background DWEATHER\"></span>\n\t<span id=\"DSEGWEATHER-ICON\" class=\"Weather-Front DWEATHER\"></span>\n\t\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":830,"y":180,"wires":[[]]},{"id":"16c29c63.6e13f4","type":"inject","z":"912bf4e4.9fcc08","name":"lime on black","topic":"","payload":"limeOnBlack","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":560,"wires":[["adb13296.9a787"]]},{"id":"21fbfd62.3ff3a2","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"Green","color":"Black","bgcolor":"Green","icon":"","payload":"blackOnGreen","payloadType":"str","topic":"Green","x":470,"y":240,"wires":[["48981621.20b908"]]},{"id":"678e3500.88765c","type":"inject","z":"912bf4e4.9fcc08","name":"21c","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"x":270,"y":80,"wires":[["a3649851.317518"]]},{"id":"8740013c.cdccb","type":"debug","z":"912bf4e4.9fcc08","name":"","active":false,"console":"false","complete":"payload","x":710,"y":620,"wires":[]},{"id":"818d10c0.529a5","type":"function","z":"912bf4e4.9fcc08","name":"","func":"msg.type=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["8740013c.cdccb","8849de2f.392d7","a3649851.317518"]]},{"id":"adb13296.9a787","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"Lime On Black","color":"Blue","bgcolor":"Black","icon":"","payload":"limeOnBlack","payloadType":"str","topic":"Lime On Black","x":500,"y":560,"wires":[["788f22a5.de5afc"]]},{"id":"b09db0cd.0cd65","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"e1d0af78.50f16","order":0,"width":"1","height":"1","passthru":true,"label":"","color":"Black","bgcolor":"Blue","icon":"","payload":"blackOnBlue","payloadType":"str","topic":"Blue","x":650,"y":320,"wires":[["f593c121.e08fb"]]},{"id":"508359ba.5c05c8","type":"inject","z":"912bf4e4.9fcc08","name":"pink","topic":"","payload":"blackOnPink","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":440,"wires":[["76f61c5a.ae13d4"]]},{"id":"a9fb58fe.776a48","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"White","color":"White","bgcolor":"Black","icon":"","payload":"blackOnWhite","payloadType":"str","topic":"White","x":470,"y":400,"wires":[["5e0aee85.d908"]]},{"id":"46b98958.752648","type":"inject","z":"912bf4e4.9fcc08","name":"cyan and white","topic":"","payload":"whiteOnCyan","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":520,"wires":[["b00d7da.edd348"]]},{"id":"48981621.20b908","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"e1d0af78.50f16","order":0,"width":"1","height":"1","passthru":true,"label":"","color":"Black","bgcolor":"Green","icon":"","payload":"blackOnGreen","payloadType":"str","topic":"Green","x":650,"y":240,"wires":[["f593c121.e08fb"]]},{"id":"59efc310.ed10fc","type":"inject","z":"912bf4e4.9fcc08","name":"weather 2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":160,"wires":[["a3649851.317518"]]},{"id":"26ffde3d.dc6122","type":"inject","z":"912bf4e4.9fcc08","name":"red and light text","topic":"","payload":"yellowOnRed","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":480,"wires":[["a60f69db.d2a218"]]},{"id":"a3ba5722.541488","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"e1d0af78.50f16","order":0,"width":"1","height":"1","passthru":true,"label":"","color":"Black","bgcolor":"Orange","icon":"","payload":"blackOnOrange","payloadType":"str","topic":"Orange","x":650,"y":280,"wires":[["f593c121.e08fb"]]},{"id":"3d3f8b23.73eeb4","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"Blue","color":"Black","bgcolor":"Blue","icon":"","payload":"blackOnBlue","payloadType":"str","topic":"Blue","x":470,"y":320,"wires":[["b09db0cd.0cd65"]]},{"id":"be54aaab.17f5c8","type":"inject","z":"912bf4e4.9fcc08","name":"green","topic":"","payload":"blackOnGreen","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":240,"wires":[["21fbfd62.3ff3a2"]]},{"id":"6006a21e.ecd64c","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"Yellow","color":"Black","bgcolor":"Yellow","icon":"","payload":"blackOnYellow","payloadType":"str","topic":"Yellow","x":470,"y":360,"wires":[["ce3ba989.615658"]]},{"id":"3d5ad51e.355d6a","type":"inject","z":"912bf4e4.9fcc08","name":"blue","topic":"","payload":"blackOnBlue","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":320,"wires":[["3d3f8b23.73eeb4"]]},{"id":"1c83bd4f.eb75b3","type":"comment","z":"912bf4e4.9fcc08","name":"Air Con ideas","info":"https://tech.scargill.net/category/node-red-2/page/2/","x":1090,"y":100,"wires":[]},{"id":"a60f69db.d2a218","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"Yellow On Red","color":"Yellow","bgcolor":"Red","icon":"","payload":"yellowOnRed","payloadType":"str","topic":"Yellow On Red","x":500,"y":480,"wires":[["f593c121.e08fb"]]},{"id":"21fb062d.5fe33a","type":"inject","z":"912bf4e4.9fcc08","name":"orange","topic":"","payload":"blackOnOrange","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":280,"wires":[["ef30954f.594b58"]]},{"id":"ef30954f.594b58","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"529ad655.4d37e8","order":0,"width":"3","height":"1","passthru":true,"label":"Orange","color":"Black","bgcolor":"Orange","icon":"","payload":"blackOnOrange","payloadType":"str","topic":"Orange","x":480,"y":280,"wires":[["a3ba5722.541488"]]},{"id":"5e0aee85.d908","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"e1d0af78.50f16","order":0,"width":"1","height":"1","passthru":true,"label":"","color":"White","bgcolor":"White","icon":"","payload":"blackOnWhite","payloadType":"str","topic":"White","x":650,"y":400,"wires":[["f593c121.e08fb"]]},{"id":"f593c121.e08fb","type":"function","z":"912bf4e4.9fcc08","name":"","func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["a3649851.317518"]]},{"id":"ce3ba989.615658","type":"ui_button","z":"912bf4e4.9fcc08","name":"","group":"e1d0af78.50f16","order":0,"width":"1","height":"1","passthru":true,"label":"","color":"Black","bgcolor":"Yellow","icon":"","payload":"blackOnYellow","payloadType":"str","topic":"Yellow","x":650,"y":360,"wires":[["f593c121.e08fb"]]},{"id":"529ad655.4d37e8","type":"ui_group","z":"","name":"LCD Screen","tab":"35324a4d.8dae86","order":1,"disp":true,"width":"6"},{"id":"e1d0af78.50f16","type":"ui_group","z":"","name":"Time and Current Temp","tab":"20924a97.0b2eb6","order":6,"disp":true,"width":"7"},{"id":"35324a4d.8dae86","type":"ui_tab","z":"","name":"Engineering","icon":"dashboard","order":17},{"id":"20924a97.0b2eb6","type":"ui_tab","z":"","name":"Yahoo Weather","icon":"dashboard","order":1}]