Github Repo/Node Red Code/Pi Zero Churchill/Onkyo Amplifier.txt
[{"id":"44acc9a.6aec638","type":"inject","z":"9ce96ea7.0a2c2","name":"HDMI - PC - 5","topic":"","payload":"main input-selector pc","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":201.42857360839844,"wires":[["aaee6fbc.c4609"]]},{"id":"71670d33.6d0604","type":"function","z":"9ce96ea7.0a2c2","name":"Send to Onkyo Amp","func":"var onkyo_msg = msg.payload;\n\nnode.send ({payload:[msg.payload]}); //tuner input selected\n\n//eiscp.command(\"main power off\");\n\nreturn null;\n\n\n//command_to_iscp('main.system-power=standby') == 'PWR00'\n\n//  https://github.com/miracle2k/onkyo-eiscp/blob/master/eiscp/commands.py","outputs":1,"noerr":0,"x":840,"y":320,"wires":[["95b90af6.47e318","3b393e5b.1c1e22"]]},{"id":"dbfadc17.ffe17","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Sound Music","group":"51767a9c.9e30e4","order":16,"width":"3","height":"1","passthru":true,"label":"Sound Music","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode music","payloadType":"str","topic":"","x":400,"y":641.4285736083984,"wires":[["71670d33.6d0604"]]},{"id":"90e3cb68.62c2d8","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Phono","group":"51767a9c.9e30e4","order":12,"width":"3","height":"1","passthru":true,"label":"Phono","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector phono","payloadType":"str","topic":"","x":420,"y":521.4285736083984,"wires":[["71670d33.6d0604"]]},{"id":"3029fce2.9a0084","type":"inject","z":"9ce96ea7.0a2c2","name":"Sound Movies","topic":"","payload":"main listening-mode movie","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":601.4285736083984,"wires":[["f8ab559d.73c948"]]},{"id":"95b90af6.47e318","type":"debug","z":"9ce96ea7.0a2c2","name":"","active":false,"console":"false","complete":"payload","x":1014.2381744384766,"y":415.9524097442627,"wires":[]},{"id":"7cb14070.b4e96","type":"inject","z":"9ce96ea7.0a2c2","name":"HDMI - DVD - 10","topic":"","payload":"main input-selector dvd","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":241.42857360839844,"wires":[["ddab1164.fc48b"]]},{"id":"e2ca8c82.dd80d","type":"comment","z":"9ce96ea7.0a2c2","name":"TX-NR626 details","info":"192.168.1.196\nport 60128\nOnkyo Amplifier TX-NR626","x":890,"y":120,"wires":[]},{"id":"3b393e5b.1c1e22","type":"eiscp-out","z":"9ce96ea7.0a2c2","name":"Onkyo Amplifier","controller":"166e2903.e1e277","x":1190,"y":320,"wires":[]},{"id":"1e70f8d2.bf43f7","type":"inject","z":"9ce96ea7.0a2c2","name":"Power On","topic":"","payload":"main system-power on","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":721.4285736083984,"wires":[["9ef8f8c4.3056e8"]]},{"id":"58e74de6.781894","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Volume Mute ON","group":"51767a9c.9e30e4","order":6,"width":"3","height":"1","passthru":true,"label":"Volume Mute On","color":"","bgcolor":"BLUE","icon":"","payload":"main audio-muting on","payloadType":"str","topic":"","x":380,"y":41.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"69426da8.e0c974","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Volume Up","group":"51767a9c.9e30e4","order":2,"width":"3","height":"1","passthru":true,"label":"Volume Up","color":"","bgcolor":"BLUE","icon":"","payload":"main volume level-up","payloadType":"str","topic":"","x":400,"y":121.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"750dd77f.cd0828","type":"inject","z":"9ce96ea7.0a2c2","name":"Sound THX","topic":"","payload":"main listening-mode thx","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":561.4285736083984,"wires":[["286fc8ba.d48488"]]},{"id":"e91a7990.50def8","type":"ui_button","z":"9ce96ea7.0a2c2","name":"HDMI - GAME - 2","group":"51767a9c.9e30e4","order":7,"width":"3","height":"1","passthru":true,"label":"HDMI - GAME","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector game","payloadType":"str","topic":"","x":380,"y":321.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"2dc5de79.9386b2","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Tuner","group":"51767a9c.9e30e4","order":17,"width":"3","height":"1","passthru":true,"label":"Tuner","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector tuner","payloadType":"str","topic":"","x":420,"y":481.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"bd1e5c78.21f64","type":"inject","z":"9ce96ea7.0a2c2","name":"Volume Mute ON","topic":"","payload":"main audio-muting on","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":41.42857360839844,"wires":[["58e74de6.781894"]]},{"id":"d6c5df98.b350b","type":"inject","z":"9ce96ea7.0a2c2","name":"CD/TV","topic":"","payload":"main input-selector cd","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":401.42857360839844,"wires":[["fd339a99.c91bf8"]]},{"id":"594db9ad.66bdc8","type":"inject","z":"9ce96ea7.0a2c2","name":"Power Off","topic":"","payload":"main system-power standby","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":681.4285736083984,"wires":[["5dabab7b.90f084"]]},{"id":"ddab1164.fc48b","type":"ui_button","z":"9ce96ea7.0a2c2","name":"HDMI - DVD - 10","group":"51767a9c.9e30e4","order":11,"width":"3","height":"1","passthru":true,"label":"HDMI - DVD","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector dvd","payloadType":"str","topic":"","x":380,"y":241.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"fd339a99.c91bf8","type":"ui_button","z":"9ce96ea7.0a2c2","name":"CD/TV","group":"51767a9c.9e30e4","order":15,"width":"3","height":"1","passthru":true,"label":"CD/TV","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector cd","payloadType":"str","topic":"","x":420,"y":401.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"5dabab7b.90f084","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Power Off","group":"51767a9c.9e30e4","order":3,"width":"3","height":"1","passthru":true,"label":"Power Off","color":"","bgcolor":"RED","icon":"","payload":"main system-power standby","payloadType":"str","topic":"","x":410,"y":681.4285736083984,"wires":[["71670d33.6d0604"]]},{"id":"b581cac0.10e818","type":"inject","z":"9ce96ea7.0a2c2","name":"Phono","topic":"","payload":"main input-selector phono","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":521.4285736083984,"wires":[["90e3cb68.62c2d8"]]},{"id":"e9cd2c14.bbc31","type":"inject","z":"9ce96ea7.0a2c2","name":"iRadio","topic":"","payload":"main input-selector internet-radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":441.42857360839844,"wires":[["e6ff8c98.85213"]]},{"id":"cbef0d61.b8339","type":"inject","z":"9ce96ea7.0a2c2","name":"Volume Up","topic":"main volume level-up","payload":"main volume level-up","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":121.42857360839844,"wires":[["69426da8.e0c974"]]},{"id":"d9e1af6b.6b07a","type":"inject","z":"9ce96ea7.0a2c2","name":"HDMI - SAT - 1","topic":"","payload":"main input-selector sat","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":361.42857360839844,"wires":[["181b355b.ebe35b"]]},{"id":"b6af8caf.1b43c","type":"inject","z":"9ce96ea7.0a2c2","name":"Volume Mute OFF","topic":"","payload":"main audio-muting off","payloadType":"str","repeat":"","crontab":"","once":false,"x":149,"y":81.42857360839844,"wires":[["1dfe6aa7.f04925"]]},{"id":"2d98c66.b7c563a","type":"inject","z":"9ce96ea7.0a2c2","name":"Tuner","topic":"","payload":"main input-selector tuner","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":481.42857360839844,"wires":[["2dc5de79.9386b2"]]},{"id":"32fec61a.a1655a","type":"inject","z":"9ce96ea7.0a2c2","name":"HDMI - GAME - 2","topic":"","payload":"main input-selector game","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":321.42857360839844,"wires":[["e91a7990.50def8"]]},{"id":"beffbf40.6b86c","type":"ui_button","z":"9ce96ea7.0a2c2","name":"HDMI - AUX - 3","group":"51767a9c.9e30e4","order":9,"width":"3","height":"1","passthru":true,"label":"HDMI - AUX","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector aux","payloadType":"str","topic":"","x":390,"y":281.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"e6ff8c98.85213","type":"ui_button","z":"9ce96ea7.0a2c2","name":"iRadio","group":"51767a9c.9e30e4","order":10,"width":"3","height":"1","passthru":true,"label":"Radio","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector internet-radio","payloadType":"str","topic":"","x":420,"y":441.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"286fc8ba.d48488","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Sound THX","group":"51767a9c.9e30e4","order":18,"width":"3","height":"1","passthru":true,"label":"Sound THX","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode thx","payloadType":"str","topic":"","x":400,"y":561.4285736083984,"wires":[["71670d33.6d0604"]]},{"id":"9ef8f8c4.3056e8","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Power On","group":"51767a9c.9e30e4","order":1,"width":"3","height":"1","passthru":true,"label":"Power On","color":"","bgcolor":"RED","icon":"","payload":"main system-power on","payloadType":"str","topic":"","x":410,"y":721.4285736083984,"wires":[["71670d33.6d0604"]]},{"id":"beebe6d6.520a68","type":"inject","z":"9ce96ea7.0a2c2","name":"HDMI - AUX - 3","topic":"","payload":"main input-selector aux","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":281.42857360839844,"wires":[["beffbf40.6b86c"]]},{"id":"1dfe6aa7.f04925","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Volume Mute Off","group":"51767a9c.9e30e4","order":8,"width":"3","height":"1","passthru":true,"label":"Volume Mute Off","color":"","bgcolor":"BLUE","icon":"","payload":"main audio-muting off","payloadType":"str","topic":"","x":380,"y":81.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"aaee6fbc.c4609","type":"ui_button","z":"9ce96ea7.0a2c2","name":"HDMI - PC - 5","group":"51767a9c.9e30e4","order":13,"width":"3","height":"1","passthru":true,"label":"HDMI - PC","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector pc","payloadType":"str","topic":"","x":390,"y":201.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"181b355b.ebe35b","type":"ui_button","z":"9ce96ea7.0a2c2","name":"HDMI - SAT - 1","group":"51767a9c.9e30e4","order":5,"width":"3","height":"1","passthru":true,"label":"HDMI - SAT","color":"","bgcolor":"GREEN","icon":"","payload":"main input-selector sat","payloadType":"str","topic":"","x":390,"y":361.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"f8ab559d.73c948","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Sound Movies","group":"51767a9c.9e30e4","order":14,"width":"3","height":"1","passthru":true,"label":"Sound Movies","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"main listening-mode movie","payloadType":"str","topic":"","x":390,"y":601.4285736083984,"wires":[["71670d33.6d0604"]]},{"id":"66fc3416.a6321c","type":"inject","z":"9ce96ea7.0a2c2","name":"Volume Down","topic":"","payload":"main volume level-down","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":161.42857360839844,"wires":[["61d36a2e.e26254"]]},{"id":"a2b8e1ae.693a3","type":"inject","z":"9ce96ea7.0a2c2","name":"Sound Music","topic":"","payload":"main listening-mode music","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":641.4285736083984,"wires":[["dbfadc17.ffe17"]]},{"id":"61d36a2e.e26254","type":"ui_button","z":"9ce96ea7.0a2c2","name":"Volume Down","group":"51767a9c.9e30e4","order":4,"width":"3","height":"1","passthru":true,"label":"Volume Down","color":"","bgcolor":"BLUE","icon":"","payload":"main volume level-down","payloadType":"str","topic":"","x":390,"y":161.42857360839844,"wires":[["71670d33.6d0604"]]},{"id":"51767a9c.9e30e4","type":"ui_group","z":"","name":"Onkyo Amplifier","tab":"a3214798.c475a8","disp":true,"width":"6"},{"id":"166e2903.e1e277","type":"eiscp-controller","z":"","name":"Onkyo Amplifier","host":"192.168.1.196","port":"60128","model":"TX-NR626"},{"id":"a3214798.c475a8","type":"ui_tab","z":"","name":"Onkyo Amp","icon":"dashboard","order":10}]