Github Repo/Node Red Code/Pi Zero Churchill/Samsung TV.txt
[{"id":"cbc8dcb9.574d5","type":"ui_button","z":"7f34d70a.5f62a8","name":"VOL UP","group":"ab14b2dc.d691d","order":0,"width":0,"height":0,"passthru":true,"label":"VOL UP","color":"","bgcolor":"BLUE","icon":"","payload":"KEY_VOLUP","payloadType":"str","topic":"","x":420,"y":180,"wires":[["806d116b.d8839"]]},{"id":"8994fa99.b35368","type":"inject","z":"7f34d70a.5f62a8","name":"POWER OFF","topic":"","payload":"KEY_POWEROFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":260,"wires":[["a1f492b8.ab2df"]]},{"id":"ac9d7b08.546b28","type":"inject","z":"7f34d70a.5f62a8","name":"VOL DOWN","topic":"","payload":"KEY_VOLDOWN","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":220,"wires":[["ae7c764.0cc4888"]]},{"id":"35967056.79431","type":"debug","z":"7f34d70a.5f62a8","name":"","active":false,"console":"false","complete":"false","x":715.3650665283203,"y":403.1745939254761,"wires":[]},{"id":"806d116b.d8839","type":"tcp out","z":"7f34d70a.5f62a8","host":"127.0.0.1","port":"4050","beserver":"client","base64":false,"end":false,"name":"127.0.0.1:4050 - local host","x":698.7142868041992,"y":183.28572607040405,"wires":[]},{"id":"595c465d.382d38","type":"link in","z":"7f34d70a.5f62a8","name":"from AMX to Samsung TV","links":["294c21df.288d3e"],"x":314.946439743042,"y":458.85712909698486,"wires":[["fd81b399.4e21f","9f176189.3af34"]]},{"id":"24084760.b7e0d8","type":"debug","z":"7f34d70a.5f62a8","name":"","active":false,"console":"false","complete":"false","x":469.94649505615234,"y":348.78571128845215,"wires":[]},{"id":"cbca7072.5496f","type":"ui_button","z":"7f34d70a.5f62a8","name":"HDMI","group":"ab14b2dc.d691d","order":0,"width":0,"height":0,"passthru":true,"label":"HDMI","color":"","bgcolor":"GREEN","icon":"","payload":"KEY_HDMI","payloadType":"str","topic":"","x":410,"y":100,"wires":[["806d116b.d8839"]]},{"id":"e166a662.c67ed8","type":"inject","z":"7f34d70a.5f62a8","name":"VOL UP","topic":"","payload":"KEY_VOLUP","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":180,"wires":[["cbc8dcb9.574d5"]]},{"id":"4003821d.fbc01c","type":"function","z":"7f34d70a.5f62a8","name":"Test for true values","func":"var msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar value_mode = 0;\nfor (i = 0; i < msgdata.length; i++) // look for the word one\n    { \n    if (msgdata[i] == \"Key\")\n        {\n        var true_value_index = i;\n        value_mode = 1;\n        }\n    }\nif (value_mode <= 1)\n    {\n    node.send ({payload:[msgdata]});\n    }\nreturn null;","outputs":1,"noerr":0,"x":728.3968048095703,"y":458.26988697052,"wires":[["9dd03c56.1b708","2eafcbcb.9c2374"]]},{"id":"fd81b399.4e21f","type":"change","z":"7f34d70a.5f62a8","name":"","rules":[{"pt":"msg","to":"payload","p":"payload","t":"set","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":477.46022033691406,"y":458.8889398574829,"wires":[["35967056.79431","4003821d.fbc01c"]]},{"id":"382d51e.05662ae","type":"tcp in","z":"7f34d70a.5f62a8","name":"Listen 4050 local host","server":"server","host":"","port":"4050","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":239.9999542236328,"y":406.6071710586548,"wires":[["fd81b399.4e21f","24084760.b7e0d8"]]},{"id":"f1051f99.e9d3c","type":"ui_button","z":"7f34d70a.5f62a8","name":"AV","group":"ab14b2dc.d691d","order":0,"width":0,"height":0,"passthru":true,"label":"AV","color":"","bgcolor":"GREEN","icon":"","payload":"KEY_AV1","payloadType":"str","topic":"","x":410,"y":140,"wires":[["806d116b.d8839"]]},{"id":"9dd03c56.1b708","type":"samsung-tv-send","z":"7f34d70a.5f62a8","device":"e7ce9b11.2e1d08","name":"Lounge Room TV","key":"","x":990,"y":500,"wires":[]},{"id":"be7ec2e0.2918e","type":"inject","z":"7f34d70a.5f62a8","name":"HDMI","topic":"","payload":"KEY_HDMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":100,"wires":[["cbca7072.5496f"]]},{"id":"2eafcbcb.9c2374","type":"debug","z":"7f34d70a.5f62a8","name":"","active":false,"console":"false","complete":"false","x":951.7937660217285,"y":439.31746673583984,"wires":[]},{"id":"aa1baf42.d92a8","type":"inject","z":"7f34d70a.5f62a8","name":"AV1","topic":"","payload":"KEY_AV1","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":140,"wires":[["f1051f99.e9d3c"]]},{"id":"f52c0ccd.291cd","type":"tcp in","z":"7f34d70a.5f62a8","name":"Listen 4051 local host - From AMX","server":"server","host":"","port":"4051","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":724.2856292724609,"y":94.28571891784668,"wires":[[]]},{"id":"9f176189.3af34","type":"debug","z":"7f34d70a.5f62a8","name":"","active":false,"console":"false","complete":"false","x":467.2428436279297,"y":529.6000127792358,"wires":[]},{"id":"ae7c764.0cc4888","type":"ui_button","z":"7f34d70a.5f62a8","name":"VOL DOWN","group":"ab14b2dc.d691d","order":0,"width":0,"height":0,"passthru":true,"label":"VOL DOWN","color":"","bgcolor":"BLUE","icon":"","payload":"KEY_VOLDOWN","payloadType":"str","topic":"","x":430,"y":220,"wires":[["806d116b.d8839"]]},{"id":"a1f492b8.ab2df","type":"ui_button","z":"7f34d70a.5f62a8","name":"POWER OFF","group":"ab14b2dc.d691d","order":0,"width":0,"height":0,"passthru":true,"label":"POWER OFF","color":"","bgcolor":"RED","icon":"","payload":"KEY_POWEROFF","payloadType":"str","topic":"","x":440,"y":260,"wires":[["806d116b.d8839"]]},{"id":"ab14b2dc.d691d","type":"ui_group","z":"","name":"Samsung TV TCP Control","tab":"a003c07.c3da94","disp":true,"width":"6"},{"id":"e7ce9b11.2e1d08","type":"samsung-tv","z":"","name":"Lounge Room TV","address":"192.168.1.62"},{"id":"a003c07.c3da94","type":"ui_tab","z":"","name":"Samsung TV Control","icon":"dashboard","order":11}]