Github Repo/Node Red Code/Pi Zero Churchill/Siri Other Words.txt
[{"id":"ce9f0d2a.6cfe7","type":"debug","z":"38164b16.22f214","name":"","active":false,"console":"false","complete":"false","x":941.4583396911621,"y":60.36110782623291,"wires":[]},{"id":"85068f2f.416d8","type":"debug","z":"38164b16.22f214","name":"","active":false,"console":"false","complete":"false","x":939.7916793823242,"y":159.36109161376953,"wires":[]},{"id":"ec89faf6.10cfb8","type":"link in","z":"38164b16.22f214","name":"Relay Data From Siri","links":["3a083f00.0e1a52","f5b0f59a.32a7f8"],"x":212.25000190734863,"y":156.1547508239746,"wires":[["45e72623.13ff38"]]},{"id":"9fe7786.078cd88","type":"debug","z":"38164b16.22f214","name":"","active":false,"console":"false","complete":"false","x":936.9582443237305,"y":238.52777767181396,"wires":[]},{"id":"d3c6d8e5.7146f8","type":"debug","z":"38164b16.22f214","name":"","active":false,"console":"false","complete":"false","x":936.1249084472656,"y":196.8611068725586,"wires":[]},{"id":"c77bc8d.a4d1138","type":"function","z":"38164b16.22f214","name":"Relay Words Spoken","func":"var msg = msg.payload;\nvar relayone = '0';\nvar relaytwo = '0';\nvar relaythree = '0';\nif (msg == \"relay one on\")\n    {\n    relayone = '1';\n    }\nif (msg == \"relay one off\")\n    {\n    relayone = '0';\n    }\nif (msg == \"relay two on\")\n    {\n    relaytwo = '1';\n    }\nif (msg == \"relay two off\")\n    {\n    relaytwo = '0';\n    }    \nif (msg == \"relay three on\")\n    {\n    relaythree = '1';\n    }\nif (msg == \"relay three off\")\n    {\n    relaythree = '0';\n    }   \nreturn [relayone,relaytwo,relaythree];\n","outputs":"3","noerr":0,"x":669.3750305175781,"y":194.83331680297852,"wires":[["d3c6d8e5.7146f8"],["d3c6d8e5.7146f8"],["9fe7786.078cd88"]]},{"id":"45e72623.13ff38","type":"debug","z":"38164b16.22f214","name":"","active":false,"console":"false","complete":"false","x":401.45830154418945,"y":66.86110782623291,"wires":[]},{"id":"6e9f4260.ef7eec","type":"debug","z":"38164b16.22f214","name":"","active":false,"console":"false","complete":"false","x":938.8334197998047,"y":112.8333215713501,"wires":[]},{"id":"44b0eec1.4d293","type":"function","z":"38164b16.22f214","name":"Test if Computer Spoken","func":"//msg.payload = msg.payload.toString();\nnewMsg = msg.payload;\nvar str = newMsg;\n\nvar computer_spoken = str.search(\"computer\");\n\n//test if computer spoken\nif (computer_spoken < 0)\n    {\n     node.send ({payload:[str]});\n    //return str; \n    }\nreturn null;","outputs":"1","noerr":0,"x":683.7916564941406,"y":74.33332920074463,"wires":[["ce9f0d2a.6cfe7"]]},{"id":"37947d09.033b22","type":"function","z":"38164b16.22f214","name":"Other Words Spoken","func":"newMsg = msg.payload;\nvar str = newMsg;\nvar foxtel_spoken = str.search(\"foxtel\");\nvar dvd_spoken = str.search(\"dvd\");\nvar media_player_spoken = str.search(\"media player\");\nvar cd_spoken = str.search(\"cd\");\nvar media_source = \"\";\n\n//test if input selections spoken\nif (foxtel_spoken < 0)\n    {\n    media_source = \"Foxtel\";\n    }\nif (dvd_spoken < 0)\n    {\n    media_source = \"DVD\";\n    }\nif (media_player_spoken < 0)\n    {\n    media_source = \"Media Player\";\n    }\nif (cd_spoken < 0)\n    {\n    media_source = \"CD\";\n    }\n\nreturn media_source;","outputs":"1","noerr":0,"x":670.3750305175781,"y":152.49999046325684,"wires":[["85068f2f.416d8"]]}]