Github Repo/Node Red Code/Pi Zero Churchill/Test Area.txt
[{"id":"c12a5fb5.3f686","type":"function","z":"56062cd9.644ac4","name":"Create_Onkyo_Message_Payload","func":"var onkyo_msg = msg.payload;\n// count the length of the string\nvar onkyo_msg_len = msg.payload.length;\nonkyo_msg_len = onkyo_msg_len + 3;\n//node.send ({payload:onkyo_msg_len});\n\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x09,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send ({payload:[73,83,67,80,0,0,0,16,0,0,0,24,1,0,0,0,33,49,83,76,73,50,51,13]});\n//!xECNQSTN\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,0x0b,0x01,0x00,0x00,0x00,'!xECNQSTN',0x0d,0x0a]});\n//node.send({payload:['ISCP',' ',onkyo_msg_len,' ',onkyo_msg]});\nnode.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a]});\n//node.send({payload:['ISCP',0x00,0x00,0x00,0x10,0x00,0x00,0x00,length of string 0x0c,0x01,0x00,0x00,0x00,onkyo_msg,0x0d,0x0a]});\n//!1AMT01\n//'ISCP',$00,$00,$00,$10,$00,$00,$00,$0C,$01,$00,$00,$00,'!1PWR01', $0d\"\nreturn null;\n//return (\"ISCP\");\n//,0x00,0x00,0x00,0x10,0x00,0x00,0x00,onkyo_msg_len,0x01,0x00,0x00,0x00,'!1',onkyo_msg,0x0d,0x0a);\n//SLI05 = 09\n//MVLDOWN = 0b\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\9\\1\\0\\0\\0 !1AMT01\\r\n//    ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0  !1MVLDOWN1\\r\n\n// sending absolute volume values\n//  Scripting.SendMessage(ISCP0001600091000!1MVL0 .. hex .. 1310)\n\n//!xECNQSTN\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1NTCRIGHT\\13\\10\")\n//  Scripting.SendMessage(\"ISCP\\0\\0\\0\\16\\0\\0\\0\\12\\1\\0\\0\\0 !1OSDRIGHT\\13\\10\")\n// SOURCE_CD: 73;83;67;80;0;0;0;16;0;0;0;24;1;0;0;0;33;49;83;76;73;50;51;13","outputs":1,"noerr":0,"x":691.4472045898438,"y":104.30059814453125,"wires":[[]]},{"id":"d70e15f9.7f43b8","type":"debug","z":"56062cd9.644ac4","name":"","active":false,"console":"false","complete":"payload","x":344.2091042995453,"y":218.30067443847656,"wires":[]},{"id":"3d55bee2.83d002","type":"change","z":"56062cd9.644ac4","name":"Samsung TV Controls","rules":[{"pt":"msg","to":"payload","p":"payload","t":"set","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":154.3043327331543,"y":168.58630561828613,"wires":[["c4349a25.5ed108"]]},{"id":"e18b68e1.f260a8","type":"json","z":"56062cd9.644ac4","name":"","x":482.14289474487305,"y":424.01487159729004,"wires":[["ba157435.331278"]]},{"id":"ba157435.331278","type":"change","z":"56062cd9.644ac4","name":"","rules":[{"pt":"msg","to":"msg.payload.query.results.channel.wind.chill","p":"payload","t":"set","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":656.4285736083984,"y":430.58629417419434,"wires":[["6805c706.e6e158"]]},{"id":"58ec0856.e2abf8","type":"http request","z":"56062cd9.644ac4","name":"","method":"GET","ret":"txt","url":"https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22dandenong%2C%20au%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys","tls":"","x":306.42862701416016,"y":425.15771865844727,"wires":[["e18b68e1.f260a8"]]},{"id":"56a099ee.cb1e68","type":"ui_template","z":"56062cd9.644ac4","group":"6708fb3d.8e7434","name":"Numbers","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<p>Try to multiply two numbers.</p>\n\n<div ng-app=\"\" ng-init=\"quantity=1;cost=5\">\n\n<p>Total in dollar: {{ quantity * cost }}</p>\n\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":619.8333282470703,"y":759,"wires":[[]]},{"id":"1d842032.ac85d","type":"debug","z":"56062cd9.644ac4","name":"","active":false,"console":"false","complete":"false","x":836.0000152587891,"y":569,"wires":[]},{"id":"6805c706.e6e158","type":"debug","z":"56062cd9.644ac4","name":"","active":false,"console":"false","complete":"payload","x":906.428596496582,"y":415.7291564941406,"wires":[]},{"id":"9ce6540c.acf4b8","type":"inject","z":"56062cd9.644ac4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140.71429443359375,"y":426.3005847930908,"wires":[["58ec0856.e2abf8"]]},{"id":"1ee02f1a.456751","type":"ui_template","z":"56062cd9.644ac4","group":"6708fb3d.8e7434","name":"Animate","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<style>\ndiv {\n  transition: all linear 0.5s;\n  background-color: lightblue;\n  height: 100px;\n  width: 100%;\n  position: relative;\n  top: 0;\n  left: 0;\n}\n\n.ng-hide {\n  height: 0;\n  width: 0;\n  background-color: transparent;\n  top:-200px;\n  left: 200px;\n}\n\n</style>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js\"></script>\n\n<body ng-app=\"myApp\">\n\n<h1>Hide the DIV: <input type=\"checkbox\" ng-model=\"myCheck\"></h1>\n\n<div ng-hide=\"myCheck\"></div>\n\n<script>\nvar app = angular.module('myApp', ['ngAnimate']);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":812.4584007263184,"y":714.2500295639038,"wires":[[]]},{"id":"c85816f0.f26918","type":"ui_template","z":"56062cd9.644ac4","group":"fc170295.d1b46","name":"not used TV Guide","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n\n<body>\n\n<!--p>Foxtel Buttons</p>-->\n\n<div ng-app=\"\" ng-init=\"myCol='lightblue'\">\n\n<!--input style=\"background-color:{{myCol}}\" ng-model=\"myCol\" value=\"{{myCol}}\"-->\n\n</div>\n\n<div ng-bind-html=\"msg.payload\"></div>\n\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":450,"y":480,"wires":[["47b2982f.d28898"]]},{"id":"7a93f92b.10cac8","type":"link out","z":"56062cd9.644ac4","name":"Garage Door","links":["95cce6d5.27ac38"],"x":810.3888702392578,"y":505.11111068725586,"wires":[]},{"id":"963a6678.0fafa8","type":"debug","z":"56062cd9.644ac4","name":"","active":false,"console":"false","complete":"payload","x":1284.2424011230469,"y":319.09088802337646,"wires":[]},{"id":"9750a5c6.3f8588","type":"ui_template","z":"56062cd9.644ac4","group":"6708fb3d.8e7434","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n  .filled { \n      height: 100% !important;\n \n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n   \n  .rounded {\n  border-radius: 15px 15px 15px 15px;\n  font-size: 18px;\n}\n   \n</style>\n \n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n \nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n \n$('.touched').on('mousedown', function() {\n     \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n     \n    setTimeout(restore_bg.bind(this,x),200);\n    navigator.vibrate(100);\n    });\n     \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":631.2083358764648,"y":629.2499961853027,"wires":[[]]},{"id":"ac0bd0ec.c3ef9","type":"inject","z":"56062cd9.644ac4","name":"TV Guide","topic":"","payload":"TV Guide","payloadType":"str","repeat":"","crontab":"","once":false,"x":320,"y":560,"wires":[["c85816f0.f26918"]]},{"id":"504b319.a4606d","type":"debug","z":"56062cd9.644ac4","name":"","active":false,"console":"false","complete":"false","x":646.2083358764648,"y":673.7500038146973,"wires":[]},{"id":"46bcdd86.ac2a54","type":"ui_template","z":"56062cd9.644ac4","group":"6708fb3d.8e7434","name":"","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<p>Try to change the names.</p>\n\n<div ng-app=\"myApp\" ng-controller=\"myCtrl\">\n\nFirst Name: <input type=\"text\" ng-model=\"firstName\"><br>\nLast Name: <input type=\"text\" ng-model=\"lastName\"><br>\n<br>\nFull Name: {{firstName + \" \" + lastName}}\n\n</div>\n\n<script>\nvar app = angular.module('myApp', []);\napp.controller('myCtrl', function($scope) {\n    $scope.firstName= \"John\";\n    $scope.lastName= \"Doe\";\n});\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":644.8333282470703,"y":864,"wires":[[]]},{"id":"7f982aca.c51734","type":"function","z":"56062cd9.644ac4","name":"Search for room names","func":"// seperate string in arrays and find how many elements in array\nvar msgdata = msg.payload.split(\" \");\nvar datalength = msgdata.length;\nvar channel = {}; // channel selection\nvar channel_rx = 0; // room word received\nfor (i = 0; i < msgdata.length; i++) // look for word ABC\n    { \n    if (msgdata[i] == \"abc\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 102\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word SBS\n    { \n    if (msgdata[i] == \"sbs\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 104\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word TV1\n    { \n    if (msgdata[i] == \"TV1\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 101\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word TV1\n    { \n    if (msgdata[i] == \"one\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 101\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word UK TV\n    { \n    if (msgdata[i] == \"uk\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 103\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word lifestyle\n    { \n    if (msgdata[i] == \"lifestyle\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 106\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word universal\n    { \n    if (msgdata[i] == \"universal\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 112\";\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for word fox8\n    { \n    if (msgdata[i] == \"fox\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 108\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word fox8\n    { \n    if (msgdata[i] == \"eight\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 108\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word fox8\n    { \n    if (msgdata[i] == \"8\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 108\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word channel seven\n    { \n    if (msgdata[i] == \"seven\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 107\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word 7\n    { \n    if (msgdata[i] == \"7\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 107\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word nine\n    { \n    if (msgdata[i] == \"nine\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 109\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word 9\n    { \n    if (msgdata[i] == \"9\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 100\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word ten\n    { \n    if (msgdata[i] == \"ten\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 110\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word 10\n    { \n    if (msgdata[i] == \"10\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 110\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word relax\n    { \n    if (msgdata[i] == \"relax\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 841\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word country\n    { \n    if (msgdata[i] == \"country\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 815\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word smooth\n    { \n    if (msgdata[i] == \"smooth\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 806\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word country\n    { \n    if (msgdata[i] == \"country\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 815\";\n        }\n    }\n\nfor (i = 0; i < msgdata.length; i++) // look for word weather\n    { \n    if (msgdata[i] == \"weather\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 603\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word abc news\n    { \n    if (msgdata[i] == \"news\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 642\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word history\n    { \n    if (msgdata[i] == \"history\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 611\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word discovery\n    { \n    if (msgdata[i] == \"discovery\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 608\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word science\n    { \n    if (msgdata[i] == \"science\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 638\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word knowledge\n    { \n    if (msgdata[i] == \"knowledge\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 612\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word national geographic\n    { \n    if (msgdata[i] == \"national\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 610\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word nrl\n    { \n    if (msgdata[i] == \"nrl\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 502\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word nrl rugby\n    { \n    if (msgdata[i] == \"rugby\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 502\";\n        }\n    }    \n    \nfor (i = 0; i < msgdata.length; i++) // look for word afl footy\n    { \n    if (msgdata[i] == \"afl\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 504\";\n        }\n    }    \nfor (i = 0; i < msgdata.length; i++) // look for word afl footy\n    { \n    if (msgdata[i] == \"footy\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 504\";\n        }\n    }    \n\nfor (i = 0; i < msgdata.length; i++) // look for word classic\n    { \n    if (msgdata[i] == \"classic\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 113\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word showcase\n    { \n    if (msgdata[i] == \"showcase\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 114\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word fx\n    { \n    if (msgdata[i] == \"fx\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 119\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word comedy\n    { \n    if (msgdata[i] == \"comedy\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 121\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word syfy\n    { \n    if (msgdata[i] == \"syfy\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 123\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word eleven\n    { \n    if (msgdata[i] == \"eleven\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 131\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word 11\n    { \n    if (msgdata[i] == \"11\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 131\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word go\n    { \n    if (msgdata[i] == \"go\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 139\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word premiere\n    { \n    if (msgdata[i] == \"premiere\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 401\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word thriller\n    { \n    if (msgdata[i] == \"thriller\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 409\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word premier\n    { \n    if (msgdata[i] == \"premier\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 401\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word masterpiece\n    { \n    if (msgdata[i] == \"masterpiece\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 402\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word disney\n    { \n    if (msgdata[i] == \"disney\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 404\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word family\n    { \n    if (msgdata[i] == \"family\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 405\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word action\n    { \n    if (msgdata[i] == \"action\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 406\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word romance\n    { \n    if (msgdata[i] == \"romance\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 408\";\n        }\n    }\nfor (i = 0; i < msgdata.length; i++) // look for word premiere\n    { \n    if (msgdata[i] == \"premiere\")\n        {\n        channel_rx = 1;\n        channel = \"**channel 409\";\n        }\n    }\n\n\nif (channel_rx == 1)\n    {\n    node.send ({payload:channel});    \n    }\nreturn [null];","outputs":"1","noerr":0,"x":1050,"y":320,"wires":[["963a6678.0fafa8"]]},{"id":"137e2330.88e12d","type":"link in","z":"56062cd9.644ac4","name":"Send Yahoo Weather Data to AMX - 4054","links":[],"x":124.30432891845703,"y":230.014892578125,"wires":[["d70e15f9.7f43b8"]]},{"id":"d6b4378c.880d18","type":"ui_template","z":"56062cd9.644ac4","group":"6708fb3d.8e7434","name":"Constructor","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<div ng-app=\"myApp\" w3-test-directive></div>\n\n<script> \nvar app = angular.module(\"myApp\", []);\n\napp.directive(\"w3TestDirective\", function() {\n    return {\n        template : \"I was made in a directive constructor!\"\n    };\n});\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":894.8333282470703,"y":924,"wires":[[]]},{"id":"22ae63e.9d0209c","type":"ui_template","z":"56062cd9.644ac4","group":"6708fb3d.8e7434","name":"Colour Change","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<p>Try to change the colours.</p>\n\n<div ng-app=\"\" ng-init=\"myCol='lightblue'\">\n\n<input style=\"background-color:{{myCol}}\" ng-model=\"myCol\" value=\"{{myCol}}\">\n\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":638.7083358764648,"y":805.5000152587891,"wires":[["fd89a4e0.e83818"]]},{"id":"47b2982f.d28898","type":"ui_button","z":"56062cd9.644ac4","name":"TV Guide","group":"fc170295.d1b46","order":0,"width":0,"height":0,"passthru":true,"label":"TV Guide","color":"","bgcolor":"","icon":"Foxtel","payload":"TV Guide","payloadType":"str","topic":"","x":676.8889389038086,"y":531.1111116409302,"wires":[["7a93f92b.10cac8","1d842032.ac85d"]]},{"id":"c4349a25.5ed108","type":"debug","z":"56062cd9.644ac4","name":"","active":false,"console":"false","complete":"false","x":370.01861572265625,"y":108.58631134033203,"wires":[]},{"id":"fd89a4e0.e83818","type":"debug","z":"56062cd9.644ac4","name":"","active":false,"console":"false","complete":"false","x":934.9583740234375,"y":826.2500228881836,"wires":[]},{"id":"ac555dbb.5feb6","type":"ui_template","z":"56062cd9.644ac4","group":"fc170295.d1b46","name":"Click Me","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>\n<body>\n\n<div ng-app=\"myApp\" ng-controller=\"myCtrl\">\n\n<button ng-click=\"count = count + 1\">Click Me!\n\nng-click=\"send({payload: 'Hello World'}\n\n\n    <p> count </p>\n</button>\n\n\n</div>\n<script>\nvar app = angular.module('myApp', []);\napp.controller('myCtrl', function($scope) {\n    $scope.count = 0;\n    \n});\n</script> \n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":454.8333282470703,"y":669,"wires":[["504b319.a4606d"]]},{"id":"6708fb3d.8e7434","type":"ui_group","z":"","name":"Colour Buttons","tab":"79d4fb87.c439c4","disp":true,"width":"6"},{"id":"fc170295.d1b46","type":"ui_group","z":"","name":"testy","tab":"a8ab39b7.35f508","order":1,"disp":true,"width":"8"},{"id":"79d4fb87.c439c4","type":"ui_tab","z":"","name":"testing","icon":"dashboard","order":20},{"id":"a8ab39b7.35f508","type":"ui_tab","z":"","name":"testy","icon":"dashboard","order":18}]