Node Red/Node Red Code/Base64/Base64 Tester node v2.txt
[{"id":"928c8843.a9b578","type":"debug","z":"836e1377.10043","name":"","active":true,"console":"false","complete":"payload.data","x":710,"y":220,"wires":[]},{"id":"8d51f17e.3b51","type":"function","z":"836e1377.10043","name":"Base64decode","func":"//msg.payload = new Buffer.from(\"12345\");\nvar s_temp = msg.payload;\nvar t_temp = s_temp;\n\nfunction base64Encode(t_temp) \n    {\n    return new Buffer(t_temp).toString('base64');\n    }\nvar encoded = new Buffer(msg.payload).toString('base64');\n//s_temp = base64Encode(s_temp);\n\n//var header3 = (TV_IP_Address.toString('base64'));\n//msg.payload = new Buffer(msg.payload.toString('base64'));\n //return Buffer.from(t_temp, 'base64'); // Ta-da\n//return new Buffer(t_temp).toString('base64');\n//msg.payload.data = new Buffer(msg.payload.data, \"base64\").toString();\n////console.log(Buffer.from(\"Hello World\").toString('base64'));\n//console.log(encoded);\nreturn encoded;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["928c8843.a9b578"]]},{"id":"ea27ad5.1cbe85","type":"inject","z":"836e1377.10043","name":"HDMI","topic":"","payload":"KEY-HDMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":220,"wires":[["8d51f17e.3b51"]]}]