Github Repo/Node Red Code/Yahoo Weather/For Rob  - Yahoo Weather Now.txt
[{"id":"d1d0b59c.4ce128","type":"file","z":"db1fa84a.127c78","name":"Capture File","filename":"Dandenong Weather Capture.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1170,"y":60,"wires":[]},{"id":"46a329a8.cdd8d8","type":"change","z":"db1fa84a.127c78","name":"Convert Query","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":60,"wires":[["c24b2a28.17ec28"]]},{"id":"f60319bb.725ad8","type":"function","z":"db1fa84a.127c78","name":"Select City","func":"msg = msg.payload;\nvar newMsg;\n//and u='c'\"\n//select * from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"jiangmen,cn\") and u=\"c\"\n\nnewMsg = 'select * from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"'+msg+',au\") and u=\"c\"';\nnode.send ({payload:[newMsg]});\nreturn null;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["46a329a8.cdd8d8"]]},{"id":"c24b2a28.17ec28","type":"http request","z":"db1fa84a.127c78","name":"","method":"GET","ret":"txt","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","x":930,"y":60,"wires":[["d1d0b59c.4ce128","28414d8c.f688c2"]]},{"id":"41e98b17.5a7764","type":"inject","z":"db1fa84a.127c78","name":"Dandenong","topic":"","payload":"dandenong","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["514b1f6d.24399"]]},{"id":"d602ed48.ea89d","type":"inject","z":"db1fa84a.127c78","name":"Sydney","topic":"","payload":"sydney","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":100,"wires":[["42dd74cd.02afac"]]},{"id":"ca1d7049.87fd","type":"file in","z":"db1fa84a.127c78","name":"Yahoo Weather capture","filename":"Dandenong Weather Capture.txt","format":"utf8","x":470,"y":380,"wires":[["28414d8c.f688c2"]]},{"id":"64825320.fa665c","type":"inject","z":"db1fa84a.127c78","name":"Press to reload saved file","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":380,"wires":[["ca1d7049.87fd"]]},{"id":"2fa18d2.464b872","type":"change","z":"db1fa84a.127c78","name":"Wind Chill","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.chill","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":260,"wires":[["4269ea93.32a2c4"]]},{"id":"a1ab39ff.1280e8","type":"change","z":"db1fa84a.127c78","name":"Direction","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.direction","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[["d0da534a.827ea"]]},{"id":"9f666df7.0dd3f","type":"change","z":"db1fa84a.127c78","name":"Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":340,"wires":[["4e4e2bb2.0e0ec4"]]},{"id":"d0da534a.827ea","type":"ui_gauge","z":"db1fa84a.127c78","name":"Wind Direction","group":"d3e6a5aa.29c808","order":2,"width":"3","height":"2","gtype":"compass","title":"Wind Direction","label":"Degrees","format":"{{value}}","min":"1","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1440,"y":300,"wires":[]},{"id":"4269ea93.32a2c4","type":"ui_gauge","z":"db1fa84a.127c78","name":"Wind Chill","group":"d3e6a5aa.29c808","order":5,"width":"3","height":"2","gtype":"gage","title":"Wind Chill","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":260,"wires":[]},{"id":"d191c338.61255","type":"ui_gauge","z":"db1fa84a.127c78","name":"Wind Speed","group":"d3e6a5aa.29c808","order":3,"width":"3","height":"2","gtype":"gage","title":"Wind Speed","label":"kph","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1430,"y":340,"wires":[]},{"id":"b552af7.20f8e5","type":"change","z":"db1fa84a.127c78","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":380,"wires":[["a310cf57.bfd3e"]]},{"id":"87a0a292.4f14b","type":"change","z":"db1fa84a.127c78","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":420,"wires":[["d8cc17f3.2a7538"]]},{"id":"8fe1781f.d42668","type":"change","z":"db1fa84a.127c78","name":"Rising","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.rising","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":460,"wires":[["e9d58bcf.df0518"]]},{"id":"a310cf57.bfd3e","type":"ui_gauge","z":"db1fa84a.127c78","name":"Humidity","group":"d3e6a5aa.29c808","order":4,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"Degrees","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":380,"wires":[]},{"id":"e9d58bcf.df0518","type":"function","z":"db1fa84a.127c78","name":"Rise and Fall","func":"var msg = msg.payload;\nvar newMsg;\nif (msg == \"0\")\n    {\n    newMsg = \"Steady\";\n    node.send ({payload:newMsg});   \n    }\nif (msg == \"1\")\n    {\n    newMsg = \"Rising\";\n    node.send ({payload:newMsg});   \n    }\nif (msg == \"2\")\n    {\n    newMsg = \"Falling\";\n    node.send ({payload:newMsg});   \n    }\nreturn null;","outputs":1,"noerr":0,"x":1210,"y":460,"wires":[["86fd3f7f.667e3"]]},{"id":"86fd3f7f.667e3","type":"ui_text","z":"db1fa84a.127c78","group":"832c253c.470da8","order":2,"width":"0","height":"0","name":"Pressure Rise / Fall","label":"Current Pressure : ","format":"{{msg.payload}}","layout":"row-left","x":1450,"y":460,"wires":[]},{"id":"2d71511c.f31bee","type":"change","z":"db1fa84a.127c78","name":"Visibilty","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere.visibility","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":500,"wires":[["d5a79e00.f43ec"]]},{"id":"ca5a916f.0e5fb","type":"change","z":"db1fa84a.127c78","name":"Sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.astronomy.sunrise","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":540,"wires":[["729809f5.3395d8"]]},{"id":"bda4c9cb.05ff08","type":"change","z":"db1fa84a.127c78","name":"Sunset","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.astronomy.sunset","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":580,"wires":[["3b8f287d.8d7d18"]]},{"id":"3b8f287d.8d7d18","type":"ui_text","z":"db1fa84a.127c78","group":"832c253c.470da8","order":3,"width":"0","height":"0","name":"Sunset","label":"Sunset : ","format":"{{msg.payload}}","layout":"row-left","x":1410,"y":580,"wires":[]},{"id":"729809f5.3395d8","type":"ui_text","z":"db1fa84a.127c78","group":"832c253c.470da8","order":4,"width":"0","height":"0","name":"Sunrise","label":"Sunrise : ","format":"{{msg.payload}}","layout":"row-left","x":1420,"y":540,"wires":[]},{"id":"1b7f3c2c.066b34","type":"change","z":"db1fa84a.127c78","name":"Current Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.condition.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":660,"wires":[["e5b0ec4.e8d671"]]},{"id":"e5b0ec4.e8d671","type":"ui_gauge","z":"db1fa84a.127c78","name":"Current Temp","group":"d3e6a5aa.29c808","order":1,"width":"3","height":"2","gtype":"gage","title":"Current Temp","label":"degrees","format":"{{value}}","min":"-10","max":"50","colors":["#0080c0","#00b500","#ca3838"],"seg1":"16","seg2":"23","x":1430,"y":660,"wires":[]},{"id":"2bc90998.265986","type":"change","z":"db1fa84a.127c78","name":"Current Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.condition.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":620,"wires":[["8ee81ce8.52cde"]]},{"id":"8ee81ce8.52cde","type":"ui_text","z":"db1fa84a.127c78","group":"832c253c.470da8","order":6,"width":"0","height":"0","name":"Current Condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":1450,"y":620,"wires":[]},{"id":"514b1f6d.24399","type":"ui_button","z":"db1fa84a.127c78","name":"Dandenong","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Dandenong","color":"","bgcolor":"","icon":"","payload":"dandenong","payloadType":"str","topic":"","x":330,"y":60,"wires":[["f60319bb.725ad8"]]},{"id":"42dd74cd.02afac","type":"ui_button","z":"db1fa84a.127c78","name":"Sydney","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Sydney","color":"","bgcolor":"","icon":"","payload":"sydney","payloadType":"str","topic":"","x":320,"y":100,"wires":[["f60319bb.725ad8"]]},{"id":"2068f7ad.40e6b8","type":"ui_button","z":"db1fa84a.127c78","name":"Canberra","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Canberra","color":"","bgcolor":"","icon":"","payload":"Canberra","payloadType":"str","topic":"","x":320,"y":140,"wires":[["f60319bb.725ad8"]]},{"id":"b4e76054.e74ab","type":"ui_button","z":"db1fa84a.127c78","name":"Adelaide","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Adelaide","color":"","bgcolor":"","icon":"","payload":"adelaide","payloadType":"str","topic":"","x":320,"y":180,"wires":[["f60319bb.725ad8"]]},{"id":"42192c5f.a18be4","type":"ui_button","z":"db1fa84a.127c78","name":"Perth","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Perth","color":"","bgcolor":"","icon":"","payload":"perth","payloadType":"str","topic":"","x":310,"y":220,"wires":[["f60319bb.725ad8"]]},{"id":"12355f0e.06e641","type":"ui_button","z":"db1fa84a.127c78","name":"Brisbane","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Brisbane","color":"","bgcolor":"","icon":"","payload":"brisbane","payloadType":"str","topic":"","x":320,"y":260,"wires":[["f60319bb.725ad8"]]},{"id":"16703884.fc43f7","type":"ui_button","z":"db1fa84a.127c78","name":"Darwin","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Darwin","color":"","bgcolor":"","icon":"","payload":"darwin","payloadType":"str","topic":"","x":320,"y":300,"wires":[["f60319bb.725ad8"]]},{"id":"6bcf4ad0.61ba44","type":"ui_button","z":"db1fa84a.127c78","name":"Cairns","group":"68c6d061.f75fb","order":0,"width":"2","height":"1","passthru":true,"label":"Cairns","color":"","bgcolor":"","icon":"","payload":"carins","payloadType":"str","topic":"","x":310,"y":340,"wires":[["f60319bb.725ad8"]]},{"id":"f39c8a4b.4db688","type":"inject","z":"db1fa84a.127c78","name":"Canberra","topic":"","payload":"canberra","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":140,"wires":[["2068f7ad.40e6b8"]]},{"id":"184dee1d.8b4cf2","type":"inject","z":"db1fa84a.127c78","name":"Adelaide","topic":"","payload":"adelaide","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["b4e76054.e74ab"]]},{"id":"81252065.bae4c","type":"inject","z":"db1fa84a.127c78","name":"Perth","topic":"","payload":"perth","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["42192c5f.a18be4"]]},{"id":"51ad4835.1136b8","type":"inject","z":"db1fa84a.127c78","name":"Brisbane","topic":"","payload":"brisbane","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["12355f0e.06e641"]]},{"id":"26e03957.cb33b6","type":"inject","z":"db1fa84a.127c78","name":"Darwin","topic":"","payload":"darwin","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":300,"wires":[["16703884.fc43f7"]]},{"id":"fa05ce45.96318","type":"inject","z":"db1fa84a.127c78","name":"Ciarns","topic":"","payload":"cairns","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":340,"wires":[["6bcf4ad0.61ba44"]]},{"id":"d5a79e00.f43ec","type":"ui_text","z":"db1fa84a.127c78","group":"832c253c.470da8","order":5,"width":"0","height":"0","name":"Visibility","label":"Visibility : ","format":"{{msg.payload}}kms","layout":"row-left","x":1420,"y":500,"wires":[]},{"id":"d8cc17f3.2a7538","type":"function","z":"db1fa84a.127c78","name":"Convert to Miilbars","func":"var msg = msg.payload;\nvar newMsg = msg * 0.02953;\nnode.send ({payload:newMsg});   \nreturn null;","outputs":1,"noerr":0,"x":1230,"y":420,"wires":[["13963c12.ee8e14"]]},{"id":"13963c12.ee8e14","type":"ui_text","z":"db1fa84a.127c78","group":"832c253c.470da8","order":1,"width":"0","height":"0","name":"Pressure","label":"Pressure : ","format":"{{msg.payload.toFixed(0)}} - kpa","layout":"row-left","x":1420,"y":420,"wires":[]},{"id":"28414d8c.f688c2","type":"json","z":"db1fa84a.127c78","name":"","pretty":false,"x":790,"y":380,"wires":[["2fa18d2.464b872","a1ab39ff.1280e8","9f666df7.0dd3f","b552af7.20f8e5","87a0a292.4f14b","8fe1781f.d42668","2d71511c.f31bee","ca5a916f.0e5fb","bda4c9cb.05ff08","2bc90998.265986","1b7f3c2c.066b34","ec68f9d3.388c18","548ab791.722b28","7d6566d9.dedaf8","2b17d94.b142b26","e6ad51f9.77314","b755a3b4.ad2fb"]]},{"id":"ec68f9d3.388c18","type":"change","z":"db1fa84a.127c78","name":"Wind Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.wind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":780,"wires":[["6f4ef6f5.262e18"]]},{"id":"6f4ef6f5.262e18","type":"function","z":"db1fa84a.127c78","name":"Wind Data good","func":"var newmsg = {};\nvar newword = {};\nvar outputMsg = JSON.stringify(msg.payload);\noutputMsg = outputMsg.split(',');\nnewword = outputMsg;\nnode.send ({payload:newword.toString()});\nreturn null;\n","outputs":1,"noerr":0,"x":1200,"y":780,"wires":[["b2e40a0.20ee2f8"]]},{"id":"548ab791.722b28","type":"change","z":"db1fa84a.127c78","name":"Atmosphere Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.atmosphere","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":820,"wires":[["4a4d4676.041788"]]},{"id":"e6ad51f9.77314","type":"change","z":"db1fa84a.127c78","name":"Location Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":740,"wires":[["8925eff9.b1c65"]]},{"id":"4a4d4676.041788","type":"function","z":"db1fa84a.127c78","name":"Wind Data good","func":"var newmsg = {};\nvar newword = {};\nvar outputMsg = JSON.stringify(msg.payload);\noutputMsg = outputMsg.split(',');\nnewword = outputMsg;\nnode.send ({payload:newword.toString()});\nreturn null;\n","outputs":1,"noerr":0,"x":1200,"y":820,"wires":[["16ff87.b97be079"]]},{"id":"b755a3b4.ad2fb","type":"change","z":"db1fa84a.127c78","name":"Forecast Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":940,"wires":[["243f2548.91527a"]]},{"id":"7d6566d9.dedaf8","type":"change","z":"db1fa84a.127c78","name":"Current Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":900,"wires":[["c76a4e1.a31efb"]]},{"id":"16ff87.b97be079","type":"delay","z":"db1fa84a.127c78","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":820,"wires":[["e1d01eb0.b195c"]]},{"id":"c76a4e1.a31efb","type":"function","z":"db1fa84a.127c78","name":"Wind Data good","func":"var newmsg = {};\nvar newword = {};\nvar outputMsg = JSON.stringify(msg.payload);\noutputMsg = outputMsg.split(',');\nnewword = outputMsg;\nnode.send ({payload:newword.toString()});\nreturn null;\n","outputs":1,"noerr":0,"x":1200,"y":900,"wires":[["21e81f8e.891ce"]]},{"id":"21e81f8e.891ce","type":"delay","z":"db1fa84a.127c78","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":900,"wires":[["e1d01eb0.b195c"]]},{"id":"2b17d94.b142b26","type":"change","z":"db1fa84a.127c78","name":"Astronomy Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.astronomy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":860,"wires":[["4818cb50.a5d344"]]},{"id":"4818cb50.a5d344","type":"function","z":"db1fa84a.127c78","name":"Wind Data good","func":"var newmsg = {};\nvar newword = {};\nvar outputMsg = JSON.stringify(msg.payload);\noutputMsg = outputMsg.split(',');\nnewword = outputMsg;\nnode.send ({payload:newword.toString()});\nreturn null;\n","outputs":1,"noerr":0,"x":1200,"y":860,"wires":[["d322b1e6.4b831"]]},{"id":"d322b1e6.4b831","type":"delay","z":"db1fa84a.127c78","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":860,"wires":[["e1d01eb0.b195c"]]},{"id":"8925eff9.b1c65","type":"function","z":"db1fa84a.127c78","name":"Wind Data good","func":"var newmsg = {};\nvar newword = {};\nvar outputMsg = JSON.stringify(msg.payload);\noutputMsg = outputMsg.split(',');\nnewword = outputMsg;\nnode.send ({payload:newword.toString()});\nreturn null;\n","outputs":1,"noerr":0,"x":1200,"y":740,"wires":[["e1d01eb0.b195c"]]},{"id":"b2e40a0.20ee2f8","type":"delay","z":"db1fa84a.127c78","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":780,"wires":[["e1d01eb0.b195c"]]},{"id":"243f2548.91527a","type":"function","z":"db1fa84a.127c78","name":"Wind Data good","func":"var newmsg = {};\nvar newword = {};\nvar outputMsg = JSON.stringify(msg.payload);\noutputMsg = outputMsg.split(',');\nnewword = outputMsg;\nnode.send ({payload:newword.toString()});\nreturn null;\n","outputs":1,"noerr":0,"x":1200,"y":940,"wires":[["d5ccdb7d.a06d48"]]},{"id":"d5ccdb7d.a06d48","type":"delay","z":"db1fa84a.127c78","name":"","pauseType":"delay","timeout":"1250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":940,"wires":[["e1d01eb0.b195c"]]},{"id":"4e4e2bb2.0e0ec4","type":"function","z":"db1fa84a.127c78","name":"Round Wind Speed","func":"var msg = Math.round(msg.payload);\nnode.send ({payload:msg});\nreturn null;","outputs":1,"noerr":0,"x":1230,"y":340,"wires":[["d191c338.61255"]]},{"id":"e1d01eb0.b195c","type":"link out","z":"db1fa84a.127c78","name":"Yahoo Weather Now","links":[],"x":1595,"y":740,"wires":[]},{"id":"d3e6a5aa.29c808","type":"ui_group","z":"","name":"Yahoo Weather","tab":"e41ec9ec.f291c8","order":2,"disp":true,"width":"3"},{"id":"832c253c.470da8","type":"ui_group","z":"","name":"Yahoo Weather Conditions","tab":"e41ec9ec.f291c8","order":3,"disp":true,"width":"5"},{"id":"68c6d061.f75fb","type":"ui_group","z":"","name":"City","tab":"e41ec9ec.f291c8","order":1,"disp":true,"width":"2"},{"id":"e41ec9ec.f291c8","type":"ui_tab","z":"","name":"Yahoo Weather","icon":"dashboard","order":1}]