Github Repo/Node Red Code/Yahoo Weather/For Rob  - Yahoo Weather Five Day Forecast.txt
[{"id":"4b48d678.6cc188","type":"link in","z":"252f67bb.6be068","name":"Yahoo Weather 5 Day Forecast","links":["553ec06.771764"],"x":195,"y":120,"wires":[["a026940.730f37","6102a97f.471778","3b6b308.da098d","e22ffaa7.00b2a8","5d0664fd.403a3c","dc26fcc2.ae188","6ba00035.88b0c","bbfee1c8.062e9","e925bfd2.9d725","650bfab7.c1f024","41e7cf96.a197b","927b4eb1.473ac","c96e3201.3d653","c04f880e.121be8","504c524f.2ef88c","35b296b6.ca149a","e5a90eed.f7d72","911e2b9d.0d0368","fcfe00d9.fb01","62bcf80e.03da38","7808c83e.dab998"]]},{"id":"a026940.730f37","type":"change","z":"252f67bb.6be068","name":"Forecast Day 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["aebe31e8.c7066"]]},{"id":"aebe31e8.c7066","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":2,"width":"3","height":"1","name":"Forecast Day 1","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":640,"y":160,"wires":[]},{"id":"6102a97f.471778","type":"change","z":"252f67bb.6be068","name":"Forecast Day 1 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":200,"wires":[["19e4dfb8.1b83"]]},{"id":"19e4dfb8.1b83","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":4,"width":"3","height":"1","name":"Forecast Day 1 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":200,"wires":[]},{"id":"3b6b308.da098d","type":"change","z":"252f67bb.6be068","name":"Forecast Day 1 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":240,"wires":[["9358e6b0.518608"]]},{"id":"9358e6b0.518608","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":5,"width":"3","height":"1","name":"Forecast Day 1 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":240,"wires":[]},{"id":"e22ffaa7.00b2a8","type":"change","z":"252f67bb.6be068","name":"Forecast Day 1 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["ba93cb39.b8ec28"]]},{"id":"ba93cb39.b8ec28","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":3,"width":"5","height":"1","name":"Forecast Day 1 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":670,"y":280,"wires":[]},{"id":"5d0664fd.403a3c","type":"change","z":"252f67bb.6be068","name":"Forecast Day 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["d64a2a6d.132638"]]},{"id":"d64a2a6d.132638","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":6,"width":"3","height":"1","name":"Forecast Day 2","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":640,"y":320,"wires":[]},{"id":"dc26fcc2.ae188","type":"change","z":"252f67bb.6be068","name":"Forecast Day 2 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":360,"wires":[["334b7e1c.0c50f2"]]},{"id":"334b7e1c.0c50f2","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":8,"width":"3","height":"1","name":"Forecast Day 2 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":360,"wires":[]},{"id":"6ba00035.88b0c","type":"change","z":"252f67bb.6be068","name":"Forecast Day 2 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":400,"wires":[["5dfeda33.061bc4"]]},{"id":"5dfeda33.061bc4","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":9,"width":"3","height":"1","name":"Forecast Day 2 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":400,"wires":[]},{"id":"fa231ff0.fba79","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":7,"width":"5","height":"1","name":"Forecast Day 2 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":670,"y":440,"wires":[]},{"id":"bbfee1c8.062e9","type":"change","z":"252f67bb.6be068","name":"Forecast Day 2 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[1].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["fa231ff0.fba79"]]},{"id":"e925bfd2.9d725","type":"change","z":"252f67bb.6be068","name":"Forecast Day 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":480,"wires":[["1fedc6f.99b7339"]]},{"id":"650bfab7.c1f024","type":"change","z":"252f67bb.6be068","name":"Forecast Day 3 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[["b391283.9e417d8"]]},{"id":"41e7cf96.a197b","type":"change","z":"252f67bb.6be068","name":"Forecast Day 3 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":560,"wires":[["2e3aabd4.6533d4"]]},{"id":"927b4eb1.473ac","type":"change","z":"252f67bb.6be068","name":"Forecast Day 3 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[2].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":600,"wires":[["f30f01a0.22c9e"]]},{"id":"1fedc6f.99b7339","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":10,"width":"3","height":"1","name":"Forecast Day 3","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":640,"y":480,"wires":[]},{"id":"b391283.9e417d8","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":12,"width":"3","height":"1","name":"Forecast Day 3 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":520,"wires":[]},{"id":"2e3aabd4.6533d4","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":13,"width":"3","height":"1","name":"Forecast Day 3 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":560,"wires":[]},{"id":"f30f01a0.22c9e","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":11,"width":"5","height":"1","name":"Forecast Day 3 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":670,"y":600,"wires":[]},{"id":"c96e3201.3d653","type":"change","z":"252f67bb.6be068","name":"Forecast Day 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":640,"wires":[["d185b5e0.1324b8"]]},{"id":"c04f880e.121be8","type":"change","z":"252f67bb.6be068","name":"Forecast Day 4 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["1f851d00.8a5a63"]]},{"id":"504c524f.2ef88c","type":"change","z":"252f67bb.6be068","name":"Forecast Day 4 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":720,"wires":[["fef2ff1a.df19"]]},{"id":"35b296b6.ca149a","type":"change","z":"252f67bb.6be068","name":"Forecast Day 4 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[3].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":760,"wires":[["9e201e84.bcd7"]]},{"id":"d185b5e0.1324b8","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":14,"width":"3","height":"1","name":"Forecast Day 4","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":640,"y":640,"wires":[]},{"id":"1f851d00.8a5a63","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":16,"width":"3","height":"1","name":"Forecast Day 4 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":680,"wires":[]},{"id":"fef2ff1a.df19","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":17,"width":"3","height":"1","name":"Forecast Day 4 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":720,"wires":[]},{"id":"9e201e84.bcd7","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":15,"width":"5","height":"1","name":"Forecast Day 4 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":670,"y":760,"wires":[]},{"id":"e5a90eed.f7d72","type":"change","z":"252f67bb.6be068","name":"Forecast Day 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":800,"wires":[["5b0d3e09.fd644"]]},{"id":"911e2b9d.0d0368","type":"change","z":"252f67bb.6be068","name":"Forecast Day 5 high temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].high","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":840,"wires":[["b630bd74.3d3d9"]]},{"id":"fcfe00d9.fb01","type":"change","z":"252f67bb.6be068","name":"Forecast Day 5 low temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].low","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":880,"wires":[["a26fba49.fa0e88"]]},{"id":"62bcf80e.03da38","type":"change","z":"252f67bb.6be068","name":"Forecast Day 4 Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.item.forecast[4].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":920,"wires":[["40639a96.d70cc4"]]},{"id":"5b0d3e09.fd644","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":18,"width":"3","height":"1","name":"Forecast Day 5","label":"Forecast - ","format":"{{msg.payload}}","layout":"row-left","x":640,"y":800,"wires":[]},{"id":"b630bd74.3d3d9","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":20,"width":"3","height":"1","name":"Forecast Day 5 high temp","label":"high ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":840,"wires":[]},{"id":"a26fba49.fa0e88","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":21,"width":"3","height":"1","name":"Forecast Day 5 low temp","label":"low ","format":"{{msg.payload}}","layout":"row-center","x":670,"y":880,"wires":[]},{"id":"40639a96.d70cc4","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":19,"width":"5","height":"1","name":"Forecast Day 5 condition","label":"Condition : ","format":"{{msg.payload}}","layout":"row-left","x":670,"y":920,"wires":[]},{"id":"7808c83e.dab998","type":"change","z":"252f67bb.6be068","name":"Location","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.query.results.channel.location.city","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["97897d4a.b669a"]]},{"id":"97897d4a.b669a","type":"ui_text","z":"252f67bb.6be068","group":"8235ff6b.a6eb1","order":1,"width":"14","height":"1","name":"Forecast Location","label":"Location - ","format":"{{msg.payload}}","layout":"row-center","x":650,"y":120,"wires":[]},{"id":"8235ff6b.a6eb1","type":"ui_group","z":"","name":"Yahoo Weather Forecast","tab":"e41ec9ec.f291c8","order":4,"disp":true,"width":"15"},{"id":"e41ec9ec.f291c8","type":"ui_tab","z":"","name":"Yahoo Weather","icon":"dashboard","order":1}]