Node Red/Node Red Code/Samsung_TV_Controller/Samsung TV Control Node.txt
[{"id":"f0d4293f.6cfe28","type":"function","z":"54413711.47c2b8","name":"","func":"var key_pressed = {payload: msg.payload};\n//var array_length = { payload: msg.payload.length };\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["bc20bd93.de4d4"]]},{"id":"bc20bd93.de4d4","type":"tcp request","z":"54413711.47c2b8","server":"192.168.1.62","port":"55000","out":"sit","splitc":"0","name":"Lounge_TV","x":650,"y":80,"wires":[["de0026a1.635018"]]},{"id":"de0026a1.635018","type":"debug","z":"54413711.47c2b8","name":"","active":true,"console":"false","complete":"payload","x":870,"y":80,"wires":[]},{"id":"b97cad9c.b855a","type":"function","z":"54413711.47c2b8","name":"Convert_to_Base_64","func":"var array_length = { payload: msg.payload.length };\n// split payload\n//var msg = (app_name, remote_name, encoding_type, TV_Model, TV_IP_Address, TV_IP_Port, RASP_Pi_Mac, data_to_send);\nvar temp_data = msg.payload.split(',');\n    var temp_dta = parse(t_data[1]);\n    var maca_dta = parse(t_data[0]);\n\n\n\nvar header1 = chr(0x64) + chr(0x00);\nvar header2 = chr();\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[[]]},{"id":"9e7c8afa.fdb888","type":"function","z":"54413711.47c2b8","name":"Setup_Header_Data","func":"var array_length = { payload: msg.payload.length };\n// split payload\nvar data_to_send = msg.payload;\nvar TV_Model = 'UA55C7000'; // tv type model UA55C7000\nvar TV_IP_Address = '192.168.1.62'; // ip address 192.168.1.62\nvar TV_IP_Port = 55000; // port 55000\nvar Rasp_Pi_Mac = 'b8:27:eb:67:dd:23'; // mac address b8:27:eb:67:dd:23 raspberry pi mac\nvar app_name = 'python'; // app name python\nvar remote_name = 'python remote'; // remote name python remote\nvar encoding_type = 'utf8'; // encoding type utf8\n//var msg = (app_name, remote_name, encoding_type, TV_Model, TV_IP_Address, TV_IP_Port, Rasp_Pi_Mac, data_to_send);\n// variables for message1\n\n//msg.payload = msg.payload.toString('base64');\n//node.send(msg);\n//var header1 = (0x64) + (0x00);\nvar header3 = (TV_IP_Address.toString('base64'));\nvar header2 = (header3.payload.length);\n//+ (0x00) + (TV_IP_Address.toString('base64'))\n//+\n//              ((b64_encode(Rasp_Pi_Mac).length))    + (0x00) + b64_encode(Rasp_Pi_Mac) +\n//              ((b64_encode(remote_name).length)) + (0x00) + b64_encode(remote_name);\n/*\nvar header1 = chr(0x64) + chr(0x00) +\n              chr(len(b64_encode(TV_IP_Address))) + chr(0x00) + b64_encode(TV_IP_Address) +\n              chr(len(b64_encode(Rasp_Pi_Mac)))    + chr(0x00) + b64_encode(Rasp_Pi_Mac) +\n              chr(len(b64_encode(remote_name))) + chr(0x00) + b64_encode(remote_name);\n*/\n// string KEY-HDMI\n\n/*\n    msg = chr(0x64) + chr(0x00) +\\\n          chr(len(base64.b64encode(src)))    + chr(0x00) + base64.b64encode(src) +\\\n          chr(len(base64.b64encode(mac)))    + chr(0x00) + base64.b64encode(mac) +\\\n          chr(len(base64.b64encode(remote))) + chr(0x00) + base64.b64encode(remote)\n    pkt = chr(0x00) +\\\n          chr(len(app)) + chr(0x00) + app +\\\n          chr(len(msg)) + chr(0x00) + msg\n*/\n\nreturn [header2, header3];","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["858e5639.e61358"]]},{"id":"19db4994.677456","type":"function","z":"54413711.47c2b8","name":"Sample BASE64 Code","func":"\n/*\ndef push(key):\n    new = socket.socket(socket.AF_INET, socket.SOCK_STREAM)\n    new.connect((dst, 55000))\n    msg = chr(0x64) + chr(0x00) +\\\n          chr(len(base64.b64encode(src)))    + chr(0x00) + base64.b64encode(src) +\\\n          chr(len(base64.b64encode(mac)))    + chr(0x00) + base64.b64encode(mac) +\\\n          chr(len(base64.b64encode(remote))) + chr(0x00) + base64.b64encode(remote)\n    pkt = chr(0x00) +\\\n          chr(len(app)) + chr(0x00) + app +\\\n          chr(len(msg)) + chr(0x00) + msg\n    new.send(pkt)\n    msg = chr(0x00) + chr(0x00) + chr(0x00) +\\\n          chr(len(base64.b64encode(key))) + chr(0x00) + base64.b64encode(key)\n    pkt = chr(0x00) +\\\n          chr(len(tv))  + chr(0x00) + tv +\\\n          chr(len(msg)) + chr(0x00) + msg\n    new.send(pkt)\n    new.close()\n    time.sleep(0.1)\n*/\n\n/*\nmsg.payload = msg.payload.toString('base64');\nnode.send(msg);\n                    */\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[[]]},{"id":"858e5639.e61358","type":"debug","z":"54413711.47c2b8","name":"","active":true,"console":"false","complete":"false","x":580,"y":160,"wires":[]},{"id":"277888b.8561478","type":"inject","z":"54413711.47c2b8","name":"HDMI","topic":"","payload":"KEY_HDMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["9e7c8afa.fdb888"]]}]