Node Red/Node Red Code/Samsung_TV_Controller/Samsun TV Controller Node 1.txt
[{"id":"158c9bdc.095524","type":"ui_text","z":"da7ef0c2.f711f","group":"a57ac1cb.e7a46","order":0,"width":0,"height":0,"name":"Sent Data","label":"http://noderedguide.com/node-red-lecture-3-basic-nodes-and-flows/#h.wbouey3z5384","format":"{{msg.payload}}","layout":"row-spread","x":776,"y":392,"wires":[]},{"id":"5950b367.14c0fc","type":"function","z":"da7ef0c2.f711f","name":"Set       Get Resquest String","func":"msg.payload = 'GET / HTTP/1.1\\r\\n\\r\\nHost: www.google.com'\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":134,"wires":[["3019f0d7.f7836"]]},{"id":"3019f0d7.f7836","type":"tcp request","z":"da7ef0c2.f711f","server":"www.google.com","port":"80","out":"time","splitc":"1000","name":"","x":611,"y":217,"wires":[["5fd7d965.f7ddc8"]]},{"id":"968bb07d.fdc33","type":"debug","z":"da7ef0c2.f711f","name":"Sent","active":true,"console":"false","complete":"payload","x":751,"y":135,"wires":[]},{"id":"5fd7d965.f7ddc8","type":"function","z":"da7ef0c2.f711f","name":"Parse Response Buffer Into String","func":"msg.payload = msg.payload.tostring('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":733,"y":313,"wires":[["968bb07d.fdc33","158c9bdc.095524"]]},{"id":"debbb340.bc8cd","type":"inject","z":"da7ef0c2.f711f","name":"Authenticate to TV","topic":"","payload":"Connect","payloadType":"str","repeat":"","crontab":"","once":false,"x":125,"y":63,"wires":[["5950b367.14c0fc"]]},{"id":"1ff84faf.bfd32","type":"ui_button","z":"da7ef0c2.f711f","name":"Authenicate","group":"a57ac1cb.e7a46","order":0,"width":0,"height":0,"label":"Authenticate","color":"","bgcolor":"","icon":"","payload":"Authenitcate","payloadType":"str","topic":"","x":133,"y":167,"wires":[["5950b367.14c0fc"]]},{"id":"412d24b5.7180dc","type":"comment","z":"da7ef0c2.f711f","name":"Web site for details","info":"http://noderedguide.com/node-red-lecture-3-basic-nodes-and-flows/#h.wbouey3z5384","x":316,"y":349,"wires":[]},{"id":"a57ac1cb.e7a46","type":"ui_group","z":"","name":"Samsung TV TCP Control","tab":"d28df061.30972","disp":true,"width":"6"},{"id":"d28df061.30972","type":"ui_tab","z":"","name":"Samsung TV Control","icon":"dashboard"}]