Github Repo/Node Red Code/Relay Controller/Relay Control with iphone gui.txt
[{"id":"deddc64e.bbec58","type":"rpi-gpio out","z":"c4dfcfcd.84591","name":"Relay 1 - pin 12","pin":"12","set":"","level":"0","out":"out","x":805,"y":136,"wires":[]},{"id":"5e5c097b.200098","type":"inject","z":"c4dfcfcd.84591","name":"Relay 1 on (pin 12)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":95,"y":156,"wires":[["ba56f161.385b3"]]},{"id":"62ebe3b9.092dcc","type":"inject","z":"c4dfcfcd.84591","name":"Relay 2 on (pin 13)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":95,"y":236,"wires":[["99d20558.748728"]]},{"id":"94659c26.13983","type":"inject","z":"c4dfcfcd.84591","name":"Relay 3 on (pin 15)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":95,"y":316,"wires":[["86101a4e.a38b08"]]},{"id":"67d1d275.1e077c","type":"inject","z":"c4dfcfcd.84591","name":"Relay 4 on (pin 16)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":95,"y":396,"wires":[["10a5edc0.5a28e2"]]},{"id":"96e22c90.fbf3","type":"rpi-gpio out","z":"c4dfcfcd.84591","name":"Relay 2 - pin 13","pin":"13","set":"","level":"0","out":"out","x":805,"y":216,"wires":[]},{"id":"935dc111.4978b","type":"rpi-gpio out","z":"c4dfcfcd.84591","name":"Relay 3 - pin 15","pin":"15","set":"","level":"0","out":"out","x":805,"y":296,"wires":[]},{"id":"baa5c67d.5b3608","type":"rpi-gpio out","z":"c4dfcfcd.84591","name":"Relay 4 - pin 16","pin":"16","set":"","level":"0","out":"out","x":805,"y":376,"wires":[]},{"id":"d7b6bca1.081e7","type":"inject","z":"c4dfcfcd.84591","name":"Relay 1 off (pin 12)","topic":"false","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":124.49999618530273,"y":116.80000877380371,"wires":[["ba56f161.385b3"]]},{"id":"48d47465.bee4fc","type":"function","z":"c4dfcfcd.84591","name":"Toggle Relay 1 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":"1","noerr":0,"x":585,"y":136,"wires":[["deddc64e.bbec58"]]},{"id":"ed5aeaf7.784d88","type":"inject","z":"c4dfcfcd.84591","name":"Relay 2 off (pin 13)","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":115,"y":196,"wires":[["99d20558.748728"]]},{"id":"1bda8f5c.2105d1","type":"function","z":"c4dfcfcd.84591","name":"Toogle Relay 2 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":216,"wires":[["96e22c90.fbf3"]]},{"id":"5ffa9da8.526a24","type":"inject","z":"c4dfcfcd.84591","name":"Relay 3 off (pin 15)","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":115,"y":276,"wires":[["86101a4e.a38b08"]]},{"id":"a8935517.bcdcb8","type":"inject","z":"c4dfcfcd.84591","name":"Relay 4 off (pin 16)","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":115,"y":356,"wires":[["10a5edc0.5a28e2"]]},{"id":"41dbbdf4.2c3be4","type":"function","z":"c4dfcfcd.84591","name":"Toogle Relay 3 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":296,"wires":[["935dc111.4978b"]]},{"id":"ce24f568.074af8","type":"function","z":"c4dfcfcd.84591","name":"Toogle Relay 4 On/Off","func":"context.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":376,"wires":[["baa5c67d.5b3608"]]},{"id":"ba56f161.385b3","type":"ui_switch","z":"c4dfcfcd.84591","name":"Toggle Relay 1 On/Off","label":"Relay 1","group":"a2abbf65.bfed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":345,"y":136,"wires":[["48d47465.bee4fc"]]},{"id":"99d20558.748728","type":"ui_switch","z":"c4dfcfcd.84591","name":"Toggle Relay 2 On/Off","label":"Relay 2","group":"a2abbf65.bfed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":345,"y":216,"wires":[["1bda8f5c.2105d1"]]},{"id":"86101a4e.a38b08","type":"ui_switch","z":"c4dfcfcd.84591","name":"Toggle Relay 3 On/Off","label":"Relay 3","group":"a2abbf65.bfed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":345,"y":296,"wires":[["41dbbdf4.2c3be4"]]},{"id":"10a5edc0.5a28e2","type":"ui_switch","z":"c4dfcfcd.84591","name":"Toggle Relay 4 On/Off","label":"Relay 4","group":"a2abbf65.bfed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":345,"y":376,"wires":[["ce24f568.074af8"]]},{"id":"a2abbf65.bfed8","type":"ui_group","z":"","name":"Output_Button_Pressed","tab":"c73aa31e.3c981","disp":true,"width":"6"},{"id":"c73aa31e.3c981","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]