Github Repo/Node Red Code/Misc/AMX TXC16 Simulator.txt
[{"id":"a38922b6.63176","type":"ui_button","z":"f12b770b.663ea8","name":"Pwr On/Off","group":"94da3566.52d428","order":1,"width":"3","height":"1","passthru":true,"label":"Pwr On/Off","color":"","bgcolor":"RED","icon":"","payload":"1","payloadType":"num","topic":"","x":390,"y":60,"wires":[["4d055198.954c9"]]},{"id":"5b7ded77.46b0a4","type":"ui_button","z":"f12b770b.663ea8","name":"DVD","group":"94da3566.52d428","order":3,"width":"3","height":"1","passthru":true,"label":"DVD","color":"","bgcolor":"GREEN","icon":"","payload":"2","payloadType":"num","topic":"","x":410,"y":100,"wires":[["4d055198.954c9"]]},{"id":"47e08577.ab208c","type":"ui_button","z":"f12b770b.663ea8","name":"CH Up","group":"94da3566.52d428","order":5,"width":"3","height":"1","passthru":true,"label":"Ch Up","color":"","bgcolor":"BLUE","icon":"","payload":"3","payloadType":"num","topic":"","x":410,"y":140,"wires":[["4d055198.954c9"]]},{"id":"98eaa233.85bb4","type":"ui_button","z":"f12b770b.663ea8","name":"CH Down","group":"94da3566.52d428","order":7,"width":"3","height":"1","passthru":false,"label":"Ch Down","color":"","bgcolor":"BLUE","icon":"","payload":"4","payloadType":"num","topic":"","x":400,"y":180,"wires":[["4d055198.954c9"]]},{"id":"eef63f08.a9f1b","type":"ui_button","z":"f12b770b.663ea8","name":"Vol Up","group":"94da3566.52d428","order":9,"width":"3","height":"1","passthru":true,"label":"Vol Up","color":"","bgcolor":"BLUE","icon":"","payload":"5","payloadType":"num","topic":"","x":410,"y":220,"wires":[["4d055198.954c9"]]},{"id":"9944da10.247388","type":"ui_button","z":"f12b770b.663ea8","name":"Vol Down","group":"94da3566.52d428","order":11,"width":"3","height":"1","passthru":true,"label":"Vol Down","color":"","bgcolor":"BLUE","icon":"","payload":"6","payloadType":"num","topic":"","x":400,"y":260,"wires":[["4d055198.954c9"]]},{"id":"31c323ba.12c99c","type":"ui_button","z":"f12b770b.663ea8","name":"Stop/Menu","group":"94da3566.52d428","order":13,"width":"3","height":"1","passthru":true,"label":"Stop/mENU","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"7","payloadType":"num","topic":"","x":390,"y":300,"wires":[["4d055198.954c9"]]},{"id":"d1d5a420.4ca028","type":"ui_button","z":"f12b770b.663ea8","name":"Left/Rwd","group":"94da3566.52d428","order":15,"width":"3","height":"1","passthru":true,"label":"Left/Rwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"8","payloadType":"num","topic":"","x":400,"y":340,"wires":[["4d055198.954c9"]]},{"id":"61323094.aee93","type":"ui_button","z":"f12b770b.663ea8","name":"Menu/AMP","group":"94da3566.52d428","order":2,"width":"3","height":"1","passthru":true,"label":"Menu/AMP","color":"","bgcolor":"GREEN","icon":"","payload":"9","payloadType":"num","topic":"","x":390,"y":380,"wires":[["4d055198.954c9"]]},{"id":"f3cfd667.b61338","type":"ui_button","z":"f12b770b.663ea8","name":"FOX/FOX2","group":"94da3566.52d428","order":4,"width":"3","height":"1","passthru":true,"label":"Fox/Fox2","color":"","bgcolor":"GREEN","icon":"","payload":"10","payloadType":"num","topic":"","x":390,"y":420,"wires":[["4d055198.954c9"]]},{"id":"d67ec78c.ac0f58","type":"ui_button","z":"f12b770b.663ea8","name":"Media Player","group":"94da3566.52d428","order":6,"width":"3","height":"1","passthru":true,"label":"Media Player","color":"","bgcolor":"GREEN","icon":"","payload":"11","payloadType":"num","topic":"","x":390,"y":460,"wires":[["4d055198.954c9"]]},{"id":"5433dcee.7b5834","type":"ui_button","z":"f12b770b.663ea8","name":"TV","group":"94da3566.52d428","order":8,"width":"3","height":"1","passthru":true,"label":"TV","color":"","bgcolor":"GREEN","icon":"","payload":"12","payloadType":"num","topic":"","x":410,"y":500,"wires":[["4d055198.954c9"]]},{"id":"126fd16.60f922f","type":"ui_button","z":"f12b770b.663ea8","name":"CD","group":"94da3566.52d428","order":10,"width":"3","height":"1","passthru":true,"label":"CD","color":"","bgcolor":"GREEN","icon":"","payload":"13","payloadType":"num","topic":"","x":410,"y":540,"wires":[["4d055198.954c9"]]},{"id":"d7bcc5d7.f242c8","type":"ui_button","z":"f12b770b.663ea8","name":"Back/Return","group":"94da3566.52d428","order":12,"width":"3","height":"1","passthru":true,"label":"Back/Return","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"14","payloadType":"num","topic":"","x":390,"y":580,"wires":[["4d055198.954c9"]]},{"id":"31e33744.5894e8","type":"ui_button","z":"f12b770b.663ea8","name":"Play/Select Ok","group":"94da3566.52d428","order":14,"width":"3","height":"1","passthru":true,"label":"Play/Select Ok","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"15","payloadType":"num","topic":"","x":380,"y":620,"wires":[["4d055198.954c9"]]},{"id":"e8caf329.3a15e","type":"ui_button","z":"f12b770b.663ea8","name":"Right/Fwd","group":"94da3566.52d428","order":16,"width":"3","height":"1","passthru":true,"label":"Right/Fwd","color":"BLACK","bgcolor":"YELLOW","icon":"","payload":"16","payloadType":"num","topic":"","x":400,"y":660,"wires":[["4d055198.954c9"]]},{"id":"59775815.fe59f8","type":"tcp out","z":"f12b770b.663ea8","host":"192.168.1.150","port":"4052","beserver":"client","base64":false,"end":false,"name":"AMX_Netlinx","x":910,"y":300,"wires":[]},{"id":"4d055198.954c9","type":"change","z":"f12b770b.663ea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":340,"wires":[["59775815.fe59f8","cf70e7ad.8e4968"]]},{"id":"70dfce78.04aed","type":"inject","z":"f12b770b.663ea8","name":"Power On/Off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":60,"wires":[["a38922b6.63176"]]},{"id":"c1383f01.6e7bb","type":"inject","z":"f12b770b.663ea8","name":"DVD","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":100,"wires":[["5b7ded77.46b0a4"]]},{"id":"f8a91f7f.eb302","type":"inject","z":"f12b770b.663ea8","name":"Channel Up","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":140,"wires":[["47e08577.ab208c"]]},{"id":"b081f95d.b5f128","type":"inject","z":"f12b770b.663ea8","name":"Channel Down","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":160,"y":180,"wires":[["98eaa233.85bb4"]]},{"id":"789a147e.4c24bc","type":"inject","z":"f12b770b.663ea8","name":"Vol Up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":220,"wires":[["eef63f08.a9f1b"]]},{"id":"e33683eb.3b63c","type":"inject","z":"f12b770b.663ea8","name":"Vol Down","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":260,"wires":[["9944da10.247388"]]},{"id":"9d773f94.d387b","type":"inject","z":"f12b770b.663ea8","name":"Stop/Menu","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":300,"wires":[["31c323ba.12c99c"]]},{"id":"96ee15cc.348868","type":"inject","z":"f12b770b.663ea8","name":"Left/Rwd","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":340,"wires":[["d1d5a420.4ca028"]]},{"id":"6212410.fc747c","type":"inject","z":"f12b770b.663ea8","name":"Menu/Amp","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":380,"wires":[["61323094.aee93"]]},{"id":"3d0dea6c.42a8b6","type":"inject","z":"f12b770b.663ea8","name":"Fox/Fox2","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":420,"wires":[["f3cfd667.b61338"]]},{"id":"5cb562c1.a1be6c","type":"inject","z":"f12b770b.663ea8","name":"Media Player","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":460,"wires":[["d67ec78c.ac0f58"]]},{"id":"6c222393.0eedbc","type":"inject","z":"f12b770b.663ea8","name":"TV","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":500,"wires":[["5433dcee.7b5834"]]},{"id":"6887feb3.95d04","type":"inject","z":"f12b770b.663ea8","name":"CD","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":540,"wires":[["126fd16.60f922f"]]},{"id":"20ec2941.859fa6","type":"inject","z":"f12b770b.663ea8","name":"Back/Return","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":580,"wires":[["d7bcc5d7.f242c8"]]},{"id":"31dc971a.e7f6d8","type":"inject","z":"f12b770b.663ea8","name":"Play/Select Ok","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"x":160,"y":620,"wires":[["31e33744.5894e8"]]},{"id":"edb138ca.d5f348","type":"inject","z":"f12b770b.663ea8","name":"Right/Fwd","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":660,"wires":[["e8caf329.3a15e"]]},{"id":"cf70e7ad.8e4968","type":"debug","z":"f12b770b.663ea8","name":"","active":true,"console":"false","complete":"false","x":910,"y":380,"wires":[]},{"id":"94da3566.52d428","type":"ui_group","z":"","name":"AMX TXC16 Simulator","tab":"650ec1d6.d0b","disp":true,"width":"6"},{"id":"650ec1d6.d0b","type":"ui_tab","z":"","name":"AMX TXC16","icon":"dashboard"}]