Github Repo/Node Red Code/Misc/Extract Temps node v1.txt
[{"id":"976cc944.24c0c8","type":"function","z":"6dfc9a59.aa0a14","name":"extract temps","func":"var array_length = { payload: msg.payload.length };\nvar s_data = [];\n\nfor (var i = 0; i < array_length; i++)\n    {\n    s_data.push(msg[i].val);\n    return [s_data];\n            \n    //var s_data = msg.payload['ROM'];        \n    //var t_data = msg.payload.split(',');\n    //var temp_dta = parse(t_data[1]);\n    //var maca_dta = parse(t_data[0]);\n    //return [maca_dta],[temp_dta];\n    }\n\nreturn [null];\n//return [s_data];","outputs":"1","noerr":0,"x":450,"y":160,"wires":[["c868242d.ae3008"]]},{"id":"c868242d.ae3008","type":"debug","z":"6dfc9a59.aa0a14","name":"","active":true,"console":"false","complete":"false","x":680,"y":160,"wires":[]},{"id":"7322987c.98dc88","type":"inject","z":"6dfc9a59.aa0a14","name":"","topic":"","payload":"2345678,23.45","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":160,"wires":[["976cc944.24c0c8"]]}]