Github Repo/Node Red Code/Misc/LCD Screen 14 August 2017 working.txt
[{"id":"9fb0ba22.c65fb8","type":"exec","z":"cfa94669.f27cd8","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Programs/Python_Code/LCD_Screen_Driver/i2c_lcd_test.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Blinking Text","x":456,"y":60,"wires":[["f9546e1d.1770d"],["83f16793.6cd978"],["d5f1b934.65a968"]]},{"id":"a1cb0dde.6a93a","type":"inject","z":"cfa94669.f27cd8","name":"Demo Clock Start","topic":"Demo Clock Start","payload":"\"start\" 1 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":224.00000762939453,"y":96.00000381469727,"wires":[["58bc9325.29e58c","1ec5e929.b10917"]]},{"id":"f9546e1d.1770d","type":"debug","z":"cfa94669.f27cd8","name":"","active":false,"console":"false","complete":"false","x":856,"y":140,"wires":[]},{"id":"90000db5.ec2f4","type":"inject","z":"cfa94669.f27cd8","name":"Clear Screen","topic":"Clear Screen","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":196,"y":180,"wires":[["521f2e30.8714d"]]},{"id":"5f691c28.9ed124","type":"inject","z":"cfa94669.f27cd8","name":"Display Date and Time","topic":"Display Date and Time","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":166,"y":240,"wires":[["8d6cd31c.f01f6"]]},{"id":"1679d166.5c42ef","type":"inject","z":"cfa94669.f27cd8","name":"Display Text Right to Left","topic":"Display Text Right to Left","payload":"lcd_text_right_left.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":156,"y":580,"wires":[["d162575a.621e28"]]},{"id":"83f16793.6cd978","type":"debug","z":"cfa94669.f27cd8","name":"","active":false,"console":"false","complete":"false","x":856,"y":180,"wires":[]},{"id":"d5f1b934.65a968","type":"debug","z":"cfa94669.f27cd8","name":"","active":false,"console":"false","complete":"false","x":856,"y":220,"wires":[]},{"id":"d162575a.621e28","type":"function","z":"cfa94669.f27cd8","name":"convert to python shell string","func":"msg.payload = msg.payload;\nvar s_length = msg.payload.length;\nvar str = msg.payload;\nvar line_number = str.substring(s_length-1, s_length);\nvar text_msg = str.substring(0, s_length-2);\nvar loc_msg = \"lcd_text_to_display.py\";\n//var loc_msg = \"python /home/pi/Documents/Chris_Rasp_Pi_Programs/Python_Code/LCD_Screen_Driver/lcd_text_to_display.py\";\n//\"hello chris\" \"3\"\nvar msg1 = {payload:text_msg};\nvar msg2 = {payload:line_number};\nvar newMsg = {payload:loc_msg.concat(\" \", text_msg, \" \", line_number)};\n\n//python3 /home/pi/.node-red/lcd/lcd_text_to_display.py \"hello chris\" \"3\"\nnode.send ({payload:[newMsg.payload]}); \n//sleep\n//loc_msg = \"python3 /home/pi/.node-red/lcd/lcdclear.py\";\nreturn null;","outputs":1,"noerr":0,"x":406,"y":580,"wires":[["69ce5d9.061a1a4"]]},{"id":"c2e3bd73.246ce","type":"inject","z":"cfa94669.f27cd8","name":"Display Hello Chris on line 1","topic":"Display text line 1","payload":"\"Chris -1\" 1 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":146,"y":400,"wires":[["9c439898.d1be08"]]},{"id":"69ce5d9.061a1a4","type":"debug","z":"cfa94669.f27cd8","name":"","active":false,"console":"false","complete":"payload","x":856,"y":580,"wires":[]},{"id":"dc1de2c9.b538c","type":"inject","z":"cfa94669.f27cd8","name":"Display Hello Chris on line 2","topic":"Display text line 2","payload":"\"Chris-2\" 2 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":146,"y":440,"wires":[["9c439898.d1be08"]]},{"id":"8e895d68.c7481","type":"inject","z":"cfa94669.f27cd8","name":"Display Hello Chris on line 3","topic":"Display text line 3","payload":"\"Chris-3\" 3 3","payloadType":"str","repeat":"","crontab":"","once":false,"x":146,"y":480,"wires":[["9c439898.d1be08"]]},{"id":"1d80a12a.70927f","type":"inject","z":"cfa94669.f27cd8","name":"Display Hello Chris on line 4","topic":"Display text line 4","payload":"\"Chris-4\" 4 4","payloadType":"str","repeat":"","crontab":"","once":false,"x":146,"y":520,"wires":[["9c439898.d1be08"]]},{"id":"ee439ebb.d0142","type":"inject","z":"cfa94669.f27cd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":206,"y":60,"wires":[["9fb0ba22.c65fb8"]]},{"id":"9c439898.d1be08","type":"exec","z":"cfa94669.f27cd8","command":"/usr/bin/sudo python /home/pi/Documents/Chris_Programs/Python_Code/LCD_Screen_Driver/i2c_lcd_printnew.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"LCD Text to Display","x":481.50003814697266,"y":448.75000762939453,"wires":[["f9546e1d.1770d"],["83f16793.6cd978"],["d5f1b934.65a968"]]},{"id":"58bc9325.29e58c","type":"exec","z":"cfa94669.f27cd8","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Programs/Python_Code/LCD_Screen_Driver/demo_clock_b.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Demo Clock","x":456,"y":120,"wires":[["f9546e1d.1770d"],["83f16793.6cd978"],["d5f1b934.65a968"]]},{"id":"8d6cd31c.f01f6","type":"exec","z":"cfa94669.f27cd8","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Programs/Python_Code/LCD_Screen_Driver/lcd_date_time.py","addpay":false,"append":"","useSpawn":"","timer":"1","name":"Display Date Time","x":476,"y":240,"wires":[["f9546e1d.1770d"],["83f16793.6cd978"],["d5f1b934.65a968"]]},{"id":"521f2e30.8714d","type":"exec","z":"cfa94669.f27cd8","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Programs/Python_Code/LCD_Screen_Driver/lcdclear_new.py","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Clear Screen","x":456,"y":180,"wires":[["f9546e1d.1770d"],["83f16793.6cd978"],["d5f1b934.65a968"]]},{"id":"bd9e188d.ca6418","type":"exec","z":"cfa94669.f27cd8","command":"/usr/bin//sudo python /home/pi/Documents/Chris_Programs/Python_Code/LCD_Screen_Driver/i2c_lcd_test.py","addpay":false,"append":"","useSpawn":"","timer":"1","name":"Test Display","x":461,"y":356,"wires":[["f9546e1d.1770d"],["83f16793.6cd978"],["d5f1b934.65a968"]]},{"id":"25e2f280.4ebb0e","type":"inject","z":"cfa94669.f27cd8","name":"Display Test","topic":"Display test","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":196.00000762939453,"y":356.00000953674316,"wires":[["bd9e188d.ca6418"]]},{"id":"6faf62e9.f7403c","type":"inject","z":"cfa94669.f27cd8","name":"Demo Clock Stop","topic":"Demo Clock Stop","payload":"\"stop\" 1 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":224,"y":132,"wires":[["58bc9325.29e58c","1ec5e929.b10917"]]},{"id":"1ec5e929.b10917","type":"debug","z":"cfa94669.f27cd8","name":"","active":true,"console":"false","complete":"payload","x":845.1000366210938,"y":279.6000061035156,"wires":[]}]