Github Repo/Node Red Code/Misc/LCD Screen Clock Demo.txt
[{"id":"86c8fe92.8aff1","type":"exec","z":"44231e56.888e9","command":"/usr/bin/sudo","addpay":true,"append":"","useSpawn":"","timer":"1","name":"Demo Clock test","x":620,"y":60,"wires":[["bf5701fa.c626c"],["f96241e5.9afc4"],["4c4dc678.47e7c8"]]},{"id":"4ab1128.da740ec","type":"inject","z":"44231e56.888e9","name":"Demo Clock","topic":"Demo Clock","payload":"python /home/pi/.node-red/lcd/demo_clock.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":40,"wires":[["86c8fe92.8aff1"]]},{"id":"bf5701fa.c626c","type":"debug","z":"44231e56.888e9","name":"","active":false,"console":"false","complete":"false","x":930,"y":40,"wires":[]},{"id":"96043be7.93b028","type":"inject","z":"44231e56.888e9","name":"Clear Screen","topic":"Clear Screen","payload":"python /home/pi/.node-red/lcd/lcdclear.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":80,"wires":[["86c8fe92.8aff1"]]},{"id":"dca185d6.68b578","type":"inject","z":"44231e56.888e9","name":"Display Date and Time","topic":"Display Date and Time","payload":"python /home/pi/.node-red/lcd/lcd_date_time.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":120,"wires":[["86c8fe92.8aff1"]]},{"id":"23cb57ed.3194f8","type":"inject","z":"44231e56.888e9","name":"Display Text Right to Left","topic":"Display Text Right to Left","payload":"python /home/pi/.node-red/lcd/lcd_text_right_left.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":160,"wires":[["86c8fe92.8aff1"]]},{"id":"f96241e5.9afc4","type":"debug","z":"44231e56.888e9","name":"","active":false,"console":"false","complete":"false","x":930,"y":80,"wires":[]},{"id":"4c4dc678.47e7c8","type":"debug","z":"44231e56.888e9","name":"","active":false,"console":"false","complete":"false","x":930,"y":120,"wires":[]},{"id":"8bec447.bb36db8","type":"inject","z":"44231e56.888e9","name":"Display IP address","topic":"Display IP Address","payload":"python /home/pi/.node-red/lcd/lcd_print_IP_address.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":200,"wires":[["86c8fe92.8aff1"]]},{"id":"676a7559.a88e7c","type":"inject","z":"44231e56.888e9","name":"Display IP address","topic":"Display IP Address","payload":"python /home/pi/.node-red/lcd/lcd_print_IP_address.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":240,"wires":[[]]},{"id":"d99e7b7a.2a25f8","type":"inject","z":"44231e56.888e9","name":"Display hello chris on line 2","topic":"Display text line 2","payload":"python3 /home/pi/.node-red/lcd/lcd_text_to_display.py \"hello chris\" \"3\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":280,"wires":[["86c8fe92.8aff1"]]},{"id":"51b526a.b8cdfd8","type":"function","z":"44231e56.888e9","name":"convert to python shell string","func":"msg.payload = msg.payload;\nvar s_length = msg.payload.length;\nvar str = msg.payload;\nvar line_number = str.substring(s_length-1, s_length);\nvar text_msg = str.substring(0, s_length-2);\nvar loc_msg = \"python3 /home/pi/.node-red/lcd/lcd_text_to_display.py\";\n//\"hello chris\" \"3\"\nvar msg1 = {payload:text_msg};\nvar msg2 = {payload:line_number};\nvar newMsg = {payload:loc_msg.concat(\" \", text_msg, \" \", line_number)};\n\n//python3 /home/pi/.node-red/lcd/lcd_text_to_display.py \"hello chris\" \"3\"\nnode.send ({payload:[newMsg.payload]}); \n//sleep\n//loc_msg = \"python3 /home/pi/.node-red/lcd/lcdclear.py\";\nreturn null;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["d1ad6bd8.97dee8","86c8fe92.8aff1"]]},{"id":"64f3b80f.c5be88","type":"inject","z":"44231e56.888e9","name":"Display Hello Chris on line 1","topic":"Display text line 1","payload":"Hello Chris 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":320,"wires":[["51b526a.b8cdfd8"]]},{"id":"d1ad6bd8.97dee8","type":"debug","z":"44231e56.888e9","name":"","active":true,"console":"false","complete":"payload","x":850,"y":320,"wires":[]},{"id":"b1190b93.6e43f8","type":"inject","z":"44231e56.888e9","name":"Display Hello Chris on line 2","topic":"Display text line 2","payload":"Hello Chris 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":360,"wires":[["51b526a.b8cdfd8"]]},{"id":"d27e7d06.cadf9","type":"inject","z":"44231e56.888e9","name":"Display Hello Chris on line 3","topic":"Display text line 3","payload":"Hello Chris 3","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":400,"wires":[["51b526a.b8cdfd8"]]},{"id":"4d48ce5d.dfa0b","type":"inject","z":"44231e56.888e9","name":"Display Hello Chris on line 4","topic":"Display text line 4","payload":"Hello Chris 4","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":440,"wires":[["51b526a.b8cdfd8"]]}]