Github Repo/Node Red Code/Misc/RS232 Extron Node .txt
[{"id":"7d73aa.8d4f1c58","type":"function","z":"3dcf8744.979848","name":"Extron_RS232_Input_Flow","func":"var Extron_Input = msg.payload;\nglobal.set(\"Extron_In\",Extron_Input);\nreturn msg;\n\n//var Extron_Input = { payload: msg.payload.number };\n//global.set(\"Extron_In\",Extron_Input);\n//return Extron_Input;\n//return msg;\n\n\n//var Extron_Out_1 = msg.payload;\n//msg.payload += \"new world...\";\n//var newMsg = { payload: “new payload” };\n//msg.payload = Extron_Out_1 - 16 ;\n//global.set(\"Extron_Out\",Extron_Out_1 -16);\n//return newMsg;\n//return msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["2cf4cf4.4e51f3","edd784c1.9184a8"]]},{"id":"2e364651.10b16a","type":"ui_button","z":"3dcf8744.979848","name":"Foxtel","group":"f86bb1f1.2879c","order":0,"width":"2","height":"1","label":"Foxtel","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":330,"y":40,"wires":[["7d73aa.8d4f1c58"]]},{"id":"d46dea2e.147688","type":"ui_button","z":"3dcf8744.979848","name":"Foxtel 2","group":"f86bb1f1.2879c","order":0,"width":"2","height":"1","label":"Foxtel 2","color":"","bgcolor":"green","icon":"","payload":"2","payloadType":"num","topic":"","x":340,"y":80,"wires":[["7d73aa.8d4f1c58"]]},{"id":"d01ed76f.7c03e8","type":"inject","z":"3dcf8744.979848","name":"Foxtel Input","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":40,"wires":[["2e364651.10b16a"]]},{"id":"7a124400.fb54fc","type":"inject","z":"3dcf8744.979848","name":"Foxtel 2 Input","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["d46dea2e.147688"]]},{"id":"2cf4cf4.4e51f3","type":"debug","z":"3dcf8744.979848","name":"Extron Input Selected String","active":true,"console":"false","complete":"payload","x":980,"y":100,"wires":[]},{"id":"6497b639.0e66b8","type":"ui_button","z":"3dcf8744.979848","name":"DVD_Input","group":"f86bb1f1.2879c","order":0,"width":"2","height":"1","label":"DVD","color":"","bgcolor":"green","icon":"","payload":"3","payloadType":"num","topic":"","x":350,"y":120,"wires":[["7d73aa.8d4f1c58"]]},{"id":"95848fd7.56cb5","type":"inject","z":"3dcf8744.979848","name":"DVD Input","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["6497b639.0e66b8"]]},{"id":"9c51ed82.aed72","type":"ui_button","z":"3dcf8744.979848","name":"MP3_Input","group":"f86bb1f1.2879c","order":0,"width":"2","height":"1","label":"Media Player","color":"","bgcolor":"green","icon":"","payload":"4","payloadType":"num","topic":"","x":350,"y":160,"wires":[["7d73aa.8d4f1c58"]]},{"id":"932ae3a8.5c576","type":"inject","z":"3dcf8744.979848","name":"Media Player Input","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["9c51ed82.aed72"]]},{"id":"edd784c1.9184a8","type":"ui_text","z":"3dcf8744.979848","group":"f86bb1f1.2879c","order":0,"width":0,"height":0,"name":"Extron_Input","label":"Input Selected","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":180,"wires":[]},{"id":"3f1fafd2.fc50e","type":"inject","z":"3dcf8744.979848","name":"Bedroom 1","topic":"","payload":"17","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["feb3b6ee.09d518"]]},{"id":"feb3b6ee.09d518","type":"ui_button","z":"3dcf8744.979848","name":"Bedroom 1","group":"2f0c826a.48f8be","order":1,"width":"2","height":"1","label":"Bedroom 1","color":"white","bgcolor":"red","icon":"","payload":"17","payloadType":"num","topic":"","x":310,"y":280,"wires":[["b5b45654.161f58"]]},{"id":"b5b45654.161f58","type":"function","z":"3dcf8744.979848","name":"Extron_RS232_Output_Flow","func":"var Extron_Out_1 = msg.payload;\n//msg.payload += \"new world...\";\n//var newMsg = { payload: “new payload” };\nmsg.payload = Extron_Out_1 - 16 ;\nglobal.set(\"Extron_Out\",Extron_Out_1 -16);\n//return newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":380,"wires":[["8a4e4dd5.61c44","3328977a.862788"]]},{"id":"8a4e4dd5.61c44","type":"debug","z":"3dcf8744.979848","name":"Extron String","active":true,"console":"false","complete":"payload","x":970,"y":480,"wires":[]},{"id":"3328977a.862788","type":"ui_text","z":"3dcf8744.979848","group":"2f0c826a.48f8be","order":13,"width":0,"height":0,"name":"Extron Output","label":"Output Selected","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":560,"wires":[]},{"id":"26a4710a.35679e","type":"inject","z":"3dcf8744.979848","name":"Bedroom 2","topic":"","payload":"18","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":320,"wires":[["35b61a1d.6c4bc6"]]},{"id":"35b61a1d.6c4bc6","type":"ui_button","z":"3dcf8744.979848","name":"Bedroom 2","group":"2f0c826a.48f8be","order":2,"width":"2","height":"1","label":"Bedroom 2","color":"","bgcolor":"red","icon":"","payload":"18","payloadType":"num","topic":"","x":310,"y":320,"wires":[["b5b45654.161f58"]]},{"id":"1156665f.0b550a","type":"inject","z":"3dcf8744.979848","name":"Bedroom 3","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":360,"wires":[["ff177e0a.704fb"]]},{"id":"ff177e0a.704fb","type":"ui_button","z":"3dcf8744.979848","name":"Bedroom 3","group":"2f0c826a.48f8be","order":3,"width":"2","height":"1","label":"Bedroom 3","color":"","bgcolor":"red","icon":"","payload":"19","payloadType":"num","topic":"","x":310,"y":360,"wires":[["b5b45654.161f58"]]},{"id":"ad9d03c5.f14aa","type":"inject","z":"3dcf8744.979848","name":"Bungalow","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":400,"wires":[["383a5838.ddb008"]]},{"id":"383a5838.ddb008","type":"ui_button","z":"3dcf8744.979848","name":"Bungalow","group":"2f0c826a.48f8be","order":4,"width":"2","height":"1","label":"Bungalow","color":"","bgcolor":"red","icon":"","payload":"20","payloadType":"num","topic":"","x":300,"y":400,"wires":[["b5b45654.161f58"]]},{"id":"c62985c8.0baf68","type":"inject","z":"3dcf8744.979848","name":"Bar","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":440,"wires":[["55bc08d2.c3fdf8"]]},{"id":"55bc08d2.c3fdf8","type":"ui_button","z":"3dcf8744.979848","name":"Bar","group":"2f0c826a.48f8be","order":5,"width":"2","height":"1","label":"Bar","color":"","bgcolor":"red","icon":"","payload":"21","payloadType":"num","topic":"","x":290,"y":440,"wires":[["b5b45654.161f58"]]},{"id":"8a8ff0c2.46b8a","type":"inject","z":"3dcf8744.979848","name":"Kitchen","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":480,"wires":[["5ce74150.d061f"]]},{"id":"5ce74150.d061f","type":"ui_button","z":"3dcf8744.979848","name":"Kitchen","group":"2f0c826a.48f8be","order":6,"width":"2","height":"1","label":"Kitchen","color":"","bgcolor":"red","icon":"","payload":"22","payloadType":"num","topic":"","x":300,"y":480,"wires":[["b5b45654.161f58"]]},{"id":"a863a0b0.b6189","type":"inject","z":"3dcf8744.979848","name":"Master Bathroom","topic":"","payload":"23","payloadType":"num","repeat":"","crontab":"","once":false,"x":120,"y":520,"wires":[["3a228108.b1fe4e"]]},{"id":"3a228108.b1fe4e","type":"ui_button","z":"3dcf8744.979848","name":"Master Bathroom","group":"2f0c826a.48f8be","order":7,"width":"2","height":"1","label":"Master Bathroom","color":"","bgcolor":"red","icon":"","payload":"23","payloadType":"num","topic":"","x":330,"y":520,"wires":[["b5b45654.161f58"]]},{"id":"741d9666.54b818","type":"inject","z":"3dcf8744.979848","name":"Lounge","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":560,"wires":[["a42f0999.da2118"]]},{"id":"a42f0999.da2118","type":"ui_button","z":"3dcf8744.979848","name":"Lounge","group":"2f0c826a.48f8be","order":8,"width":"2","height":"1","label":"Lounge","color":"","bgcolor":"red","icon":"","payload":"24","payloadType":"num","topic":"","x":300,"y":560,"wires":[["b5b45654.161f58"]]},{"id":"78dd1a9.50d5ee4","type":"inject","z":"3dcf8744.979848","name":"BBQ Area","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":600,"wires":[["34986050.d7d18"]]},{"id":"34986050.d7d18","type":"ui_button","z":"3dcf8744.979848","name":"BBQ Area","group":"2f0c826a.48f8be","order":9,"width":"2","height":"1","label":"BBQ Area","color":"","bgcolor":"red","icon":"","payload":"25","payloadType":"num","topic":"","x":310,"y":600,"wires":[["b5b45654.161f58"]]},{"id":"bf841c8c.9a4a6","type":"inject","z":"3dcf8744.979848","name":"Office","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":640,"wires":[["687a5e36.b6a0a"]]},{"id":"687a5e36.b6a0a","type":"ui_button","z":"3dcf8744.979848","name":"Office","group":"2f0c826a.48f8be","order":10,"width":"2","height":"1","label":"Office","color":"","bgcolor":"red","icon":"","payload":"26","payloadType":"num","topic":"","x":290,"y":640,"wires":[["b5b45654.161f58"]]},{"id":"2163e310.3ac37c","type":"ui_button","z":"3dcf8744.979848","name":"Security Camera 1","group":"f86bb1f1.2879c","order":0,"width":"2","height":"1","label":"Security Camera 1","color":"","bgcolor":"green","icon":"","payload":"5","payloadType":"num","topic":"","x":370,"y":200,"wires":[["7d73aa.8d4f1c58"]]},{"id":"f1ec98aa.194ba8","type":"inject","z":"3dcf8744.979848","name":"Security Camera 1","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":200,"wires":[["2163e310.3ac37c"]]},{"id":"cc1c7507.fd3578","type":"inject","z":"3dcf8744.979848","name":"Poolside","topic":"","payload":"27","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":680,"wires":[["c07e4065.9d239"]]},{"id":"c07e4065.9d239","type":"ui_button","z":"3dcf8744.979848","name":"Poolside","group":"2f0c826a.48f8be","order":11,"width":"2","height":"1","label":"Poolside","color":"","bgcolor":"red","icon":"","payload":"28","payloadType":"num","topic":"","x":300,"y":680,"wires":[["b5b45654.161f58"]]},{"id":"cb332ead.0d161","type":"inject","z":"3dcf8744.979848","name":"Garage","topic":"","payload":"29","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":720,"wires":[["d2c83e19.fbf0c"]]},{"id":"d2c83e19.fbf0c","type":"ui_button","z":"3dcf8744.979848","name":"Garage","group":"2f0c826a.48f8be","order":12,"width":"2","height":"1","label":"Garage","color":"","bgcolor":"red","icon":"","payload":"29","payloadType":"num","topic":"","x":300,"y":720,"wires":[["b5b45654.161f58"]]},{"id":"237bac7.11e3d54","type":"inject","z":"3dcf8744.979848","name":"Switch","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":780,"wires":[["84189f13.9c8cb"]]},{"id":"84189f13.9c8cb","type":"ui_button","z":"3dcf8744.979848","name":"Send_Switch","group":"a50a540d.74a1d8","order":0,"width":0,"height":0,"label":"Send","color":"","bgcolor":"Blue","icon":"","payload":"40","payloadType":"str","topic":"","x":320,"y":780,"wires":[["4e212d8a.139ad4"]]},{"id":"4e212d8a.139ad4","type":"function","z":"3dcf8744.979848","name":"Send_Code","func":"//var Extron_Input_2 = global.get(Extron_Input);\n//var Extron_Output_2 = global.get(Extron_Output);\nvar Extron_Code = { payload: msg.payload.number };\n    if (msg.payload == 40)\n        {\n        // string = Input '*' Output '!'\n        msg.payload = (global.get(\"Extron_In\") + \"*\" + global.get(\"Extron_Out\") + \"!\");\n        }\n//return Extron_Output;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":780,"wires":[["afe0b454.468ba8","f8f36e8a.8de01"]]},{"id":"afe0b454.468ba8","type":"debug","z":"3dcf8744.979848","name":"","active":true,"console":"false","complete":"payload","x":890,"y":780,"wires":[]},{"id":"f8f36e8a.8de01","type":"ui_text","z":"3dcf8744.979848","group":"8b52cafe.891278","order":0,"width":0,"height":0,"name":"Extron String Output","label":"Output String","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":841,"wires":[]},{"id":"f86bb1f1.2879c","type":"ui_group","z":"","name":"RS232 Input Select","tab":"f11c3d5e.037fb","order":1,"disp":true,"width":"6"},{"id":"2f0c826a.48f8be","type":"ui_group","z":"","name":"RS232 Output Select","tab":"f11c3d5e.037fb","order":2,"disp":true,"width":"6"},{"id":"a50a540d.74a1d8","type":"ui_group","z":"","name":"RS232 Control Module","tab":"f11c3d5e.037fb","order":3,"disp":true,"width":"6"},{"id":"8b52cafe.891278","type":"ui_group","z":"","name":"RS232 Output Result Module","tab":"f11c3d5e.037fb","order":4,"disp":true,"width":"6"},{"id":"f11c3d5e.037fb","type":"ui_tab","z":"","name":"RS232","icon":"dashboard"}]